[2020-07-30 22:45] gewarren commented on #4584
@nschmeller Thanks for letting us know. I'll let the appropriate team know.

[2020-07-30 22:45] gewarren commented on #4584
This issue was moved to MicrosoftDocs/feedback#2990

[2020-07-30 22:45] #4584 closed

[2020-07-30 22:52] gewarren commented on #4533
@mairaw That commit is from two years ago. Any idea why the IntelliSense isn't updated? Is it not updated for older framework versions (4.7.2 in this case)?

@FStapenhorst The online documentation is correct in this case. Thanks for letting us know about this discrepancy.

[2020-07-30 22:55] #4524 closed

[2020-07-31 16:10] svick opened #4598 "Clarify when DataMisalignedException can be thrown"
[The documentations for `DataMisalignedException` starts](https://docs.microsoft.com/en-us/dotnet/api/system.datamisalignedexception?view=netcore-3.1#remarks):

If I understand it correctly, on .Net 5, this exception can be thrown on ARM, but not on x64, which makes the above phrase misleading. (I suspect the reference to 64-bit processors is about Itanium.) Should the above be updated to the foll

[2020-08-03 17:11] gewarren opened #4603 "MethodImplOptions.SecurityMitigations is undocumented."
---
**Issue moved from dotnet/docs#19783**
- Please respond to @teo-tsirpanis.

---

_From @teo-tsirpanis on Saturday, August 1, 2020 1:54:33 PM_

.NET Framework 4.8 [added a new field](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.methodimploptions?view=netframework-4.8) in the `System.Runtime.CompilerServices.MethodImplOptions` named `SecurityMitigations`.

But it i

[2020-08-03 17:11] gewarren commented on #4603
---
**Issue moved from dotnet/docs#19783**
- Please respond to @gewarren.

---

_From @gewarren on Monday, August 3, 2020 5:02:51 PM_

@teo-tsirpanis Are you looking for a description beyond the existing one?

"The JIT compiler should look for security mitigation attributes, such as the user-defined System.Runtime.CompilerServices.SecurityMitigationsAttribute. If found, the JIT compiler applies an

[2020-08-03 17:11] gewarren commented on #4603
---
**Issue moved from dotnet/docs#19783**
- Please respond to @teo-tsirpanis.

---

_From @teo-tsirpanis on Monday, August 3, 2020 5:06:22 PM_

Yes. What exactly are these "security mitigations"? I have found absolutely no documentation about them.

Googling `SecurityMitigationsAttribute` yields almost zero results.

[2020-08-03 17:12] gewarren commented on #4603
@Anipik @steveharter Can you provide any more info about the security mitigations attribute?

[2020-08-03 18:37] gewarren commented on #4210
The order of enum fields is auto-generated and I don't think we can customize it for a given enum. I have let @mimisasouvanh know about this request so hopefully we can implement it system-wide.

[2020-08-04 04:53] cloudstrifebro commented on #4465
Hi @glihm , this must have gotten updated since I posted this.  Matrix.Prepend is now showing the correct example.  Before it was showing an example for `Matrix.RotateAt()` noted here: https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.matrix.rotateat?view=netcore-3.1.  I believe that was the one that was appearing before.  Caching issue?

[2020-08-04 04:53] #4465 closed

[2020-08-04 23:00] #4368 closed

[2020-08-05 12:35] tonyhallett opened #4612 "Applying and starting storyboards - eventtrigger not the only trigger for xaml"
[Applying and Starting Storyboards](https://github.com/dotnet/docs/blob/live/docs/framework/wpf/graphics-multimedia/animation-overview.md#applying-and-starting-storyboards)

Although this was preceded with

It should state "To start a storyboard in XAML, you **can** associate it with an EventTrigger".  It would be advisable to link to [How to Apply Animations with a Storyboard](https://github.com/

[2020-08-06 02:32] Marie-Shi opened #4614 "Update documentation about the image of picture doesn’t display immediately after set PictureBox.Visible = True"
Need to add an explanation to help document to add remark for the visible property: that even if Visible is set to true, the control might not be visible to the user if it is obscured behind other controls. We can use a workaround: add **PictureBox1.Refresh()** before End Sub.

**More Info:**
This scenario can also repro in C# project.

**Minimal Reproduction Scenario**
1.	Extract “WindowsApp2.zip

[2020-08-07 07:27] NotThatBen opened #4631 "Extend the description of the DataGridCellInfo.Equality to indicate that the result is containers virtualization depended."
Documentation for DataGridCellInfo.[Equality](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.datagridcellinfo.op_equality?view=netcore-3.1)  not point that fact that equality test can return false when the items are the same but the containers are different due virtualization.

The proposal is to include this information in description of DataGridCellInfo.Equality operator.

F

[2020-08-10 07:59] CMEPLLl opened #4635 "SslClientAuthenticationOptions.CertificateRevocationCheckMode default value"
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslclientauthenticationoptions.certificaterevocationcheckmode?view=netcore-3.1#System_Net_Security_SslClientAuthenticationOptions_CertificateRevocationCheckMode)  says:
`One of the values in X509RevocationMode: NoCheck, Online, or Offline. The default is Online.`

But [here](https://github.com/dotnet/runtime/blob/d

[2020-08-10 19:04] tonyhallett opened #4636 "Incorrect information FrameworkElement.Triggers"
https://docs.microsoft.com/en-us/dotnet/api/system.windows.frameworkelement.triggers?redirectedfrom=MSDN&view=netcore-3.1#System_Windows_FrameworkElement_Triggers

oneOrMoreTriggers
One or more defined EventTrigger elements. Each such trigger is expected to contain valid storyboard actions and references. **Note that this collection can only be established on the root element of a page.** For more

[2020-08-10 20:27] Joe4evr opened #4637 "Incorrect doc on 'Type.FullName'"
Currently, the docs for what `Type.FullName` returns says:

However, I've found that some of the conditions in which this property is documented to return `null` are false. [SharpLab shows](https://sharplab.io/#v2:C4LgTgrgdgPgAgJgIwFgBQiDM6De6AEh+iCBReaRVxSAnABQBiA9swDwCWUwAfAHQAVAHIBDALYBTAJQBuMtRoMW7OEgAM/YeOlzKCxU1aduAbQC6m0ZNnzqqpUYCCYMCICel7Tb2EAvun80dDhMYgR8ZTYBHlxbLmAJMCgRABsaADYaNXwtSXwcfA

[2020-08-10 21:03] tonyhallett opened #4638 "Not all TriggerBase derivations mentioned as triggers for BeginStoryboard Action"
[From](https://github.com/dotnet/dotnet-api-docs/blob/live/xml/System.Windows.Media.Animation/BeginStoryboard.xml)

Any TriggerBase derivation can invoke an action.  There are 3 others.

Also

What is 'their' referring to ? Perhaps it should say 'to apply animations to targeted properties and start them."  Perhaps even reference the attached properties on the class that facilitate the targeting e.

[2020-08-11 17:59] GrabYourPitchforks opened #4646 "Tracking: DisablePrivateReflectionAttribute no longer supported as of .NET Core 2.1+"
https://docs.microsoft.com/dotnet/api/system.runtime.compilerservices.disableprivatereflectionattribute

We should update the docs to say that the .NET Core / .NET 5.0+ runtimes don't honor `[DisablePrivateReflection]`. The attribute is a no-op on those runtimes.

[2020-08-11 19:41] carlossanlop opened #4647 "System.Net.Sockets/Socket.xml warning from System.MonoLimitation attribute"
The offending lines are in Socket.xml (huge file, can only [share the raw text](https://raw.githubusercontent.com/dotnet/dotnet-api-docs/dd138627654144dc492a19fd25f56822e541ec92/xml/System.Net.Sockets/Socket.xml)) in the API `"DuplicateAndClose"`:
[code]

This is the warning the CI throws:

[code]

cc @joelmartinez  @TianqiZhang

[2020-08-11 19:44] carlossanlop commented on #4647
From a conversation with @joelmartinez, there are two ways to get it fixed:

- Either add System.MonoLimitation to https://github.com/dotnet/dotnet-api-docs/blob/master/_zip/missingapi.yml ... which will suppress those warnings.

- Or ... add System.MonoLimitation to https://github.com/dotnet/dotnet-api-docs/blob/master/xml/_filter.xml ... which will entirely hide that attribute

[2020-08-12 08:16] TianqiZhang commented on #4647
Joel is right, the choice actually depends on whether you want to show the `System.MonoLimitation` attribute on the page. If we should show the attribute and we only want to get rid of the warning, then `misssingapi.yml` is the way to go.

[2020-08-12 17:52] MichalStrehovsky commented on #4603
This flag doesn't do anything. See https://github.com/dotnet/runtime/issues/40701 for details.

[2020-08-12 19:00] Vaccano opened #4653 "Erroroneous Information on BlockingCollection.GetConsumingEnumerable"
This page:

https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.blockingcollection-1.getconsumingenumerable?view=netcore-3.1

([github link](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Collections.Concurrent/BlockingCollection%601.xml))

States:

But using this in a `Parallel.ForEach` loop causes significant problems when you near the end of the list.  If

[2020-08-12 22:55] carlossanlop commented on #4647
Thanks @TianqiZhang .

If I get a chance to get this addressed, I'll take the task.
Cc'ing @dotnet/docs in case anyone from the group wants to fix it if I haven't done so.

[2020-08-13 13:37] eerhardt commented on #4213
FYI - https://github.com/dotnet/runtime/issues/36211 made it so .NET 5 matches .NET Framework behavior. So

Is now true for both of them.

[2020-08-13 18:31] GrabYourPitchforks opened #4676 "Doc suggestion: explanatory text for new CompareInfo APIs"
With https://github.com/dotnet/runtime/issues/27935, we're introducing new APIs on `CompareInfo` which return _matchLength_ as an _out int_ parameter. However, usage of this is a bit nuanced, and it might not be entirely intuitive as to how callers should use the return values.

We have a code comment [here](https://github.com/dotnet/runtime/blob/aa5fdab9654d74bc6274c0b5d820272c8e859621/src/librar

[2020-08-14 14:31] #4603 closed

[2020-08-14 14:56] Youssef1313 opened #4681 "API obsoletion warning appears in incorrect version"
vbNewLine was obsolete starting with .NET Core 3.0. However, when I view the documentation in .NET Core 1.0, 1.1, 2.0, 2.1, or 2.2, the obsoletion warning displays.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.constants.vbnewline?view=netcore-2.1

This doesn't happen with .NET Framework

https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.constants.vbnewline?vie

[2020-08-14 16:50] #4647 closed

[2020-08-16 03:24] artemus-harper opened #4687 "TupleElementNamesAttribute needs clarification"
According to the documentation on TupleElementNamesAttribute at the bottom (https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Runtime.CompilerServices/TupleElementNamesAttribute.xml), the names are listed depth first notation, but from my testing it breath first. It is also unclear how tuples of size 8 and larger are handled.

For example:
[code]
[code]
Outputs:
[code]

[2020-08-20 05:52] noahfalk opened #12394 "Document that HttpClient, by default, creates a new Activity"
Some of our developers are surprised by the behavior of DiagnosticHandler (part of HttpClient) when it creates an Activity by default. We should document this. See [this thread](https://github.com/dotnet/runtime/issues/31862#issuecomment-677047256) for more background.

[2020-08-23 15:58] yfital opened #4716 "ReflectionTypeLoadException - Types is not marked as nullable"
Hey,

Following Nullable update, I'm not clear about the following declaration inside ReflectionTypeLoadException:

`public Type[]? Types { get; }`

The documentation clearly states:
An array of type Type containing the classes that were defined in the module and loaded. This array **can contain some null** values.

As such, writing such a code:
[code]

Provides a warning on the **where**, as t is

[2020-08-24 07:40] RussKie opened #4718 "`System.Uri` broken example"
Location: https://docs.microsoft.com/dotnet/api/system.uri?view=netcore-3.1

![image](https://user-images.githubusercontent.com/4403806/91016717-8ad11b80-e630-11ea-90fd-e7435ae6a2bc.png)

[2020-08-25 16:18] scarabdesign opened #4723 "Code sample creates unused variable"
In the code sample contained here:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/Tuple%602.xml
... a variable `currentTuple` gets created and never used.

[2020-08-27 15:45] vitek-karas opened #4733 "Where/How to document native APIs provided by .NET Core"
.NET Core runtime exposes a set of native APIs to allow non-.NET application to host the runtime and run managed code (for example). Where and how should these APIs be documented?
We have guides and samples (https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting) but no real API docs for these.

/cc @AaronRobinsonMSFT

[2020-08-28 06:43] TakemeALive opened #4735 "StreamReader.Peek() blocks which not cited in documentation."
StreamReader.Peek() blocks if the Stream is unused(empty).

I'm working on networking by using .Net.Sockets.

- Created StreamReader and StreamWriter for both Server and Client.
- Server and Client successfully connected.
- Loop for ```Receive()``` then ```Send()``` in thread A, loop for ```CheckInputAndCacheIt()``` in thread B, in both Server and Client
- Both receive method use ```if ( StreamRea

[2020-08-28 18:25] ygra commented on #4718
Looks fine to me now:

![image](https://user-images.githubusercontent.com/1692688/91603016-89735c00-e96c-11ea-9ebe-7ff9029d4dc3.png)

[2020-08-28 19:08] nschuessler opened #4741 "HttpUtility.UrlEncode and WebUtility.UrlEncode should refer to Uri.EscapeDataString"
According to this stack overflow article, Uri.EscapeDataString is apparently preferable in some cases.
Probably should update documentation to reflect the recommendation:

https://stackoverflow.com/questions/602642/server-urlencode-vs-httputility-urlencode/1148326#1148326

[2020-08-31 19:32] steveharter commented on #3912
Closing this for 5.0. Please re-open if appropriate based upon a new report, or when there is an `inheritdoc` feature and System.Reflection needs to update existing doc.

[2020-08-31 19:32] #3912 closed, assigned to GrabYourPitchforks, steveharter

[2020-08-31 19:33] steveharter commented on #3912
Closing this for 5.0. Please re-open if appropriate based upon a new report, or when there is an `inheritdoc` feature and System.Reflection needs to update existing doc to leverage that.

[2020-09-01 01:00] mairaw opened #4754 "Last sample on NumberFormatInfo class has something wrong"
I'm trying to figure out whether it's the code or the output that is wrong on the sample.

https://docs.microsoft.com/en-us/dotnet/api/system.globalization.numberformatinfo?view=netcore-3.1#serializing-and-deserializing-numeric-data

When you run the sample, the original and restored values are exactly the same (I tried on different frameworks too such as VB on .NET Framework, C# on .NET Core and

[2020-09-01 10:44] RussKie commented on #4718
I suppose we call it "fixed" :D

[2020-09-01 10:44] #4718 closed

[2020-09-01 14:23] aik-jahoda opened #4763 "Invalid xref in System.Net.Security. AuthenticatedStream"
In Explicit interface implementation, there is invalid xref: System.IO.Stream.System#IDisposable#Dispose
https://review.docs.microsoft.com/en-us/dotnet/api/system.net.security.authenticatedstream?view=net-5.0&branch=pr-en-us-4758#explicit-interface-implementations

[2020-09-01 15:07] tarekgh commented on #4754
It looks this code sample written at the point when the `en-GB` culture had decimal separator different than `.`. But this is not the case any more and `en-GB` already has `.` as decimal separator. If you want make this sample work, you can try replace the line

[code]

with something like

[code]

Another side comment, please in the sample replace `Thread.CurrentThread.CurrentCulture` with `Cultu

[2020-09-01 17:33] mairaw commented on #4754
Ah thanks @tarekgh. I think if I change the sample to another culture like pt-br, then I can make the behavior we're trying to explain happen. I think this would be easier.

I'll make the replacement as well.

[2020-09-01 17:43] carlossanlop commented on #4763
@joelmartinez @TianqiZhang @gewarren @BillWagner we are seeing this unexpected warning in some PRs. Example:

https://opbuildstorageprod.blob.core.windows.net/report/2020%5C9%5C1%5C500c749d-de78-3d4a-00e4-269d599bf9ec%5CPullRequest%5C202009011251366174-4760%5Cworkflow_report.html?sv=2016-05-31&sr=b&sig=KqHTYObsop%2FjVWfhrzNWpB2I5Y0e5IjiHqOZRcZqTVo%3D&st=2020-09-01T13%3A06%3A01Z&se=2020-10-02T13%3A

[2020-09-01 18:06] tarekgh commented on #4754
That will be great if the Double.Parse will not fail as it has to interpret `.` somehow. I didn't check `pt-BR` to see what separators it uses.

Also, I am afraid whatever culture we use will change in the future and we end at same situation.

I would suggest we can tweak the sample explanation telling we are simulating the situation of the problem when it can happen.

[2020-09-01 18:34] mairaw commented on #4763
I'm also seeing weird warnings show up in PRs. /cc @mimisasouvanh

@carlossanlop maybe someone can file an issue with sitehelp so this can be looked at

[2020-09-01 18:35] mairaw commented on #4723
In which page @scarabdesign? I'm not seeing on https://docs.microsoft.com/en-us/dotnet/api/system.tuple-2.

[2020-09-01 18:42] mairaw commented on #4716
This seems to match the code:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Reflection/ReflectionTypeLoadException.cs#L41

However, the constructor syntax doesn't seem to match.

- https://docs.microsoft.com/en-us/dotnet/api/system.reflection.reflectiontypeloadexception.-ctor?view=netcore-3.1#System_Reflection_ReflectionTypeLoadException__ctor_System

[2020-09-01 18:43] mairaw commented on #4681
Thanks @Youssef1313. @mimisasouvanh @TianqiZhang can you please look at this issue?

[2020-09-01 18:46] #4754 closed

[2020-09-01 20:14] joelmartinez commented on #4763
@mairaw yeah this _looks_ like it should be a valid xref ... pointing to Stream's explicit interface implementation for the Dispose method. @TianqiZhang @herohua ... could this be an issue with the xref lookup service?

[2020-09-01 20:42] mimisasouvanh commented on #4716
@mairaw @yfital @joelmartinez Internal [bug](https://ceapex.visualstudio.com/Engineering/_queries/edit/294345/) logged.

[2020-09-01 23:07] carlossanlop commented on #4741
@dotnet/ncl

[2020-09-01 23:13] gewarren opened #4770 "Instructions for setting AppContext switches via registry are incomplete"
---
**Issue moved from dotnet/docs#20241**
- Please respond to @SamBent.

---

_From @SamBent on Friday, August 21, 2020 7:16:53 PM_

The AppContext [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.appcontext?view=netcore-3.1#remarks), under subheading "AppContext for library consumers", describes several ways to set a switch.  The third method uses the registry.  The instruction

[2020-09-01 23:14] carlossanlop commented on #4687
@ericstj @anipik @steveharter can you please take a look?

[2020-09-01 23:19] carlossanlop commented on #4653
@eiriktsarpalis @layomia

[2020-09-01 23:23] carlossanlop commented on #4646
Tagging @steveharter and (_obviously_) @GrabYourPitchforks as area owners

[2020-09-01 23:27] carlossanlop commented on #4676
@GrabYourPitchforks where would you prefer this suggested document to live?
- As an extender Remarks section in the new API, here in dotnet-api-docs
- Or as a separate conceptual document, to which the new APIs will link?

cc @mairaw

[2020-09-01 23:30] carlossanlop commented on #4636
@vatsan-madhavan to triage for the WPF team

[2020-09-01 23:34] carlossanlop commented on #4638
@vatsan-madhavan for triaging

[2020-09-01 23:35] carlossanlop commented on #4635
@dotnet/ncl

[2020-09-01 23:36] carlossanlop commented on #4631
@vatsan-madhavan

[2020-09-01 23:39] carlossanlop commented on #4592
@adamsitnik @eiriktsarpalis as area owners for triaging

[2020-09-01 23:42] carlossanlop commented on #4598
@AaronRobinsonMSFT @jkoritzinsky as area owners for triage

[2020-09-01 23:42] carlossanlop commented on #4612
@vatsan-madhavan @gomathip02 as WPF area owners for triage.

[2020-09-01 23:44] carlossanlop commented on #4614
@Marie-Shi can you please share the link to the page where you found this documentation?

[2020-09-01 23:46] carlossanlop commented on #4585
Adding area owner @kouvel for triaging.

[2020-09-01 23:47] carlossanlop commented on #4578
@dotnet/ncl for triaging.

[2020-09-01 23:48] carlossanlop commented on #4566
Adding area owners @lajones @ajcvickers for triaging.

[2020-09-01 23:51] carlossanlop commented on #4564
Adding area owners @adamsitnik @eiriktsarpalis for triaging.

[2020-09-01 23:56] wfurt commented on #4578
this may be os specific as well. One may need to call Disconnect before doing another connect.

[2020-09-02 00:27] carlossanlop commented on #4543
Tagging area owners @davidfowl @halter73 @jkotalik for triaging.

[2020-09-02 00:34] carlossanlop commented on #4533
@gewarren Once a version is shipped, the intellisense documentation that was included with that version is final for that version. Newer .NET versions will contain documentation fixes, but those don't get backported.

The screenshot shows .NET Framework 4.7.2, so whatever was shipped with that version is what the user will see in Intellisense.

@FStapenhorst what behavior are you seeing in .NET Fr

[2020-09-02 00:34] carlossanlop commented on #4533
cc area owners @adamsitnik @eiriktsarpalis for a followup.

[2020-09-02 00:35] carlossanlop commented on #4523
Tagging area owners @cston @333fred for triaging.

[2020-09-02 00:37] carlossanlop commented on #4498
Tagging area owners @vatsan-madhavan @gomathip02 for triaging.

[2020-09-02 00:38] carlossanlop commented on #4522
Tagging area owners @vatsan-madhavan @gomathip02 for triaging.

[2020-09-02 00:39] carlossanlop commented on #4498
Tagging area owners @cston @333fred to address this request.

[2020-09-02 00:42] carlossanlop commented on #4448
Tagging @stephentoub and @kouvel for triaging.

[2020-09-02 00:45] carlossanlop commented on #4435
Tagging area owner @RussKie for triaging.

cc @tarekgh for any insights related to `DateTime`.

[2020-09-02 00:46] carlossanlop commented on #4421
Tagging area owners @dotnet/ncl for triaging.

[2020-09-02 00:47] carlossanlop commented on #4413
Tagging area owners @bartonjs @GrabYourPitchforks @krwq for triaging.

[2020-09-02 00:47] carlossanlop commented on #4402
Tagging area owner @RussKie for triaging.

[2020-09-02 00:49] carlossanlop commented on #4400
@MSDN-WhiteKnight were you able to address the request for `FieldInfo`?

Tagging area owners @steveharter @GrabYourPitchforks.

[2020-09-02 00:49] mairaw commented on #4763
Seems like it. This one has broken derived links:
https://docs.microsoft.com/en-us/dotnet/api/system.attribute?view=netcore-3.1

/cc @BillWagner @gewarren

[2020-09-02 00:54] carlossanlop commented on #4390
Seems to be fixed with #4335 so I'm closing this. Feel free to reopen if there are still items that need to be addressed.

[2020-09-02 00:57] carlossanlop commented on #4385
@Russkie this issue you opened was transferred to dotnet-api-docs. We are asking area owners to get these issues addressed, so in this case, please feel free to assign to someone in the Winforms team.

[2020-09-02 01:03] mairaw commented on #4533
I'd say this behavior is by design given how we don't update IntelliSense for older versions.

[2020-09-02 01:04] carlossanlop commented on #4348
@krwq can you help triage this issue?

[2020-09-02 01:05] carlossanlop commented on #4336
Tagging area owners @eiriktsarpalis @adamsitnik for triaging.

[2020-09-02 01:10] carlossanlop commented on #4334
@Ungerfall not sure what is misleading about this.

An enum is not meant to be used as a bitwise enumeration by default. It's when you set the `FlagsAttribute` on top of it, ensure the enum values are powers of two, and ensure the enum has a plural name, that you can use it as a bitwise enumeration.

The example in the page you linked describes how to use the `FlagsAttribute`: https://docs.microso

[2020-09-02 01:10] #4334 closed

[2020-09-02 01:15] carlossanlop commented on #4327
@tannergooding @pgovind any chance you can triage this issue?

[2020-09-02 01:15] carlossanlop commented on #4325
Tagging area owners @AaronRobinsonMSFT @jkoritzinsky for triaging.

[2020-09-02 01:16] carlossanlop commented on #4319
Tagging area owners @bartonjs @GrabYourPitchforks @krwq for triaging.

[2020-09-02 01:18] carlossanlop commented on #4308
Tagging area owners @ajcvickers @cheenamalhotra @David-Engel to help fix the broken links.

[2020-09-02 01:22] carlossanlop commented on #4302
@justin-kendrick thanks for offering to help! We welcome all contributions.

It's difficult to make the dotnet-api-docs build to get to work in your locally machine. And even if you manage to make it work, it could take between 4 to 6 hours to finish (believe me, I tried).

If your offer is to add missing documentation to our APIs, then my suggestion (and this is what my team has recently started

[2020-09-02 01:25] carlossanlop commented on #4292
@dhcgn I cannot repro the issue. Are you still seeing it? Maybe it was a transient bug.

[2020-09-02 01:25] #4292 closed

[2020-09-02 01:27] carlossanlop commented on #4278
Tagging area owners @bartonjs @GrabYourPitchforks @krwq to help improve the example, since it makes no use of the `X509ChainStatus` API.

[2020-09-02 01:28] carlossanlop commented on #4270
Tagging area owners @steveharter @GrabYourPitchforks for triaging.

[2020-09-02 01:33] tarekgh commented on #4435
The owner of the DateTimePicker need to take a look at this. It looks to me it is using MinDate be the minimum file system date on Windows while using DateTime to set the date.

[2020-09-02 01:36] tarekgh commented on #4435
@carlossanlop the title of this issue should be changed to be something like "clarify the DateTimePicker.MinDate behavior"

[2020-09-02 02:10] jchristn commented on #4578
Thanks @wfurt - should the documentation specify that, and what is necessary for each OS?

[2020-09-02 02:12] vatsan-madhavan commented on #4522
@SamBent to follow up

[2020-09-02 02:13] vatsan-madhavan commented on #4612
/cc @SamBent to follow up

[2020-09-02 02:14] vatsan-madhavan commented on #4631
/cc @dotnet/wpf-developers to follow up

[2020-09-02 02:15] Marie-Shi commented on #4614
@carlossanlop do you mean this link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.tools.excel.controls.picturebox.visible?view=vsto-2017#Microsoft_Office_Tools_Excel_Controls_PictureBox_Visible ?

[2020-09-02 02:16] vatsan-madhavan commented on #4638
/cc @dotnet/wpf-developers to follow up

[2020-09-02 03:15] RussKie commented on #4435
The doc states an exception is thrown, see: https://docs.microsoft.com/dotnet/api/system.windows.forms.datetimepicker.mindate#exceptions
![image](https://user-images.githubusercontent.com/4403806/91927815-da44d500-ed1d-11ea-9723-6d99c523bc5c.png)

And the docs for DateTimePicker.MinDateTime specified the min date as 1/1/1753 00:00:00, see: https://docs.microsoft.com/dotnet/api/system.windows.forms

[2020-09-02 03:24] wfurt commented on #4578
I don't know. That can change as well IMHO. This is certainly one area where it is very difficult to make the code behaving identical. Perhaps hint to look OS documentation.
I think most people would just use SendTo for scenario you describing.

[2020-09-02 03:28] RussKie commented on #4385
We need help/guidance to make the doc display different information between the different versions.

[2020-09-02 03:39] jchristn commented on #4578
That's what I ended up doing.  I was thinking that, if the documentation were amended, it may save someone some time and keep them from pulling their hair out like I did :)  Cheers

[2020-09-02 08:36] krwq commented on #4348
Long term I'm wondering if we should make both scenarios work on Unixes (either full path or just `/dev/<portName>`), @wfurt thoughts? For 5.0 we probably should at least document it (but as you said GetPortNames should suggest the answer)

[2020-09-02 08:38] krwq commented on #4348
@carlossanlop what I'm supposed to do with "Not Triaged"? There is no 5.0 milestone and label with area is already here

[2020-09-02 11:56] aik-jahoda commented on #4763
The warning correspond with the rendered page:
https://docs.microsoft.com/en-us/dotnet/api/system.net.security.authenticatedstream?view=netcore-3.1#explicit-interface-implementations

On other side the FileStream has the same base class and the same interface method (same xref) is referenced correctly:
https://docs.microsoft.com/en-us/dotnet/api/system.io.filestream?view=netcore-3.1#explicit-inter

[2020-09-02 12:29] aik-jahoda commented on #4390
There are still wrong examples in the documentation.

[2020-09-02 14:06] ericstj commented on #4687
@jcouv could you help on this one?

[2020-09-02 16:35] jcouv commented on #4687
We visit the generic types depth-first. Every time we encounter a tuple type, we serialize all its element names or nulls before going deeper (ie. pre-order depth-first).
An 8-tuple is `ValueTuple<T1, ..., T7, ValueTuple<T8>`. When we visit that long tuple, we encode 8 names. Later on, we visit the trailing 1- tuple and encode 1 name.
I think the example above is consistent with that.

[2020-09-02 17:15] svick commented on #4687
See also https://github.com/dotnet/roslyn/issues/19946, where @jcouv explains this in more detail.

[2020-09-02 19:35] pgovind commented on #4327
Thank you for reporting this. The docs should definitely be improved here, I agree. For whether we should prefer `sizeof(T)` vs constant, I'll let @gewarren or @tannergooding chime in. We'd definitely be interested in a PR (I would recommend using `sizeof(T)` until we get a reply so you can do find-replace easily if you need to) :) Please tag me or @tannergooding or @carlossanlop and we'll be happ

[2020-09-02 20:35] #4308 closed

[2020-09-02 21:34] carlossanlop commented on #3963
Tagging area owners @eiriktsarpalis @adamsitnik for triaging.

[2020-09-02 21:36] carlossanlop commented on #1205
Tagging @mimisasouvanh @joelmartinez @TianqiZhang for triaging.

[2020-09-02 21:45] carlossanlop commented on #2986
@mimisasouvanh what's the status of this?

[2020-09-02 21:48] carlossanlop commented on #3586
@guardrex have you had a chance to get all the instances of this issue fixed?

[2020-09-02 21:56] carlossanlop commented on #1230
Tagging @mimisasouvanh @joelmartinez for triaging.

[2020-09-02 21:58] guardrex commented on #3586
@carlossanlop ... I moved to the ASP.NET Core docs a few years ago. I'm not sure where this stands today

[2020-09-02 21:59] carlossanlop commented on #1120
Tagging area owners @AaronRobinsonMSFT @jkoritzinsky for triaging.

[2020-09-02 22:00] carlossanlop commented on #1121
Tagging area owners @eiriktsarpalis @layomia for triaging.

[2020-09-03 17:19] #1120 closed

[2020-09-03 17:23] #4770 closed

[2020-09-03 20:24] gewarren opened #4786 "HttpClient - items to improve"
- [ ] Add cross-link to https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests
- [ ] Add examples of using Polly and [Polly.Extensions.Http](https://www.nuget.org/packages/Polly.Extensions.Http/) nuget PackageReference to a project. These are "opinionated" libraries to assist in transie

[2020-09-03 21:36] UberKluger opened #4788 "HttpWebResponse.GetResponseStream example misleading"
The example includes the following:

    // Releases the resources of the response.
    myHttpWebResponse.Close();
    // Releases the resources of the Stream.
    readStream.Close();

but the description of `HttpWebResponse.Close()` indicates that this method closes the stream, so `readStream.Close()` is unnecessary (though not an error). Indeed, the description in `HttpWebResponse.Close()` indic

[2020-09-08 14:36] eiriktsarpalis commented on #4653
I believe the OP has a flaw in how it completes the BlockingCollection (`CompleteAdding()` is called in the body of the foreach consumer). This would have caused a deadlock regardless of whether the logic used a regular or parallel foreach approach.

The actual issue [is described here](https://devblogs.microsoft.com/pfxteam/parallelextensionsextras-tour-4-blockingcollectionextensions/), namely it

[2020-09-08 14:46] eiriktsarpalis commented on #4592
I presume this is because the documentation dates from the APM years before task-based async became available? I would probably just delete the entire section, since enumerating what is synchronous and what is asynchronous really concerns the contract of `System.IO.StreamReader`.

[2020-09-08 15:23] eiriktsarpalis commented on #4336
This is a rare corner case that only impacts full framework. I'm not sure it meets the bar for addition to documentation, but happy to be corrected on this.

[2020-09-08 15:55] binki commented on #4336
@eiriktsarpalis

But this is a very weird and confusing behavior. One would assume that it is just as safe to return `-int.MinValue` as it is to return `-1` and may even use it intentionally. However, if the documentation for this interface stated that returning such a value is unsupported, at least it gives the programmer a chance to avoid a very confusing and hard to debug issue—because one expe

[2020-09-08 16:19] eiriktsarpalis commented on #4336
Do we have evidence of this being used at all? It's the first time I'm seeing this. `-1`, `0` and `1` is the established convention.

This is always true. Netstandard simply defines a set of APIs but does not guarantee that runtime implementations are observationally equivalent, primarily due to recent bugfixes and intentionally introduced breaking changes. If maintaining a netstandard2.0 library

[2020-09-08 19:15] binki commented on #4336
@eiriktsarpalis

I did so in a closed codebase where the returned value was the difference between two numbers clamped to a range of `int.MinValue` through `int.MaxValue`. That is, until we noticed it was behaving incorrectly (only when used with `.OrderByDescending()`—worked fine with `.OrderBy()`) and I tracked down https://github.com/microsoft/referencesource/blob/a48449cb48a9a693903668a71449ac

[2020-09-09 00:31] #1440 closed

[2020-09-09 19:40] #4564 closed

[2020-09-09 23:24] samuelpsfung opened #4827 "EnumBuilder.CreateType() doesn't exist"
I can't follow the example in
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.enumbuilder?view=netcore-3.0
The method EnumBuilder.CreateType() doesn't exist in .Net Core.

[2020-09-10 02:15] TianqiZhang commented on #2986
@mimisasouvanh @mairaw now the page (https://docs.microsoft.com/en-us/dotnet/api/System.Net.Mail.SmtpClient?view=net-5.0) displays obsolete messages correctly, the warning will only show for 3 versions ( xamarinandroid-7.1 xamarinios-10.8 xamarinmac-3.0 ).

[2020-09-10 03:34] NextTurn commented on #4564
Note that there is also an outdated note:

https://github.com/dotnet/dotnet-api-docs/blob/603fa72b18c58d514ce12a450b4edbf4ad64c21a/xml/System.Diagnostics/Process.xml#L2195-L2196

[2020-09-10 16:39] glihm commented on #4465
thanks for the check an update. :)

[2020-09-10 16:41] glihm commented on #4397
@carlossanlop what do you thing about the changes? Should we rework them?
Thanks!

[2020-09-10 22:46] JasonCard opened #4833 "Suggestion to add visual image at beginning of articles to show example"
Following is feedback from MVP on Docs and example specific to .NET API reference content:

When it comes to Docs, I have one suggestion here: could you add some visual effect figures at the beginning of the article, such as animated GIF (best choice) to show the final effect.
Take this for example: [https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.primitives.togglebutton?view=n

[2020-09-10 23:10] carlossanlop commented on #4397
Tagging area owners @tarekgh @stephentoub. Do you agree with the text addition @glihm [is suggesting ](https://github.com/dotnet/dotnet-api-docs/issues/4397#issuecomment-663926108) for the `ValueTask` type's remarks?

[2020-09-10 23:13] tarekgh commented on #4397
@carlossanlop I think there is already opened PR https://github.com/dotnet/dotnet-api-docs/pull/4576 for that.

[2020-09-11 05:56] skycommand opened #4835 "Bug: Incorrect class notation rendering on Microsoft Docs"
This issue seems to be affecting all .NET API documentation pages on Microsoft Docs. On these pages, **class notations are rendered incorrectly**. For example, in C# members are accessed via the dot notation, but on the affected pages a plus sign appears instead of the dot. In C++, the correct notation (if I'm not mistaken) is two colons ("`::`"), but again a plus sign appears instead.

Here is a

[2020-09-11 18:33] yyjdelete opened #4837 "Document of PropertyInfo didn't say it won't treat private getter/setter as readable/writable when access by an subType."
### Description

Document of PropertyInfo didn't say it won't treat private getter/setter as readable/writable when access by an subType, and `noPublic` is still not include private accessor from baseType.
It just say `CanRead`/`CanWrite` is `false` without an getter/setter, and `SetMethod` say it's equal to `GetSetMethod(nonPublic: true)` and so it can return noPublic method.
https://docs.microso

[2020-09-11 18:33] adegeo commented on #4837
This got lost in the .net docs repo but it's API related.

[2020-09-12 01:09] mairaw commented on #2986
Thanks @TianqiZhang. Closing this.

[2020-09-12 01:09] #2986 closed

[2020-09-12 13:52] akalnay opened #4841 "System.IO.StreamWriter Constructor with BufferSize Argument"
The documentation for `public StreamWriter (System.IO.Stream stream, System.Text.Encoding encoding, int bufferSize)` states that an `ArgumentOutOfRangeException` will be thrown if _`bufferSize` is negative_.  That statement is incorrect as it implies that a value of zero will not throw an exception.  The corresponding documentation for `public StreamReader (System.IO.Stream stream, System.Text.Enc

[2020-09-12 14:18] svick commented on #4841
Note that since .Net Core 3.0, -1 is also a valid value for `bufferSize` (see https://github.com/dotnet/runtime/issues/17157). I think that should be documented too.

[2020-09-14 07:00] Roald87 commented on #4052
This is not what the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.enumeratefiles?view=netframework-4.6.1) says:

Finally the behavior is also different between .NET Core and .NET Framework. If I run the same code with .NET Core 2.1 as with .NET Framework 4.6.1, then Core code will only find the exact extension, whereas Framework will also find the others such as

[2020-09-15 06:36] CaiusJard opened #4849 "DataTable.Select documentation links to external site csharp-examples.net?"
Is it correct that https://docs.microsoft.com/en-us/dotnet/api/system.data.datatable.select?view=netcore-3.1#System_Data_DataTable_Select_System_String_ has a link to https://www.csharp-examples.net/dataview-rowfilter/ (within the text of *The criteria to use to filter the rows. For examples on how to filter rows, see DataView RowFilter Syntax [C#].*

This is the first time I've ever noticed offic

[2020-09-16 18:13] steveharter opened #4863 "Add DispatchProxy.Create sample"
As part of https://github.com/dotnet/runtime/issues/16614

[2020-09-16 22:11] gewarren opened #4865 "EventWaitHandle names clarification"
---
**Issue moved from MicrosoftDocs/feedback#3087**
- Please respond to @rolfik.

---

_From @rolfik on Thursday, September 3, 2020 7:25:05 AM_

https://docs.microsoft.com/en-us/dotnet/api/system.threading.eventwaithandle.-ctor?view=netcore-3.1

Please describe Global\ and Local\ prefixes usable in named EventWaitHandle construction and specify which is default (Local\ one?) and that \ is reserve

[2020-09-16 22:11] gewarren commented on #4865
---
**Issue moved from MicrosoftDocs/feedback#3087**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Thursday, September 3, 2020 7:25:06 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.micros

[2020-09-16 22:25] gewarren opened #4866 ".NET Core Debug incorrect example"
---
**Issue moved from MicrosoftDocs/feedback#3050**
- Please respond to @alet.

---

_From @alet on Sunday, August 23, 2020 3:59:12 PM_

Page with info about Debug class contains example with line `Debug.Listeners.Add(new TextWriterTraceListener(Console.Out));` but compiler give error CS0117: '"Debug" не содержит определение для "Listeners". Also description of Debug class does not contain proper

[2020-09-16 22:25] gewarren commented on #4866
---
**Issue moved from MicrosoftDocs/feedback#3050**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Sunday, August 23, 2020 3:59:14 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.

[2020-09-16 22:25] gewarren commented on #4866
---
**Issue moved from MicrosoftDocs/feedback#3050**
- Please respond to @alet.

---

_From @alet on Tuesday, August 25, 2020 8:31:02 AM_

Trace class contains Listeners

[2020-09-16 22:25] gewarren commented on #4866
---
**Issue moved from MicrosoftDocs/feedback#3050**
- Please respond to @gewarren.

---

_From @gewarren on Wednesday, September 16, 2020 10:25:02 PM_

It looks like the `Listeners` property is available for .NET Framework only: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.debug.listeners?view=netframework-4.8#System_Diagnostics_Debug_Listeners. We should update the main example

[2020-09-17 09:46] cremor commented on #1780
The same fix should be done for the `Name` property.

[2020-09-17 20:37] mconnew opened #4872 "SslStream.Dispose incorrectly states that unmanaged resources are released"
If the remote certificate has been accessed from the SslStream.RemoteCertificate property, SslStream does not cleanup the X509Certificate2 instance when it is disposed. There should be language to say that the caller of this property is responsible for disposing the certificate, either on the Dispose documentation or the RemoteCertificate documentation. It needs to be carefully worded as you only

[2020-09-18 16:55] dcs3spp opened #4873 "Utf8JsonReader.TryGetDouble - Example data where it returns false"
Hi,

Trying to learn and understand System.Text.Json Utf8JsonReader [TryGetDouble](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonreader.trygetdouble?view=netcore-3.1) method. In particular how to get it to return false for unit testing.

Are there any example values where this method returns false?

If I use the json string value below containing a value above ```Double.MaxV

[2020-09-18 21:38] skycommand commented on #4835
Closing as resolved

[2020-09-18 21:42] skycommand commented on #4835
This issue got resolved for approximately 35 seconds today. It almost deceived me into closing this issue as "Resolved". Or maybe it didn't get resolved and some web cache that I know nothing about transmitted old contents. (Shrugs) Whatever.

[2020-09-20 18:28] jnm2 opened #4875 "The ReferenceEqualityComparer.Instance property is incorrectly shown as nullable"
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.referenceequalitycomparer.instance?view=net-5.0:

Having this property be nullable makes no sense. Tooling bug maybe? The .NET Core source shows that it's not nullable:

https://github.com/dotnet/runtime/blob/v5.0.0-rc.1.20451.14/src/libraries/Common/src/System/Collections/Generic/ReferenceEqualityComparer.cs#L30

[code]

[2020-09-22 14:15] teo-tsirpanis opened #4896 "It's not stated in its documentation page that System.Reflection.StrongNameKeyPair.PublicKey throws on .NET Core/.NET 5+"
[As seen in .NET's source code](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Reflection/StrongNameKeyPair.cs), the `System.Reflection.StrongNameKeyPair.PublicKey` property throws an exception when any of its members are used. However, [the property's documentation](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.strongnamekeypair.publi

[2020-09-24 17:36] PathogenDavid opened #4909 "GCHandle.IsAllocated documentation appears to be incorrect"
The [`GCHandle.IsAllocated` remarks](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.gchandle.isallocated?view=netcore-3.1#remarks) states the following:

The [implementation of `IsAllocated`](https://github.com/dotnet/runtime/blob/9c472545df220d7ae26329e1649f880c4ee127e8/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/GCHandle.cs#L144) only check

[2020-09-24 23:18] GrabYourPitchforks opened #4910 "Clarify that Guid.NewGuid is not intended to be used for security purposes"
Ref: https://docs.microsoft.com/en-us/dotnet/api/system.guid.newguid

The `Guid.NewGuid()` method returns a value that is with overwhelming probability _unique_ compared to every other GUID that has ever been generated. However, the `Guid.NewGuid()` method is not guaranteed to be _unpredictable_, nor is it guaranteed to be seeded from a strong source of entropy. That is, somebody who can observe t

[2020-09-25 03:45] iSazonov commented on #4910
From https://tools.ietf.org/html/rfc4122#page-16

   as security capabilities (identifiers whose mere possession grants
   access), for example.  A predictable random number source will
   exacerbate the situation.

   slightly transposed in order to redirect a reference to another
   object.  Humans do not have the ability to easily check the integrity
   of a UUID by simply glancing at it.

   b

[2020-09-25 06:15] #4835 closed

[2020-09-25 19:43] GrabYourPitchforks commented on #4910
I opened https://github.com/dotnet/runtime/issues/42752 to track changing the runtime behavior if we actually do want to make this guarantee. It also gives some historical background as to why things are as they are.

[2020-09-27 19:44] stephentoub opened #4912 "Docs for MemoryMappedViewAccessor/Stream.PointerOffset are incorrect"
The docs for the property state "The number of bytes between the starting position of this view and the beginning of the memory-mapped file."  That is incorrect.  When a view stream or accessor is created, the implementation takes the user-supplied offset and tries to create a view at that position, but due to OS requirements, it may need to actually round down to the nearest acceptable boundary,

[2020-09-28 15:55] scarabdesign commented on #4723
It's actually in the `Equals` part of the page:
https://docs.microsoft.com/en-us/dotnet/api/system.tuple-2.equals

In the source link I left, it looks like it's being displayed with the following include:
[!code-csharp[System.Tuple\`2.Equals#1](~/samples/snippets/csharp/VS_Snippets_CLR_System/system.tuple`2.equals/cs/equals1.cs#1)]

[2020-09-28 20:04] mairaw commented on #4723
Thanks for providing the repro.

[2020-09-29 12:47] IanKemp opened #4913 "Type.DefinedTypes inherits the semantics of Type.GetTypes() - how should this be called out?"
In particular, it throws `ReflectionTypeLoadException` if some of the types cannot be loaded, but the docs don't call that out. What is the preferred way to note that a particular member effectively wraps another, and that readers of the documentation should refer to the second member for detailed information? Should the info be copied from `Type.GetTypes()` to `Type.DefinedTypes` (effectively dup

[2020-09-29 16:15] IanKemp opened #4914 "Path.GetFullPath() refers to an overload that does not exist in Framework"
https://docs.microsoft.com/dotnet/api/system.io.path.getfullpath?view=netframework-4.8 states:

with a link to the aforementioned overload. However, said overload doesn't exist in any version of the Framework.

[2020-09-30 21:46] scottdorman opened #4921 "`String.Format` and params array"
The `String.Format` methods take a `params` array as an argument which looks like it's been enabled for nullable reference types.

https://github.com/dotnet/runtime/blob/118eee973af81119fd00fe75bc9c14ce3192ff1e/src/libraries/System.Private.CoreLib/src/System/String.Manipulation.cs#L481-L491

However, in the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.string.format?view=netcore-3.1#Sy

[2020-10-02 08:16] pwitvoet opened #4937 "System.ThreadStaticAttribute example code"
The documentation for `System.ThreadStaticAttribute` ( https://docs.microsoft.com/en-us/dotnet/api/system.threadstaticattribute ) warns against specifying initial values for thread-static fields, but both the C# and VB example code contradict that warning by specifying initial values.

[2020-10-06 02:15] nu8 opened #4948 "String.Substring Unicode"
If you have a file like this:

[code]

you notice I had to use length 2, as the method counts UTF-16 code units, rather
than characters. I am posting this issue, as I did not see mention of Unicode or
UTF-16 in the documentation for this method.

https://docs.microsoft.com/dotnet/api/system.string.substring

[2020-10-06 19:40] dawnthefawn opened #4949 "CollectionViewSource.ViewProperty references CollectionViewType rather than View"
CollectionViewSource.ViewProperty references CollectionViewType rather than View, duplicating the language on the CollectionViewTypeProperty DependencyProperty.

[2020-10-06 20:22] JeanCollas opened #4951 "Documentation of Math library"
Every time I use the Sin/Cosin functions (with GPS coordinates) I wonder what should be the unit the input.
Even if it seems logical, in some contexts it is not, therefore it would be nice to have "in radians" in the IntelliSense documentation.
I couldn't find where the comments are located in the repository (or in another).

[2020-10-06 20:27] tannergooding commented on #4951
Thanks @carlossanlop! Just to confirm, it sounds like just updating the regular docs will also flow back to IntelliSense (if so, awesome!)?

[2020-10-06 20:33] carlossanlop commented on #4951
Correct. Make the change in dotnet-api-docs and we will take care of updating the dotnet/runtime intellisense on the next release.

[2020-10-06 20:51] carlossanlop commented on #4921
Ping @joelmartinez @TianqiZhang

[2020-10-06 20:53] carlossanlop commented on #4948
Area owners of System.Text.Encoding @layomia @krwq @tarekgh.
cc @GrabYourPitchforks too in case he can also offer some insight.

[2020-10-06 20:57] tarekgh commented on #4948
String docs is already clear about the contents of the string https://docs.microsoft.com/en-us/dotnet/api/system.string?view=netcore-3.1#remarks. I am not sure if we have to repeat that in every API inside String class.

[2020-10-06 21:07] joelmartinez commented on #4921
Thanks @carlossanlop ... I've created a devops item [here](https://ceapex.visualstudio.com/Engineering/_workitems/edit/317995) to track this fix in mdoc.

[2020-10-06 21:11] nu8 commented on #4948
To argue against myself, I would say that the [JavaScript substring][1] doesnt
mention Unicode either.

But [JavaScript length][2] does. As well as the JavaScript [Text formatting
guide][3], similar to the link @tarekgh put.

I dont think @tarekgh argument holds water. Users should know what behavior to
expect from a method, without resulting to trial and error, and without having
to visit other p

[2020-10-06 21:30] tarekgh commented on #4948
My worries here is users understand more `char` than 'code unit'. I know they are different (from Unicode definition) but they are same as System.Char is a code unit. Not every API user understand the difference.

I don't mind adding adding extra sentence in the remark section clarifying the behavior but we have to pick the language that don't confuse users who are not familiar with the definition

[2020-10-07 18:02] kouvel commented on #4585
Looks like the potentially problematic read could be the `while (midpointCount < 50000)`. It is safe because of the lock taken inside the loop, which would prevent a stale value from being read, though the lock is unrelated to the read. I'll update it to use a volatile read to be precise, as the sample could be easily modified to not use a lock.

The other reads in `Main` are protected by the `Cou

[2020-10-09 20:57] carlossanlop commented on #3957
Adding @GrabYourPitchforks @layomia @tarekgh for triage.

[2020-10-09 22:44] tarekgh commented on #3957
The request looks reasonable to me.

[2020-10-09 23:41] GrabYourPitchforks commented on #3957
What's the specific problem being reported? Is there an environment where these APIs are failing? If so, I can open a product bug, as we wouldn't expect any failures for these APIs in supported environments.

If the issue is about Code Access Security (CAS), that technology has been dead for ages. The .NET team stopped testing new code against partial trust environments circa 2012. Since the tech

[2020-10-09 23:46] GrabYourPitchforks commented on #4948
I think the doc https://docs.microsoft.com/dotnet/standard/base-types/character-encoding-introduction explains this concept fairly well, including the fact that `char` is a _UTF-16 code unit_. This documentation is also linked to from the _Remarks_ section of the `char` documentation (https://docs.microsoft.com/dotnet/api/system.char). Maybe it'd also be good to link to it from the _Remarks_ secti

[2020-10-09 23:51] nu8 commented on #4948
If this:

https://docs.microsoft.com/dotnet/standard/base-types/character-encoding-introduction

was linked here:

https://docs.microsoft.com/en-us/dotnet/api/system.string.substring

under See Also or similar, that would be a good compromise. I can understand not wanting the same thing copied everywhere, but I think it important that its mentioned or linked *somewhere* on the page.

[2020-10-10 00:18] GrabYourPitchforks opened #4968 "Recommend clarifying some of the System.Buffers.Text.Base64 docs"
We should clarify some of the docs under the `System.Buffers.Text.Base64` class. Here are some suggested clarifications.

## Base64.EncodeToUtf8

https://docs.microsoft.com/dotnet/api/system.buffers.text.base64.encodetoutf8

In the _Remarks_ section, we should clarify the relationship between the different parameters. I'd suggest wording as follows.

* `OperationStatus.Done` - All of the source bu

[2020-10-10 00:24] GrabYourPitchforks commented on #4948
I don't think it belongs on the `Substring` doc. String length is given in terms of chars (code units), strings are indexed by chars (code units), and so on. This discussion really belongs on the `string` class or the `char` class - or both.

Once the documentation makes clear that a `string` is really just an immutable sequence of `char`s, then it naturally follows that any operation that deals w

[2020-10-10 00:44] nu8 commented on #4948
I do notice that for this page:

https://docs.microsoft.com/dotnet/api/system.string

under the heading Returns, you have this:

Where if you follow the link, it does say:

I think it would be pretty low impact to change to something like this:

[2020-10-12 14:14] churstz commented on #3957
While the CAS technology may be dead for ages, these APIs are still building on top of the technology.  Code such as Microsoft Reporting Server still actively utilize CAS under the hood.  Other third party APIs that reference this core functionality (i.e. Identity Server) without knowledge of the underlying dependencies creates a fragile code base until such time that dead functionality is replace

[2020-10-12 17:52] GrabYourPitchforks commented on #3957
Ok, then the appropriate place for this documentation would be at https://docs.microsoft.com/dotnet/framework/misc/code-access-security. We should make sure that the note at the top calls out three specific talking points:

- In .NET Framework, the CAS infrastructure exists but is no longer supported and will receive no security servicing
- In .NET Core / .NET 5, the CAS infrastructure no longer e

[2020-10-13 13:21] sonnemaf opened #4975 "Ref Structs are not shown as 'ref struct'"
If a struct is a 'ref struct' it should show this in the docs. Take a look (for example) at [Span](https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-3.1).

![image](https://user-images.githubusercontent.com/9335559/95865796-5abc1400-0d67-11eb-8b3d-962aec96c240.png)

I expected:
[code]

The **ref** keyword is missing. This is a general problem for all ref structs in the framewo

[2020-10-13 13:24] sonnemaf opened #4976 "Ref Structs are not shown as 'readonly struct'"
If a struct is a 'readonly struct' it should show this in the docs. Take a look (for example) at DateTime (.NET Core 3.1)

![image](https://user-images.githubusercontent.com/9335559/95866293-08c7be00-0d68-11eb-81c5-2a2b132da90a.png)

I expected:

[code]

The **readonly** keyword is missing. This is a general problem for all readonly structs in the framework.

[2020-10-13 13:32] sonnemaf opened #4977 "Readonly Members are not shown as 'readonly'"
If a member in a struct is readonly it should show this in the docs. Take a look (for example) at [System.Drawing.Point.ToString()](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.point.tostring?view=net-5.0#System_Drawing_Point_ToString) (.NET 5.0)

![image](https://user-images.githubusercontent.com/9335559/95867157-221d3a00-0d69-11eb-9512-a69eb1ef6090.png)

I expected

[code]

The **r

[2020-10-14 18:07] koskila opened #4985 "A misspelling in a code sample for Assembly.GetCallingAssembly()"
Hi all,

I noticed a small misspelling in a code sample when copy-pasting some code from the documentation :) I'll be submitting a PR to fix it momentarily, but here's [the issue](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.getcallingassembly?view=netcore-3.1) in a screenshot below:

![image](https://user-images.githubusercontent.com/4086860/96027818-2036a200-0e61-11eb-8

[2020-10-14 18:14] koskila opened #4987 "CONTRIBUTING.MD has an outdated link to contribution guidelines"
This repository's CONTRIBUTING.MD file has a link to [dotnet docs master CONTRIBUTING.MD](https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md) file, but that file doesn't contain the contribution guidelines anymore - they're now hosted under [docs.microsoft.com](https://docs.microsoft.com/en-us/contribute/dotnet/dotnet-contribute).

[2020-10-15 15:51] gewarren opened #4997 ""Derived" section in API docs is no longer collapsed by default"
---
**Issue moved from dotnet/docs#21109**
- Please respond to @reflectronic.

---

_From @reflectronic on Wednesday, October 14, 2020 9:47:49 PM_

The doc page for each type has a small section which lists other types that derive from it. At some point in the past, this section would only show a handful of items by default, and the user would need to hit "Expand" to see the full list. This functi

[2020-10-15 15:51] gewarren commented on #4997
---
**Issue moved from dotnet/docs#21109**
- Please respond to @gewarren.

---

_From @gewarren on Thursday, October 15, 2020 3:45:39 PM_

Wow, that is quite a list. @mimisasouvanh is this a regression?

[2020-10-15 15:51] gewarren commented on #4997
---
**Issue moved from dotnet/docs#21109**
- Please respond to @gewarren.

---

_From @gewarren on Thursday, October 15, 2020 3:50:27 PM_

I see what you mean in this [internet archive page](https://web.archive.org/web/20190313225252/https://docs.microsoft.com/en-us/dotnet/api/system.enum?view=netcore-2.1) from March 2019.

![image](https://user-images.githubusercontent.com/24882762/96154270-776d5

[2020-10-15 21:44] Dewera opened #4999 "Properties of the PEHeader class are only partially documented"
There are various properties of the [PEHeader](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.portableexecutable.peheader?view=net-5.0) class which are not documented. Most of these are various data directories, however, `DllCharacteristics` doesn't seem to be documented either.

[2020-10-15 21:47] Dewera commented on #4999
In fact upon further inspection it appears large parts of the `System.Reflection.PortableExecutable` namespace are undocumented. For example much of the `ManagedPEBuilder` class. Is it worth opening a new issue for this namespace?

[2020-10-16 09:51] IanKemp opened #5002 "Remarks on ValidationContext.MemberName don't appear to reflect reality"
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.validationcontext.membername?view=netframework-4.6.1 states:

My .NET Framework web app has numerous custom `ValidationAttribute`s (I assume "custom" = "derived from") and the `MemberName` property is very much non-null on the `ValidationContext`s passed into those attributes' overridden `IsValid(object, ValidationCo

[2020-10-16 20:22] TysonMN opened #5005 ""at least one time" vs "exactly one time" in regex example"
https://github.com/dotnet/dotnet-api-docs/blob/dfbbfdb0dfe1e58ec1a034ce1312ad4c9b64d08a/xml/System.Text.RegularExpressions/Regex.xml#L196

Shouldn't that documentation end with "exactly one time" instead of "at least one time"?

[2020-10-16 22:14] mgrandi opened #5006 "Environment.FailFast has link to raw markdown file instead of rendered version"
I'm not sure why these docs don't have a 'report issue' button that has all the information, but i'll try to provide it here

rendered page: https://docs.microsoft.com/en-us/dotnet/api/system.environment.failfast?view=netcore-3.1
source page: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/Environment.xml

It seems that under `Remarks`, on these lines:

https://github.com/dotnet/d

[2020-10-17 16:07] mshwf opened #5011 "Full screen view for code snippets"
Code examples snippets need a full-screen mode,
currently, I have to scroll right and left to read the full code, even for small lines, the example area takes only the half-width of the screen, despite the importance of the documentation's API examples.
For example, the button could be laid beside the Copy button:

https://i.stack.imgur.com/Fp5KB.png

[2020-10-19 20:36] #3957 closed

[2020-10-20 07:18] cheong00 commented on #4193
Seems the issue has been fixed now. Will close the issue.

[2020-10-20 07:18] #4193 closed

[2020-10-20 13:45] gewarren commented on #4997
I logged bug https://dev.azure.com/ceapex/Engineering/_workitems/edit/324824 internally. Will leave this issue open until it gets resolution.

[2020-10-21 02:47] gewarren opened #5017 "Make "Applies To" section in .NET API documentation individual per overload"
---
**Issue moved from MicrosoftDocs/feedback#3205**
- Please respond to @GGG-KILLER.

---

_From @GGG-KILLER on Tuesday, October 20, 2020 7:48:54 PM_

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to see when a certain overload was added because there is no easy way to obtain that information.

**Describe the solution you'd like**
The "Applies

[2020-10-21 02:47] gewarren commented on #5017
---
**Issue moved from MicrosoftDocs/feedback#3205**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Tuesday, October 20, 2020 7:48:55 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsof

[2020-10-21 02:48] gewarren commented on #5017
@ggg-killer we have a design in the works to address this.

@mimisasouvanh FYI.

[2020-10-21 02:50] gewarren opened #5018 "Missing type param in System.Numerics.Vector<T>(ReadOnlySpan<byte>) constructor documentation leads to confusion."
---
**Issue moved from MicrosoftDocs/feedback#3204**
- Please respond to @gunjambi.

---

_From @gunjambi on Tuesday, October 20, 2020 6:54:40 PM_

On Docs page for `System.Numerics.Vector<T>` constructor `Vector(ReadOnlySpan<byte> values)`, the parameter `values` is documented as follows:
`A read-only span of bytes that contains the values to add to the vector. The span must contain at least Coun

[2020-10-21 02:50] gewarren commented on #5018
---
**Issue moved from MicrosoftDocs/feedback#3204**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Tuesday, October 20, 2020 6:54:42 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsof

[2020-10-21 03:09] gewarren opened #5019 "Sample code for PropertyDataCollection crashes"
---
**Issue moved from MicrosoftDocs/feedback#3161**
- Please respond to @paulbaber.

---

_From @paulbaber on Monday, October 5, 2020 4:19:36 AM_

On this page, https://docs.microsoft.com/en-us/dotnet/api/system.management.propertydatacollection?view=dotnet-plat-ext-3.1, the sample code crashes on properties that don't have a description like Caption and Status.

[2020-10-21 03:09] gewarren commented on #5019
---
**Issue moved from MicrosoftDocs/feedback#3161**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Monday, October 5, 2020 4:19:37 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.

[2020-10-21 03:11] gewarren opened #5020 "Documentation for System.Web.UrlMappingsModule is missing"
---
**Issue moved from MicrosoftDocs/feedback#3158**
- Please respond to @rossmpersonal.

---

_From @rossmpersonal on Saturday, October 3, 2020 3:38:06 AM_

**Describe the bug**
Documentation for System.Web.UrlMappingsModule is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go tohttps://docs.microsoft.com/en-us/dotnet/api/
2. Enter System.Web.UrlMappingsModule in the search box.
3

[2020-10-21 03:11] gewarren commented on #5020
---
**Issue moved from MicrosoftDocs/feedback#3158**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Saturday, October 3, 2020 3:38:07 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsof

[2020-10-21 21:23] #4723 closed

[2020-10-21 21:30] #4949 closed

[2020-10-21 21:45] #4985 closed

[2020-10-22 01:34] #4646 closed

[2020-10-22 20:33] #981 closed

[2020-10-22 20:33] #4987 closed

[2020-10-24 09:16] slepmog opened #5035 "Very wrong advice about implementing IDisposable"
At https://docs.microsoft.com/en-us/dotnet/api/system.idisposable?view=netcore-3.1#implementing-idisposable it reads:

This advice is very wrong.
You should implement `IDisposable` if you use unmanaged resources directly or if you use disposable objects yourself.

Which is why the Disposable pattern (correctly) generated by Visual Studio goes:

[code]

[2020-10-25 17:40] DickBaker opened #5036 "FlagsAttribute and Enum can be improved"
PR coming - I just wanted an Issue # to plug into my PR

[2020-10-25 18:37] #5036 closed

[2020-10-25 18:46] quixoticaxis opened #6971 "Immutable[Sorted]Dictionary.ValueComparer documentation is not helpful"
Both `ImmutableDictionary<TKey, TValue>` and `ImmutableSortedDictionary<TKey, TValue>` behave depending not only on the equality comparer for the `TKey` type but also on the equality comparer for the `TValue` type. The immutable dictionaries do not consider changing the old value to the new value mutating if old and new values are equal according to their comparer.
This behavior differs from the b

[2020-10-26 18:25] gewarren opened #5039 "Document empty namespaces"
Namespace summaries are documented in the ns-\<namespace>.xml files. Some of these are empty and should be documented. Use the following order priority:

1.	System.*
2.	System.Windows and System.Xaml
3.	Microsoft.Extensions.*
4.	All others

- [ ] ns-DbLinq.Util.xml
- [ ] ns-Debugging.xml
- [ ] ns-IEHost.Execute.xml
- [ ] ns-Microsoft.Build.Definition.xml
- [ ] ns-Microsoft.Build.Evaluation.Context

[2020-10-26 21:10] #3930 closed

[2020-10-26 21:10] carlossanlop commented on #3929
I'll create a new issue in dotnet/runtime with updated data.

[2020-10-26 21:10] #3929 closed

[2020-10-26 21:10] carlossanlop commented on #3920
I'll create a new issue in dotnet/runtime with updated data.

[2020-10-26 21:10] #3920 closed

[2020-10-26 21:11] carlossanlop commented on #3932
I'll create a new issue in dotnet/runtime with updated data.

[2020-10-26 21:11] #3932 closed

[2020-10-26 21:11] carlossanlop commented on #3924
I'll create a new issue in dotnet/runtime with updated data.

[2020-10-26 21:11] #3924 closed

[2020-10-26 21:11] carlossanlop commented on #3921
I'll create a new issue in dotnet/runtime with updated data.

[2020-10-26 21:11] #3921 closed

[2020-10-26 21:11] carlossanlop commented on #3931
I'll create a new issue in dotnet/runtime with updated data.

[2020-10-26 21:11] #3931 closed

[2020-10-26 21:11] #3904 closed

[2020-10-26 21:13] #3909 closed

[2020-10-26 21:23] kiapanahi opened #5041 "Span<T> referred to as class instead of struct"
In the `Span<T>` [document for netcore-3.1](https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-3.1) under the _Remarks &gt; Span&lt;T&gt; and memory_ section, it is pointed that:

Is this a simple mistake or is written purposefully?

[2020-10-27 00:14] adisib opened #5043 "Incorrect Regex class example with pattern "\d{2}?""
(At least as of current commit c9445d2) Line 195 of `System.Text.RegularExpressions/Regex.xml` states the following:
`\d{2}?        Match two decimal digits zero or one time. `

The description of this behavior does not match .NET's execution of this behavior. This will not match a two digit string zero times. I suspect that the actual behavior of `?` in quantifier expressions is to match a number

[2020-10-27 02:01] RussKie commented on #4385
Thank you @gewarren. I totally missed the notification so some belated feedback/question.

We're currently presenting the information like this:
    ![image](https://user-images.githubusercontent.com/4403806/97247725-56f2bc00-1854-11eb-9df4-4bb8fe83a9e7.png)

Could we have presented the info like this?
    ![image](https://user-images.githubusercontent.com/4403806/97247671-3cb8de00-1854-11eb-89f6-

[2020-10-27 17:07] antonfirsov opened #5045 "Document exception contract change in Socket.BeginConnect (6.0)"
`BeginConnect` can throw `NotSupportedException` after dotnet/runtime#43661. For more details see https://github.com/dotnet/runtime/pull/43661#pullrequestreview-513708432

[2020-10-27 20:33] #4448 closed

[2020-10-28 00:23] stefanrbk commented on #5039
I was actually just about to start working on some documentation for System.Runtime.Intrinsics.*. I'm working on a project using intrinsics and had to figure everything out by using Intel's C intrinsics.

[2020-10-28 00:29] gewarren commented on #5039
@tannergooding are you okay with that?

@stefanrbk this issue is just for the namespace summary and not any of its types.

[2020-10-28 00:34] stefanrbk commented on #5039
@gewarren I was going more towards the methods within the classes, but namespace level does make more sense as a place to start. Just a paragraph or so on the namespaces? I'm not sure what standards there may be on this.

[2020-10-28 09:41] Pikabanga opened #5050 "Code example for SmtpClient.ServicePoint Property is misleading"
https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient.servicepoint?view=netcore-3.1

The code example claims to show how to access the ServicePoint property, but the code actually doesn't access the property at any point in the code  :)

![image](https://user-images.githubusercontent.com/22037089/97419274-28cfb380-190a-11eb-9d2f-76ee0000d039.png)

[2020-10-28 14:06] gewarren commented on #5039
@stefanrbk We have guidelines for all the different fields [here](https://github.com/dotnet/dotnet-api-docs/wiki).

[2020-10-29 02:05] stefanrbk commented on #5039
I have posted PR#5055 for the `System.Runtime.Intrinsics`

[2020-10-29 02:22] tannergooding commented on #5039
@gewarren, I'm fine with users manually adding additional docs for the intrinsics. That being said, the official docs for the underlying instructions come from the Intel and AMD architecture manuals, which aren't available under an OSS license; so we likely need to be careful with taking certain contributions. The changes in #5055 don't look to fall into this category and are likely fine.

[2020-10-29 05:28] rohansp commented on #3754
@kapsiR @mairaw Is this already resolved or can I work on this issue? Do we need to correct the link in CalendarWeekRule.xml What about Calendar.xml?

[2020-10-29 08:53] kapsiR commented on #3754
The broken link in `/xml/System.Globalization/CalendarWeekRule.xml` has been fixed.

Nevertheless I would prefer that the remarks of [Calendar.GetWeekOfYear](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.calendar.getweekofyear) in `/xml/System.Globalization/Calendar.xml` would be updated accordingly too.

@mairaw Would be cool if @rohansp can update the `Remarks` section of `Cal

[2020-10-29 15:41] antonfirsov opened #5059 "ServicePoint(Manager).SetTcpKeepAlive is NOP on .NET Core"
On .NET Core [ServicePoint.SetTcpKeepAlive](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint.settcpkeepalive?view=netcore-3.1) doesn't do anything, the method is only present for compatibility reasons, however the documentation doesn't reflect this behavior.

Same for [ServicePointManager.SetTcpKeepAlive](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager

[2020-10-29 18:43] carlossanlop commented on #5043
@pgovind can you please take a look?

[2020-10-29 18:46] carlossanlop commented on #5005
@pgovind can you please take a look?

[2020-10-29 18:54] carlossanlop commented on #4865
@kouvel can you please take a look?

[2020-10-29 19:00] carlossanlop commented on #4302
Feel free to contribute whenever you'd like, @justin-kendrick . I'll go ahead and close this issue, and we welcome any PRs from you.

[2020-10-29 19:00] #4302 closed

[2020-10-29 19:02] carlossanlop commented on #4254
cc @GrabYourPitchforks @safern @tarekgh @krwq

[2020-10-29 19:04] carlossanlop commented on #4235
Looks like it's fixed.

[2020-10-29 19:04] #4235 closed

[2020-10-29 19:07] carlossanlop commented on #4231
@tannergooding Hey there's no `area-System.Math` area, so let me know if you're ok with having Math-related issues tagged as `area-System.Numerics` or something else. This will help the autolabeling bot.

[2020-10-29 19:14] tannergooding commented on #4231
That's fine, we do the same for dotnet/runtime!

[2020-10-29 19:16] tarekgh commented on #4254
The proposal looks good to me. We may do extra things in 6.0 for MacOS but we can update the doc during then.

[2020-10-29 19:17] carlossanlop commented on #4143
@mimisasouvanh @joelmartinez

[2020-10-29 19:17] tarekgh commented on #4254
@kevinoid maybe would be better if you go ahead and open a PR for this change. Thanks for reporting this issue.

[2020-10-29 19:21] carlossanlop commented on #4080
Tagging @gewarren in case there is official guidance.

What we have done in the past is explicitly split the sentences in remarks by version. For example:

[code]

[2020-10-29 19:25] carlossanlop commented on #4046
Thank you for reporting, @paukuk. Would you like to submit a PR to fix it?

[2020-10-29 19:25] joelmartinez commented on #4143
@carlossanlop hmm ... I don't seem to be able to reproduce this issue. The obsolete messages are showing correctly on the monikers that have the obsolete attribute (.net core 1), and disappearing when you switch to another moniker (.net 4.7). Can we get more details on what's happening here?

[2020-10-29 19:28] carlossanlop commented on #4040
Although I would select a different wording, your suggestion makes sense. Would you like to submit a PR to fix it, @nishantsny ?

[2020-10-29 19:31] carlossanlop commented on #4003
@tarekgh do you know where the source code for System.Device is located? I don't know who the owner is, and we don't have that area label in the runtime [area owners](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md).

[2020-10-29 19:32] gewarren commented on #4080
Currently, there's no way to version the remarks to only show what's applicable to the currently selected version. Carlos' guidance is correct (except I'd use ".NET 5.0 and later versions" for the last one).

[2020-10-29 19:33] carlossanlop commented on #3934
We are now tracking this effort in a project in dotnet/runtime, where the most up to date list is located.

[2020-10-29 19:33] #3934 closed

[2020-10-29 19:36] carlossanlop commented on #3974
@gewarren is this an ASP.NET type? I ask so I know who to tag for triage, or maybe check if this namespace should be moved to the AspNetApiDocs repo.

[2020-10-29 19:37] carlossanlop commented on #3978
@corranrogue9 will you get a chance to offer a PR?

cc @eiriktsarpalis @adamsitnik area owners.

[2020-10-29 19:37] kouvel commented on #4865
Most of this has been addressed recently, the remarks section for constructors, `OpenExisting`, and `TryOpenExisting` with the `name` parameter describe the namespaces. It currently does not mention that `\` is a reserved character, should be added.

[2020-10-29 19:43] carlossanlop commented on #3835
@tarekgh can you please take a look?

[2020-10-29 19:44] carlossanlop commented on #3831
@layomia @steveharter @jozkee for triage.

[2020-10-29 19:47] carlossanlop commented on #3754
@tarekgh can you please help triage?

[2020-10-29 19:48] carlossanlop commented on #3741
@bartonjs something we could improve in the Cryptography docs?

[2020-10-29 19:49] carlossanlop commented on #3735
@Anipik can you please triage?

[2020-10-29 19:51] carlossanlop commented on #3694
I think this is owned by WPF. Can you confirm, @RussKie ?

[2020-10-29 19:52] carlossanlop commented on #3691
Area owners @adamsitnik @eiriktsarpalis for triage.

[2020-10-29 19:55] gewarren commented on #3974
Yes, this looks like an ASP.NET type. I don't know the history of why these APIs aren't in the ASP.NET reference, but I believe that @scottaddie is the owner for them in this repo.

[2020-10-29 19:55] carlossanlop commented on #3613
@GrabYourPitchforks you were working on this, I believe. Can we update this issue or close it if the work is done?

[2020-10-29 20:04] bartonjs commented on #3741
I don't know where or how we'd document it.

* RandomNumberGenerator.Fill, RandomNumberGenerator.GetBytes(int) RandomNumberGenerator.GetInt32(*) are all thread safe, because they're statics, and our default thread-safety statement says statics are thread-safe (though we don't seem to produce the default thread safety statement on the docs anymore?)
* On .NET Core: the instance methods of the insta

[2020-10-29 20:33] RussKie commented on #3694
This isn't Windows Forms for sure.

[2020-10-29 20:44] mairaw commented on #3694
Yes, that would be WPF

[2020-10-29 21:52] tarekgh commented on #4003
http://index/?query=GeoCoordinateWatcher%20

I think no-one owning it. We can just added the proposed remark in a PR.

[2020-10-29 22:00] tarekgh commented on #3835
@DavidWBrooks looking at the docs https://docs.microsoft.com/en-us/dotnet/api/system.datetime.subtract?view=netcore-3.1 I am seeing everything is correct there. which docs you are referring to?

[2020-10-29 22:02] tarekgh commented on #3754
The comment needed to be added looks reasonable to me. @kapsiR do you want open a PR for it?

[2020-10-30 04:59] kapsiR commented on #3754
@tarekgh Yes I can submit a PR for this, but if @rohansp wants to try it he can do it too

[2020-10-30 12:08] rohansp commented on #3754
@kapsiR go ahead.

[2020-10-30 13:10] MSDN-WhiteKnight commented on #4143
This bug was already fixed. Docs team responded in the issue i previously linked: https://github.com/dotnet/dotnet-api-docs/issues/2986#issuecomment-689931299 This issue can be closed.

[2020-10-30 15:01] DavidWBrooks commented on #3835
I guess it got fixed in some update between February and now. I can't see the specific update in git history (and not familiar enough with the blame feature), but picking a commit from 11 months ago, c5faff8461, I can see the incorrect text. So you can close either as Fixed or NR. Thanks.

One day I'll get more comfortable with pull requests so I wouldn't need to do this random probing.

[2020-10-30 15:17] DavidWBrooks commented on #3835
Actually, I opened it so I can close it. It seems to have been fixed incidentally some time since February,

[2020-10-30 15:17] #3835 closed

[2020-10-30 15:18] jzabroski commented on #819
@pavel-agarkov Is this actually an issue?  I reviewed the documentation and it looks correct.

The documentation says:

In this case, the issue is more with the ugly formatting of the document, as opposed to the comment.  If you re-read the documentation, there are three cases where it throws an ArgumentException.  The issue is these are not nicely formatted underneath the kind of exception that g

[2020-10-30 16:20] pavel-agarkov commented on #819
@jzabroski
1) Yes, now I see it. Thank you.
2) I believe _current_ is referred to the instance on which `GetInterfaceMap` method is called. From my example `ArgumentHandler`
 does not even implement `IHandler<Exception>`. What if it implements multiple times the same interface with different type arguments... I ended up manually traversing all implemented interfaces and checking their type argumen

[2020-10-30 16:34] DavidWBrooks commented on #3835
I found the fix:   d7dc8f4ca897c1a5d063522fd4cfb6e887909102, from Mar 5. Sorry to be so noisy on email over a little thing.

[2020-10-30 18:51] carlossanlop commented on #4080
Also, I don't think there is a way to hide information. I think we had this discussion in the past with the Docs infrastructure team. I'll see if I can find the internal bug and ping them to see if they plan on splitting this information in the near future. But for now, the answers above describe all we can do.

@MihaZupan I'll go ahead and close the question as resolved. If you want to discuss fu

[2020-10-30 18:52] #4080 closed

[2020-10-30 18:53] carlossanlop commented on #3974
Thanks. I suppose there might be a good reason to have the System.Web API live here, so I'll go ahead and create a label for it.

[2020-10-30 19:05] carlossanlop commented on #3694
Yep, WPF 😄 that's what I said.

[2020-10-30 21:18] jose-dvm opened #5064 "Reference to DBNull.Value in OdbcDataReader.Item[]'s value"
Now, [the docs for OdbcDataReader.Item[]](https://docs.microsoft.com/en-US/dotnet/api/system.data.odbc.odbcdatareader.item?view=netframework-4.5#System_Data_Odbc_OdbcDataReader_Item_System_Int32_)'s value say:

I think this is somehow confusing when dealing with null values in the database side. Which type can you expect? Maybe a null reference? In my opinion, adding a reference to DBNull.Value wi

[2020-10-31 19:52] maryamariyan opened #5069 "test labeler"

[2020-10-31 19:53] #5069 closed

[2020-11-01 10:28] RussKie commented on #1685
Bump. The lack of updated docs is starting biting projects migrating from .NET Framework.

[2020-11-01 15:42] kevinoid commented on #4254
Thanks @tarekgh.  I just opened PR #5071 to address this issue.

[2020-11-01 20:03] tarekgh commented on #4254
Thanks @kevinoid I have added a comment there if you want to take a look.

[2020-11-02 00:01] stefanrbk commented on #5039
Is there any possibility of any kind of expansion on the docs involving the instructions? I had to cross reference Intel's Intrinsics Guide to figure out how to use the instructions and figure out their names in C to locate the instructions in the docs to discover the dotnet name for each instruction I had to use. And if I forget something about an instruction in my code, I had to work in reverse

[2020-11-02 21:15] gewarren commented on #4180
Since we can't go back and add ObsoleteAttribute for .NET Core 3.1, we should just add a comment to the remarks that this API was removed in .NET 5.0.

[2020-11-02 21:16] gewarren commented on #3899
It looks like this is showing the correct inheritance now, so I'm going to close it.

[2020-11-02 21:16] #3899 closed

[2020-11-02 21:37] gewarren commented on #3586
I think this issue can be closed. I checked and the `~/includes` and `~/samples` links are rendering correctly in the few that I checked.

- See the Notes to Callers section of [Convert.ChangeType](https://docs.microsoft.com/en-us/dotnet/api/system.convert.changetype?view=netcore-3.1#System_Convert_ChangeType_System_Object_System_Type_).
- [GetControlInstanceType](https://docs.microsoft.com/en-us/

[2020-11-02 21:37] #3586 closed

[2020-11-03 14:56] Inspyro opened #5076 "CngExportPolicies.None - Docs wrong"
Hi,
I think the docs for **CngExportPolicies.None** are **wrong** (see: https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.cngexportpolicies?view=dotnet-plat-ext-3.1). It says

Whereas the native docs (https://docs.microsoft.com/en-us/windows/win32/seccng/key-storage-property-identifiers)
specify

however the "0x0" flag is not described which would lead me to the conclusion t

[2020-11-03 15:43] fschmied commented on #5076
See this line: https://github.com/microsoft/Intune-Resource-Access/blob/develop/src/PFXImportPowershell/EncryptionUtilities/Source/ManagedRSAEncryption.cs#L160

[2020-11-03 20:31] #3754 closed

[2020-11-04 17:59] gewarren opened #5082 "Directory.EnumerateFiles three-character paterns"
---
**Issue moved from dotnet/docs#21253**
- Please respond to @nanangp.

---

_From @nanangp on Wednesday, October 28, 2020 7:35:38 AM_

**Issue description**

The doc currently mentions the following information for search patterns:

Based on investigations in [this StackOverflow question](https://stackoverflow.com/q/64564664/5623232), there are a number of issues with this statement, depending

[2020-11-04 17:59] gewarren commented on #5082
---
**Issue moved from dotnet/docs#21253**
- Please respond to @gewarren.

---

_From @gewarren on Wednesday, November 4, 2020 5:58:46 PM_

This regards https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.enumeratefiles. I'll move it to the API docs repo.

[2020-11-06 15:17] rodeten commented on #4040
Submitted a push Request to the <live> branch #5090 .

Let me know if that works!

[2020-11-06 15:57] rodeten opened #5091 "Use https instead of http for go.microsoft.com links whenever possible inside System. NS"
Several documents inside the System Namespace including Activator.xml, AppDomain.xml, LoaderOptimization.xml and Uri.xml reference:

http://go.microsoft.com

Instead should use:

https://go.microsoft.com

These links need to replace only where appropriate inside the System namespace.

Do not replace contoso.com, as it does not forward or other URI examples using locahost, as a HTTPS Cert may not b

[2020-11-06 16:07] rodeten commented on #1200
Created Issue #5091 for System.* runtime changes for http TO https

[2020-11-06 17:30] maryamariyan commented on #5091
@carlossanlop which area label here? I am not sure.

[2020-11-06 18:05] rodeten commented on #5091
#4040 is in similar Namespace and uses Area Label:

area-System.Runtime.  Will that work?

[2020-11-06 19:19] rodeten commented on #5091
I have a pull Request ready for these changes when approved.

[2020-11-07 01:36] carlossanlop commented on #5091
@maryamariyan This is a `doc-enhancement` issue, since it suggests editing the hyperlinks to use https instead of http. This is not really related to the mentioned APIs.

[2020-11-07 11:30] sungam3r commented on #1741
Moreover, example [here](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.conditionalweaktable-2?redirectedfrom=MSDN&view=netcore-3.1) even does not compile:
[code]

[2020-11-07 11:34] sungam3r commented on #1741
And finally it shows different output 😕 after fixing `else if (cwt.TryGetValue((ManagedClass)wr2.Target, out data))`:

My project:
[code]

It seems to me that the example does not work at all.

[2020-11-07 23:20] manuc66 commented on #1741
Hi @sungam3r

it seems that splitting the main in two function show the correct output :

[code]

And I got :

`No strong reference to mc2 exists.`

[2020-11-08 08:44] sungam3r commented on #1741
The question remains - why doesn't the first example work?

[2020-11-10 03:35] FriedLychees opened #5103 "System.Threading ApartmentState Enum - C# code example displays obsolete code"
The C# code example for the ApartmentState enum uses the ApartmentState property to get the ApartmentState of the thread.

`Console.WriteLine("ThreadState: {0}, ApartmentState: {1}",
            newThread.ThreadState, newThread.ApartmentState);`

It uses GetApartmentState() further below in the file, like the ApartmentState Property documentation suggests that you should, but the first Console.Wri

[2020-11-10 05:26] FriedLychees commented on #5103
Same for the F# code sample

[2020-11-10 17:32] gewarren opened #5107 "Change description and remarks on `Regex.Match()` methods with `startat` or `beginning` parameters"
---
**Issue moved from dotnet/docs#21425**
- Please respond to @lauxjpn.

---

_From @lauxjpn on Tuesday, November 10, 2020 3:40:01 AM_

**Issue description**

The `Regex.Match()` methods with a `startat` or `beginning` parameter state the following:

However, that does not seem to be the case. Instead, they seem to evaluate and search the whole string (basically ignoring the `startat` and `beginn

[2020-11-11 02:01] 0xC0000054 opened #5111 "MemoryStream TryGetBuffer missing disposal note"
The documentation for the MemoryStream [GetBuffer](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream.getbuffer) method includes a note in the remarks section that the buffer remains valid after the stream has been disposed.

The documentation for [TryGetBuffer](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream.trygetbuffer) is missing this note.

[2020-11-11 17:29] maryamariyan opened #5114 "MemoryStream test issue"
The documentation for the MemoryStream [GetBuffer](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream.getbuffer) method includes a note in the remarks section that the buffer remains valid after the stream has been disposed.

The documentation for [TryGetBuffer](https://docs.microsoft.com/en-us/dotnet/api/system.io.memorystream.trygetbuffer) is missing this note.

[2020-11-11 17:30] #5114 closed

[2020-11-11 23:14] 3Mydlo3 opened #5116 "string.Join with only null values returns delimiters instead of string.Empty"
### Description

According to `string.Join(char, params string[])` method description:

A string that consists of the elements of value delimited by the separator character. -or- `string.Empty` if value has zero elements or all the elements of value are null.

It should return `string.Empty` when all `values` are `null`. Well it does not, it returns string containing only the separator(s).

[code]

[2020-11-11 23:16] GrabYourPitchforks commented on #5116
__Docs repo:__

Request is to remove the bolded text below from https://docs.microsoft.com/dotnet/api/system.string.join.

[2020-11-13 10:35] JLRishe opened #5119 "Re-serializing query parsed with HttpUtility.ParseQueryString() has confusing, undocumented behavior"
The [HttpUtility.ParseQueryString()](https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility.parsequerystring) method returns a `NameValueCollection` that can be modified and then converted back to a string to produce a new query string.

However, the behavior of the `.ToString()` method that produces that string varies based on app settings and execution environment:

- Under some circ

[2020-11-16 23:11] gewarren opened #5124 "WriteAllText does not work for VB Console App .Net Core"
---
**Issue moved from MicrosoftDocs/feedback#3274**
- Please respond to @winf3.

---

_From @winf3 on Monday, November 16, 2020 1:28:02 PM_

Problem:
I create a testprogram according to your page
https://docs.microsoft.com/de-de/dotnet/api/microsoft.visualbasic.fileio.filesystem.writealltext?view=net-5.0#-berl-dt

For that purpose I created a project in Visual Studio 2019 based on the Visual Basi

[2020-11-16 23:11] gewarren commented on #5124
---
**Issue moved from MicrosoftDocs/feedback#3274**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Monday, November 16, 2020 1:28:04 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsof

[2020-11-17 15:34] jnm2 opened #5126 "ChannelReader<T>.ReadAsync is incorrectly shown to return nullable ValueTask<T>"
https://docs.microsoft.com/en-us/dotnet/api/system.threading.channels.channelreader-1.readasync?view=net-5.0 shows this C# code block:

[code]

The question mark is incorrect. The real return type is `ValueTask<T>`, not `System.Nullable<ValueTask<T>>`.

https://github.com/dotnet/runtime/blob/v5.0.0-rtm.20519.4/src/libraries/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs#L

[2020-11-19 08:22] tmds opened #5131 "Documentation should include whether the type is part of platform or ships out-of-band via nuget.org"
Consider these two classes:
[code]

[code]

It's not clear from the docs `SignedCms` class requires a reference to the [System.Security.Cryptography.Pkcs](https://www.nuget.org/packages/System.Security.Cryptography.Pkcs/) nuget.org package,
while `Process` ships as part of the .NET 5 framework.

[2020-11-19 11:21] lomithrani opened #5132 "MeasureString Parameter's StringFormat Error"
"StringFormat that represents formatting information, such as line spacing, for the string."
There is no line spacing option in string format.

[2020-11-19 16:21] rurounijones opened #5133 "BlockingCollection incorrect documentation or a bug in .Net?"
On this page: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Collections.Concurrent/BlockingCollection%601.xml

`TryTake(T) ` **Remarks** note that:

However this note is *not* present in any of the following API `TryTake(T, TimeSpan)`, `TryTake(T, Int32, CancellationToken)` or `TryTake(T, Int32)` remarks.

However based on my testing  (.Net Framework 4.8) it appears that `TryTak

[2020-11-23 23:32] #4309 closed

[2020-11-24 22:00] carlossanlop commented on #5103
I assume you mean this example, @FriedLychees ? https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.apartmentstate?view=net-5.0

Would you like to submit a PR with a proposed new code example? The location of the 3 files containing the examples are indicated here (paths relative to the root of this repo):
https://github.com/dotnet/dotnet-api-docs/blob/73e106e071747457441fa2bb38c51f

[2020-11-25 09:13] WenyunZou opened #5143 "Microsoft.Build.Evaluation.Project Constructor throws an exception when dotnet sdk 5.0.100 is installed."
Hi,

Api at https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.evaluation.project.-ctor?view=msbuild-16-netcore

**If I'm opening the issued at a wrong place, please help me to redirect it. Thank you!**

**Description:**
It had been working fine until I installed dotnet sdk 5.0.100 recently.  The constructor of Microsoft.Build.Evaluation.Project throws an exception "_MSBuild.CouldNotLoadS

[2020-11-26 06:07] HurricanKai opened #5144 "System.MathF.Abs Max/MinValue relation"
[The docs](https://docs.microsoft.com/en-us/dotnet/api/system.mathf.abs?view=net-5.0#System_MathF_Abs_System_Single_) claim that
a) The parameter `x` is "A number that is greater than or equal to MinValue, but less than or equal to MaxValue." and
b) The return type to be "A single-precision floating-point number, x, such that 0 ≤ x ≤ MaxValue."
which is just not true.
MathF.Abs allows Positive/Neg

[2020-11-26 06:14] HurricanKai commented on #5144
It seems this is a theme in the MathF docs? [Acos](https://docs.microsoft.com/en-us/dotnet/api/system.mathf.acos?view=net-5.0) docs say it returns NaN for x < -1 or x > 1, which is also false.

[2020-11-27 15:30] adamsitnik commented on #3978
@carlossanlop is my understanding correct that it would be the best to wait until you finish your work on backporting the docs to dotnet/runtime source and then add this as triple slash comments to source in dotnet/runtime?

[2020-11-30 19:55] carlossanlop commented on #3978
No, you're not blocked to offer a fix in dotnet-api-docs. Just let me know so I make sure my backports include your amends.

[2020-11-30 20:03] freestylecoder opened #5145 "Inconsistent documentation for DbParameterCollection.CopyTo"
I found an anomaly in the docs for DbParameterCollection ( [dotnet-api-docs/xml/System.Data.Common/DbParameterCollection.xml](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Data.Common/DbParameterCollection.xml) ).  In the CopyTo method, the documentation claims that the values in the input array are copied to the collection. However, the documentation for the interface (IDataPar

[2020-12-01 10:09] Bommarn opened #5147 "Typo in Matrix4x4 constructor documentation"
I have never created an issue on Github before so correct me if this is the wrong place or if I have done something incorrectly.

A bit nitpicky but there is a typo in one of the constructors for Matrix4x4 in the System.Numerics.Vector documentation: https://docs.microsoft.com/en-us/dotnet/api/system.numerics.matrix4x4.-ctor?view=net-5.0
For m24 the description is wrong. It should say fourth eleme

[2020-12-01 10:28] adamsitnik commented on #3978
after thinking about it for a while I decided to wait until the source code becomes the single source of truth

it's just much easier to find all the throwing public methods and add the annotations in the comments rather than updating the doc

perhaps we could even add an analyser for that? at least for the simple cases like arguments validation throws?

[2020-12-02 19:57] freestylecoder commented on #5145
I have done some more digging. It appears that the DbParameterCollection does not actually implement CopyTo. It merely flags it as abstract to make the implementer do so.  I is being ultimately inherited from ICollection, which has correct documentation for the method.

From looking at the other docs, I think we can just remove lines 355-380 of the above referenced file. That should tell it to cor

[2020-12-03 10:26] dimmik opened #5152 "Linq Take() and Skip() are stated as Functinally complement, while it is not always true"
Honestly, I am not sure if it is Documentation issue of code bug.
Documentation states:
The `Take` and `Skip` methods are functional complements. Given a sequence `coll` and an integer `n`, concatenating the results of `coll.Take(n)` and `coll.Skip(n)` yields the same sequence as `coll`.
https://github.com/dotnet/dotnet-api-docs/blob/f33aa309d83192d0563b9bb35c70c176238f8f85/xml/System.Linq/Enumera

[2020-12-03 16:32] loop-evgeny opened #5153 "CallerArgumentExpressionAttribute documentation should document that it DOES NOTHING"
CallerArgumentExpressionAttribute is [currently not implemented and does nothing](https://github.com/dotnet/csharplang/issues/287#issuecomment-725926211) but https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.callerargumentexpressionattribute?view=netcore-3.1 makes no mention of this fact. It's right there along with CallerMemberNameAttribute and other attributes which *ar

[2020-12-04 07:08] Laniusexcubitor opened #5157 "Default for PrincipalPolicy has changed"
Currently [PrincipalPolicy](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Security.Principal/PrincipalPolicy.xml) states that the default is _UnauthenticatedPrincipal_. This changed for .NET Core (and .NET 5). It is now _NoPrincipal_ (see [AppDomain.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/AppDomain.cs))

Also the [SetPrin

[2020-12-05 23:22] NikiforovAll opened #5158 "Documentation for PolicyHttpMessageHandler is broken"
page: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.http.policyhttpmessagehandler?view=dotnet-plat-ext-3.1&viewFallbackFrom=net-5.0

`PolicyHttpMessageHandler` Class

---
Do you think I can try to fix this? If so, how do I check how the fixed version would look like locally?

[2020-12-07 17:48] gewarren commented on #4997
Unfortunately the internal work item was closed as "won't do", so I will close this issue too.

[2020-12-07 17:48] #4997 closed

[2020-12-08 20:58] eerhardt opened #8590 "PropertyInfo.IsDefined doesn't respect inherit=true"

[2020-12-09 09:05] vchirikov commented on #3921
So do we have a better alternative for `System.Diagnostics.DiagnosticSource` ?
And can we unlist this nupkg from nuget.org or do something, because it's not obvious what happened to this lib.

[2020-12-09 09:10] sywhang commented on #3921
@vchirikov We never removed System.Diagnostics.DiagnosticSource. The API that was removed was Microsoft.Extensions.DiagnosticAdapter.

[2020-12-11 10:15] IanKemp opened #5163 "Switching between methods that have been moved into extension classes does not work as expected"
In .NET Framework, the methods `GetAccessControl` and `SetAccessControl` are defined on the `System.Threading.Mutex` class.

In .NET Core and .NET 5, these methods were split out into an extension class `System.Threading.ThreadingAclExtensions`.

This breaks MSDN docs' redirection when switching between Framework and non-Framework versions of these methods.

For example, if I go to https://docs.mi

[2020-12-13 23:08] acaly opened #5169 "System.Reflection.Emit.AssemblyBuilder no longer supports Save on NET Core"
Document file: [AssemblyBuilder.xml](https://github.com/dotnet/dotnet-api-docs/blob/7e80efdc53be82550e4a304d95cf0057710a3936/xml/System.Reflection.Emit/AssemblyBuilder.xml)

The example code is using a removed feature.

[2020-12-15 08:13] vsfeedback opened #8548 "Type.GetType(string, bool) don't work in . NET5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/TypeGetTypestring-bool-dont-work-in/1286940)._

---
[severity:I'm unable to use this version]
In . NET5 (5.0.1) the method Type.GetType(string, bool) do not find the type in a not referenced assembly (Ribbon.dll). This assembly exists in the application path.
In . NET4.5 the type will b

[2020-12-15 14:00] danjagnow commented on #2014
I can verify that the current behavior of adding the BOM is causing problems for us in a PowerShell script that uploads XML files to Akamai.  We should be able to use the workaround specified by @krwq, but I agree with @mklement0 that a change of the default behavior would be preferable, though a documentation-only update would be a marginal improvement over the current state.

[2020-12-16 01:01] RaymondTracer opened #5175 "Nevermind, I made a mistake please delete"
Edit: please delete this, I had a mix up

[2020-12-16 01:03] #5175 closed

[2020-12-16 18:54] gewarren opened #5178 "Example for Process.EnableRaisingEvents Property (and for ExitTime) is incorrect, InvalidOperationException is thrown on access to StartTime"
---
**Issue moved from MicrosoftDocs/feedback#3325**
- Please respond to @apegushin.

---

_From @apegushin on Friday, December 11, 2020 11:22:15 PM_

Example for Process.EnableRaisingEvents (and ExitTime) Property shows how to handle 'Exited' event. In the handler process.StartTime is accessed, which throws InvalidOperationException for processes that are not running (which is 100% true for the p

[2020-12-16 18:54] gewarren commented on #5178
---
**Issue moved from MicrosoftDocs/feedback#3325**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Friday, December 11, 2020 11:22:16 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microso

[2020-12-16 21:18] gewarren opened #5179 "It will be useful to have algorithmic complexity of standard operations provided by the .NET library"
---
**Issue moved from MicrosoftDocs/feedback#3306**
- Please respond to @katoch.

---

_From @katoch on Wednesday, December 2, 2020 3:23:26 AM_

**Is your feature request related to a problem? Please describe.**
I'm surprised that most microsoft references for .NET library do not provide complexity information for standard operations. In comparison the C++ standard library documentation has this

[2020-12-16 21:18] gewarren commented on #5179
---
**Issue moved from MicrosoftDocs/feedback#3306**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Wednesday, December 2, 2020 3:23:28 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.micros

[2020-12-17 05:00] #4254 closed

[2020-12-17 08:40] KalleOlaviNiemitalo opened #5181 "ExecutionEngineException is obsolete in .NET 5.0 but the documentation does not say so"
System.ExecutionEngineException is obsolete in .NET 5.0:

* [src/libraries/System.Private.CoreLib/src/System/ExecutionEngineException.cs](https://github.com/dotnet/runtime/blob/cf258a14b70ad9069470a108f13765e0e5988f51/src/libraries/System.Private.CoreLib/src/System/ExecutionEngineException.cs#L21)
* [src/libraries/System.Runtime/ref/System.Runtime.cs](https://github.com/dotnet/runtime/blob/cf258a1

[2020-12-17 13:29] KalleOlaviNiemitalo commented on #4976
The data seems to be in the XML file already, with version information as well. It's just not displayed at docs.microsoft.com. <https://github.com/dotnet/dotnet-api-docs/blob/49f945bc27285a89d843903eef0f0515ba1e625f/xml/System/DateTime.xml#L76-L79>

[2020-12-17 19:39] #4034 closed

[2020-12-19 18:51] KalleOlaviNiemitalo commented on #782
Please document that the bool continueOnCapturedContext parameter controls only SynchronizationContext and not ExecutionContext. In particular, if you set AsyncLocal\<T>.Value before awaiting and get it afterwards, then you will find the same value, regardless of whether continueOnCapturedContext is true or false.

[2020-12-20 09:19] svick commented on #5179
Which operations are you talking about specifically? Because some already provide their time complexity, e.g. [the documentation for `List<T>.Insert` says](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.insert?view=net-5.0&WT.mc_id=DOP-MVP-5002735#remarks):

[2020-12-21 03:24] gewarren commented on #5179
@katoch Please see the question that @svick posed ⬆

[2020-12-21 03:47] katoch commented on #5179
Ok, I think the documentation does list the complexity of operation in the
very end in the ‘Remarks’ section. I think it might be useful to have a
separate complexity section which just provides that information. I was
looking at the documentation for KeyedCollection .

On Sun, Dec 20, 2020 at 7:24 PM Genevieve Warren <notifications@github.com>
wrote:

[2020-12-21 22:32] gewarren opened #5188 "[Documentation] CultureInfo is inacurate"
---
**Issue moved from dotnet/docs#22107**
- Please respond to @vernou.

---

_From @vernou on Monday, December 21, 2020 8:55:29 AM_

### Description

In the documentation of the class CultureInfo at the chapter [Culture and threads](https://docs.microsoft.com/en-US/dotnet/api/system.globalization.cultureinfo?view=net-5.0#culture-and-threads), it has this example :
[code]

The starting culture is

[2020-12-21 22:32] gewarren commented on #5188
---
**Issue moved from dotnet/docs#22107**
- Please respond to @msftbot[bot].

---

_From @msftbot[bot] on Monday, December 21, 2020 8:55:32 AM_

Tagging subscribers to this area: @tarekgh, @safern, @krwq
See info in area-owners.md if you want to be subscribed.
<details>
<summary>Issue Details</summary>
<hr />

### Description

In the documentation of the class CultureInfo at the chapter [Culture

[2020-12-21 22:32] gewarren commented on #5188
---
**Issue moved from dotnet/docs#22107**
- Please respond to @tarekgh.

---

_From @tarekgh on Monday, December 21, 2020 7:01:05 PM_

Just to mention, we have a config switch on the Full Framework `Switch.System.Globalization.NoAsyncCurrentCulture` which can switch back to old behavior mentioned in the code example.

[2020-12-22 02:27] breyed opened #5189 "Interlocked. CompareExchange documents conflicting exceptions"
[CompareExchange(Object, Object, Object)](https://docs.microsoft.com/en-us/dotnet/api/system.threading.interlocked.compareexchange?view=net-5.0#System_Threading_Interlocked_CompareExchange_System_Object__System_Object_System_Object_) lists these exceptions:

So which is it? If location1 is a null pointer, which exception gets thrown? It's odd to begin with that the exceptions refer to pointers, si

[2020-12-23 17:30] gewarren commented on #5131
cc @mimisasouvanh

[2020-12-23 18:07] gewarren commented on #5126
@jnm2 Thanks, I've logged an [internal bug](https://dev.azure.com/ceapex/Engineering/_workitems/edit/352216) on this.

[2020-12-27 18:30] svick commented on #5152
Yes, it's because of the nature of your enumerable. For example, I'd say that `.ElementAt(1)` and `.ElementAt(1)` are functionally equivalent (since it's the same code), but code like the following will give you two different values:

[code]

But I think it makes sense to change the documentation to say something like:

It's probably not necessary to elaborate on what "well-behaved" means.

[2021-01-05 12:23] KalleOlaviNiemitalo opened #5200 "Document shows wrong parameter of EventSource.GenerateManifest as nullable"
[EventSource.GenerateManifest Method (System.Diagnostics.Tracing)](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventsource.generatemanifest?view=net-5.0) lists these overloads:

[code]

It claims the `eventSourceType` parameter is nullable in both of those. In the .NET 5.0.1 C# source code though, `Type eventSourceType` is not nullable, but `string? assemblyPathToInclude

[2021-01-05 12:26] KalleOlaviNiemitalo commented on #5200
EventSource is in **area-System.Diagnostics.Tracing**, I guess. But if the bug is in software that updates EventSource.xml, then the proper label might be **area-Infrastructure**.

[2021-01-06 15:30] jyrkive opened #5205 "List<T>.Remove() and SortedSet<T>.Remove() should accept null only for nullable reference types"
`List<T>.Remove()` and `SortedSet<T>.Remove()` say in their API documentation that the passed item can be `null` for reference types:

* https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.remove?view=net-5.0
* https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.sortedset-1.remove?view=net-5.0

However, calling those methods with a nullable variable wil

[2021-01-06 16:54] osamakawish opened #5206 "Why does ControlCollection implement IEnumerable rather than IEnumerable<Control>?"
It doesn't make significant changes to the code for those using it but... I'm not sure why it is like this. Can non-controls be added to ControlCollection? If not, then is there any motivation for it not being an IEnumerable of Control?

It would make the development a little simpler, and it's very confusing as to why it's even like this.

[2021-01-08 02:26] #4385 closed

[2021-01-09 16:51] #5147 closed

[2021-01-12 18:39] gewarren commented on #5181
This seems to be related to a known issue that [we are working on a fix for internally](https://ceapex.visualstudio.com/Engineering/_workitems/edit/322199), where obsolete attributes aren't showing up correctly. cc @joelmartinez.

[2021-01-12 18:41] joelmartinez commented on #5181
@gewarren yes, this fix is being finalized now and will be in the next release of mdoc ... if all goes well, expect a ping from me later this week about the preview :)

[2021-01-12 18:48] gewarren commented on #5158
@NikiforovAll Thanks for letting us know. Unfortunately the preview site is currently available internally to Microsoft only. We welcome contributions, but in this case, since you can't see the result, it probably doesn't make sense for you to take this on.

[2021-01-12 19:14] gewarren commented on #5143
cc @ghogen @rainersigwald. Should I move this issue here? https://github.com/dotnet/msbuild/issues

[2021-01-12 19:17] ghogen commented on #5143
@gewarren @rainersigwald Agreed - looks like a product bug report that should be moved to the MSBuild repo.

[2021-01-12 19:20] gewarren commented on #5143
This issue was moved to dotnet/msbuild#6026

[2021-01-12 19:20] #5143 closed

[2021-01-12 19:54] MEnnabah opened #5219 "Incorrect block of code for ParameterizedThreadStart docs."
The docs [mentions](https://github.com/dotnet/dotnet-api-docs/blob/fa5a043dafd135240958e116adaf6980f8ba799c/xml/System.Threading/Thread.xml#L121
) the following:

However, in the code block, this is what's happening:
[code]

[2021-01-12 20:21] gewarren opened #5220 "Move remarks out of enum fields"
---
**Issue moved from dotnet/docs#22318**
- Please respond to @gewarren.

---

_From @gewarren on Tuesday, January 12, 2021 8:17:54 PM_

The docs don't have a way to display remarks that are entered in enum fields. Any important info should be moved into the summary. For example, from System.Activities.ActivityInstanceState:

[code]

Any build report for this repo will show warnings for all APIs

[2021-01-12 20:21] gewarren opened #5221 "Remove references to "MSDN library""
---
**Issue moved from dotnet/docs#22317**
- Please respond to @gewarren.

---

_From @gewarren on Tuesday, January 12, 2021 8:14:08 PM_

[2021-01-12 22:36] Chiramisu opened #5223 "Request: Set Default .NET Version"
Please add the ability to set the Default .NET Version on Docs pages so when we arrive at a Docs page from a search engine or browsing around, it will always default to the version we set. Ideally this setting would be stored both as a cookie, and in our account settings if logged in.

[2021-01-13 19:58] #5158 closed

[2021-01-14 11:11] mahmoudshalsh opened #5235 "Remove remarks"
Typically one of the values defined by the AuthenticationTypes class.

AuthenticationTypes class is not found in .net core 3.1 or .net 5

#5235

[2021-01-14 11:14] mahmoudshalsh commented on #5235
#5236

[2021-01-14 21:08] osamakawish commented on #5206
Probably need to go to the api section itself...

[2021-01-14 21:08] #5206 closed

[2021-01-15 03:05] carlossanlop commented on #4975
@joelmartinez @TianqiZhang

[2021-01-15 05:20] agocke opened #5239 "Space used in UnmanagedMemoryAccessor.WriteArray is not documented"
The important bit of this issue is here: https://referencesource.microsoft.com/#mscorlib/system/runtime/interopservices/safebuffer.cs,334

`WriteArray` is specified to take an array and write it to an unmanaged buffer. However, the space used for each element of the array is not the standard `Marshal.SizeOf`, it's an internal-only `Marshal.SizeOfAligned`, which can be significantly different. This

[2021-01-15 21:50] gewarren commented on #5221
All instances have been removed; closing.

[2021-01-15 21:50] #5221 closed

[2021-01-16 02:08] Rick-Anderson opened #5243 "Move warning to top and fix problems with System.Drawing Namespace"
https://docs.microsoft.com/en-us/dotnet/api/system.drawing

[2021-01-16 10:56] Youssef1313 opened #5246 "Extension methods section isn't complete"
Extension methods section doesn't show when the multiple extension methods with the **same name** exists in **different namespaces**.

For example:

<https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.syntaxtoken?view=roslyn-dotnet>

It only shows "IsKind(SyntaxToken, SyntaxKind)" from <https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.csharpextensions.iskind?view=

[2021-01-18 02:20] tamlin-mike opened #5248 "XmlSerializerAssemblyAttribute documentation misleading"
https://github.com/dotnet/dotnet-api-docs/blob/a55e903fdecc19204365c71e581856cc99250611/xml/System.Xml.Serialization/XmlSerializerAssemblyAttribute.xml#L44

That seems to suggest it can only be used in a "Web service client proxy", which is completely wrong. It can be used anywhere a fixed set of XML data is to be (de) serialized, and you are willing to trade size for speed.

There are more such m

[2021-01-18 14:46] DotNetSparky opened #5250 "System.IO.Path - incorrect/inconsistent escaping of backslashes"
The doc pages for System.IO.Path do not correctly escape backslashes and result in incorrect information being rendered on the page. In some places, backslashes are not rendering at all, in other places too many are shown.

For example, in the Remarks section for GetPathRooth (https://docs.microsoft.com/en-us/dotnet/api/system.io.path.getpathroot):

CURRENT RENDERING:

* "X:" (Windows: path specif

[2021-01-18 16:47] jhudsoncedaron opened #5252 "Behavior of System.ComponentModel.Win32Exception.HResult does not match documentation"
https://github.com/dotnet/runtime/issues/46829#issuecomment-761520732

# Description

(new System.ComponentModel.Win32Exception(0x50)).HResult.ToString("X") output 0x80004005. From the documentation of Exception.HResult: we get "The HRESULT value" and "Gets or sets HRESULT, a coded numerical value that is assigned to a specific exception."

Spent some time debugging this before managing to reduce

[2021-01-18 23:13] danmosemsft opened #5253 "Obsoletion text in topic stopped not being rendered for .NET 5.0+"
Eg., for [Process.NonpagedSystemMemorySize Property](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.nonpagedsystemmemorysize?view=net-5.0) there is no indication it is obsolete (and has been for 10-15 years)

But if I change to the older versions I do see it: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.nonpagedsystemmemorysize?view=netcore-2.2. Th

[2021-01-18 23:14] danmosemsft commented on #5253
https://github.com/dotnet/runtime/pull/47137/files

[2021-01-19 02:08] gewarren commented on #5253
@danmosemsft This is a [bug in "mdoc"](https://ceapex.visualstudio.com/Engineering/_workitems/edit/322199) - the tool that generates the API docs. Hopefully it will be fixed and released in the next week, and we'll update the docs as soon as the fix is available.

Related to #5181.

[2021-01-19 03:16] danmosemsft commented on #5253
Oh missed the dupe thanks

[2021-01-19 03:16] #5253 closed

[2021-01-20 07:44] govert commented on #1683
This really is a huge complication when moving from .NET Framework -> .NET 5. Everything compiles without warning (even though the TargetPlatform is known at compile time) and runs fine until a runtime exception. The API documentation gives no indication of what parts of an API might not be supported.
My example today is the CodeDom compiler support, which is not supported in .NET Core see https:/

[2021-01-20 14:39] terrajobst commented on #1683
@govert

Good point. I have filed [this user story](https://github.com/dotnet/runtime/issues/47228), which would also ensure that shows up in the docs.

[2021-01-20 19:18] tannergooding commented on #1369
I'm not sure how much more the docs can be improved. The existing docs are effectively:
[code]

This is a correct and short explanation defining the semantics.

[2021-01-20 19:18] #1369 closed

[2021-01-20 19:20] tannergooding commented on #2817
This is an issue elsewhere in the pipeline. The source doc comments do correctly specify the underlying `T` where relevant: https://source.dot.net/#System.Private.CoreLib/Vector128.cs,257

[2021-01-20 22:51] ygoe opened #5267 "List.InsertRange O() is sometimes wrong"
I was interested in the computational work (only know the German term: Aufwand – is it "effort"?) for the generic List's `InsertRange` method. It looked suspicious because it accepts an `IEnumerable` whose count may not be known in advance. In my specific case, I can use `ToList` to provide that count. But I'll only do so if it helps.

The [documentation](https://docs.microsoft.com/en-us/dotnet/ap

[2021-01-21 21:00] #5243 closed

[2021-01-22 07:43] ratiwar opened #5271 "Specify MaxConnection in webjobs targeting .netcore 3.1"
We were using version 3.x of Azure web jobs SDK targeting .net framework 4.8(with .net core 2.1 packages). We had below section configured in app.config under <system.net>.

    <connectionManagement>
      <add address="*" maxconnection="500" />
    </connectionManagement>

After upgrade now we are targeting .net core 3.1(with .net core 3.1 packages) and now above config section is no longer vali

[2021-01-23 00:50] sharwell opened #5276 "WeakReference<T> is not documented as thread safe"
The `WeakReference<T>` type is thread safe, but the documentation does not indicate it.

https://github.com/dotnet/dotnet-api-docs/blob/2dbfa9dd8c35baa1d0f0ecc014fd394581947dc5/xml/System/WeakReference%601.xml#L1

It looks lik eth efollowing element can be added to include this detail:

[code]

For example:

https://github.com/dotnet/dotnet-api-docs/blob/dc599c5db9e3464765b4e8c319bc22e525f4eebf/xm

[2021-01-23 00:50] sharwell commented on #5276
/cc @stephentoub @jasonmalinowski

[2021-01-23 09:31] skrysmanski opened #5279 "Documentation for EqualityComparer<T> contains wrong remark"
The current version of the [documentation of `EqualityComparer<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.equalitycomparer-1?view=net-5.0) contains this in its "Remarks" section:

I think this statement is completely wrong. The [current (.NET 5) implementation of `EqualityComparer<T>`](https://github.com/dotnet/runtime/blob/6cf1b8ec012d52880d46fa4773f60ed52ddc9f3d/

[2021-01-25 18:28] BillWagner opened #5280 "Confusing/wrong remarks section of SslStream.SslProtocol property"
@cremor commented on [Fri May 25 2018](https://github.com/dotnet/docs/issues/5601)

The remarks section of the property SslStream.SslProtocol is confusing or wrong.

1. It says that a security protocol can be passed to the constructor of the SslStream. But I see no constructor that takes such an argument.
2. It says that SslProtocols.Default is the default value. But the documentation of SslProtoc

[2021-01-25 18:49] BillWagner opened #5281 "There's a very specific case in here..."
@StingyJack commented on [Sun May 27 2018](https://github.com/dotnet/docs/issues/5635)

... that an example would be beneficial. At least enough to contrast the difference between the MRE and MRES.

Also, "wait times are expected to be very short" is too subjective. Is this < 1ms or < 30 seconds or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-01-25 19:53] BillWagner opened #5282 "Asymptotic complexity of actions on .NET collections"
@PeteX commented on [Fri May 18 2018](https://github.com/dotnet/docs/issues/5474)

Hello,

I was wondering if it would be possible to expand the System.Collections documentation so it spells out the big-O cost of the different operations.  (Alternatively, it would be enough to state the underlying algorithm, because then the complexity is easy to determine.)

For example, I've just had a need for

[2021-01-26 16:31] #5220 closed

[2021-01-27 07:07] jwdonahue commented on #4052
I was so shocked when I read that doc, that I wrote a .NET Core 3.1 console app to test it, and was unable to duplicate the stated behavior. After finding this issue here, I targeted .NET 5.0 and was also unable to replicated that stated behavior. I find it incomprehensible that anyone would design a feature to behave as the doc specifies.  This documentation cost me several hours or development t

[2021-01-27 19:58] gewarren commented on #4052
I have a PR to update the remarks for each overload that takes a search pattern. How does this look?

![image](https://user-images.githubusercontent.com/24882762/106046348-febb9800-6096-11eb-8922-c84f2bd183bf.png)

[2021-01-27 21:06] Roald87 commented on #4052
Maybe also add a table with examples for both two and three character extensions for both .NETs. Then it is immediately clear that .NET Framework works not as expected.

For example:

| files               | searchPattern | .NET Core returns | .NET Framework returns |
|---------------------|---------------|-------------------|------------------------|
| file.ai, file.aif   | *.ai          | file.a

[2021-01-28 00:12] gewarren commented on #4052
@Roald87 Thanks, I incorporated the table. I think it's pretty unlikely that .NET Framework code will get changed at this point.

[2021-01-28 05:24] mageshsankar opened #5289 "More time delay occurs when getting attached properties using MarkupWriter"
I have trying to get the attached properties of a custom class which contain 1000 plus properties using MarkUpWriter. But when using MarkUpWriter for retrieving attached properties it causes more time delay. Please find the sample and screenshot regarding it below

 Can you please provide any work around solution for reducing time delay or any other solution for getting attached properties of an c

[2021-01-28 17:00] Forgind opened #5292 "Path.GetInvalidPathChars specifies the wrong characters"
I'm not sure if this is better as a docs bug or a product bug, but I imagine it would be a breaking change for a lot of people at this point.

The docs [here](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.IO/Path.xml) specify that "on Windows-based desktop platforms, invalid path characters might include ASCII/Unicode characters 1 through 31, as well as quote ("), less than (<),

[2021-01-28 18:57] #4052 closed

[2021-01-30 00:02] #4231 closed

[2021-02-01 18:12] safern commented on #5282
cc: @layomia and @eiriktsarpalis as the new System.Collections owners.

[2021-02-01 18:50] SamBent opened #5299 "AppContext doc has incorrectly formatted registry key"
The AppContext [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.appcontext?view=netcore-3.1#remarks), under subheading "AppContext for library consumers", describes several ways to set a switch. The third method uses the registry and mentions two registry keys.  Both keys are missing a backslash between "Microsoft" and ".NET":

**HKLM\SOFTWARE\Microsoft.NETFramework\AppContext**

[2021-02-02 17:25] eiriktsarpalis commented on #5282
I think it's useful to state this information in the docs. While it could be considered implementation detail, the asymptotic complexity of most collection operations is unlikely to ever change.

[2021-02-03 10:47] hakito opened #5307 "Wrong documentation for FUNCDESC"
https://github.com/dotnet/dotnet-api-docs/blob/572aa1043d7548acbd0281f99181b72d9b17a17e/xml/System.Runtime.InteropServices.ComTypes/FUNCDESC.xml#L416

I think the documetation is wrong here. According to https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-oaut/d3349d25-e11d-4095-ba86-de3fda178c4e it is an array of [ELEMDESC](https://docs.microsoft.com/en-us/openspecs/windows_protocols/

[2021-02-03 14:19] GF-Huang opened #5308 "PipeReader doc page should navigates developers to pipelines usage page"
This [page](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.pipereader?view=dotnet-plat-ext-5.0) should add something tell developers to see [System.IO.Pipelines in .NET](https://docs.microsoft.com/en-us/dotnet/standard/io/pipelines).

[2021-02-04 01:15] iUnknwn opened #5309 "UnixDomainSocketEndPoint Requirements on Windows Not Documented"
To use `UnixDomainSocketEndPoint` on Windows, the socket must be created with:

- AddressFamily.Unix
- SocketType.Stream
- ProtocolType.Unspecified

This isn't documented. Additionally, limitations of Unix domain sockets on Windows are also not documented (for example, you cannot have SOCK_DGRAM sockets on Windows (see https://github.com/dotnet/runtime/issues/24065)

Would it be possible to update

[2021-02-05 14:35] HeinziAT opened #5315 "Directory.Move: Undocumented exception"
Repro:

1. Create a directory `C:\temp\A`. Make sure that the directory `C:\temp\B` **does not exist.**
2. Execute `Directory.Move(@"C:\temp\A", @"C:\temp\B\C");`

Note that you get the following exception: `System.IO.DirectoryNotFoundException: Could not find a part of the path.`

However, the [documentation of Directory.Move](https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.move?v

[2021-02-08 00:46] WizardBrony opened #5318 "Incorrect statement in Remarks section of StructLayoutAttribute.Pack documentation"
The Remarks section of the `StructLayoutAttribute.Pack` documentation contains the following statement regarding the field:

https://github.com/dotnet/dotnet-api-docs/blob/733b2cecdd45ab3ed5efee2f001d9b07730f06e1/xml/System.Runtime.InteropServices/StructLayoutAttribute.xml#L265

According to a comment in an issue on the dotnet/runtime repo, `StructLayoutAttribute.Pack` does not apply to `LayoutKin

[2021-02-10 12:57] vitek-karas opened #5321 "AssemblyBuilder documentation for .NET Core/.NET 5 is stale"
Some of the information on the `AssemblyBuilder` class page: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Reflection.Emit/AssemblyBuilder.xml is describing the behavior of this API on .NET Framework not on .NET Core/.NET 5.

For example:
* All mentions of "saving the assembly" should be removed, the save functionality is not available in .NET Core
* > To get an AssemblyBuilder

[2021-02-10 14:00] fschmied commented on #5076
Could we get any information about whether the docs are actually correct and `None` means that "Key export is allowed without restriction"? How do you express "Key export is not allowed" if that's the case?

[2021-02-10 18:20] carlossanlop commented on #5318
Thanks for reporting this, @WizardBrony . Would you like to submit a PR to fix it?

[2021-02-11 00:52] WizardBrony commented on #5318
@carlossanlop Sure, I just submitted one.

[2021-02-11 19:37] gewarren commented on #5181
This is fixed now.

https://docs.microsoft.com/en-us/dotnet/api/system.executionengineexception?view=net-5.0

[2021-02-11 19:37] #5181 closed

[2021-02-13 00:50] gewarren opened #5332 "Document complexity of System.Linq.Lookup<TKey,TElement>"
---
**Issue moved from MicrosoftDocs/feedback#3425**
- Please respond to @EricAllen-tr.

---

_From @EricAllen-tr on Wednesday, January 27, 2021 10:29:13 PM_

I'm trying to find the approximate algorithmic complexity of Lookup's indexing operation, and it isn't to be found on https://docs.microsoft.com/en-us/dotnet/api/system.linq.lookup-2.item?view=netframework-4.5.1#System_Linq_Lookup_2_Item__0_

[2021-02-13 00:50] gewarren commented on #5332
---
**Issue moved from MicrosoftDocs/feedback#3425**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Wednesday, January 27, 2021 10:29:14 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.micro

[2021-02-14 19:41] #4400 closed

[2021-02-15 11:22] #3367 closed

[2021-02-16 01:08] apenn-msft opened #5338 "fix the conceptual docs mentioned in https://github.com/dotnet/dotnet-api-docs/pull/4640#issuecomment-690732459"
We should close this PR and instead fix the conceptual docs mentioned in https://github.com/dotnet/dotnet-api-docs/pull/4640#issuecomment-690732459

_Originally posted by @ManickaP in https://github.com/dotnet/dotnet-api-docs/issues/4640#issuecomment-778452417_

[2021-02-16 12:02] nicolasr75 opened #5340 "GetTempPath incompletely documented for Linux"
The GetTempPath API is documented as returning the value of TMPDIR on Linux.
In practice this variable does often not exist. It should definitely be mentioned in the docs that in this case the default path /tmp/ is returned! The code looks like this:

	public static string GetTempPath()
	{
		const string TempEnvVar = "TMPDIR";
		const string DefaultTempPath = "/tmp/";

		// Get the temp path from

[2021-02-16 17:57] mairaw opened #5341 "Something wrong for one of the examples for DateTimeFormatInfo.GetAllDateTimePatterns"
URL: https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo.getalldatetimepatterns?view=net-5.0

The second example on the page is supposed to show dates being unable to round trip. But when I was running the sample (both on try.dot.net and locally on a console app), the example is able to parse all of them.

So, the output looks like the following:
"Unable to round-tr

[2021-02-16 19:03] RamType0 opened #5342 "Confusing sentence in documentation of System.Runtime.CompilerServices.Unsafe.ReadUnaligned"
[The documentation](https://docs.microsoft.com/dotnet/api/system.runtime.compilerservices.unsafe.readunaligned?view=netcore-3.1) says that

What means "without assuming architecture dependent alignment of the addresses" ?
This sentence is really confusing.
When the first time I see this documentation, I thought that
"If we forget to assuming architecture dependent alignment of the addresses while

[2021-02-18 18:38] mimisasouvanh commented on #5017
@gewarren Each overload should have their own Applies To section now.

[2021-02-18 21:07] ILMTitan opened #5351 "Incorrect nullability on `TryParse`"
PR #5320 seems to have added a bunch of incorrect nullability markers on `TryParse` methods, where the value being parsed is a value type, e.g. `bool.TryParse`, `double.TryParse`.

[2021-02-20 04:17] captaindakkar opened #5353 "Semaphore C# sample code not demonstrating usage clearly"
Hi, in the C# code sample for Semaphore class usage, the main thread exits before the child threads complete execution. I suggest doing a Join() for all the child threads to keep the main thread alive and demonstrate the proper usage of semaphores. Perhaps by updating the code as follows, thanks.

    List<Thread> tl = new List<Thread>();
    for(int i = 1; i <= 5; i++)
    {
        Thread t = ne

[2021-02-23 02:38] gewarren commented on #5017
https://docs.microsoft.com/en-us/dotnet/api/system.string.indexof?view=net-5.0#System_String_IndexOf_System_Char_System_StringComparison_

[2021-02-23 02:38] #5017 closed

[2021-02-23 03:01] gewarren commented on #5351
@ILMTitan Thank you! I've opened an [internal issue](https://dev.azure.com/ceapex/Engineering/_queries/edit/379783/?triage=true) to address this.

[2021-02-24 16:03] hoshinokanade opened #5369 "CultureAndRegionInfoBuilder is not available in .NET core"
For .NET 5 (and .NET Core), there is no [CultureAndRegionInfoBuilder](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureandregioninfobuilder?view=netframework-4.8&viewFallbackFrom=net-5.0) class.
For workaround, [this issue from dotnet/runtime](https://github.com/dotnet/runtime/issues/23802) may be relevant.

The documentation on [CultureInfo](https://docs.microsoft.com/en-us

[2021-02-26 16:07] eiriktsarpalis commented on #5107
Tagging @pgovind @tannergooding for triage.

[2021-02-26 16:09] eiriktsarpalis commented on #5091
For the purposes of enhancing automation, I'm applying the `area-Infrastructure` tag to this.

[2021-02-26 16:10] eiriktsarpalis commented on #5035
Hi @slepmog, would you be interested in providing a PR that improves the issue?

[2021-02-26 16:11] eiriktsarpalis commented on #5006
Hi @mgrandi, would you be interested in contributing a PR that addresses the issue?

[2021-02-26 16:19] eiriktsarpalis commented on #3594
Tagging @gomathip02 @vatsan-madhavan who might be able to triage this.

[2021-02-26 16:21] eiriktsarpalis commented on #3591
Tagging @pgovind @tannergooding for triage.

[2021-02-26 16:21] eiriktsarpalis commented on #3579
Tagging @adamsitnik @carlossanlop @jozkee for triage.

[2021-02-26 16:23] eiriktsarpalis commented on #3571
cc @cartermp

[2021-02-26 16:32] slepmog commented on #5035
Hi @eiriktsarpalis, I believe this has been done! https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose#the-disposebool-method-overload lays out what you should be doing from your `Dispose`, so when you need to do any of that, you should implement `IDisposable`. That can be copied or even linked to the subject article.

[2021-02-26 16:33] eiriktsarpalis commented on #3572
Note that the particular example is specific to the `Distinct(IEnumerable<TSource>)` overload, and if you scroll a bit further down an `IEqualityComparer` example is being presented for the relevant overload. While I would support a PR correcting the language of "you have to implement the `IEquatable<T>` generic type", it is in fact the recommended way of implementing equality and more importantly

[2021-02-26 16:34] eiriktsarpalis commented on #3544
Tagging @adamsitnik @carlossanlop @jozkee for triage.

[2021-02-26 16:36] eiriktsarpalis commented on #2977
Tagging @pgovind @tannergooding for triage.

[2021-02-26 16:54] eiriktsarpalis commented on #2937
Note that even partial orders need to be compatible with equality, since it is required by [antisymmetry](https://en.wikipedia.org/wiki/Partially_ordered_set). Also, in practice most comparisons in programming need to be total orders, since it is a prerequisite for binary search.

My recommendation would be to always observe consistency between equality and comparison, and if a different ordering

[2021-02-26 16:57] eiriktsarpalis commented on #2937
Not sure if this is actionable from an API docs perspective though. Do you have a piece of documentation in mind that requires clarification on the matter?

[2021-02-26 16:59] eiriktsarpalis commented on #2672
Tagging @dotnet/ncl for triage.

[2021-02-26 16:59] eiriktsarpalis commented on #2651
Tagging @dotnet/ncl for triage.

[2021-02-26 17:05] peteroupc commented on #2937
This issue was a cross-post of another issue, and this was suggested in a [comment on that other issue](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3728#issuecomment-518744990).

The advice I seek to add could be added in the documentation for `IComparable<T>`, its `CompareTo` method, and/or the documentation for code analysis rule CA1036.

[2021-02-26 17:05] eiriktsarpalis commented on #2394
Tagging @HongGit for triage.

[2021-02-26 17:06] eiriktsarpalis commented on #2377
Tagging @buyaa-n @joperezr @krwq for triage.

[2021-02-26 17:08] tannergooding commented on #2977
Thanks! This repros on .NET Core using:
[code]

I'd like to investigate a bit more and determine "why" the value is being changed (I expect it might be due to the x87 FPU stack).

[2021-02-26 17:11] eiriktsarpalis commented on #5132
Presumably concerning this method? https://docs.microsoft.com/en-us/dotnet/api/system.drawing.graphics.measurestring?view=dotnet-plat-ext-5.0#System_Drawing_Graphics_MeasureString_System_String_System_Drawing_Font_System_Drawing_PointF_System_Drawing_StringFormat_

[2021-02-26 17:24] eiriktsarpalis commented on #5179
Does the C++ standard library have a section like that? At quick glance I couldn't find something. I agree we could have included this information in some places (collections jump to mind), but in others it's probably counterproductive.

[2021-02-26 17:41] eiriktsarpalis commented on #5152
While possible to define, I tend to regard such enumerables as pathological cases. On the other hand, best practices for consuming arbitrary enumerables mandate enumerating the source at most once, which is not compatible with the example at hand.

I'd support a PR that adds a clarification on "well-behaved" enumerables, even though I don't believe this to be an essential omission.

[2021-02-26 17:45] #5235 closed

[2021-02-26 17:47] rladuca commented on #3594
@eiriktsarpalis @ryalanms @SamBent or @fabiant3 are more appropriate at this time.

[2021-02-26 18:12] eiriktsarpalis commented on #1869
Related to #1870.

[2021-02-26 18:16] eiriktsarpalis commented on #1725
@gewarren Presumably these are auto-generated, so is this a probable tooling bug?

[2021-02-26 18:17] carlossanlop commented on #3579
Since an API documentation is shared for all the versions where that API existed, we need to keep remarks like this one, making sure we specify which API has such restriction.

Here's my suggestion: We can expand the remark and be more specific about which particular .NET versions had this restriction, as well as which OS/platforms have that restriction (if any).

@jyrkive @shdvr would any of you

[2021-02-26 18:42] gewarren commented on #1725
Thanks. I logged an internal issue here: https://dev.azure.com/ceapex/Engineering/_workitems/edit/382683

[2021-02-26 19:17] SamBent commented on #3594
On behalf of WPF team, I endorse Rob's [suggestion](https://github.com/dotnet/dotnet-api-docs/issues/3594#issuecomment-578227847).

I don't like the Oxford comma "... event handler, and Dispatcher...", but style and grammar are doc team's call.

[2021-02-26 19:28] mairaw commented on #3594
Oxford comma is Microsoft's style 😉
https://docs.microsoft.com/en-us/style-guide/punctuation/commas

I'd also change that slightly a bit
"Initializes a new instance of the DispatcherTimer class **that** uses the specified time interval, priority, event handler, and Dispatcher, **and** then calls Start()"

[2021-02-26 19:30] wfurt commented on #2651
SendAsync uses internal state stored in the object to process the async state. SendPingAsync simply returns the task and it is api to the caller to deal with it.

[2021-02-26 20:29] SamBent commented on #3594
Even better.  I was more bothered by two commas near each other but in different roles, not so much that one of them was Oxford.  Your suggestion addresses that better than mine.

[2021-02-27 13:49] svick commented on #5179
@eiriktsarpalis The documentation at cppreference.com does, [for example](https://en.cppreference.com/w/cpp/algorithm/sort#Complexity):

![](https://user-images.githubusercontent.com/287848/109389042-e85d6200-790a-11eb-9acf-ba05e67caaf8.png)

[2021-03-01 07:43] krwq commented on #2377
At this point I do not have strong preference if this behavior should be fixed or documented. Fix seems low priority to me given it affects XmlDocument and there is a workaround but we should make a decision and either document it or move it back to the issue backlog.

@mklement0 would you be interested in providing the fix assuming we decide on fixing it?

[2021-03-01 14:18] mklement0 commented on #2377
@krwq, re my providing a fix: sounds good.

[2021-03-01 19:28] jongleur1983 opened #5385 "Constraints on WPF CollectionContainer.Source"
After some research I found out why my bindings on a CollectionContainer (see https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Windows.Data/CollectionContainer.xml ) don't work.
Found a workaround in https://social.msdn.microsoft.com/Forums/vstudio/en-US/b15cbd9d-95aa-47c6-8068-7ae9f7dca88a/collectioncontainer-does-not-support-relativesource?forum=wpf and I'm not sure this is fixed

[2021-03-02 16:31] antonfirsov commented on #5385
Tagging area owners: @ryalanms @SamBent @fabiant3

[2021-03-02 17:46] SamBent commented on #5385
@jongleur1983 - The constraints you're asking about aren't specific to CollectionContainer;  they apply to any binding whose target doesn't belong to the visual tree, or whose connection to the visual tree is undetermined or ambiguous.  That information is best documented with the binding type, in your case at https://docs.microsoft.com/en-us/dotnet/api/system.windows.data.binding.relativesource?v

[2021-03-02 20:15] jongleur1983 commented on #5385
@SamBent I know it's not specific, and I could have suggested to add that wherever it applies.
I now know what's the basic cause here, but how to find out from code?
- hey, there's this class that could combine multiple collections to one, sounds cool.
- to add a collection we have to define the collection by a CollectionContainer. Docs say, we should use the binding syntax.
- fails with an except

[2021-03-02 23:30] brphelps opened #5389 "TaskScheduler's UnobservedTaskException doc is confusing for .Net Core vs. .Net classic"
Let me preamble with: I am perfectly happy to PR a proposed change if I get a green light :).

I'm looking at:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskscheduler.unobservedtaskexception?view=net-5.0

I think this doc is losing a lot of clarity because it's talking about .Net classic and .Net core at the same time -- It appears as if the Application.config XML can be u

[2021-03-03 06:40] cartermp commented on #3571
@jpierson Sorry for not getting back about this (it's been a while, eh?)

I think we'd love to see contributions if you're still up for it! I'll happily review them, so if you're still interested, please tag me and I'll take a look.

[2021-03-03 11:50] mgrandi commented on #5006
I can attempt to sure

[2021-03-03 16:58] #5189 closed

[2021-03-03 18:19] buyaa-n commented on #2377
[Triage] Thanks @mklement0, we are Ok with fixing this issue

[2021-03-03 19:58] mairaw commented on #2624
@BillWagner @gewarren can we make sure that .NET 5 has more weight than .NET Platform Extensions? If both are available, .NET 5 should be the one selected.

But this is not what's happening if I go to https://docs.microsoft.com/en-us/dotnet/api/system.io.fileformatexception

The order on OPS should be higher for .NET 5:
![image](https://user-images.githubusercontent.com/12971179/109864516-c8ce7e00

[2021-03-03 20:01] mairaw commented on #1397
Definition is there. @dotnet/docs needs to decide whether an example should be added or not.

[2021-03-03 20:05] mairaw commented on #2209
I believe this was resolved by @carlossanlop with PR #2671

[2021-03-03 20:05] #2209 closed

[2021-03-03 20:12] mairaw commented on #1107
I can't find a public API named OpenSsl under System.Security.Cryptography so closing this issue.

https://source.dot.net/#q=openssl

[2021-03-03 20:12] #1107 closed

[2021-03-03 20:26] mairaw commented on #805
@mimisasouvanh I see that you cut https://ceapex.visualstudio.com/Engineering/_workitems/edit/228198. Any chance of picking that back up?

[2021-03-03 20:32] mairaw commented on #766
The definitions were added to the docs a while back. Given the low number of visits to this particular API, I think the probability of getting an example added would be low, so closing this.

[2021-03-03 20:32] #766 closed

[2021-03-04 00:47] mimisasouvanh commented on #805
@mairaw Do you know of any other requests for these type of files?

[2021-03-04 00:49] mairaw commented on #805
No @mimisasouvanh - we just never finished the migration completely without supporting these

[2021-03-04 03:47] gewarren commented on #2624
@mairaw I made the following changes:

![image](https://user-images.githubusercontent.com/24882762/109908538-53839d00-7c59-11eb-96af-6a16ea5e4a95.png)

[2021-03-04 10:15] krwq commented on #2377
I've reopened dotnet/runtime issue https://github.com/dotnet/runtime/issues/28218 and closing this one in that case.

[2021-03-04 10:15] #2377 closed

[2021-03-04 12:49] antonfirsov commented on #5389
@brphelps if I'm not mistaken, app.config can actually work through NuGet.

Unfortunately I'm not familiar enough with this area, (maybe @carlossanlop can comment), if it's a simple change, feel free to raise a PR and discuss the details there.

[2021-03-04 20:20] mairaw commented on #2624
Thanks @gewarren. I think with that, we can close this issue.

[2021-03-04 20:20] #2624 closed

[2021-03-04 20:55] gewarren opened #5392 "Default branch will be renamed to main"
On March 5th, 2021, we're going to rename the default branch in this repository to main. For more details, see [dotnet's earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-03-04 23:06] Chiramisu commented on #5223
Thank you @gewarren. I hope this gets some attention soon. If there's something we plebs can do, just let us know. 😋

[2021-03-05 20:37] anreton opened #5408 "InternalsVisibleToAttribute doesn't work for private protected access modifier"
**Version Used**:
Microsoft Visual Studio Community 2019 Version 16.9.0
.NET 5.0

**Steps to Reproduce**:

1. Create two assembly with two classes inside each assembly.

AssemblyA:
[code]

AssemblyB:
[code]

2. Get an error when trying to access the Baz property:

**Expected Behavior**:
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.internalsvisibletoattribute?view=net

[2021-03-05 21:14] #5307 closed

[2021-03-05 23:04] gewarren commented on #5392
The branch renaming is complete.

If you have a fork and/or local clone, here are the steps you need to take:

1. Navigate to your fork on GitHub, go to the Settings tab, then the Branches tab, and then under Default branch, click the pencil icon to rename the default branch to main.
2. If you have a local clone, run the following commands in Git Bash:

[code]

[2021-03-06 02:44] KevinZonda opened #5397 "Socket.ReceiveMessageFrom seems is not implement in Xamarin.Android"
Xamarin.Android:

![image](https://user-images.githubusercontent.com/33132228/110192261-cbea8980-7e24-11eb-9f7f-20de48dfb857.png)

It is an almost empty method in Mono, totally different from .NET framework one:

![image](https://user-images.githubusercontent.com/33132228/110192298-02280900-7e25-11eb-9b45-5b8db0dc00a1.png)

So, what I recommend is removeing at least Xamarin.Android from the Apply

[2021-03-08 08:38] #3579 closed

[2021-03-08 09:11] #5340 closed

[2021-03-08 10:20] #4397 closed

[2021-03-08 16:48] antonfirsov commented on #5397
@akoeplinger (sorry in advance that I'm missing couple of key points here):
do you know where does this exception come from? Shouldn't it be a PNSE instead? Is there any way/initiative to document which types are unsupported on Xamarin?

 /cc @gewarren for the last question.

[2021-03-08 17:14] KevinZonda commented on #5397
No, it's not a PNSE. TraceTrack from my Xamarin.Android project:

[code]

STUN is a .NET Standard library 2.0, you can access at here: <https://github.com/HMBSbige/NatTypeTester/>

I use this library in a Xamarin.Android project. The exception is throw at L67, which is:

[code]

[2021-03-08 17:51] antonfirsov commented on #5397
@KevinZonda my questions were addressed to @akoeplinger who is area-owner for Xamarin-related stuff.

[2021-03-08 20:14] eerhardt commented on #4827
This will be fixed in `net6.0` - we are adding back `EnumBuilder.CreateType()` in https://github.com/dotnet/runtime/pull/49319

[2021-03-09 01:10] gewarren commented on #5397
@antonfirsov Not that I know of. We have this page that lists APIs that throw PNSE on various platforms. Also, if the API is decorated with `SupportedOSPlatformAttribute` then that would info show up in the syntax/definition code box. cc @davidbritch

[2021-03-09 17:56] antonfirsov commented on #5289
@mageshsankar is this a documentation issue or rather a problem with the product itself? If it's a problem with docs, can you pleas provide more info about the deviation of actual behavior from what's being documented?

[2021-03-09 18:07] antonfirsov commented on #5281
@StingyJack @BillWagner can you please describe the suggestions you would apply to to `ManualResetEvent` docs?

The issue description became very noisy after all the repository transfers, very hard to figure out the original intention now. The title is also very cryptic in it's current form.

[2021-03-09 21:11] #5392 closed

[2021-03-10 11:07] antonfirsov opened #5404 "Document WinHttpHandler trailing header feature"
We should document the new WinHttpHandler trailing header management feature (https://github.com/dotnet/runtime/issues/44778) as impemented in https://github.com/dotnet/runtime/pull/48704.

I recommend to add the docs to the [Remarks section](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.winhttphandler?view=dotnet-plat-ext-5.0#remarks).

Key points:
- Currently works only on Windows

[2021-03-10 18:12] Forgind opened #5407 "Path.Combine incorrect exception"
https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System.IO/Path.xml
https://docs.microsoft.com/en-us/dotnet/api/system.io.path.combine?view=net-5.0&source=docs
I made a simple console app with:
[code]

and it ran without throwing an exception, which is not what the docs said would happen.

[2021-03-10 20:16] #5318 closed

[2021-03-11 04:37] gewarren opened #5411 "Fix inheritdoc warnings"

[2021-03-11 05:05] fbaba-nibtravel commented on #911
Does anyone know the answer to this question? What's the behaviour when the timeout is set to 0? Does it timeout instantly or it never times out?

[2021-03-11 17:53] brphelps commented on #5389
@antonfirsov What does it mean "app.config can actually work through NuGet"? App.config is a framework notion in .net classic but not in .net core, right?

[2021-03-11 18:51] StingyJack commented on #5281
@antonfirsov I think it was pretty clear from the first few messages what the issue was about

[2021-03-11 18:51] tdykstra opened #5414 "system.object.gettype example describes type(long) as 32-bit integer"
---
**Issue moved from MicrosoftDocs/feedback#3524**
- Please respond to @jstraw45.

---

_From @jstraw45 on Tuesday, March 2, 2021 2:47:52 PM_

Object.GetType Method (at https://docs.microsoft.com/en-us/dotnet/api/system.object.gettype?view=net-5.0) discusses using the GetType method to determine the type of a particular object. Within the example, the test to check whether the value is a long cl

[2021-03-11 20:35] carlossanlop commented on #5292
I see what the problem is. Whoever documented this API's remarks, copied them directly from `Path.GetInvalidFileNameChars`, which _does_ return the set of characters you described.

The remarks for `GetInvalidPathChars` needs to be updated to list the correct list of characters.

`Path.GetInvalidFileNameChars()`
[dotnet/runtime/src/libraries/System.Private.CoreLib/src/System/IO/Path.Windows.cs#L19

[2021-03-11 22:17] richardrob24 opened #5416 "Mistake in ComboBox.AutoCompleteMode Remarks"
The remarks for the ComboBox.AutoCompleteMode property mistakenly references the ComboBoxStyle enum instead of the DropDownStyle property.

[2021-03-12 05:47] mq00fc opened #5423 "Regarding the question of whether to add regionalized languages in .net6.0"
Is there any plan to add a description plan for class libraries that include Japanese/Korean/Chinese in .net 5.0 or 6.0?
Thanks!
![8_ VP1 JR2_1FOKR49{P@GV](https://user-images.githubusercontent.com/50408721/110898048-7e48b200-8339-11eb-838c-55a03b6a84e3.png)

[2021-03-12 10:43] twylite opened #5422 "Regex examples should use "\z" not "$" for end-of-string"
The documentation for `Regex.IsMatch` (in [Regex.xml](https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System.Text.RegularExpressions/Regex.xml)) includes an example pattern `^[a-zA-Z0-9]\d{2}[a-zA-Z0-9](-\d{3}){2}[A-Za-z0-9]$`. It describes the trailing "$" as "End the match at the end of the line". This is not entirely accurate: [Anchors in Regular Expressions](https://docs.microsoft.com/

[2021-03-12 11:35] antonfirsov commented on #5423
@mq00fc can you be more specific on what do you mean? As your screenshot demonstrates, there are translations for the 3 languages you mentioned.

[2021-03-12 13:27] antonfirsov commented on #5414
VB example was also wrong. Fixes filed: #5424 #5425

[2021-03-12 13:29] antonfirsov commented on #5416
/cc @RussKie

[2021-03-12 13:31] antonfirsov commented on #5422
Tagging area owners @pgovind @tannergooding

[2021-03-12 14:30] #5414 closed

[2021-03-12 16:04] antonfirsov commented on #5279
Tagging @eiriktsarpalis @layomia as area owners.

[2021-03-12 16:05] antonfirsov commented on #5276
Tagging area owners @pgovind @tannergooding

[2021-03-12 16:15] antonfirsov commented on #5271
@ratiwar any chance you can migrate to `HttpClient`? You can configure [`SocketsHttpHandler.MaxConnectionsPerServer`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler.maxconnectionsperserver?view=net-5.0) for your handler.

/cc @dotnet/ncl

[2021-03-12 18:16] carlossanlop commented on #898
The stackoverflow link does not exist. I'm closing this issue, but if you still have some questions, please open a new issue with the details in the description.

[2021-03-12 18:16] #898 closed

[2021-03-12 19:01] gewarren opened #5427 "Backport numerics doc updates"
These docs were already backported to dotnet/runtime before #5387 was merged.

_Originally posted by @gewarren in https://github.com/dotnet/dotnet-api-docs/issues/5387#issuecomment-797127939_

[2021-03-12 19:13] gewarren commented on #4177
This is actually a dupe of #3699.

[2021-03-12 19:13] #4177 closed

[2021-03-12 19:13] gewarren commented on #3699
The breaking change was added in https://github.com/dotnet/docs/pull/18168. The API docs still need to be updated.

[2021-03-12 19:17] jnm2 opened #5428 "UnhandledExceptionEventArgs.ExceptionObject docs say it might not be an exception instance, seemingly incorrectly"
https://docs.microsoft.com/en-us/dotnet/api/system.unhandledexceptioneventargs.exceptionobject#remarks:

But this seems to disagree with https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimewrappedexception#remarks which says:

So I tested it, and guess what? `UnhandledExceptionEventArgs.ExceptionObject` seems to always be wrapped no matter what you do:

[code]

![ima

[2021-03-12 19:53] richardrob24 commented on #5416
This is a fairly trivial change. I can probably manage the fix myself, I'm just wary of getting a process wrong. Can I just make a branch for this ticket and create a PR when I'm done?

[2021-03-12 20:59] #801 closed

[2021-03-12 20:59] #5292 closed

[2021-03-12 22:08] mairaw commented on #5423
Are you talking about IntelliSense files @mq00fc?

[2021-03-13 01:12] gewarren opened #5431 "API browser can increase the display of API differences between different versions"
---
**Issue moved from MicrosoftDocs/feedback#3517**
- Please respond to @raven15.

---

_From @raven15 on Thursday, February 25, 2021 7:56:08 AM_

**Is your feature request related to a problem? Please describe.**
API differences between different versions or frameworks cannot be compared。

**Describe the solution you'd like**
This is very useful for developers who are familiar with the old versi

[2021-03-13 01:12] gewarren commented on #5431
---
**Issue moved from MicrosoftDocs/feedback#3517**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Thursday, February 25, 2021 7:56:10 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.micros

[2021-03-13 01:18] gewarren opened #5432 "Boolean.TrueString french documentation (auto translated) indicates a slighlty wrong value"
---
**Issue moved from MicrosoftDocs/feedback#3511**
- Please respond to @Tecknoth.

---

_From @Tecknoth on Wednesday, February 24, 2021 11:51:39 AM_

The french translation of the documentation for Boolean.TrueString is mentioning in Remarks that the field value is equal to "true" ; which is wrong : the value is actually "True". Although not very critical, this might be a bit confusing.

The err

[2021-03-13 01:18] gewarren commented on #5432
---
**Issue moved from MicrosoftDocs/feedback#3511**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Wednesday, February 24, 2021 11:51:40 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.micr

[2021-03-13 01:22] gewarren opened #5433 "In HttpWebRequest Class Page, the Table about Http Headers shouldn't be translated. label:"Linguistic Issue""
---
**Issue moved from MicrosoftDocs/feedback#3500**
- Please respond to @Orange23333.

---

_From @Orange23333 on Friday, February 19, 2021 12:52:54 PM_

**Is your feature request related to a problem? Please describe.**
In HttpWebRequest Class Page, the following Table about Http Headers shouldn't be translated.
for that we can clearly understand the relationships between the origin words of `标头

[2021-03-13 01:22] gewarren commented on #5433
---
**Issue moved from MicrosoftDocs/feedback#3500**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Friday, February 19, 2021 12:52:55 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microso

[2021-03-13 01:36] gewarren commented on #3777
This was fixed in https://github.com/dotnet/dotnet-api-docs/pull/4195.

[2021-03-13 01:36] #3777 closed

[2021-03-13 01:40] gewarren commented on #3902
Pretty sure this is a dupe of #3901.

[2021-03-13 01:40] #3902 closed

[2021-03-15 17:14] antonfirsov commented on #5428
Assigning to area owners: @pgovind @tannergooding

[2021-03-15 17:19] antonfirsov commented on #5431
Tagging area owners: @joelmartinez @TianqiZhang

[2021-03-15 22:06] RussKie commented on #5416
@richardrob24 yes :)
Holler if you get stuck.

[2021-03-17 06:02] dcuccia opened #5442 "ExpandoObject docs need nullable reference type updates"
Noticed that the signatures for [ExpandoObject](https://github.com/dotnet/runtime/blob/79ae74f5ca5c8a6fe3a48935e85bd7374959c570/src/libraries/System.Linq.Expressions/src/System/Dynamic/ExpandoObject.cs) have not been updated in [the docs](https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System.Dynamic/ExpandoObject.xml) to reflect the nullable (`object?`) references. Need to add ? (html cod

[2021-03-18 09:04] DaDuStMaN20 opened #5445 "The CloseReason.TaskManagerClosing description is no longer accurate."
TL;DR: The name and the description are no longer accurate because the task manager no longer triggers that close reason.

It appears that as of Windows 8.1, task manager no longer sends the WM_CLOSE message. According to a question/answer on stack overflow, the new task manager does not use WM_CLOSE anymore. It either uses just TerminateProcess() or a "UserClosing" and a TerminateProcess() after

[2021-03-19 17:14] carlossanlop commented on #1411
Since we have been porting missing documentation from runtime to dotnet-api-d0cs, we already documented these APIs.

[2021-03-19 17:14] #1411 closed

[2021-03-19 17:34] carlossanlop commented on #955
Seems this issue is solved because I searched for AsTask and the first link was [the expected one](https://docs.microsoft.com/en-us/dotnet/api/system.windowsruntimesystemextensions.astask?view=dotnet-plat-ext-3.1):

https://docs.microsoft.com/en-us/search/?terms=astask&category=Reference&scope=.NET

[2021-03-19 17:34] #955 closed

[2021-03-19 17:36] carlossanlop commented on #953
@Thraka I'm closing this issue (for reals now 😄), since you gave an answer.

[2021-03-19 17:36] #953 closed

[2021-03-19 17:38] carlossanlop commented on #5432
@JasonCard is this a localization issue for your team?

[2021-03-19 17:44] carlossanlop commented on #1749
@davidfowl

[2021-03-19 17:45] carlossanlop commented on #1754
@davidfowl @halter73 @jkotalik

[2021-03-19 17:46] carlossanlop commented on #1756
@tannergooding @pgovind

[2021-03-19 17:47] carlossanlop commented on #1759
@eiriktsarpalis @layomia @steveharter

[2021-03-19 17:50] carlossanlop commented on #1764
Hi @ziron999 ,

We are not adding new features to .NET Framework, but this request could potentially be addressed in .NET Core.

@tannergooding @pgovind own that area and can comment on this, and can help with a workaround for your problem, and even guide you to suggest a new API proposal if necessary.

[2021-03-19 17:51] carlossanlop commented on #1766
The request is not clear. Closing.

[2021-03-19 17:51] #1766 closed

[2021-03-19 17:56] carlossanlop commented on #5283
@gewarren moving this to the right repo

[2021-03-19 18:00] carlossanlop commented on #2290
Seems to be an "Applies To" problem, @gewarren @mimisasouvanh @joelmartinez . Can you please take a look? Should we mention UWP in the table?

[2021-03-19 18:03] carlossanlop commented on #2053
@gewarren is this something that needs to be addressed in batch in all the xml files mentioning unsupported Windows versions?

[2021-03-19 18:05] carlossanlop commented on #2151
@gewarren @joelmartinez @mimisasouvanh seems like an infra issue with how the F# signature is generated. Do we have an existing internal issue tracking this?

[2021-03-19 18:07] carlossanlop commented on #2370
@mairaw what does "Make editorial updates" mean? Does it mean "adding missing documentation? Did my [autoporting issue](https://github.com/dotnet/dotnet-api-docs/pull/2319) solve the problem?

[2021-03-19 18:24] carlossanlop commented on #1284
The APIs in `System.Json` have been obsoleted, and we discourage their usage. We strongly suggest you use the APIs in `System.Text.Json` instead, which is a fast and efficient new set of APIs for handling Json data.

[2021-03-19 18:24] #1284 closed

[2021-03-19 19:16] halter73 commented on #1754
Are we talking about the [same page](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.pipereader.onwritercompleted?view=dotnet-plat-ext-2.1)?  I'm not seeing that. That looks like the description of CancelPendingRead which [looks accurate.](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.pipereader.cancelpendingread?view=dotnet-plat-ext-2.1)

[2021-03-19 19:31] gewarren commented on #2290
@carlossanlop The table is autogenerated. The root issue is likely that the assembly wasn't included in the dotnet-uwp-10.0 folder of the binaries repo when the UWP 10.0 APIs were imported.  @mairaw Were you involved with that? Is there a master list somewhere of which assemblies should go in that folder?

[2021-03-19 19:40] corytodd commented on #1754
The docs have since been fixed. The issue was referencing the documentation [when it was in this state](https://github.com/dotnet/dotnet-api-docs/blob/a5d251bd2680a48e4bf8ae027e267602e4c6d139/xml/System.IO.Pipelines/PipeReader.xml#L163). The fixed version we now see was introduced [in this PR](https://github.com/dotnet/dotnet-api-docs/pull/2842/files).

The method is now obsolete but the docs are

[2021-03-19 23:09] gewarren commented on #2053
@danmoseley Do we need to keep exception documentation such as this?

`<exception cref="T:System.NotSupportedException">Not supported for Windows 98 or Windows Millennium Edition.</exception>`

[2021-03-19 23:17] danmoseley commented on #2053
@gewarren no, we do not need to document that unless our document is intended for users of .NET Framework 2.0 or earlier, which I believe is out of support.

[2021-03-19 23:25] gewarren commented on #2053
Yes, .NET Framework 2.0 is 10 years out of support - https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-framework.

[2021-03-22 06:15] Rubix982 opened #5449 "HttpClient.xml seems to have an example not properly supported with C# 9.0, shipped with `dotnet 5.0.201`"
Hello!

I was looking to implement some HTTP request methods, and I found `HttpClient`.

A great code example is here HttpClient Class, specifically, taking a look at the code example below,

[code]
It seems like this is written in some deprecated form - the current `dotnet` does not like `static`, `readonly`, and that `async` without a proper await.

Update would be appreciated. Thank you for you

[2021-03-22 16:45] JasonCard commented on #5432
@carlossanlop @gewarren The English source text is "This field is equal to the string "True".", so it seems to be that this feedback is for the English source text. French translation is machine translated, but appears to be correctly translated.

[2021-03-22 16:53] Tecknoth commented on #5432
Hi @JasonCard , sorry but no, the machine translation get rid of the Pascal casing here, which means that 'True' appears to be converted to 'true' in the french generated page ; you might say that it's similar, but from a code point of view, it is not.
This might have consequences regarding the usage of the TrueString constant, because the correct value ('True') is actually equal to True.ToString(

[2021-03-22 17:34] JasonCard commented on #5432
@Tecknoth Thank you for the clarification.
@carlossanlop @gewarren To preserve the capitalization of "True" in translation, could you please apply the code format like `True` to English source?

[2021-03-22 19:57] #5432 closed

[2021-03-23 00:12] tarekgh opened #5454 "Clarify the usage of DistributedCacheEntryOptions options in the Microsoft.Extensions.Caching.Distributed.IDistributedCache"
The `DistributedCacheEntryOptions options` is been passed as a parameter to multiple methods of the `IDistributedCache` interface. It is not clear in the docs how `options` should use? should it be used as read-only and not mutated? or should allow mutating it. The contract doc should be explicit about that.

[2021-03-23 00:49] mairaw commented on #2290
There's no master list AFAIK. @safern would usually produce the assemblies for me.

[2021-03-23 00:55] mairaw commented on #2370
I think we can close this. Looking at a commit from back in the day, this class was mostly empty and that's not the case anymore.

[2021-03-23 00:55] #2370 closed

[2021-03-23 05:18] KalleOlaviNiemitalo opened #5456 "Guid.TryParseExact("+0xabbbb-+0xa-+0xb-+0xa-+0xbaaaabbbb", "D", out _) returns true"
### Description

Tested with PowerShell 7.1.3, which uses .NET 5.0.4:

[code]

I expect that Guid.TryParseExact should return false because "+0xabbbb-+0xa-+0xb-+0xa-+0xbaaaabbbb" is not in the format that Guid.ToString("D") would return. Guid.TryParseExact should allow "+" and "0x" prefixes only when the `format` argument is "X".

### Configuration

.NET 5.0.4 on Microsoft Windows 10.0.19042 x64

[2021-03-23 06:25] mq00fc commented on #5423
@mairaw @antonfirsov
I'm sorry that my English is not very good. What I mean is that the local language (Chinese/English) will be displayed when the mouse moves to the system method on .netframework, but only English in .net5.0. Is there any plan to add it?

[2021-03-23 18:25] mairaw commented on #5423
No need to apologize @mq00fc. Yes, that's called IntelliSense.

Yes, you can have local language to be displayed for .NET 5 as well:
https://docs.microsoft.com/dotnet/core/install/localized-intellisense

I'll close the issue for now but let us know if you have more questions about it.

[2021-03-23 18:25] #5423 closed

[2021-03-24 02:30] #2053 closed

[2021-03-24 22:22] mconnew opened #5472 "AppContextSwitch documentation is incorrect for .NET Core/.NET 5"
The documentation [here](https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System/AppContext.xml) is mostly incorrect when not running on .NET Framework. .NET Core/.NET 5 don't check a config file or the Windows registry for switches.

[2021-03-27 09:15] #1043 closed

[2021-03-28 08:09] GF-Huang opened #5480 "Outdated/Error example"
![image](https://user-images.githubusercontent.com/4510984/112746162-ccb7ab00-8fdf-11eb-804f-457306f65c29.png)

[code]

[2021-03-29 00:22] penenkel opened #5481 "IHostApplicationLifetime documentation on released artifacts does not match source"
Perhaps I'm am missing something obvious here, but I noticed, that the doc-comment on `IHostApplicationLifetime.ApplicationStopping` in the current artifacts does not match the one that is present in the source code.

With current artifacts I am referring to https://www.nuget.org/packages/Microsoft.Extensions.Hosting.Abstractions/5.0.0
and also https://docs.microsoft.com/en-us/dotnet/api/microsoft

[2021-03-29 00:34] maryamariyan commented on #5481
Good catch!

It seems like the merged extensions PR from Feb 2020 (https://github.com/dotnet/extensions/pull/2963) updated the dotnet/runtime triple slash docs, but since dotnet-docs-api is the source of truth for docs and at the moment, what you see in the docs page is the out of date content.

Would you like to open up a PR to fix that? It should be as easy as clicking on `Edit` on the top right

[2021-03-29 01:35] ketrex2 opened #5482 "Clarify MemoryCacheOptions.SizeLimit doc comments"
Currently, the property summary for the MemoryCacheOptions.SizeLimit property is:

[code]
It would be nice if this explicitly provided the unit of measure (bytes, kilobytes, etc.). Like this:
[code]

[2021-03-29 18:42] gewarren opened #5483 "ZipFile.ExtractToDirectory(string, string, bool) incorrectly states destination directory cannot exists"
---
**Issue moved from dotnet/docs#23513**
- Please respond to @UpperAvenue.

---

_From @UpperAvenue on Friday, March 26, 2021 8:14:46 PM_

**Issue description**

[ZipFile.ExtractToDirectory(string, string, bool) documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfile.extracttodirectory?view=net-5.0#System_IO_Compression_ZipFile_ExtractToDirectory_System_String_Sy

[2021-03-29 21:50] penenkel commented on #5481
Are all those .xml files hand-written? I would have expected them to be auto-generated from doc-comments like they usually are. Don't you have some kind of process to regenerate them periodically?

[2021-03-29 23:19] #1754 closed

[2021-03-30 00:14] maryamariyan commented on #5481
/cc @carlossanlop who is more up to date on where we are with syncing triple slash comments in source code and the content in this docs repo.

[2021-03-30 00:33] mairaw opened #5485 "Update examples using String.Copy?"
Example URL: https://docs.microsoft.com/en-us/dotnet/api/system.action-3?view=net-5.0

Compiling the samples on that page give a warning:
string.Copy(string)' is obsolete: 'This API should not be used to create mutable strings. See https://go.microsoft.com/fwlink/?linkid=2084035 for alternatives.'

[2021-03-30 06:29] Jozkee commented on #5483
Seems like the documentation for that particular exception could be improved to reflect its interaction with the `overwriteFiles` param.

@UpperAvenue would you be interested in sending a PR proposing a fix for it?

[2021-04-01 02:41] github-actions[bot] opened #5493 "Update 1 projects in StrokeCollectionMethods.sln to LTS (or current) version"
There are 1 projects in *StrokeCollectionMethods.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StrokeCollectionMethods.vbproj](../b

[2021-04-01 02:42] github-actions[bot] opened #5494 "Update 1 projects in StrokeSnippets_VB.sln to LTS (or current) version"
There are 1 projects in *StrokeSnippets_VB.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StrokeSnippets_VB.vbproj](../blob/main/sam

[2021-04-01 02:42] github-actions[bot] opened #5495 "Update 1 projects in AltnerationIndexSnippets.sln to LTS (or current) version"
There are 1 projects in *AltnerationIndexSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [AltnerationIndexSnippets.csproj](..

[2021-04-01 02:42] github-actions[bot] opened #5496 "Update 1 projects in FlowDocumentSnippets.sln to LTS (or current) version"
There are 1 projects in *FlowDocumentSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [FlowDocumentSnippets.csproj](../blob/ma

[2021-04-01 02:42] github-actions[bot] opened #5497 "Update 2 projects in FindTextSolution.sln to LTS (or current) version"
There are 2 projects in *FindTextSolution.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [FindTextClient.vbproj](../blob/main/samples

[2021-04-01 02:42] github-actions[bot] opened #5498 "Update 2 projects in FindTextSolution.sln to LTS (or current) version"
There are 2 projects in *FindTextSolution.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [FindTextClient.csproj](../blob/main/samples

[2021-04-01 02:42] github-actions[bot] opened #5499 "Update 1 projects in DrawingAttributesSample.sln to LTS (or current) version"
There are 1 projects in *DrawingAttributesSample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [DrawingAttributesSample.csproj](../b

[2021-04-01 02:42] github-actions[bot] opened #5500 "Update 1 projects in ContentStringSnippets.sln to LTS (or current) version"
There are 1 projects in *ContentStringSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [ContentStringSnippets.csproj](../blob/

[2021-04-01 02:42] github-actions[bot] opened #5501 "Update 1 projects in HyperlinkSnippets.sln to LTS (or current) version"
There are 1 projects in *HyperlinkSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [HyperlinkSnippets.csproj](../blob/main/sam

[2021-04-01 02:42] github-actions[bot] opened #5502 "Update 1 projects in BindingGroupSnippets.sln to LTS (or current) version"
There are 1 projects in *BindingGroupSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [BindingGroupSnippets.csproj](../blob/ma

[2021-04-01 02:42] github-actions[bot] opened #5503 "Update 1 projects in MenuItemCommandsAndEvents.sln to LTS (or current) version"
There are 1 projects in *MenuItemCommandsAndEvents.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [MenuItemCommandsAndEvents.csproj](

[2021-04-01 02:42] github-actions[bot] opened #5504 "Update 1 projects in StrokeCollectionMethods.sln to LTS (or current) version"
There are 1 projects in *StrokeCollectionMethods.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StrokeCollectionMethods.csproj](../b

[2021-04-01 02:42] github-actions[bot] opened #5505 "Update 1 projects in ExpanderExample.sln to LTS (or current) version"
There are 1 projects in *ExpanderExample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [ExpanderExample.csproj](../blob/main/samples

[2021-04-01 02:42] github-actions[bot] opened #5506 "Update 1 projects in InkCanvasEditingModeSample.sln to LTS (or current) version"
There are 1 projects in *InkCanvasEditingModeSample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [InkCanvasEditingModeSample.csproj

[2021-04-01 02:42] github-actions[bot] opened #5507 "Update 1 projects in StrokeSnippets_CS.sln to LTS (or current) version"
There are 1 projects in *StrokeSnippets_CS.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StrokeSnippets_CS.csproj](../blob/main/sam

[2021-04-01 02:42] github-actions[bot] opened #5508 "Update 1 projects in FlowDocSelection.sln to LTS (or current) version"
There are 1 projects in *FlowDocSelection.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [FlowDocSelection.csproj](../blob/main/sampl

[2021-04-01 02:42] github-actions[bot] opened #5509 "Update 1 projects in DrawingAttributesSample.sln to LTS (or current) version"
There are 1 projects in *DrawingAttributesSample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [DrawingAttributesSample.vbproj](../b

[2021-04-01 02:42] github-actions[bot] opened #5510 "Update 1 projects in ClickMode_Snips.sln to LTS (or current) version"
There are 1 projects in *ClickMode_Snips.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [ClickMode_Snips.vbproj](../blob/main/samples

[2021-04-01 02:42] github-actions[bot] opened #5511 "Update 1 projects in MenuItemCommandsAndEvents.sln to LTS (or current) version"
There are 1 projects in *MenuItemCommandsAndEvents.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [MenuItemCommandsAndEvents.vbproj](

[2021-04-01 02:42] github-actions[bot] opened #5512 "Update 1 projects in CheckBox_Snippets.sln to LTS (or current) version"
There are 1 projects in *CheckBox_Snippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [CheckBox_Snippets.vbproj](../blob/main/sam

[2021-04-01 02:42] github-actions[bot] opened #5513 "Update 1 projects in ExpanderExample.sln to LTS (or current) version"
There are 1 projects in *ExpanderExample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [ExpanderExample.vbproj](../blob/main/samples

[2021-04-01 02:42] github-actions[bot] opened #5514 "Update 1 projects in FragmentProviderVB.sln to LTS (or current) version"
There are 1 projects in *FragmentProviderVB.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [FragmentProviderVB.vbproj](../blob/main/s

[2021-04-01 02:42] github-actions[bot] opened #5515 "Update 1 projects in PacketSpy.sln to LTS (or current) version"
There are 1 projects in *PacketSpy.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [PacketSpy.vbproj](../blob/main/samples/snippets/vi

[2021-04-01 02:42] github-actions[bot] opened #5516 "Update 1 projects in TabControlContentTemplateSelector.sln to LTS (or current) version"
There are 1 projects in *TabControlContentTemplateSelector.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [TabControlContentTemplateS

[2021-04-01 02:42] github-actions[bot] opened #5517 "Update 1 projects in StrokeCollectionShadow.sln to LTS (or current) version"
There are 1 projects in *StrokeCollectionShadow.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StrokeCollectionShadow.vbproj](../blo

[2021-04-01 02:42] github-actions[bot] opened #5518 "Update 1 projects in InkCanvasEditingModeSample.sln to LTS (or current) version"
There are 1 projects in *InkCanvasEditingModeSample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [InkCanvasEditingModeSample.vbproj

[2021-04-01 02:42] github-actions[bot] opened #5519 "Update 1 projects in FlowDocSelection.sln to LTS (or current) version"
There are 1 projects in *FlowDocSelection.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [FlowDocSelection.vbproj](../blob/main/sampl

[2021-04-01 02:42] github-actions[bot] opened #5520 "Update 1 projects in BlankSample.sln to LTS (or current) version"
There are 1 projects in *BlankSample.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [BlankSample.csproj](../blob/main/samples/snippet

[2021-04-01 02:42] github-actions[bot] opened #5521 "Update 1 projects in EditingCollectionsSnippets.sln to LTS (or current) version"
There are 1 projects in *EditingCollectionsSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [EditingCollectionsSnippets.csproj

[2021-04-01 02:42] github-actions[bot] opened #5522 "Update 1 projects in AdornersMiscCode.sln to LTS (or current) version"
There are 1 projects in *AdornersMiscCode.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [AdornersMiscCode.csproj](../blob/main/sampl

[2021-04-01 02:42] github-actions[bot] opened #5523 "Update 2 projects in OutlineTextControlViewer.sln to LTS (or current) version"
There are 2 projects in *OutlineTextControlViewer.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [OutlineTextControlViewer.csproj](..

[2021-04-01 02:42] github-actions[bot] opened #5524 "Update 1 projects in PacketSpy.sln to LTS (or current) version"
There are 1 projects in *PacketSpy.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [PacketSpy.csproj](../blob/main/samples/snippets/cs

[2021-04-01 02:42] github-actions[bot] opened #5525 "Update 1 projects in StatusBar_Snips.sln to LTS (or current) version"
There are 1 projects in *StatusBar_Snips.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StatusBar_Snips.csproj](../blob/main/samples

[2021-04-01 02:42] github-actions[bot] opened #5526 "Update 1 projects in RecycleItemContainerShippets.sln to LTS (or current) version"
There are 1 projects in *RecycleItemContainerShippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [RecycleItemContainerShippets.cs

[2021-04-01 02:43] github-actions[bot] opened #5527 "Update 1 projects in PopupPositionSnippets.sln to LTS (or current) version"
There are 1 projects in *PopupPositionSnippets.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [PopupPositionSnippets.csproj](../blob/

[2021-04-01 02:43] github-actions[bot] opened #5528 "Update 1 projects in TabControlContentTemplateSelector.sln to LTS (or current) version"
There are 1 projects in *TabControlContentTemplateSelector.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [TabControlContentTemplateS

[2021-04-01 02:43] github-actions[bot] opened #5529 "Update 1 projects in StrokeCollectionShadow.sln to LTS (or current) version"
There are 1 projects in *StrokeCollectionShadow.sln* that target a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

| TFM in project | Target version | End of life | Release notes | Nearest LTS TFM version |
| --- | --- | --- | --- | --- |
| [StrokeCollectionShadow.csproj](../blo

[2021-04-01 02:43] github-actions[bot] opened #5530 "Update faultservice.csproj from .NET Framework net40 to LTS (or current) version"
The *faultservice.csproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 14 in [samples/snippets/csharp/VS_Snippets_CFX/wfs_faults/cs/faultservice.csproj](../blob/main/samples/snippets/csharp/VS_Snippets_CFX/wfs_faults/cs/faultservice.csproj#L14)

[2021-04-01 02:43] github-actions[bot] opened #5531 "Update browserinterophelpersnippet.vbproj from .NET Framework net40 to LTS (or current) version"
The *browserinterophelpersnippet.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 26 in [samples/snippets/visualbasic/VS_Snippets_Wpf/HOWTOBrowserInteropHelperSnippets/visualbasic/browserinterophelpersnippet.vbproj](../blob/main/samples/sni

[2021-04-01 02:43] github-actions[bot] opened #5532 "Update typographycodesnippets.vbproj from .NET Framework net40 to LTS (or current) version"
The *typographycodesnippets.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 12 in [samples/snippets/visualbasic/VS_Snippets_Wpf/TypographyCodeSnippets/visualbasic/typographycodesnippets.vbproj](../blob/main/samples/snippets/visualbasic/VS_

[2021-04-01 02:43] github-actions[bot] opened #5533 "Update StylusSamples.vbproj from .NET Framework net40 to LTS (or current) version"
The *StylusSamples.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 13 in [samples/snippets/visualbasic/VS_Snippets_Wpf/StylusSamples/VisualBasic/StylusSamples.vbproj](../blob/main/samples/snippets/visualbasic/VS_Snippets_Wpf/StylusSamples/

[2021-04-01 02:43] github-actions[bot] opened #5534 "Update LayoutInformation.vbproj from .NET Framework net40 to LTS (or current) version"
The *LayoutInformation.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 8 in [samples/snippets/visualbasic/VS_Snippets_Wpf/LayoutInformation/VisualBasic/LayoutInformation.vbproj](../blob/main/samples/snippets/visualbasic/VS_Snippets_Wpf/Lay

[2021-04-01 02:43] github-actions[bot] opened #5535 "Update Thumb_wcp_vb.vbproj from .NET Framework net40 to LTS (or current) version"
The *Thumb_wcp_vb.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 12 in [samples/snippets/visualbasic/VS_Snippets_Wpf/Thumb/VisualBasic/Thumb_wcp_vb.vbproj](../blob/main/samples/snippets/visualbasic/VS_Snippets_Wpf/Thumb/VisualBasic/Thumb_

[2021-04-01 02:43] github-actions[bot] opened #5536 "Update runsnippets.vbproj from .NET Framework net40 to LTS (or current) version"
The *runsnippets.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 13 in [samples/snippets/visualbasic/VS_Snippets_Wpf/RunSnippets/visualbasic/runsnippets.vbproj](../blob/main/samples/snippets/visualbasic/VS_Snippets_Wpf/RunSnippets/visualba

[2021-04-01 02:43] github-actions[bot] opened #5537 "Update RepeatButton_vb.vbproj from .NET Framework net40 to LTS (or current) version"
The *RepeatButton_vb.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 12 in [samples/snippets/visualbasic/VS_Snippets_Wpf/RepeatButton/VisualBasic/RepeatButton_vb.vbproj](../blob/main/samples/snippets/visualbasic/VS_Snippets_Wpf/RepeatButto

[2021-04-01 02:43] github-actions[bot] opened #5538 "Update stackpanel_vb.vbproj from .NET Framework net40 to LTS (or current) version"
The *stackpanel_vb.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 14 in [samples/snippets/visualbasic/VS_Snippets_Wpf/Stackpanel_Procedural_snip/visualbasic/stackpanel_vb.vbproj](../blob/main/samples/snippets/visualbasic/VS_Snippets_Wpf/S

[2021-04-01 02:43] github-actions[bot] opened #5539 "Update HeaderedContentControlSimple.vbproj from .NET Framework net40 to LTS (or current) version"
The *HeaderedContentControlSimple.vbproj* project file targets a .NET version which is no longer supported. This is an auto-generated issue, detailed and discussed in [dotnet/docs#22271](https://github.com/dotnet/docs/issues/22271).

See line 12 in [samples/snippets/visualbasic/VS_Snippets_Wpf/HeaderedContentControl/VisualBasic/HeaderedContentControlSimple.vbproj](../blob/main/samples/snippets/vis