[2019-11-23 15:40] davidsh commented on #3523
See: https://github.com/dotnet/corefx/issues/32615

[2019-11-23 15:40] davidsh commented on #3523
Dispose the HttpClient shouldn't affect a current HttpContent.ReadAs*Async operation.

[2019-11-24 00:13] Trolldemorted commented on #3523
Is there any way to convince a HttpContent.ReadAs*Async operation to stop within the near future, or can they literally be stuck for ages if a content is big and a server is slow?

[2019-11-24 23:44] davidsh commented on #3523
Why are you calling HttpContent.ReadAs*Async() directly? When you do HttpClient.GetAsync() for example, the default behavior is to read all the response body and buffer it into memory. You can change that behavior by using HttpCompletionOptions enum and passing that into .GetAsync().

So, if you call HttpClient.GetAsync() with the default buffering behavior, you will have the benefit of "timeouts"

[2019-11-25 11:37] breyed commented on #3523
@davidsh HttpCompletionOption.ResponseHeadersRead is there for a reason. It and HttpContent.ReadAs*Async() are needed any time that client benefits from access to partial data. Examples include progressive rendering or JPG images, web pages, or multi-part MIME messages. I have an application in which the server can send a an initial control message if it knows that a dependency will provide a dela

[2019-11-25 13:16] ArthurHNL opened #3562 "FailFast documentation insufficient for Linux / Docker environments"
[The documentation of the `Environment.FailFast` method](https://docs.microsoft.com/en-us/dotnet/api/system.environment.failfast?view=netcore-3.0) states that calling the `FailFast` method will write an entry in the Windows Application event log before exiting the application. However, when in a Docker / Linux environment, no such log is present. What will the method do in these environments?

[2019-11-25 19:45] mikkelbu opened #3566 "Remarks sections under SemanticModel.cs are not formatted correctly"
Sometimes it looks like this https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.semanticmodel.lookuplabels?view=roslyn-dotnet

![image](https://user-images.githubusercontent.com/1007631/50227587-58c0de00-03a6-11e9-941f-3513f3eadfb5.png)

where the it looks like the text is just taken as it is from the [source code](https://github.com/dotnet/roslyn/blob/38718c45ef8add102834a42d96830

[2019-11-25 23:28] Trolldemorted commented on #3523
I do call HttpClient.SendAsync(), but how can I get the response if not with response.Content.ReadAsStringAsync()?

Since I don't specify HttpCompletionOptions, can I be certain that ReadAsStringAsync will never asynchronously await because everything has been received already, and thus passing a cancellation token to the SendAsync call is completely sufficient for my use-case?

For breyed's useca

[2019-11-26 00:03] breyed commented on #3523
In my use case, I'm using Protocol Buffers with synchronous streams, as that's all that the library supports. I pass the stream from Content.ReadAsStreamAsync to [MessageParser<T>.ParseFrom](https://developers.google.com/protocol-buffers/docs/reference/csharp/class/google/protobuf/message-parser-t-#class_google_1_1_protobuf_1_1_message_parser_3_01_t_01_4_1a73044cb49ca095b0323a45d5b7f02076) so that

[2019-11-26 05:36] jpierson opened #3571 "Add missing F# Console related snippets/samples"
## Summary

There are several F# samples and snippets which are missing from the API documentation. Specifically cases have been noted recently where F# examples are missing which document the usage of the [Console](https://docs.microsoft.com/en-us/dotnet/api/system.console) class.

## Proposed Solution

I'd like to volunteer to continue with my recent efforts from the following completed Pull Req

[2019-11-26 11:48] AgentMC opened #3572 "Enumerable.Distinct requires the GetHashCode override to work on default comparer"
The docs say (https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.distinct?view=netframework-4.8#System_Linq_Enumerable_Distinct__1_System_Collections_Generic_IEnumerable___0__)

This is confusing and wrong. `IEquatable<T>` interface only (!) requires to implement the `bool Equals(T other);` method. However, inside `Distinct()` (and probably other similar methods such as group by, e

[2019-11-29 06:53] jyrkive opened #3579 "System.IO.Path documentation claims that some platforms limit file extensions to three characters"
"The format of a file name extension is platform-dependent; for example, some systems limit extensions to three characters, and others do not."

https://github.com/dotnet/dotnet-api-docs/blob/3a6c7ff2a7723d194b2d3109a47f42d3bf2bbfed/xml/System.IO/Path.xml#L44

The last major desktop platform that limited file extensions to three characters was Windows 3.x. .NET, neither Framework nor Core, has nev

[2019-12-02 10:03] cremor opened #3584 "Documentation about the default culture of new threads is outdated"
On the API documentation page of [CultureInfo.DefaultThreadCurrentCulture](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.defaultthreadcurrentculture?view=netframework-4.8) there is a sample that outputs the culture which is used by new threads by default. I've ran this sample on my machine and couldn't get the documented output when I used a recent target framework.

[2019-12-03 02:14] richlander opened #3585 "Document Assembly Loading for Core"
There are several scenarios.

- Dynamic loading from bin directory
- Dynamic loading from other locations
- AssemblyLoadContext.Default.Resolving

See: https://github.com/dotnet/core/issues/290

[2019-12-03 02:15] mairaw opened #3587 "IComparer and IComparer<T> documentation should note ordering properties required"
@dbjorge commented on [Tue Dec 06 2016](https://github.com/dotnet/corefx/issues/14244)

The documentation for `IComparer` ([@docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/core/api/system.collections.icomparer), [@msdn](https://msdn.microsoft.com/en-us/library/system.collections.icomparer(v=vs.110).aspx)) and `IComparer<T>` ([@docs.microsoft.com](https://docs.microsoft.com/en-us/dotne

[2019-12-03 02:16] guardrex opened #3588 "Split GetHostEntry(IPAddress) into its own sample"
Updates were made to accommodate the `GetHostEntry(IPAddress)` overload in the sample on https://github.com/dotnet/docs/pull/2550 so that the API ref would show a proper (method call) example for this overload and not the example for `GetHostEntry(String)` (hostname as `String`), which was JustWrong:tm:.

Updates were made to:
*samples/snippets/cpp/VS_Snippets_Remoting/System.Net.Dns/CPP/dnsnewmet

[2019-12-03 02:17] mairaw opened #3589 "Review APIs with System.MonoTODO attribute"
MONO .NET APIs might be decorated with the System.MonoTODO attribute. In some cases, it could be useful to add the information from that attribute into some sort of "platform availability notes" section to call out differences between .NET implementations.

Related to PR dotnet/docs#2612

[2019-12-03 02:18] rpetrusha opened #3590 "ValueTuple generic types do not specify rules for comparison"
# ValueTuple generic types do not specify rules for comparison

In addition to explicit interface implementations that support a custom comparison method, each generic `ValueTuple` type has a `CompareTo` method that compares the instance with a tuple of that type. However, the rules for comparison are not specified. Since they are specified in the case of the generic Tuple types, they should be do

[2019-12-03 02:18] mazong1123 opened #3591 "List sample path for each Environment.SpecialFolder field and update the description of the fields for targeting to multiple platforms."
[Current document for `Environment.SpecialFolder`](
https://docs.microsoft.com/zh-cn/dotnet/api/system.environment.specialfolder?view=netcore-2.0) only lists the meaning of each field on Windows. There're several problems since .NET Core targets multiple platform:

1. The field description is not accuracy. For instance, `ProgramFilesX86` indicates nothing for Linux and Mac. We need to let user kno

[2019-12-03 02:19] svick opened #3592 "ILGenerator.BeginFinallyBlock example is invalid"
As discovered by @luboid in https://github.com/dotnet/coreclr/issues/14379#issuecomment-334959413, [the example code for `ILGenerator.BeginFinallyBlock`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.ilgenerator.beginfinallyblock?view=netcore-2.0#Examples) contains branch out of try block and is thus invalid. When I run it on .Net Framework 4.7 in x64 mode or .Net Core 2.0 (af

[2019-12-03 02:20] JeremyKuhne opened #3593 "APIs that throw PathTooLongException may sometimes throw DirectoryNotFoundException"
Not sure the best way to handle/track this. .NET Core doesn't preemptively check for path lengths anymore (as it is impossible to accurately predict). We throw PathTooLong when the OS reports it. In most cases that means behavior stays the same, but in some rare cases you can get DirectoryNotFound instead of PathTooLong.

I give a somewhat detailed description here: https://github.com/dotnet/coref

[2019-12-03 02:20] BhaaLseN opened #3594 "DispatcherTimer ctor does not indicate that Start will be called automatically"
The [`DispatcherTimer(TimeSpan, DispatcherPriority, EventHandler, Dispatcher)` Constructor](https://docs.microsoft.com/en-us/dotnet/api/system.windows.threading.dispatchertimer.-ctor?view=netframework-4.7.1#System_Windows_Threading_DispatcherTimer__ctor_System_TimeSpan_System_Windows_Threading_DispatcherPriority_System_EventHandler_System_Windows_Threading_Dispatcher_) automatically starts/enables

[2019-12-03 02:21] fschmied opened #3595 "Document correct serialization of exceptions in security-transparent assemblies"
When implementing exceptions with state, it's necessary to implement serialization in order to allow such exceptions to pass AppDomain boundaries. Up to .NET 4, this was done simply by overriding `GetObjectData` and providing a deserialization constructor.

Starting with .NET 4 and its security model, this is no longer possible with assemblies that have the `AllowPartiallyTrustedCallersAttribute`.

[2019-12-03 02:23] SZ-MSFT opened #3596 "[NewTopic] ZipArchive memory usage should be documented"
When reading a ZipArchive from a non-seekable stream, the library loads the entire archive into memory before processing individual members. It looks like this is expected behavior - zip files store entry metadata at the end of the archive, and it's necessary to read the metadata before extracting files.

Though valid, this should be noted in the documentation for ZipArchive so people aren't surpr

[2019-12-03 02:26] lextm opened #3597 "Please provide CipherMode availability matrix"
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ciphermode?view=netcore-2.0

The current documentation does not show which cipher modes are supported by a certain algorithm on different platforms. One question I have is that "on which platforms is AES CFB mode fully supported?", that no existing documentation can tell.

Library authors and users are forced to rely on `Cryp

[2019-12-03 02:27] ChrisMaddock opened #3598 "Document when XmlNode.SelectNodes() can return null"
Intellisense warns me `XmlNode.SelectNodes()` may return null. I was interested in what circumstances that happens in - but there doesn't seem to be any mention of this method returning null in the docs.

Google seems to suggest it can happen in various unusual situations, but the information seems to be sparse. ([link](https://social.msdn.microsoft.com/Forums/en-US/ae0e751f-5220-4bde-8c3c-0f50740

[2019-12-03 02:29] rpetrusha opened #3599 "Define conditions under which IOException is thrown"
# Define conditions under which IOException is thrown

## General
The [IOException](https://docs.microsoft.com/en-us/dotnet/api/system.io.ioexception?view=netframework-4.7.1#Remarks) documentation needs to be improved to discuss the conditions under which an IOException are thrown.

## Issues with Existing Topics

The [IOException](https://docs.microsoft.com/en-us/dotnet/api/system.io.ioexception?

[2019-12-03 02:29] rpetrusha opened #3600 "Correct description of PathTooLongException"
# Update description of PathTooLongException

## General

In member documentation, almost all descriptions of the condition under which PathTooLongException is thrown mention the 260 character limit in the .NET Framework 4.6.1 and earlier versions. This needs to be changed, since the .NET Framework supports long paths. For [Directory.GetParent](https://review.docs.microsoft.com/dotnet/api/system.i

[2019-12-03 02:29] rpetrusha opened #3601 "Expand list of exceptions for methods calling into GetFullPath"
# Expand list of exceptions for methods calling into GetFullPath

## General

The API reference does not in all cases provide a complete list of exceptions of methods that call into GetFullPath. A complete list is provided in the [Directory.GetParent](https://review.docs.microsoft.com/en-us/dotnet/api/system.io.directory.getparent) method. The same exception information should be incorporated into

[2019-12-03 02:30] marcinsmialek opened #3602 "Task.Wait docs don't tell what happens to Task after timeout"
The Task.Wait methods which accept timeout as a parameter, can complete before the Task itself completes. [The docs](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.wait) don't tell explicitly what happens to the Task itself in such scenario, which I observed to lead to some confusion.

Would it be ok to add an information that "the Task itself is not stopped" at the end of

[2019-12-03 02:31] ChrisMaddock opened #3603 "ThreadException notice confusing"
https://docs.microsoft.com/en-gb/dotnet/api/system.windows.forms.application.threadexception?view=netframework-4.7

On the `Application.ThreadException` page - there is the below notice:

That confused me - surely the event will be disposed when the application ends anyway? Or is this suggesting that some resources may be kept hold of, once my application has already terminated?

I looked at the c

[2019-12-03 02:33] ocdtrekkie opened #3605 "Environment.OSVersion has misleading notes on 8/10 compatibility"
_I have a headless machine which I want to report its Windows version so I know if the machine is up to date, and Environment.OSVersion has been very frustrating. After learning about everything I've learned, it still doesn't do what I need, because I need the full revision number. (i.e. 10.0.16299.192) and OSVersion insists on a .0 at the end. I'm using a WMI call instead._ But anyways, Docs bug:

[2019-12-03 02:34] rpetrusha opened #3606 "Improve System.ComponentModel.BackgroundWorker-related documentation"
# Improve System.ComponentModel.BackgroundWorker-related documentation

## General

See PR dotnet/docs#4548

## Issues with Existing Topics

The documentation for all [System.ComponentModel.BackgroundWorker](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.backgroundworker?view=netframework-4.7.1) types is lacking in detail and in need of revision. This includes the following type

[2019-12-03 02:34] tarekgh opened #3607 "Update Task.IsCancelled documentation to add other cases cause the Task is cancelled."
# Issue Title

We want to add to the Task.IsCancelled documentation the other cases when the Task can be marked as canceled.

The comments

https://github.com/dotnet/corefx/issues/26691#issuecomment-364512993
https://github.com/dotnet/corefx/issues/26691#issuecomment-375533450

have the needed information

## Issues with Existing Topics

https://github.com/dotnet/corefx/issues/26691

[2019-12-03 02:35] pkulikov opened #3608 "'Un-obsolete' XslTransform class"
During discussion at the PR dotnet/docs#4529 it was figured out that [XslTransform class](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xsl.xsltransform?view=netframework-4.7.1) is not so obsolete as it seems.

More background: https://github.com/dotnet/corefx/issues/25874

While 'un-obsoleting' this class numerous notes should be removed, for example, in those articles:
https://docs.micr

[2019-12-03 02:37] samonzeweb opened #3609 "Ping behaviour on linux not documented (raw socket vs command)"
# Ping behaviour on linux not documented (raw socket vs command)

Using `System.Net.NetworkInformation.Ping` class on linux can either use raw sockets, or `ping` command line utility as fallback when the current user does not have enough privileges.

The code is here : https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L154

The document

[2019-12-03 02:39] rpetrusha opened #3611 "Review and revise System.Collections.Concurrent examples"
## Review and revise System.Collections.Concurrent examples

A number of the examples that illustrate the types in System.Collections.Concurrent are unambiguously single-threaded and synchronous. This makes them rather pointless. They should be revised to be meaningful. The examples (at least for class topics) include:

- [ConcurrentBag\<T>](https://docs.microsoft.com/dotnet/api/system.collections

[2019-12-03 02:40] davidkaya opened #3612 "X509CertificateUI in .NET Core and .NET Standard examples"
**Issue description**

I've noticed that a lot of documentation related to System.Security.Cryptography.X509Certificates contains `X509CertificateUI` in the examples even though that is available only in .NET Framework - e.g. https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x500distinguishedname?view=netcore-2.2

**Target framework**

- [X] .NET Core
- [ ]

[2019-12-04 18:41] mairaw commented on #1683
Thanks @ViktorHofer for your help recovering that info. I out the old contents of api compat into a gist for now:
https://gist.github.com/mairaw/c5ea693b956b584f44c3423e29e1f0c6

[2019-12-05 23:32] carlossanlop commented on #768
We do explain this information in the remarks for all the `GetFiles` overloads:

[code]

Closing.

[2019-12-05 23:32] #768 closed

[2019-12-05 23:34] carlossanlop commented on #811
The description does not describe the issue. Closing.

[2019-12-05 23:34] #811 closed

[2019-12-05 23:49] carlossanlop commented on #2624
@mairaw do you have an update on this?

[2019-12-05 23:50] carlossanlop commented on #3372
@safern did you get a chance to look into this? Do you know if this API is included in the reference assemblies we pass to the Docs team?

[2019-12-05 23:55] mairaw commented on #2624
@terrajobst opened two bugs related to this:

- https://github.com/dotnet/docfx/issues/5183 which was moved to an internal bug
- https://github.com/dotnet/project-system/issues/5574

So right now, nothing has changed.

[2019-12-06 01:22] #3604 closed

[2019-12-06 01:38] merriemcgaw commented on #3353
ToolStrip, MenuStrip, ContextMenuStrip etc.  @OliaG has a table with the replacements - and then the corresponding child control on the ToolStrip like buttons etc.

[2019-12-06 05:32] GrabYourPitchforks opened #3641 "Decoder.Convert and Encoder.Convert have buggy sample code"
(Placeholder while I spend some time formalizing the issue and coming up with new sample code.)

The sample code at https://docs.microsoft.com/en-us/dotnet/api/system.text.decoder.convert and https://docs.microsoft.com/en-us/dotnet/api/system.text.encoder.convert (all Framework versions) demonstrates using the `Convert` methods incorrectly, as they make incorrect assumptions about the behavior of

[2019-12-06 05:32] mairaw commented on #3641
I've transferred this issue to the dotnet-api-docs repo.

[2019-12-06 21:35] #1047 closed

[2019-12-06 21:36] mairaw commented on #1047
Thanks for your feedback @jmairboeck. Sorry about the delay but this has been fixed. It will go live later tonight.

[2019-12-09 15:14] svick opened #3652 "Roslyn API reference is empty for older versions"
[The API reference for Roslyn is now versioned](https://docs.microsoft.com/en-us/dotnet/api/?view=roslyn-dotnet), which is great:

![](https://user-images.githubusercontent.com/287848/70447024-57e4f880-1a9e-11ea-9a37-38b38f325726.png)

[But the older versions of Roslyn that are included seem to be empty:](https://docs.microsoft.com/en-us/dotnet/api/?view=roslyn-dotnet-3.3.1)

![](https://user-imag

[2019-12-11 00:39] #851 closed

[2019-12-13 02:33] mairaw commented on #3652
We have a new feature now that auto indexes the content after new publishing. So it seems that it got sorted out since you filed.

[2019-12-13 02:33] #3652 closed

[2019-12-15 14:58] shampeter opened #3677 "Reference on page of "RsaProtectedConfigurationProvider Class" pointed to a out-of-support page"
The reference on "Walkthrough: Encrypting Configuration Information using Protected Configuration" in the "See Also" section of the "RsaProtectedConfigurationProvider Class" ended up on a page which, from what I understood, meant out-of-support.

I was reading "RsaProtectedConfigurationProvider Class" on the following URL:
https://docs.microsoft.com/en-us/dotnet/api/system.configuration.rsaprotect

[2019-12-17 05:02] erikness opened #3742 "HttpClientHandler.AutomaticDecompression only decompresses one layer"
**Issue description**

In HttpClientHandler, you are allowed to set AutomaticDecompression (values are GZip, Deflate, Brotli, None, or a combination of those). The idea is that .NET will automatically decompress HTTP responses for you.

Compression on the HTTP response body is defined by by the "Content-Encoding" header. However, this can have multiple values if the content was compressed multiple

[2019-12-17 09:41] John0King opened #3681 "Where is the `shell` xaml namespace and where is the SystemParameters2"
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Windows.Shell/WindowChrome.xml

in this docs, where is the `shell` xaml namespace and where I can find `SystemParameters2`

[2019-12-18 05:50] jiayi797 opened #3686 "What difference between Uri.UnescapeDataString() and HttpUtility.UrlEncode()"
What difference between Uri.UnescapeDataString() and HttpUtility.UrlEncode()?

[2019-12-18 15:50] c-sorrell opened #3688 "IDirect3DSurface9Ex Does not Exist"
On this page https://docs.microsoft.com/en-us/dotnet/api/system.windows.interop.d3dimage.setbackbuffer?view=netframework-4.8 which appears to be https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Windows.Interop/D3DImage.xml, it states the IDirect3DSurface9Ex must be used for multisampling. However, no documentation about IDirect3DSurface9Ex exists, and the D3DResourceType enum only

[2019-12-18 18:25] Thraka commented on #947
Looking at this further I don't think there is a way to make it clearer. The suggestion being made (once the problem was figured out) was that the parameter name could be more descriptive, but we're probably not going to change that via docs 😄

The description for the parameter seems accurate and descriptive.

[2019-12-18 18:25] #947 closed

[2019-12-19 00:57] mairaw opened #3691 "Console.WriteLine Method. Incorrect examples for valuable types"
Original GitHub issue: https://github.com/MicrosoftDocs/feedback/issues/2055 from @DSivtsov

Link to article:
[Console.WriteLine Method](https://docs.microsoft.com/en-us/dotnet/api/system.console.writeline)

Problem:
All examples of usage Console.WriteLine for valuable types, are shown as the Console.WriteLine(String) - Console.WriteLine($"...")

[2019-12-19 01:07] mairaw opened #3692 "Incorrect constructor description in the table (section - Instantiating a StringBuilder object)"
_From @SharunasBielskis on Thursday, September 26, 2019 11:14:16 AM_

**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder?view=netframework-4.8:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong wit

[2019-12-19 01:07] mairaw commented on #3692
_From @welcome[bot] on Thursday, September 26, 2019 11:14:17 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2019-12-19 01:07] mairaw commented on #3692
_From @ryanmajidi on Wednesday, October 2, 2019 9:54:34 PM_

@mairaw Can you please take a look at this issue?

[2019-12-19 02:32] mairaw opened #3693 "Documentation for Socket.Receive(Byte[], Int32, Int32, SocketFlags, SocketError) is lacking specific details w.r.t exceptions"
_From @mfrischknecht on Monday, March 25, 2019 2:32:06 PM_

**Link to article:**
cf. [Socket.Receive(Byte[], Int32, Int32, SocketFlags, out SocketError)](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.receive?view=netframework-4.7.2#System_Net_Sockets_Socket_Receive_System_Byte___System_Int32_System_Int32_System_Net_Sockets_SocketFlags_System_Net_Sockets_SocketError__)

**Pr

[2019-12-19 02:35] mairaw commented on #3688
@vatsan-madhavan @SamBent can you look at this question about D3DImage.SetBackBuffer?

[2019-12-19 02:42] mairaw opened #3694 "PathSegment.IsSmoothJoin possible error and confusing explanation"
_From @alataffective on Friday, March 1, 2019 10:51:20 AM_

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.pathsegment.issmoothjoin?view=netframework-4.7.2

**Problem 1 (affected join):**
"join between this PathSegment and the previous PathSegment"
In my tests the property value affects this path segment and the _next_ path segment not the previous as stated.

[2019-12-19 02:42] mairaw commented on #3694
_From @welcome[bot] on Friday, March 1, 2019 10:51:23 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information.

[2019-12-19 02:44] mairaw commented on #3694
@vatsan-madhavan @SamBent can you look at this feedback for PathSegment.IsSmoothJoin?

[2019-12-19 02:53] mairaw opened #3695 "FileSystemWatcher Class: broken link"
_From @todduk on Thursday, December 12, 2019 2:08:37 AM_

**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

There is no comment section for this page.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemwatcher?view=netframework-4.8

**Problem:**
Link t

[2019-12-19 02:53] mairaw commented on #3695
_From @welcome[bot] on Thursday, December 12, 2019 2:08:40 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2019-12-19 18:10] SamBent commented on #3688
@mairaw The doc says

which presumably comes from the code comment "Multisampling is allowed on 9Ex only".  I believe the abbreviation in the code comment actually refers to IDirect3DDevice9Ex, so the doc should say

following the style of a remark in https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/performance-considerations-for-direct3d9-and-wpf-interoperability?view=netframework-4

[2019-12-19 19:24] SamBent commented on #3694
@mairaw I couldn't figure this out quickly, and I need to return to other work.  Perhaps when I have more time...

[2019-12-19 21:20] mairaw commented on #3694
No worries @SamBent. We'll ping you again after the holidays.

[2019-12-19 21:25] c-sorrell commented on #3688
So is basically as simple as using a IDirect3DDevice9Ex instead of IDirect3DDevice9? I was trying to interop a SharpDX.Direct3D11.Texture2D to a D3DImage using the methods described and some other tutorials, but when I turned MultiSampling on using a SampleDescription of (2, DeviceManager.Device.CheckMultisampleQualityLevels(Format.B8G8R8A8_UNorm, 2) - 1) or a different number like 4, swapping to

[2019-12-20 03:30] RussKie commented on #2329
I have created a simple test app, and values of `HScroll` and `VScroll` appear ignored if `AutoScroll` is set.

@Tanya-Solyanik would you have any further insights?

[2019-12-20 18:15] spanglerco opened #3699 "UriBuilder.Query behaves differently than documented on .NET Core"
The documentation for [UriBuilder.Query](https://docs.microsoft.com/en-us/dotnet/api/system.uribuilder.query?view=netcore-3.1) has a note to "retrieve the property value as a string, remove the leading question mark, append the new query string, and set the property with the combined string" as a way to indicate a leading ? is significant in the property setter.

That's true for .NET Framework, bu

[2019-12-20 19:52] mairaw commented on #3699
Thanks @spanglerco for your feedback. @Priya91 @gewarren seems like a breaking change between Framework and Core.

[2019-12-20 22:43] Tanya-Solyanik commented on #2329
I looked at the sources and i think that H/VScroll properties indicate whether the scrollbars are displayed, scroll bars are not forced into existence by these properties. Layout pass determines if scrollbars are displayed and sets these properties accordingly. Notice that they are not displayed in the property grid and are protected, they are designed for use by control developers. Values that ar

[2019-12-20 23:27] Tanya-Solyanik commented on #2329
@mairaw  - I can really use some help with wording here - https://github.com/dotnet/dotnet-api-docs/pull/3702

[2019-12-21 03:05] mairaw opened #3704 "PR and issue review may be delayed over holidays"
This time of the year is holiday season for the .NET content team members in the United States. Many of the team members are taking vacation during the next two weeks.

The result is that PR reviews / merging, and issue response may be delayed during this period.

I wish you all a happy holiday season and hope to see you around here in 2020! 🎆

Thank you for all your contributions in 2019! This co

[2019-12-23 19:59] safern commented on #3372
I looked at this and the reason why it is not shown for .NET Core is because this API was not ported directly as part of `DirectoryInfo`, it was added as an extension method.

https://apisof.net/catalog/System.IO.FileSystemAclExtensions.SetAccessControl(DirectoryInfo,DirectorySecurity)

https://github.com/dotnet/corefx/blob/release/3.0/src/System.IO.FileSystem.AccessControl/ref/System.IO.FileSyste

[2019-12-23 20:02] safern commented on #3418
The reason why this was not included is because we didn't consider the outputs of core-setup packages as a whole, only the shared framework. We should include packages produced as part of core-setup (now installer in the dotnet/runtime repo) as part of the docs and apisof.net set of assemblies.

[2019-12-23 20:26] mairaw commented on #3372
So I'll close this by design.

[2019-12-23 20:26] #3372 closed

[2019-12-28 10:24] Youssef1313 opened #3720 "VB isn't displayed in language selector"
In this article, <https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.scriptmanager.registerclientscriptblock?view=netframework-4.8>, The VB language isn't shown in the selector on top of the page.

Related to https://github.com/MicrosoftDocs/feedback/issues/2309

[2019-12-29 15:42] #1786 closed

[2019-12-30 17:49] SheepRock opened #3724 "RegularExpression attribute should specify it's a full match"
[[RegularExpression] attribute](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.regularexpressionattribute?view=netcore-3.1) always validate as full string, there are no difference between the pattern `@"d"` and `@"^d$"`.

From the [source code, line 66](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/Da

[2019-12-31 02:25] cheong00 opened #3726 "Code sample for System.ComponentModel.DesignerAttribute is wrong"
Originally posted at: https://github.com/MicrosoftDocs/feedback/issues/2126

Describe the bug

On page: https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.designerattribute?view=netframework-4.8

[Designer("System.Windows.Forms.Design.DocumentDesigner, System.Windows.Forms.Design.DLL",
typeof(IRootDesigner)),
DesignerCategory("Form")]
public class MyForm : ContainerControl {
// Inse

[2019-12-31 02:27] cheong00 opened #3727 "Add remark for RsaCng Key export behavior difference"
Originally posted at: https://github.com/MicrosoftDocs/feedback/issues/2261

Link to article:
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsacng?view=netframework-4.6

Problem:
Refer to discussion on:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/10e6cf37-b8e8-497a-9ade-d7af9d9483c6/where-does-the-default-rsacngkeyexportpolicy-come-from?forum=netfxbcl

We foun

[2019-12-31 17:57] #3720 closed

[2020-01-06 09:35] aghanem opened #3735 "ServiceController constructor throws more undocumented exceptions"
Refering to:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.ServiceProcess/ServiceController.xml

When passing null or empty string, we get ArgumentException which is listed in the docs but if we pass a name of service that is not exists on the machine , we get InvalidOperationException

[2020-01-06 21:00] #3704 closed

[2020-01-06 21:01] tarekgh opened #3737 "Fix the docs of DateTimeFormatInfo DayNames and AbbreviatedDayNames remarks section"
The remarks section mentioning

[code]

which is not correct. We should clarify that the day names array always starts with Sunday.

[2020-01-07 00:27] mairaw opened #3738 "Classes removed from .NET Core 3.1 show up as available"
Related to #3471

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.menu#applies-to should not have applies to 3.1, for example

[2020-01-07 00:39] mairaw commented on #3738
Given that API Catalog shows the same information, this might be a bad version of the assemblies
https://apisof.net/catalog/System.Windows.Forms.Menu

/cc @RussKie @safern

[2020-01-07 01:25] RussKie commented on #3738
I just checked System.Windows.Forms in ILSpy and both 3.0 and 3.1 share the same identity

[code]

[code]

[2020-01-07 18:33] safern commented on #3738
So, is this a bug in WinForms directly?

[2020-01-07 18:52] mairaw commented on #3738
So it's not an issue with the docs @RussKie?

[2020-01-07 19:21] jasper-d opened #3741 "Document thread safety of RandomNumberGenerator"
**Issue description**
I cannot find information w.r.t. the thread safety of members of `System.Security.Cryptorgraphy.RandomNumberGenerator`. Knowing if calls must be synchronized by the caller is important.

`RNGCryptoServiceProvider.GetBytes` is thread safe according to the documentation.

**Target framework**
- [x] .NET Core
- [x] .NET Framework
- [x] .NET Standard

[2020-01-07 22:11] RussKie commented on #3738
I don't think so, I believe it is by design.
@ericstj

[2020-01-07 22:33] mairaw commented on #3738
But then our other docs are wrong saying these controls were removed in 3.1 (breaking changes, what's new, etc.)?

[2020-01-07 22:55] RussKie commented on #3738
I would think the docs generation should go off `TargetFramework` attribute, not the identity

[code]

There's also assembly info, but I'm not sure it is a reliable indicator as we may still have .NET Framework 4.8.1...
[code]

[2020-01-08 14:44] 49564B0F opened #3745 "ServicePointManager.ServerCertificateValidationCallback documentation should state that the eventhandler is not thread safe"
[ServicePointManager](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Net/ServicePointManager.xml)
[code]

[2020-01-08 18:54] ericstj commented on #3738
I've been telling both WinForms and WPF for a year now that they need to version their assemblies and deal with what breaks.  We started out keeping them the same as desktop to limp along features in VS and elsewhere that might use desktop assemblies in place of the Core assemblies, but we need to change them and fix what breaks.

[2020-01-08 19:04] mairaw commented on #3738
The docs generation goes by what's in the package. If they're present in the 3.1 Desktop SDK, our tool will just reflect over the assemblies that are there and include them.
I'm not sure how I should proceed here. Which part of docs is wrong? The one that shows this is present in 3.1 in the API docs or the conceptual docs that claim these controls were removed in 3.1?

[2020-01-08 20:43] RussKie commented on #3738
All removed controls (e.g. `Menu`, `ContextMenu`, etc) are still listed under 3.1 version as noted in https://github.com/dotnet/docs/issues/15813#issuecomment-570129908.
Also `Form`, `Control`, etc list removed members (e.g. `ContextMenu`, `ContextMenuChanged`, etc) - https://github.com/dotnet/docs/issues/15813#issuecomment-570393021, https://github.com/dotnet/docs/issues/15813#issuecomment-570396

[2020-01-08 22:02] mairaw commented on #3738
Ok, but those APIs still exist in the 3.1 version of the System.Windows.Forms.dll. So  how exactly were they removed and how I can fix this? The reflection process is all automated.

[2020-01-08 22:10] RussKie commented on #3738
No, they don't exist in System.Windows.Forms.dll, and that's why the docs are incorrect.
What version of System.Windows.Forms.dll is used to generate docs for 3.1?

[2020-01-08 22:42] mairaw commented on #3738
Ok, I just downloaded the latest version from https://www.nuget.org/packages/Microsoft.WindowsDesktop.App.Ref/ and managed to confirm that indeed it's not there. The version I had gotten from \\scratch2\scratch\safern\ApiCatalogLayout\3.1\frameworks\microsoft.windowsdesktop.app.ref had those. So @safern I probably have a bad version of the ref assemblies for those (and same applies to API Catalog)

[2020-01-09 01:29] safern commented on #3738
Correct. Anyway, I will update the API Catalog as well. Sorry about that.

[2020-01-09 09:52] #3738 closed

[2020-01-09 10:42] kapsiR opened #3754 "Add note, that Calendar.GetWeekOfYear differs from ISO 8601 week of year"
Affected docs: `/xml/System.Globalization/Calendar.xml`

Hints:
 - Workaround for .NET Framework:
https://docs.microsoft.com/en-us/archive/blogs/shawnste/iso-8601-week-of-year-format-in-microsoft-net
 - Solution from .NET Standard 2.1 onwards (>= .NET Core 3.0)
ISOWeek class
https://docs.microsoft.com/en-us/dotnet/api/system.globalization.isoweek

[2020-01-09 12:44] kapsiR commented on #3754
I found out, that this is already in `/xml/System.Globalization/CalendarWeekRule.xml`...
But the referenced blog entry link is broken: https://go.microsoft.com/fwlink/?LinkId=160851

[2020-01-09 20:34] CallumWatkins opened #3756 "Include params keyword in method overloads section"
This is a suggestion to include the `params` parameter keyword in the method overloads section (plus in the "in this article" navigation).
This would apply to, for example, to the `Split(Char[])` overload in [System.String.Split](https://docs.microsoft.com/en-us/dotnet/api/system.string.split?view=netframework-4.8#overloads).

Current:
![current](https://user-images.githubusercontent.com/18353194/

[2020-01-10 03:50] RussKie commented on #3738
Thank you!

[2020-01-10 15:51] vladd opened #3764 "Document changes in System.Random in .NET Core"
**Issue description**

There is a substantial change in the behaviour of `System.Random` in .NET Core. This change is however not reflected in the documentation, so the claims provided by the documentation are incorrect.

**Target framework**

- [x] .NET Core 2.x, 3.x, perhaps 1.x too
- [ ] .NET Framework
- [ ] .NET Standard

**Details**

The behaviour of the `System.Random` class in .NET Framewor

[2020-01-10 17:58] Tanya-Solyanik commented on #2329
@mairaw  - could you please review https://github.com/dotnet/dotnet-api-docs/pull/3702

[2020-01-10 18:30] mairaw commented on #981
@obelink will take this one.

[2020-01-10 19:41] mairaw commented on #3610
Thanks @KKhurin. We typically don't include implementation details so closing this one.

[2020-01-10 19:41] #3610 closed

[2020-01-10 19:51] mairaw commented on #2329
Will do. Still catching up with the backlog of PRs after the holidays.

[2020-01-10 20:02] mairaw commented on #3756
This issue was moved to MicrosoftDocs/feedback#2367

[2020-01-10 20:03] #3756 closed

[2020-01-11 00:03] gewarren commented on #3699
@PriyaPurkayastha Can you investigate whether we should document this as a breaking change?

[2020-01-11 16:16] vladd commented on #3764
@gewarren The text "The Random() constructor uses the system clock to provide a seed value." is written in the documentation unconditionally, without a reference to .NET Framework. Moreover, it appears in the documentation even if I choose .NET Core as a version.

![screenshot](https://user-images.githubusercontent.com/817316/72207129-01504d00-3496-11ea-9465-0a5835517c50.png)

[2020-01-11 16:20] vladd commented on #3764
@gewarren It's true that there is a small remark about .NET Core, however it's indeed buried deeply after the extensive discussion, so it's not easy to find it. I think, it would be useful not only describe that there is no limitation, but specify what exactly is guaranteed to the class' users in .NET Core.

[2020-01-15 00:26] damageboy opened #3772 "Better documentation of asynchronous I/O implementation per OS"
Hey all, I'm trying to dive into the sources for async sockets on Posix/Linux.. And I just want to make sure that I'm not imagining...
In posix based systems the async sockets actually queue work items into the ThreadPool, and the actual IO is performed in a synchronous (maybe non-blocking) manner?

Is this right?
I assume that this is a very big split from how things are done on a native win32 sy

[2020-01-15 16:51] antonfirsov opened #3774 "Document platform differences of Socket.DuplicateAndClose() and related API-s"
The docs for [Socket.DuplicateAndClose()](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.duplicateandclose), and related API-s [Socket(SocketInformation)](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.-ctor?System_Net_Sockets_Socket__ctor_System_Net_Sockets_SocketInformation_), [Socket.UseOnlyOverlappedIO](https://docs.microsoft.com/en-us/dotnet/api/s

[2020-01-15 21:21] PriyaPurkayastha commented on #3699
@karelz can you please help confirm that this is a breaking change between .NET Framework and .NET Core and if yes, help create a breaking change issue for this so that it can be documented? The template for the breaking change issue is https://github.com/dotnet/docs/issues/new?template=doc-breaking-change.md

[2020-01-16 06:42] GrabYourPitchforks opened #3775 "Clarify that the StrReverse function reverses text elements, not chars"
### API affected

`Microsoft.VisualBasic.Strings.StrReverse`
https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.strings.strreverse

### Issue description

The API's phrasing makes it seem as if the individual `char` elements in a `string` are reversed. This is true for some strings; e.g., `StrReverse("abc")` results in `"cba"`. However, it actually reverses __text elements__ (see [t

[2020-01-16 16:43] waltdestler opened #3777 "The documentation for WebClient.CancelAsync should mention that it is broken and won't be fixed."
The WebClient.CancelAsync method [is broken in .NET Core and will not be fixed](https://github.com/dotnet/corefx/issues/42564). The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.net.webclient.cancelasync?view=netframework-4.8) for it should be updated to make this clear so that people don't try to use it.

[2020-01-19 06:57] lust4life commented on #1598
https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/dataflow-task-parallel-library#specifying-the-number-of-messages-per-task

https://stackoverflow.com/a/37836388/3202363

may offer some help.

[2020-01-20 06:33] TianqiZhang commented on #2854
For the overload name in the doc page, it's a separated bug in ECMA2Yaml, not related to the DocId issue. I've opened CEAPEX bug 165060 to track it. @mairaw @joelmartinez

[2020-01-20 08:30] TianqiZhang commented on #2854
@mairaw @joelmartinez overload name fix is released, I triggered master build and here's result:
![image](https://user-images.githubusercontent.com/5326582/72710457-1a49b400-3ba2-11ea-8198-9d487804c919.png)

[2020-01-20 10:46] glenn-slayden opened #3785 "Incorrect parameter description in FocusManager.GetFocusScope"
https://github.com/dotnet/dotnet-api-docs/blob/abc0627d2772d6ce3b2c624dd18162ca3faf0dd9/xml/System.Windows.Input/FocusManager.xml#L185

No, actually the 'element' parameter supplies the "specified focus scope" for which this function returns the "element with logical focus."

As shown, the docs conflate the input parameter and the return value:

...is basically the same as...

[2020-01-20 15:57] NextTurn opened #3787 "Migrate Microsoft.Management.Infrastructure"
Nuget: https://www.nuget.org/packages/Microsoft.Management.Infrastructure/

Previous version docs: https://docs.microsoft.com/previous-versions/windows/desktop/wmi_v2/mi-managed-api/hh832958(v=vs.85)

Current version docs: https://docs.microsoft.com/dotnet/api/microsoft.management.infrastructure

The current version docs are empty and marked as applicable only to PowerShell, but in fact this libra

[2020-01-21 23:12] carlossanlop commented on #1962
I documented these APIs back in August: https://github.com/dotnet/dotnet-api-docs/pull/2846

We can close the issue.

[2020-01-21 23:12] #1962 closed

[2020-01-22 07:13] mairaw commented on #2854
Build kicked off @TianqiZhang

[2020-01-22 14:26] #3404 closed

[2020-01-22 15:48] bdcoder2 opened #3792 "https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.postasync?view=netframework-4.8#definition"
On the following page:
[https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.postasync?view=netframework-4.8#definition](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.postasync?view=netframework-4.8#definition)

Under the "**Remarks**" section, please include the following information:

The **PostAsync** method will automatically dispose the HttpContent o

[2020-01-22 16:15] KalleOlaviNiemitalo commented on #2010
The implementation of Pen.Width calls the GDI+ flat API without locking, and [GDI+ objects are not thread-safe](<https://docs.microsoft.com/en-us/windows/win32/gdiplus/sec-gdiplus#thread-synchronization> "Security Considerations: GDI+ - Win32 apps | Microsoft Docs"), so the Pen.Width property is not thread-safe, either.

I expect the same will be true for most reference types in System.Drawing, su

[2020-01-23 00:29] ahdung commented on #2010
@KalleOlaviNiemitalo Thank you.

[2020-01-23 17:37] stevenbrix opened #3796 "AssemblyLoadContext Unloading event wording"
The wording of this documentation is confusing. The event is called `Unloading` but the documentation says you get the event when it's **unloaded**. Which one is it? Also, since the unloading is done asynchronously, can you use this even to reliably know when the assembly load context is unloaded?

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.unloading?view

[2020-01-23 18:47] carlossanlop commented on #2970
@mairaw should be document exceptions that might be stored in the returned task?

[2020-01-24 17:37] rladuca commented on #3594
@mairaw `DispatcherTimer` is owned by WPF.  This is, indeed, the only constructor that explicitly starts the timer and we should have appropriate documentation to that affect.

The code comments are slightly different but still somewhat ambiguous:
[code]

I could interpret "will be processed" as "will be started", but the better idea would be to take the current blurb in the documentation and chan

[2020-01-25 01:39] mairaw commented on #3787
This issue was moved to MicrosoftDocs/feedback#2433

[2020-01-25 01:39] #3787 closed

[2020-01-25 01:56] mairaw commented on #3785
You're right. That description is incorrect. I've opened PR #3804 to fix that but I'm asking the devs to verify my change is correct.

[2020-01-25 01:59] mairaw commented on #3774
Thank you @antonfirsov. Parts of this would be covered by #1683. .NET 5 behavior would be documented later.

Adding @gewarren for breaking changes between the two platforms that we're trying to document in this section: https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core and https://docs.microsoft.com/en-us/dotnet/core/compatibility/unsupported-apis

[2020-01-25 02:02] mairaw commented on #3775
Would you like to submit a PR to fix that @GrabYourPitchforks?

The docs for that start at https://github.com/dotnet/dotnet-api-docs/blob/master/xml/Microsoft.VisualBasic/Strings.xml#L3880

[2020-01-25 02:04] mairaw commented on #3777
@karelz @davidsh can you address this feedback?

@gewarren this seems another issue that should go into the breaking changes between Framework and Core.

[2020-01-25 02:20] mairaw commented on #3692
Thank you @SharunasBielskis. I'll get that fixed.

[2020-01-25 02:31] mairaw commented on #3677
Thanks for your feedback @shampeter. It means that the documentation set is no longer being maintained. I'll change those links to go to https://docs.microsoft.com/en-us/previous-versions/aspnet/dtkwfdky(v=vs.100) since at least you get the TOC for the archived ASP.NET docs.

[2020-01-25 19:23] EatonZ commented on #3777
I can attest that this needs to be added as a breaking change. I was trying to figure out why this wasn't working going from .NET Framework to.NET Core and I arrived at the [issue @waltdestler created](https://github.com/dotnet/corefx/issues/42564).

Although, I would prefer that this be fixed instead of adding a documentation note telling people that it's broken and to not use it.🙄 `WebClient` is

[2020-01-27 17:52] #3677 closed

[2020-01-28 00:15] #3692 closed

[2020-01-28 01:27] mairaw commented on #3742
Thanks for your feedback @erikness. @karelz @davidsh can you take a look at this feedback?

[2020-01-28 01:29] mairaw commented on #3584
Thanks for your feedback @cremor. @krwq @tarekgh can you please check this feedback?

[2020-01-28 01:31] mairaw commented on #3562
Thanks for your feedback @ArthurHNL. @jkotas @stephentoub who can help with this feedback for Environment.FailFast?

[2020-01-28 01:33] mairaw commented on #3509
@tannergooding is this something you can help address?

[2020-01-28 01:42] mairaw commented on #2903
Thanks for your feedback. @merriemcgaw @RussKie can one of you help with this issue about https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.textformatflags?

[2020-01-28 01:46] mairaw commented on #2920
Thanks for your feedback @SittenSpynne. @davidsh @karelz can you confirm this is the behavior and for which versions?

[2020-01-28 01:50] mairaw commented on #2665
@carlossanlop @tarekgh @GrabYourPitchforks who could help with this feedback for https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlconvert.tostring?view=netframework-4.8#System_Xml_XmlConvert_ToString_System_DateTime_?

Would it be the same as calling with Unspecified? We could just add that info to the note about the obsolete behavior.

[2020-01-28 01:51] mairaw commented on #2665
I'm guessing this area would belong to @buyaa-n @krwq?

[2020-01-28 01:53] mairaw commented on #2922
Thanks for your feedback @chipperatkins.
@davidsh @wfurt @scalablecory @eiriktsarpalis @karelz can you please take a look?

[2020-01-28 02:12] jkotas commented on #3562
On Unix, the fatal errors are logged to stderr only today. There is no equivalent of Windows Application event log.

https://github.com/dotnet/coreclr/issues/18491 tracks doing something similar on Linux too. If you have any feedback about why it is important for you, please comment on that issue.

[2020-01-28 02:36] tannergooding commented on #3509
Yes. Also, CC. @pgovind

[2020-01-28 06:24] GrabYourPitchforks commented on #2665
If you're doing this for serialization purposes, I'd recommend the `RoundtripKind` value. It won't be character-for-character the same as `Convert.ToString(DateTime)`, but that's OK since the point of this overload is to generate a string that has better compatibility across the ecosystem of XML serialization libraries.

FWIW, if possible I'd recommend changing the calling code to use `DateTimeOff

[2020-01-28 07:37] #3267 closed

[2020-01-28 08:22] #3051 closed

[2020-01-28 17:03] tarekgh commented on #2665
I agree with @GrabYourPitchforks to use `RoundtripKind` is the best option.

[2020-01-28 18:33] tarekgh commented on #3584
I agree with @cremor the doc may need some clarifications and updates. Here are some comments which can help to clarify:

- It is not recommended to use Thread.CurrentCulture/CurrentUICulture because it causes some confusion as these properties will set the current cultures to the current threads and not to the thread object used in the call. Users should treat these properties as obsolete and alw

[2020-01-28 18:54] #3695 closed

[2020-01-28 19:06] buyaa-n commented on #2665
Thank you @GrabYourPitchforks @tarekgh, `XmlDateTimeSerializationMode.RoundtripKind` seems the closest match with the old behavior

[2020-01-28 20:44] cremor commented on #3584
@tarekgh  Something is not right here. Did you mean to write "You **can** stop flowing..."?
If yes, is it really good to fix the example in that way? Shouldn't it better be updated to show the default behavior of .NET Core and current versions of .NET Framework?

[2020-01-28 20:48] tarekgh commented on #3584
Yes, I meant You can stop. I'll fix that. thanks for spotting it.

I am not sure if you are referring to the doc or the code sample here. anyway, I think we need to update both. but the code sample will just need to use `ExecutionContext.SuppressFlow()`. please let me know if you mean something else.

[2020-01-28 20:56] cremor commented on #3584
I meant the code sample on the documentation page of `CultureInfo.DefaultThreadCurrentCulture`. If I understand you correctly, you suggest to add `ExecutionContext.SuppressFlow()` in there so that it once again doesn't flow the culture and produces the documented output.
My alternative suggestion would be to update the sample in a way that shows that the culture does flow by default. (Maybe that m

[2020-01-28 20:59] tarekgh commented on #3584
This is a good suggestion but I believe the code sample should be in the CultureInfo.CurrentCulture doc page instead. There we can mention more details as needed.

[2020-01-28 21:55] jongleur1983 commented on #2665
Hi.
As the original poster of that question, my problem back then was to migrate a serialization API, so it was crucial to keep the same format.
The hint on the obsolete method just was "use the other overload", which is not sufficient to know if that's an exact replacement or where the differences are.

Basically it would have been helpful (and would have solved my question beforehand) if there h

[2020-01-28 21:56] #3785 closed

[2020-01-29 00:20] MithrilMan opened #3814 "allow to specify default language and store it"
Please, please... allow us to save the language we want to use when reading the documentation.
Save it in LocalStorage, in cookie, wherever but please do that :)

There is language selection at the bottom of the page but the selection doesn't get stored and so everytime I google for something and I'm taken to the https://docs.microsoft.com/ I'm presented to my local language, while I want to stick

[2020-01-29 00:50] buyaa-n commented on #2665
@jongleur1983 thank you for your valuable input, as you mentioned for exact match `ToString(DateTime value, string format)` could be used, where `format` value should be `"yyyy-MM-ddTHH:mm:ss.fffffffzzzzzz"`, we will update the doc with suggested `XmlDateTimeSerializationMode` and the exact replacement option

[2020-01-29 01:31] mairaw commented on #3814
Thank you for your feedback @MithrilMan. We already have this issue being tracked at https://github.com/MicrosoftDocs/feedback/issues/462. So closing this one as duplicate.

[2020-01-29 01:31] #3814 closed

[2020-01-29 04:45] carlossanlop commented on #3792
@scalablecory can you help triage this documentation issue?

[2020-01-29 04:48] carlossanlop commented on #3724
@ViktorHofer @maryamariyan are the Regex area owners. Can you help review?

[2020-01-29 08:32] GrabYourPitchforks opened #3818 "MemoryMarshal.Cast should mention that this does not preserve type safety"
Doc page: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.memorymarshal.cast

The documentation makes the claim "Neither `TFrom` nor `TTo` can contain pointers or references. `TFrom` and `TTo` are checked at runtime in order to preserve type safety." However, this is incorrect. Both `TFrom` and `TTo` are allowed to contain pointers. The only restriction is that they can'

[2020-01-29 13:25] mefmund opened #3819 "DirectoryInfo.GetFiles Method throws FileNotFoundException"
In doc https://docs.microsoft.com/en-us/dotnet/api/system.io.directoryinfo.getfiles?view=netcore-3.1
there is no mention that when you run this method and there is no file in directory the FileNotFoundException is raised.

[2020-01-29 15:45] tarekgh commented on #2665
Did you try to deserialize the data which is serialized with `ToString(DateTime, XmlDateTimeSerializationMode.RoundtripKind )`  and didn't work? `ToDateTime(string, XmlDateTimeSerializationMode.RoundtripKind) should work just fine.

[2020-01-29 17:59] ChrisTo54 opened #3821 "Cryptography.SymmetricAlgorithm.Key doesn't mention that it resets KeySize property"
In the documentation here: https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.symmetricalgorithm.key?view=netframework-4.8

It should mention that if you set the KeySize property and then set the Key property to a key with a different key size, it changes the KeySize property. This led to some confusion when I was setting 256 as the key size but then accidentally specified a

[2020-01-29 18:58] jongleur1983 commented on #2665
@tarekgh I'm not sure how we solved the issue back then.
Maybe we even changed the API on both sides (producer and consumer) to ensure it would work.

I don't care about that issue any more. All I wanted to achieve was something like the additional hint suggested by @buyaa-n .

[2020-01-31 01:56] #3826 closed

[2020-01-31 08:14] cremor commented on #3792
Note that this additional information would only be true for .NET Framework. For .NET Core it was changed to not dispose the content. See dotnet/corefx#19082

[2020-01-31 22:29] iUnknwn opened #3831 "Utf8JsonReader Docs Do Not Include Buffer Requirements, Missing Examples for Partial Reads"
The current [JsonReader docs ](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonreader?view=netcore-3.1) and the [example page](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to?view=netcore-3.1#use-utf8jsonreader) only cover how to use the reader when the entire document is loaded, but do not cover partial reads.

This can lead to confusion

[2020-02-01 12:51] a510 opened #3833 "MD5CryptoServiceProvider examples don't dispose the object"
In the examples in [this page](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.md5cryptoserviceprovider) shouldn't we dispose the `MD5CryptoServiceProvider` instances since they implement IDisposable ?

[2020-02-03 00:12] DavidWBrooks opened #3835 "DateTime.Subtract documentation has incorrect return type for first overload"
Subtract(DateTime) | Returns a new DateTime that subtracts the specified date and time from the value of this instance.

Should be "Returns a new TimeSpan that is equal to the date and time represented by this instance minus the specified date and time".

The text appears twice. I can see the text in the markup but not sure how to submit the fix.

This may be a dup of #2640, but the fix doesn't ap

[2020-02-04 19:47] PaulStegler opened #3847 "LogLevel enum documentation is out of order."
It would be nice to order the enum values based on their numeric value. Right now it is ordered 5,1,4,2,6,0,3 which is mildly annoying.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.loglevel

https://github.com/dotnet/dotnet-api-docs/blob/master/xml/Microsoft.Extensions.Logging/LogLevel.xml

[2020-02-04 20:03] PaulStegler commented on #3847
I'm not sure if this documentation is autogenerated somehow but if not I created a pull request which should resolve this issue.

https://github.com/dotnet/dotnet-api-docs/pull/3849

[2020-02-04 21:38] breyed opened #3850 "Improve discoverability of effect of a suspended system on delay"
The documentation for `Task.Delay` does not specify its behavior when the system is suspended, nor do its docs link to external docs on the topic. One way or another, it should be easy for a developer to discover what the behavior will be.

I had submitted PR #2354 to specify the suspend behavior directly in the `Task.Delay` docs, to which @stephentoub suggested a different approach:

This issue c

[2020-02-05 01:41] davidsh commented on #3742
This is good feedback. Both .NET Framework and .NET Core have historically always worked this way. We haven't seen any other customer reports about using multiple compression schemes for HTTP content. I don't think we ever considered scenarios with multiple values in the 'Content-Encoding' header.

At a minimum, yes, we can document the current behavior. But it might be useful for you to open an i

[2020-02-05 01:44] davidsh commented on #2920
The Xamarin networking stack uses a different implementation.

@marek-safar can comment on the Xamarin implementation. Perhaps our documentation for HttpClient can mention these differences in behavior in the 'Remarks' section.

[2020-02-05 09:46] n9 opened #3851 "FieldBuilder.SetValue for static init-only fields in .NET Core 3.0+"
The documentation says:

https://github.com/dotnet/dotnet-api-docs/blob/eb7cd6ec7fe65807ae94c55bc152a128a8224014/xml/System.Reflection.Emit/FieldBuilder.xml#L941

For static init-only fields, this workaround was working in .NET Framework, however this is no longer supported in .NET Core 3.0+ (see https://github.com/dotnet/runtime/issues/11571#issuecomment-442675193).

So, how to initialize static

[2020-02-05 22:09] erikness commented on #3742
Thanks, David! I'll open up an issue there too, however, it's unclear to me how important multiple compression layers are.

Interesting thing to note: before .NET Core supported Brotli, it only had GZip and Deflate, which are 2 different formats for the same underlying algorithm (so why would anyone apply it twice?).

[2020-02-06 21:44] marek-safar commented on #2920
I don't think this is Xamarin specific issue. The implementation possibly calls user code via HttpMessageHandler hence this method can with current implementation throw any exception

[2020-02-06 23:29] gewarren commented on #3699
Ping @karelz

[2020-02-07 00:16] mairaw commented on #3847
It is auto-generated and the default ordering is based on field name. You can see some discussion around this at https://github.com/MicrosoftDocs/feedback/issues/351.

[2020-02-07 00:16] #3847 closed

[2020-02-07 23:21] gewarren commented on #3774
@antonfirsov If the change in UseOnlyOverlappedIO from .NET Fx to .NET Core is actually a breaking change, could you fill out [this template](https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md) please?

[2020-02-08 02:09] merriemcgaw commented on #2903
@Tanya-Solyanik do you have thoughts?

[2020-02-08 02:54] mairaw commented on #852
It's not clear for me what's the issue here. @PHuhn do you remember what exactly was this? Otherwise, we should close this since I can't find the problem.

[2020-02-08 02:57] mairaw commented on #870
I cannot repro this. Closing.

[2020-02-08 02:57] #870 closed

[2020-02-08 03:08] mairaw commented on #1440
Thank you for your feedback. We're fixing some issues related to that documentation but I have a PR open to address that.

[2020-02-08 03:10] mairaw commented on #2661
Closing as this has been fixed.

[2020-02-08 03:10] #2661 closed

[2020-02-09 14:50] soniczoo commented on #2986
If intellisense showed Obsolete, we probably wouldn’t have invested 100s of hours expanding our use of smtpclient recently, only to find an issue in one deployment. Then to see some rouge looking notes and a “here’s what’s popular” recommendation ( which will take 100s more hours of our teams time, if we can even get through the open source hoops and audits from our own and customer’s security tea

[2020-02-09 18:09] mairaw commented on #2986
@mimisasouvanh any updates on when we're going to be able to show attributes for the right version selected?

[2020-02-10 00:20] #3724 closed

[2020-02-10 20:29] #3374 closed

[2020-02-10 21:17] Tanya-Solyanik commented on #2903
Thank you, @david-c14, for raising very good points. These values only expose the underlying windows options for DrawTextEx: https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-drawtextexa

[2020-02-10 23:29] RussKie commented on #2903
Then do we need to update our docs, as the Win32 docs don't mention "legacy"?

[2020-02-10 23:56] mairaw commented on #3851
@jkotas can you help with this feedback? Would this be a breaking change between Framework and Core? /cc @gewarren

[2020-02-11 01:11] jkotas commented on #1204
I have run into this when looking when looking at unrelated issue. The documentation of the required code access security permissions adds a lot of legacy clutter to the documentation.

The code access security is officially deprecated for number if years. It is documented here: https://docs.microsoft.com/en-us/dotnet/framework/misc/code-access-security . I believe it would be  perfectly fine to d

[2020-02-11 01:29] mairaw commented on #1204
Yep. If it doesn't add any value, I'm completely fine removing it.

[2020-02-11 01:39] jkotas commented on #3851
I have submitted https://github.com/dotnet/dotnet-api-docs/pull/3869/ with the doc update.

The best way to initialize static init-only fields is by code in static constructor. This applies equally to both dynamic and non-dynamic types.

[2020-02-11 01:51] briangithex opened #3870 "OverflowException ignores special case for division by -1"
**Location of Issue**
URL - https://docs.microsoft.com/en-us/dotnet/api/system.overflowexception
Source - https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/OverflowException.xml

**Issue description**
The documentation states that arithmetic operations will not throw an OverflowException, unless in a checked context.  However, there is one (implementation-defined exception) to this

[2020-02-11 02:15] Tanya-Solyanik commented on #2903
yes

[2020-02-11 08:34] n9 commented on #3851
@jkotas There is a use case of passing references to static initonly fields described here https://stackoverflow.com/q/60061066/121968 (see comments to this question). What is an "official" recommended solution for this particular use case in .NET Core 3.0+?

[2020-02-11 14:04] jkotas commented on #3851
Option 1: Remove `FieldAttributes.InitOnly` from the type field attributes. This is the easiest.
Option 2: Add static constructor to the type (ie call `typeBuilder.DefineDefaultConstructor(MethodAttributes.Static)`) and emit code to initialize the static field into this static constructor.

[2020-02-11 15:38] #1930 closed

[2020-02-11 19:12] #1204 closed

[2020-02-11 19:16] #2329 closed

[2020-02-11 19:35] migueldeicaza commented on #2986
Folks, the story of how this attribute got added is worthy of a blog post.

That said, in a world where you want the best interop in the world, the most efficient encodings, the most efficient code, the comformance to the best protocols available at your disposal, you are not doing yourself or your users any favors by using SmtpClient.   This is like embracing HTTP in an era that has moved to HTTP

[2020-02-11 21:03] PashaPash commented on #2986
@migueldeicaza what exactly is wrong with SmtpClient in terms of encoding support or protocols support? It does support TLS, it does support UTF-8, that covers 99% of common cases for most of the apps.

That is some kind of strange path of single person decision making. You put that attribute on a mono codebase, providing subjective "we strongly recommend ...", and apparently that "we" becomes off

[2020-02-11 21:28] svick commented on #2986
@PashaPash

[MailKit is part of the .NET Foundation](https://dotnetfoundation.org/projects?searchquery=mailkit&type=project), so if the maintainer decided to abandon it, somebody else should take their place.

[2020-02-11 22:24] soniczoo commented on #2986
It would really be nice to know exactly what's wrong with system.net.mail.smtpclient but I cannot get/find a straight answer. This lack of info and professional courtesy looks bad for Microsoft and the developers of Mailkit (especially if they are affiliated).
Mailkit seems awesome in every way, and it works in the ONLY environment (of 100s) SMTPClient has had a problem in - thank god it's our own

[2020-02-11 23:27] PashaPash commented on #2986
Not sure how dotnetfoundation.org membership implies change of project ownership. Dotnetfoundation is about technical services and marketing, not about code contribution.

There is a hope that a second contributor will pick up the project, but for MailKit jstedfast is the only major contributor. 2-nd contributor is Redth, the owner of now abandoned PushSharp. And he has only 9 commits. 3-rd is mig

[2020-02-11 23:48] mimisasouvanh commented on #2986
@mairaw We will be rolling out the attribute versioning feature later this week.

[2020-02-12 00:11] #3456 closed

[2020-02-12 21:08] gewarren commented on #3851
Besides #3869, we also need to update the FieldBuilder.SetValue recommendation. I'll change "fixes" to "contributes to" in #3869.

[2020-02-12 23:11] gewarren commented on #3851
It's a breaking change between .NET Framework and .NET Core, but it's also a breaking change between .NET Core versions. So, I don't think it belongs in the [.NET Framework -> .NET Core breaking changes article](https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core), but rather the [2.2-3.0](https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0) and 2.2-3.1 articles. Thou

[2020-02-13 01:15] PriyaPurkayastha commented on #3851
Yes, on reading through #3869, this is a breaking change introduced in .NET Core 3.0, so 2.x to 3.x articles will feature this. It is a bit tricky - breaking changes introduced in .NET Core in any release would typically be between .NET Framework and .NET Core as well but I am not sure how we manage the documentation. Currently, .NET Framework to .NET Core article is primarily for WPF/Winforms int

[2020-02-13 08:25] jkotas commented on #3851
`FieldBuilder.SetValue` recommendation looks fine to me.

`FieldInfo.SetValue` throws exceptions for number of different situations that it does not handle. None of them are mentioned in the FieldBuilder.SetValue recommendation. I do not think it makes sense to duplicate the content to mention them.

[2020-02-13 17:00] gewarren commented on #3851
Makes sense, I changed the 3869 PR comment back to "fixes". Thanks!

[2020-02-13 18:35] JojoEffect opened #3878 "Update doc for AssemblyLoadContext"
Hi all,

I just noticed that the docs for the AssemblyLoadContext class seems to be outdated.

At least this
https://github.com/dotnet/dotnet-api-docs/blob/49bc77c1122713c4519ec8870ae4c5faa0397d4c/xml/System.Runtime.Loader/AssemblyLoadContext.xml#L32
is not correct anymore since .net core 3.0 as far as I can judge.

See [this issue](https://github.com/dotnet/runtime/issues/28491).

I hope this is

[2020-02-14 22:13] kdbdevops opened #3883 "Update DataTable.Merge Method example"
In the example code for Merge(DataTable, Boolean):

table1Copy.Merge(modifiedTable, false);
PrintValues(modifiedTable, "Merged data (don't preserve changes)");

should be

table1Copy.Merge(modifiedTable, false);
PrintValues(table1Copy, "Merged data (don't preserve changes)");

[2020-02-14 23:30] mairaw commented on #3883
Thank you @kdbdevops. I've opened a PR to fix that.

[2020-02-14 23:34] mairaw commented on #3878
Thanks @JojoEffect. This is the right place indeed.

@sdmaclea can you take a look at the API docs for this class?
This is potentially a breaking change for .NET Core and between Core and Framework.
We'd need a breaking change issue filed as well @sdmaclea.

/cc @gewarren

[2020-02-14 23:35] mairaw commented on #3870
Thanks for your feedback @briangithex. @BillWagner can you look at this bug?

[2020-02-15 00:11] sdmaclea commented on #3878
Yes it was an abstract class in 2.x, but in 3.0 it got a concrete implementation.  The API review board decided this was not a breaking change.

It wasn't clear how to document this.

This class was not present in `.NET Framework`.

[2020-02-15 00:13] sdmaclea commented on #3878
@mairaw I am happy to make a change, but I do not really know how.  I believe everything else from that API review was handled.

/cc @vitek-karas @elinor-fung

[2020-02-15 00:18] mairaw commented on #3878
My bad. I didn't look at the docs online to see the applies to section.

The content inside the remarks is in Markdown:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Runtime.Loader/AssemblyLoadContext.xml#L32

[2020-02-16 17:44] jzabroski commented on #3468
@David-Engel Correct, but the path through the system here is not the ConnectionString property, but the constructor taking a raw string value.  Note, the SqlConnectionStringBuilder.ToString() method does not throw the exception in my example, and it's the constructor that throws the exception.

Thanks for your patience!

[2020-02-18 16:16] #3883 closed

[2020-02-18 23:30] erikness commented on #3742
One more thing that should be documented: when the user sets AutomaticDecompression to some values, .NET will send an Accept-Encoding header for each of those values in every request sent from that handler. This was actually a point of confusion for another team I worked with recently.

[.NET Framework source link](https://github.com/microsoft/referencesource/blob/17b97365645da62cf8a49444d979f94a5

[2020-02-19 20:28] #852 closed

[2020-02-21 09:55] Soothsilver commented on #774
`SystemColors` still have some effect. For example, they affect the background of textboxes. As a user, you can change them with registry hacks (https://superuser.com/a/1190188/338981) and if you enable a high contrast mode, the system colors also reflect this.

[2020-02-21 14:02] Stebla2012 opened #3899 "Type class inheritance description wrong"
e.g. https://docs.microsoft.com/en-us/dotnet/api/system.type?view=netframework-4.8

Wrong:
Inheritance Object->Type
Correct:
Object->MemberInfo->Type

Regards

[2020-02-21 21:42] ticianaciminari opened #3901 "thread.start"
@proff commented on [Tue Feb 18 2020](https://github.com/dotnet/docs.ru-ru/issues/255)

Thread.Start - wasm

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: f6487cae-3320-584d-6c27-fc712ec03e72
* Version Independent ID: 846981e7-bc47-0df8-8621-22282de18ef3
* Content: [Неподдерживаемые A

[2020-02-21 21:42] ticianaciminari opened #3902 "thread.start"
@proff commented on [Tue Feb 18 2020](https://github.com/dotnet/docs.ru-ru/issues/255)

Thread.Start - wasm

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: f6487cae-3320-584d-6c27-fc712ec03e72
* Version Independent ID: 846981e7-bc47-0df8-8621-22282de18ef3
* Content: [Неподдерживаемые A

[2020-02-21 21:44] ticianaciminari commented on #3901
Hi Team, if you check the below thread, @proff reported that _threading is not supported by client-side blazor. I came to the page from other site and the title is not clear that it is ".NET Framework to .NET Core" section._

Could you please check this?

Kind regards,
Microsoft DOCS International Team

[2020-02-21 23:10] #2903 closed

[2020-02-22 16:16] KalleOlaviNiemitalo commented on #1792
I don't see `[SerializableAttribute]` on the page any longer, so the error was apparently fixed, perhaps as part of <https://github.com/dotnet/dotnet-api-docs/issues/2986#issuecomment-584922287>.

[2020-02-22 16:16] #1792 closed

[2020-02-23 00:05] carlossanlop opened #3904 "Documentation plan for 1.0+ Runtime APIs"
The plan is to document all APIs introduced in version 1.0 in the next 3 months, ensuring we document 1/3 of them at the end of every month.

The effort begins on February 24th.

1) 33% milestone: March 24th.
2) 66% milestone: April 24th.
3) 100% milestone: May 24th.

The following table lists the total number of undocumented APIs per namespace and the version where they were introduced.
_Note: Un

[2020-02-23 00:22] karelz commented on #3686
cc @MihaZupan

[2020-02-23 00:24] karelz opened #3906 "Uri.EscapeUriString/EscapeDataString - stringToEscape limit 32766 was lifted in .NET 5+"
How can we scope the limit to `stringToEscape` size to .NET Core 3.1 and earlier + .NET Framework?

The limitation was removed in 5.0 in PR https://github.com/dotnet/corefx/pull/41686

[2020-02-23 00:24] karelz commented on #3906
cc @MihaZupan

[2020-02-23 00:27] MihaZupan commented on #3906
The length limit was lifted only on static (Un)Escape* methods, see https://github.com/dotnet/runtime/issues/1857#issuecomment-590012273

[2020-02-24 06:10] karelz commented on #3906
Updated title - we should update docs of the 2 methods:
- https://docs.microsoft.com/en-us/dotnet/api/system.uri.escapeuristring?view=netframework-4.8
- https://docs.microsoft.com/en-us/dotnet/api/system.uri.escapedatastring?view=netframework-4.8

[2020-02-24 17:06] cheenamalhotra commented on #3904
@CarlHeinrichs

Re: System.Data.SqlClient (13)
Could you also provide us list of these 13 APIs that we can work on?

[2020-02-24 18:20] carlossanlop commented on #3904
Gladly, @cheenamalhotra . I'm preparing that information right now. I'll create an issue for each area and will also send the usual email.

[2020-02-24 18:44] carlossanlop opened #3909 "WPF undocumented APIs"
@vatsan-madhavan,
Here are the undocumented API owned by WPF. They were introduced in 3.0.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?
Although since your team only has 2 undocumented APIs they could be documented on the first pass.

For more information on the

[2020-02-24 18:55] carlossanlop opened #3910 "System.Data 1.x undocumented APIs"
@ajcvickers @cheenamalhotra @David-Engel @karinazhou @JRahnama @CarlHeinrichs

Here are the undocumented API owned by `System.Data.Common` and `System.Data.SqlClient`. They were all introduced in 1.x. Your team has no debt from 2.x or 3.x (thank you!).
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month

[2020-02-24 19:01] carlossanlop opened #3911 "Winforms undocumented APIs"
@Russkie @merriemcgaw

Here are the undocumented API owned by the WinForms team. They were introduced in 3.0.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 13
_Note: The table has 3 really long columns._

DocI

[2020-02-24 19:09] carlossanlop opened #3912 "System.Reflection 1.x undocumented APIs"
@steveharter @GrabYourPitchforks

Here are the undocumented API from `System.Reflection`. They were introduced in 1.x. There's some debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 395.

[2020-02-24 19:12] carlossanlop opened #3913 "System.Reflection 1.x undocumented APIs"
@steveharter @GrabYourPitchforks

Here are the undocumented API from `System.Reflection`. They were introduced in 1.x. There's some debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 395.

[2020-02-24 19:13] carlossanlop commented on #3913
Closing. GitHub created this one twice, not sure why.

[2020-02-24 19:13] #3913 closed

[2020-02-24 19:17] carlossanlop opened #3914 "System.Collections 1.x undocumented APIs"
@eiriktsarpalis @layomia

Here are the undocumented API from `System.Collections`. They were introduced in 1.x. There's some debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 85.
_Note: T

[2020-02-24 19:22] carlossanlop opened #3915 "System.Xml 1.x undocumented APIs"
@buyaa-n @krwq

Here are the undocumented API from `System.Xml` that were introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 54
_Note: The table has 3 really long columns._

DocId | Source File P

[2020-02-24 19:32] carlossanlop opened #3916 "System.Net 1.x undocumented APIs"
@dotnet/ncl

Here are the undocumented API from `System.Net`. Some of them were introduced in 1.x, but there's also some debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 63.
_Note: The t

[2020-02-24 19:42] carlossanlop opened #3918 "System.Text.RegularExpressions 1.x undocumented APIs"
@pgovind @eerhardt

Here are the undocumented API from `System.Text.RegularExpressions`. No APIs were introduced in 1.x, but there's debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 39.

[2020-02-24 20:18] vatsan-madhavan commented on #3909
@fabiant3-zz can we reassign this to you?

/cc @dotnet/wpf-developers

[2020-02-24 21:01] carlossanlop opened #3920 "System.Security 1.x undocumented APIs"
@bartonjs @GrabYourPitchforks @krwq

Here are the undocumented API from `System.Security`. There's some debt from the 2.x and 3.x efforts.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 45.
_Note: The table has

[2020-02-24 21:04] carlossanlop opened #3921 "System.Diagnostics 1.x undocumented APIs"
@tommcdon @sywhang @krwq

Here are the undocumented API from `System.Diagnostics`. There is one API that was debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 5.
_Note: The table has 3 re

[2020-02-24 23:01] merriemcgaw commented on #3911
@carlossanlop we should be able to get these all in March. @JuditRose took a look at some of them and found the content on docs.microsoft.com. Has the report been rerun lately?

[2020-02-25 06:50] carlossanlop opened #3923 "System.Threading.Tasks 1.x undocumented APIs"
@tarekgh @stephentoub

Here are the undocumented API from `System.Threading.Tasks` that were introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 12.
_Note: The table has 3 really long columns._

D

[2020-02-25 06:55] carlossanlop opened #3924 "System.Drawing 1.x undocumented APIs"
@JeremyKuhne @maryamariyan

Here are the undocumented API from `System.Drawing`. These are debt from the 2.x effort.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 6.

DocId | Source File Path | Docs URL
-- | -

[2020-02-25 07:16] carlossanlop opened #3925 "System.IdentityModel.Selectors undocumented APIs"
@mconnew @StephenBonikowsky @HongGit

Here are the undocumented API from `System.IdentityModel.Selectors`. These were introduced in 3.0+, and there were no undocumented APIs in 1.x or 2.x in this namespace. The new APIs were introduced in the PR https://github.com/dotnet/wcf/pull/3935.

I didn't find any area owners for this namespace in the [area ownership page](https://github.com/dotnet/runtime/

[2020-02-25 07:20] carlossanlop opened #3926 "Microsoft.Win32 1.x undocumented APIs"
@maryamariyan @Anipik

Here are the undocumented API from `Microsoft.Win32`, introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?

For more information on the plan, see: #3904

Total: 6.
_Note: The table contains 3 really wide columns._

DocId | Sourc

[2020-02-25 07:27] carlossanlop opened #3927 "System.Runtime.CompilerServices 1.x undocumented APIs"
@Anipik @steveharter

Here are the undocumented API from `System.Runtime.CompilerServices`, introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?
Since this namespace only has 6 undocumented APIs, they could all be tackled on the first month.

For more

[2020-02-25 07:31] carlossanlop opened #3928 "System.Runtime.InteropServices 1.x undocumented APIs"
@AaronRobinsonMSFT @jkoritzinsky

Here are the undocumented API from System.Runtime.CompilerServices, introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?
Although since this namespace only has 5 undocumented APIs, it's possible to tackle them all on

[2020-02-25 07:48] carlossanlop opened #3929 "System.ServiceModel 1.x undocumented APIs"
@mconnew @StephenBonikowsky @StephenMolloy @HongGit

Here are the undocumented API from `System.ServiceModel` introduced in 1.x. There were no 2.x or 3.x APIs introduced into this namespace.

I didn't find any area owners for `System.ServiceModel` and `System.ServiceModel.Channels` in the [area ownership page](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md), but the `System.Serv

[2020-02-25 07:53] carlossanlop opened #3930 "System.Threading 1.x undocumented APIs"
@kouvel

Here are the undocumented API from `System.Threading`, introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?
Since this namespace only has 7 undocumented APIs, it's possible to tackle them all on the first month.

For more information on the p

[2020-02-25 08:02] carlossanlop commented on #3911
Yes, @merriemcgaw . This table was obtained from the latest report, which was generated on 02/22. It's the freshest data.

I found a bug in the report that is showing certain APIs (like some delegates) as undocumented, but they have content. I reported it to the Docs team and they'll take a look soon.

@JuditRose can you please tell me which APIs had documentation already?

[2020-02-25 08:07] carlossanlop opened #3931 "System.ComponentModel 1.x undocumented APIs"
@JeremyKuhne @safern

Here are the undocumented API from `System.ComponentModel`, introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?
Since this namespace only has 3 undocumented APIs, it's possible to tackle them all on the first month.

For more in

[2020-02-25 08:11] carlossanlop opened #3932 "System.Linq 1.x undocumented APIs"
@eiriktsarpalis

Here are the undocumented API from `System.Linq`, introduced in 1.x.
We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 33% of the APIs in the next month. Can you please help us with that?
Since this namespace only has 3 undocumented APIs, it's possible to tackle them all on the first month.

For more information on th

[2020-02-25 14:23] stephentoub commented on #3923
@carlossanlop, most (all?) of these appear to be explicit interface method implementations.  We need to document those?  There's no public surface area: the API to be documented is on the interface.  But even if we do need to, the source is actually documented, it's just using `<include/>` syntax, e.g. for the first example in your list:
https://github.com/dotnet/runtime/blob/e1441aa7f66c2d21b6555

[2020-02-25 17:45] carlossanlop commented on #3923
@stephentoub yes, EIIs are also documented.

Unfortunately, we have to document them manually, because tags like `<include />` or `<inherit />` do not copy the original text when building (_it's a bug... who should I report this to, the Roslyn team?_), so I'm unable to automatically port them with my tool.

The descriptions are copied verbatim from the original API, and in the remarks we add a com

[2020-02-25 18:01] stephentoub commented on #3923
I just built System.Threading.Tasks.Dataflow locally, and I see these output correctly in the .xml.  Do you see differently?

e.g.
[code]

[2020-02-25 18:30] carlossanlop opened #3934 "System 1.x undocumented APIs"
Here are the undocumented API from `System`, introduced in 1.x (except 3 APIs, which are debt from 2.x).

There are [no specific area owners](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md) for these APIs, so I'll mark this issue as `up-for-grabs`.

For more information on the plan, see: #3904

Total: 25
_Note: The table contains 3 really wide columns._

DocId | Source File Path

[2020-02-25 18:58] carlossanlop commented on #3923
Glad to hear they are getting copied, and thank you for checking.

I had not tested the tags recently. When I did test the build a couple months ago, I noticed neither of those tags were working. Maybe the issue was noticed and fixed.

Let me try to port them with the DocsPortingTool.

[2020-02-25 19:28] JuditRose commented on #3911
Maybe I am just reading it the wrong way... But I can see these methods and fields including return value and parameter in Github and also on docs.microsoft.com as well.
DesignerActionService.GetComponentActions [Github DesignerActionService L478](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.ComponentModel.Design/DesignerActionService.xml#L478) [MS Docs DesignerActionService Ge

[2020-02-25 20:01] karelz commented on #3906
@BillWagner who can help us provide guidance how to express the above limitation in the docs?
I am more than happy to make the change, I just don't know what is the right form of edits (dislaimer / inline version info / something else). Thanks!

[2020-02-25 22:24] carlossanlop commented on #3911
@JuditRose

This method has 3 overloads. The one you shared is not the same signature (DocId) as the one mentioned in the issue:
- Documented:
  - `<MemberSignature Language="DocId" Value="M:System.ComponentModel.Design.DesignerActionService.GetComponentActions(System.ComponentModel.IComponent)" />`
  - `<MemberSignature Language="DocId" Value="M:System.ComponentModel.Design.DesignerActionService.

[2020-02-26 20:05] #3923 closed

[2020-02-27 00:11] JuditRose commented on #3911
Yes, it does, thank you! Do you know if these gets autogenerated from the code or is there any source where these come from?

[2020-02-27 04:03] #3928 closed

[2020-02-27 14:20] Entomy opened #3949 "CultureInfo.ThreeLetterISOLanguageName type"
Is this ISO 639-2/T or ISO 639-2/B? The docs are unclear, and the two are different for certain cultures. Because this is "string typed" there's no compiler/IDE support for correct values, so this really needs to be documented.

[2020-02-27 20:39] BillWagner commented on #3906
I'll tag @joelmartinez

Is there a way to update this only in the .NET 5.0 monikers?

[2020-02-27 21:30] udlose commented on #1887
any updates on this issue?

[2020-02-27 22:31] joelmartinez commented on #3906
Hi @BillWagner ... currently the only way to express this in the written documentation, is through prose ... which is to say something like, "in .NET 5, X limitation is lifted", or something in that way. There's not currently a way to scope summaries or remarks to a specific moniker :)

[2020-02-27 22:39] #2665 closed

[2020-02-28 00:10] karelz commented on #3906
Thanks @joelmartinez ... what would be the preferred prose in this situation? (so that I can use it in other cases elsewhere)

[2020-02-28 06:59] LokiMidgard opened #3956 "Document that Uri can't parse all valid RFC 3986 uri's"
As discribed [in this issue](https://github.com/dotnet/runtime/issues/30300) the `Uri` class can't parse valid mailto uris with more then one address.

This should be documented.

[2020-02-28 15:50] churstz opened #3957 "Update CAS documentation to clarify its non-support within the package ecosystem"
The documentation for System.Text.Encodings.Web.TextEncoder (Encode specifically) needs to include details around required permissions needed in order to use this method based on SecurityRules / Trust, especially if it's using non typesafe code (i.e. unsafe) like it is.

As this is a core piece of code for handling encoding for UrlEncoding, HtmlEncoding and JavascriptEncoding that gets referenced

[2020-02-28 23:50] GreatFireWall commented on #2986
So, what should I use now?

[2020-02-29 19:46] alanisaac opened #3961 "Add ArgumentNullException docs to JsonSerializer.SerializeAsync overloads"
From https://github.com/dotnet/runtime/pull/32705#discussion_r384112482

In System.Text.Json, the methods:
[code]
Both throw an `ArgumentNullException` when `utf8Json` is null, and when `inputType` is null for the latter method.  Update the docs to reflect this.

[2020-03-02 00:54] Bartmax opened #3963 "Missing exception type on xml docs for SingleOrDefault(src, predicate)"
`public static TSource SingleOrDefault<TSource>(this IEnumerable<TSource> source);` has the doc for all exceptions.

`public static TSource SingleOrDefault<TSource>(this IEnumerable<TSource> source, Func<TSource, bool> predicate);`
looks like it's missing the invalid operation one.

[code]

[2020-03-02 17:14] #3961 closed

[2020-03-02 20:49] cheenamalhotra commented on #3910
Hi @carlossanlop

I see classes of System.Data.SqlClient including "[SqlBulkCopyColumnMappingCollection](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlbulkcopycolumnmappingcollection?view=dotnet-plat-ext-3.1)" has mixed up monikers among ".NET Core" and ".NET Platform Extensions".

Documentations for above mentioned APIs are available though.

I also see the same "Applies To

[2020-03-02 20:52] cheenamalhotra commented on #3910
For System.Data.Common, I can see that while most of APIs are available across all ".NET Core" versions, the above list of APIs are not available for v1.1 and v1.0.

/cc: @saurabh500 for System.Data.Common.

[2020-03-02 21:05] BillWagner opened #3964 "warning of timing vulnerability with CBC-mode symmetric decryption using padding."
See https://github.com/dotnet/dotnet-api-docs/pull/2609#issuecomment-503748558

The following algorithms are all affected:

- [ ] Aes
- [ ] AesCng
- [ ] AesCryptoServiceProvider
- [ ] AesManaged
- [ ] DES
- [ ] DESCryptoServiceProvider
- [ ] RC2
- [ ] RC2CryptoServiceProvider
- [ ] Rijndael
- [ ] RijndaelManaged
- [ ] TripleDES
- [ ] TripleDESCng
- [ ] TripleDESCryptoServiceProvider

[2020-03-02 21:10] #2948 closed

[2020-03-02 21:43] #3851 closed

[2020-03-03 04:54] Thraka opened #3965 "Merge master into live for publishing"

[2020-03-03 04:54] #3965 closed

[2020-03-05 02:18] carlossanlop commented on #3911
@JuditRose

These xml files are automatically generated by the Docs repo by reading the .NET reference assemblies of each version.

[2020-03-05 18:44] mairaw commented on #987
This has been fixed since then.

[2020-03-05 18:44] #987 closed

[2020-03-05 18:56] mairaw commented on #1369
The APIs have been documented but I think they can still use some work given their descriptions now are not very helpful.

/cc @carlossanlop not sure who owns this

[2020-03-05 18:57] mairaw commented on #1396
@carlossanlop is this on your list of APIs to be documented?

[2020-03-05 19:10] carlossanlop commented on #1369
@tannergooding are you the owner of System.Math? If not, do you know who is?

[2020-03-05 19:12] carlossanlop commented on #1396
@eiriktsarpalis @layomia are the owners of System.Collections. Can you please make sure these APIs are documented?

[2020-03-05 19:28] tannergooding commented on #1369
Yes I am. I think this is also simple enough that it could be marked `up-for-grabs` initially, and I or @pgovind can get to it for 5.0 otherwise.

[2020-03-06 05:43] BellBat opened #3974 "ProcessModelSection.AutoConfig"
Details for how the AutoConfig property actually works are not documented.
e.g. When autoconfig is true what properties get set to what values.

Example: I am very confident maxconnections get set to int.maxvalue, because I checked the reference source for 4.8 and recall from 4.7, but I do not remember when it changed or all the other properties.

https://github.com/dotnet/dotnet-api-docs/blob/mas

[2020-03-06 06:20] rdeago opened #5283 "It's an enum, not a bool"
"true if documentation comments are parsed, false otherwise" looks like a leftover from some previous version when there was no DocumentationMode enum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e54a9904-6b24-ebe4-bf78-04d85c4dc7c0
* Version Independent ID: 2f4c9571-4085-8153-198e-abd4ec120f3a
* Content: [ParseOpti

[2020-03-06 18:40] #982 closed

[2020-03-07 02:29] #901 closed

[2020-03-09 04:58] corranrogue9 opened #3978 "Some Max exception documentation is incorrect"
- The documentation [here](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.max?view=netframework-4.8#System_Linq_Enumerable_Max__1_System_Collections_Generic_IEnumerable___0__) indicates that an ArgumentException will be thrown if no element in source implements IComparable or IComparable<T>. This is not true if source contains only a single element, even if that element does no

[2020-03-09 11:02] #1000 closed

[2020-03-09 20:35] corranrogue9 commented on #3978
@danmosemsft, if you can point me to where the changes need to be made and some guidelines documents, I would be happy to offer a PR

[2020-03-09 20:44] danmosemsft commented on #3978
@corranrogue9 there is a contributing guide here
https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md

To quickly find the file to edit, just click the "edit" button in the top right of the topic. For example for Enumerable.Max:
https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.max?view=netframework-4.8#System_Linq_Enumerable_Max__1_System_Collections_Generic_IEnumerable___0

[2020-03-10 12:02] wldevries opened #3981 "Progress<T>: Link to example on .NET Framework Blog is broken"
Link is broken, should be https://devblogs.microsoft.com/dotnet/async-in-4-5-enabling-progress-and-cancellation-in-async-apis/

[2020-03-10 12:02] wldevries commented on #3981
This is about https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/Progress%601.xml

[2020-03-10 21:12] GrabYourPitchforks commented on #3912
Many of these APIs no longer exist. For instance, `EnumBuilder.ContainsGenericParameters` only existed in .NET Core 1.0 and .NET Core 1.1 - both of which are EOL. It was never in any version of .NET Framework or .NET Standard.

While docing these we should investigate whether we should focus our efforts on documenting APIs that exist in supported releases / standards only. Otherwise I imagine we c

[2020-03-10 21:16] carlossanlop commented on #3912
@GrabYourPitchforks so they were shipped in 1.0 and 1.1, correct? It's my understanding that APIs are never removed, which means they can still be used by users of 2.x, 3.x and 5.0. So they need to be documented.

Is my understanding correct or did I miss something?

[2020-03-10 21:17] BillWagner commented on #3912
@carlossanlop @GrabYourPitchforks I'm checking internally what, if any, compliance issues would apply to these APIs.

[2020-03-10 21:25] GrabYourPitchforks commented on #3912
@carlossanlop Some of these APIs do not exist in .NET Core 2.0+. In many cases they got removed in favor of leaving only the base class implementation.

For instance, `TypeBuilder`, `TypeInfo`, and `EnumBuilder` all subclass `Type`. So once `TypeBuilder.ContainsGenericParameters`, `EnumBuilder.ContainsGenericParameters`, and `TypeInfo.ContainsGenericParameters` were all removed, everybody just use

[2020-03-10 21:53] carlossanlop commented on #3912
Interesting. So we do have exceptions.

The report with undoc APIs generated by the Docs build system does not indicate in any way if an API has been removed. I would expect area owners to help find out these special cases.

We don't have a mechanism to inherit documentation from base classes, unfortunately.

@mimisasouvanh @joelmartinez should we have a mechanism that fills the "To be added." str

[2020-03-10 22:00] mairaw commented on #3912
Wouldn't the report just have earlier versions and not later versions when the API gets dropped? That would be a good indication that the API was removed.

I think there is a request for mdoc to support the inheritdoc tag.

[2020-03-10 23:18] GrabYourPitchforks commented on #3912
What prompted my initial question was that Steve and I were triaging issues, and we're trying to figure out how to get through some of the load of this. We want to focus on .NET Core 2.0+ APIs since that should involve the least amount of throwaway work and should benefit the largest percentage of our user base.

[2020-03-10 23:25] samsp-msft commented on #1280
This seems to be a prevalent problem in the networking documentation. We should try and do a global fix.
@BillWagner, @joelmartinez - is this something we can do with mdoc?

[2020-03-11 06:51] pgovind commented on #3918
Interesting, everything is in the *Collection methods/classes. This will be a good reason to spend time understanding what these methods do where appropriate

[2020-03-11 16:17] joelmartinez commented on #3912
Yeah, like @mairaw mentioned, some variation of a response/support for this has been on the request list for a while ... there's a few different ways the problem could be approached (`inheritdoc` being one of them).

I'd recommend you work with @mimisasouvanh to get a feature cycled into the priority list ... that way we can review all the cases this affects (interface implementations, overridden

[2020-03-11 19:14] carlossanlop commented on #2411
This is an intentional breaking change from .NET Framework. I'll update the documentation to reflect this.
As it was mentioned in the [more recent runtime thread reporting this same behavior](https://github.com/dotnet/runtime/issues/33477), @JeremyKuhne discuss the reasoning in detail in [his blog post](https://docs.microsoft.com/en-us/archive/blogs/jeremykuhne/system-io-in-net-core-2-1-sneak-peek

[2020-03-11 23:16] mairaw commented on #3912
Probably the best option is to download the undocumented API report and apply some filters. You'd be able to see which ones are also supported on later versions. Ping me if you need any help.

[2020-03-12 22:36] elinor-fung opened #3985 "Update documentation for Marshal.GetIUnknownForObject/GetObjectForIUnknown to reflect .NET 5 changes"
For .NET 5, `Marshal` APIs for converting between an `object` and `IUnknown` will be updated to use `ComWrappers` if an instance is registered globally. The documentation for these functions should be updated to reflect this behaviour for .NET 5.

Related runtime issue: dotnet/runtime#33329

Affected APIs:
- `Marshal.GetIUnknownForObject`
- `Marshal.GetObjectForIUnknown`
- `Marshal.GetUniqueObject

[2020-03-12 23:15] eerhardt commented on #3918
I believe all these new APIs came from https://github.com/dotnet/runtime/commit/526552679afc5e07c7862c113d15e647ad431c7a#diff-dbdb54cdcb40d86a43ab6f5fe45cea13 and documenting these new APIs will be mechanical. All the methods are just implementing the `IList<T>`, `IReadOnlyList<T>`, and `IList` interfaces, so we should be able to copy-paste the documentation from the interfaces.

[2020-03-13 18:57] samsp-msft commented on #1773
Appears to be fixed. @BillWagner can you close?

[2020-03-13 18:59] BillWagner commented on #1773
closed based on @samsp-msft 's recommendation.

[2020-03-13 18:59] #1773 closed

[2020-03-13 20:45] samsp-msft commented on #1556
@davidsh & @stephentoub  - can you clarify? Winsock docs are also somewhat evasive. https://docs.microsoft.com/en-us/windows/win32/winsock/ipproto-ip-socket-options

[2020-03-16 04:31] uecasm commented on #1098
FWIW, the answer is "no".

All methods internally lock the `SyncRoot`, including `GetEnumerator()`, but the actual enumeration is not thread-safe.  Calling code will need to externally lock `SyncRoot` during enumeration.

(Note that it is _possible_ to write a collection class that does have thread-safe enumeration automatically -- and it's very easy to do using C#2 iterators.  This particular cla

[2020-03-18 18:26] #3764 closed

[2020-03-18 18:45] carlossanlop commented on #3916
@dotnet/ncl has there been any progress on this?

[2020-03-18 19:18] tarekgh opened #4002 "Update the possible values of NumberFormatInfo.CurrencyNegativePattern"
We need to update the table mentioned in the remarks section https://docs.microsoft.com/en-us/dotnet/api/system.globalization.numberformatinfo.currencynegativepattern?view=netframework-4.8#remarks to add the new entry:

Value | Associated pattern
-- | --
16 | $- n

We added the support of this new format in net core 5.0

[2020-03-18 19:33] tarekgh opened #4003 "Recommend using Windows Runtime type Geolocator instead of GeoCoordinateWatcher"
We need to add a note to the doc https://docs.microsoft.com/en-us/dotnet/api/system.device.location.geocoordinatewatcher?view=netframework-4.8 saying apps recommended to use Geolocator class https://docs.microsoft.com/en-us/uwp/api/windows.devices.geolocation.geolocator for location services instead of using GeoCoordinateWatcher. The reason is GeoCoordinateWatcher is using old Windows Location int

[2020-03-19 01:29] #1758 closed

[2020-03-20 11:52] elgonzo opened #4012 "System.Linq.Enumerable.Repeat method: Explanation for count argument slightly inaccurate (nitpicking)"
I admit, this issue report is on the verge of nitpicking, but nevertheless...

The `count` argument for the `Enumerable.Repeat` method currently states:

This is of course incorrect :)
In fact, the value is repeated `count-1` times in the generated sequence; when `count` is being 0  the generated sequence is empty.

A more accurate description for the `count` argument could perhaps be something li

[2020-03-20 19:15] carlossanlop commented on #3932
@eiriktsarpalis can you please post your action plan for these undoc APIs?

[2020-03-20 19:16] carlossanlop commented on #3931
@JeremyKuhne @safern can you please share youraction plan for these APIs?

[2020-03-20 19:16] carlossanlop commented on #3930
@kouvel can you please share your action plan for these APIs?

[2020-03-20 19:17] carlossanlop commented on #3929
@mconnew @StephenBonikowsky @HongGit @StephenMolloy can you please share your action plan for these APIs?

[2020-03-20 19:17] carlossanlop commented on #3927
@steveharter @Anipik can you please share your action plan for these APIs?

[2020-03-20 19:18] carlossanlop commented on #3926
@maryamariyan @Anipik can you please share your action plan for these undocumented APIs?

[2020-03-20 19:18] carlossanlop commented on #3925
@mconnew @HongGit @StephenBonikowsky can you please share your action plan for these undocumented APIs?

[2020-03-20 19:18] carlossanlop commented on #3924
@maryamariyan @JeremyKuhne can you please share your action plan for these undocumented APIs?

[2020-03-20 19:19] carlossanlop commented on #3921
@sywhang @tommcdon can you please share your action plan for these undocumented APIs?

[2020-03-20 19:19] carlossanlop commented on #3920
@bartonjs @GrabYourPitchforks can you please share your action plan for these undocumented APIs? I know @bartonjs has been constantly documenting, so if you can share your progress here, that would be great.

[2020-03-20 19:22] carlossanlop commented on #3918
@pgovind @eerhardt if they are explicit interface implementations, and their parent interface is properly documented in source code, you can use the [DocsPortingTool](https://github.com/carlossanlop/DocsPortingTool) to automatically port them.

I think the tool can be tweaked to detect normal interface implementations and automatically port those comments as well, but I haven't done that.

Can you

[2020-03-20 19:24] carlossanlop commented on #3916
@dotnet/ncl @karelz can you please share your action plan for these undocumented APIs?

[2020-03-20 19:26] carlossanlop commented on #3915
@buyaa-n can you please share your action plan for these undocumented APIs?

[2020-03-20 19:30] carlossanlop commented on #3909
@fabiant3-zz @vatsan-madhavan can you please share your action plan for these undocumented APIs?

[2020-03-20 19:32] bartonjs commented on #3920
No progress, no plan; busy with planning activities. There'll probably be a plan when I resurface.

[2020-03-20 19:32] karelz commented on #3916
@carlossanlop right now we are a bit swamped, so we do not have sadly a plan yet :(

[2020-03-20 19:44] kouvel commented on #3930
I don't think it would be very difficult to add docs for these APIs, it would mostly be copying the existing docs. I plan to get them done for 5.0 but I can't give a timeframe from my side at the moment.

[2020-03-20 19:52] mconnew commented on #3925
I forgot about the identitymodel api's. I'll make another update to the ownership document to include them.

[2020-03-20 21:44] carlossanlop commented on #3910
@cheenamalhotra the APIs I automatically ported were not among the ones in the list I shared in this issue. They were from .NET Framework. So the list remains the same: 23 undoc APIs introduced in .NET Core 1.0 and 1.1.

[2020-03-20 21:58] carlossanlop commented on #3914
@eiriktsarpalis @layomia can you please share your action plan for these undocumented APIs?

[2020-03-23 14:58] Anipik commented on #3926
I will try to document them by end of this week

[2020-03-23 14:58] Anipik commented on #3927
I will try to document them by end of this week

[2020-03-24 04:57] Asugakoisi opened #4034 "The sample of System.Net.WebClient.DownloadProgressChanged is lack"
The source of `DownloadFileCallback2` and `DownloadProgressCallback` methods are hidden.

[2020-03-24 22:55] jeffhandley commented on #3916
Thank you, @karelz - that's helpful to know to have expectations set. Please let me know if there's anything you need other than time.

[2020-03-24 23:05] jeffhandley commented on #3930
Thanks for letting us know, @kouvel. We'll check back in a couple weeks to see if you have an idea of when this work could get scheduled.

[2020-03-24 23:08] jeffhandley commented on #3915
I'll work with @buyaa-n to get this work scheduled after we get through our current focus on analyzers.

[2020-03-25 16:12] eiriktsarpalis commented on #3914
@carlossanlop consulted with @layomia, we plan on having this completed by April 15.

[2020-03-25 18:07] carlossanlop opened #4038 "Update Refresh documentation when folder is created"
As requested here:
https://github.com/dotnet/corefx/pull/40677#issuecomment-526671157

The state is invalidated when directory is created, so the behavior/usage of Refresh needs to be documented.

cc @wfurt

[2020-03-26 08:34] nishantsny opened #4040 "Possible typo on https://docs.microsoft.com/en-us/dotnet/api/system.string.substring?view=netframework-4.8"
https://docs.microsoft.com/en-us/dotnet/api/system.string.substring?view=netframework-4.8

Should the line towards the end be

If startIndex is equal to zero and **results** equals the length of the current string, the method returns the original string unchanged.

[2020-03-26 21:24] stephentoub commented on #1556
It looks wrong to me, but @davidsh should confirm.

[2020-03-27 02:22] vatsan-madhavan commented on #3909
Action plan => handing over to  @fabiant3-zz for an action plan ;-)

[2020-03-28 10:05] skrysmanski opened #4045 "Missing information: Can Exception.Data be null?"
In the old .NET Framework 4 offline help in Visual Studio, the documentation for the property `Exception.Data` contained the following note:

This note apparently never made it into the new documentation structure in this repository. I checked the initial checkin for the file `xml/System/Exception.xml` (commit cd8c56990ee) and it doesn't include the note.

So the question is: Was this a deliberate

[2020-03-28 18:20] paukuk opened #4046 "Spelling mistake"
Spelling mistake in [https://docs.microsoft.com/en-us/dotnet/api/system.idisposable?view=netframework-4.8](url)
**_SupressFinalize_**

`        public void Dispose()
        {
            Dispose(true);
            // This object will be cleaned up by the Dispose method.
            // Therefore, you should call GC.SupressFinalize to
            // take this object off the finalization queue

[2020-03-29 04:19] migueldeicaza commented on #2986
Please read the landing page for MailKit to get an idea of how much is missing.

[2020-03-29 05:40] soniczoo commented on #2986
The landing page that says smtpclient doesn’t, and mailkit does these things.. “cross-platform support and ability to save and re-load MIME messages before sending them”? That’s all I see.. not an explanation of issues with smtpclient. The whole point here is that Microsoft needs to support their “supported” software.. and I trust they will, they always have. Mailkit looks/works great. But busines

[2020-03-30 00:26] mairaw commented on #2986
@mimisasouvanh @TianqiZhang the new feature does not display the wrong attribute anymore, but it continues to display the obsolete warning for all versions. That information also needs to be version/target aware.

[2020-03-30 03:08] migueldeicaza commented on #2986
Bad code and bad API design exists in the wild.   When the world understands those problems, they move to new systems that prevent that.

Just like we moved away from SSL to TLS, and then to version 1.1 and 1.2 and now we are hoping to move to 1.3, there are mistakes in the past that can not be solved.   This is one of those.

You should avoid using SmtpClient in my humble opinion, and do your use

[2020-03-30 19:18] #3911 closed

[2020-03-30 21:11] gewarren opened #4051 "Missing an exception on page for Image.FromStream method"
_From @dennis-thomas-o on Sunday, March 15, 2020 7:48:57 PM_

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.drawing.image.fromstream

**Problem:**
There is another ArgumentException which is not mentioned in the Exception sections — “Parameter is not valid.”. I’m using .NET Framework 4.6.1.

**Potential solution:**
Please list this possibility and add an explanation for i

[2020-03-30 21:11] gewarren commented on #4051
_From @welcome[bot] on Sunday, March 15, 2020 7:48:59 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-03-30 21:11] gewarren commented on #4051
_From @gewarren on Thursday, March 26, 2020 10:56:59 PM_

@carlossanlop

[2020-03-30 21:11] gewarren commented on #4051
_From @carlossanlop on Thursday, March 26, 2020 10:58:42 PM_

@safern is the area owner for System.Drawing. Can you please help add this missing documentation?

[2020-03-30 21:11] gewarren commented on #4051
_From @safern on Thursday, March 26, 2020 11:26:24 PM_

@carlossanlop can this be migrated to the docs repo and assigned to me, or how is this repo different from? https://github.com/dotnet/dotnet-api-docs

[2020-03-30 21:11] gewarren commented on #4051
_From @gewarren on Thursday, March 26, 2020 11:30:23 PM_

This is the general feedback site for all of docs.microsoft.com. I don't think we can do a straight transfer of the issue since they are in different organizations (MicrosoftDocs and dotnet). @mairaw What have you done in the past - just created a new issue in the specific repo?

[2020-03-30 21:11] gewarren commented on #4051
_From @carlossanlop on Friday, March 27, 2020 1:14:07 AM_

It's possible to transfer issues from different orgs if you use: https://hubbup.io/Mover
This issue will be closed and a new one will be opened in the other repo, with all the comment history copied.
But since @safern and I don't have write permissions in this repo so that it gets closed, we cannot transfer it to dotnet-api-docs.
Can you p

[2020-03-30 21:11] gewarren commented on #4051
_From @gewarren on Friday, March 27, 2020 9:57:27 PM_

I don't have write perms in this repo either, but I think that @mairaw does. Maira, could you transfer the issue?

[2020-03-30 21:11] gewarren opened #4052 "Three-Character Extension Note Is Incorrect For Directory.EnumerateFiles Method"
_From @RedQuark on Sunday, March 22, 2020 12:58:32 AM_

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.enumeratefiles?view=netcore-3.1

**Problem:**
The article states that with a search for files ending in three-character extensions using an asterisk wildcard (e.g. **"*.xls"**) "the method returns files with extensions that _**begin**_ with the specified exte

[2020-03-30 21:11] gewarren commented on #4052
_From @welcome[bot] on Sunday, March 22, 2020 12:58:33 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-03-30 21:11] gewarren commented on #4052
_From @gewarren on Thursday, March 26, 2020 10:42:39 PM_

@carlossanlop Can you take a look at this feedback?

[2020-03-30 21:11] gewarren commented on #4052
_From @carlossanlop on Thursday, March 26, 2020 11:06:01 PM_

Thanks for bringing it to my attention, @gewarren.

The documentation is incorrect for this code example.

`EnumerateFiles` will only return files that have the `xls` extension if the `searchPattern` argument is set to `*.xls`.

To enumerate files that end both with `xls` and with `xlsx`, the `searchPattern` argument should be `*.xls*`:

[2020-03-30 21:19] safern commented on #4051
Thanks @gewarren -- I've self assigned.

[2020-03-31 00:00] carlossanlop commented on #3924
@maryamariyan since Jeremy moved to another team, would you mind sharing an ETA for these APIs?

[2020-03-31 00:01] carlossanlop commented on #3931
@safern since Jeremy moved to another team, would you mind sharing an ETA to document these APIs?

[2020-03-31 00:04] carlossanlop commented on #3915
Thanks @jeffhandley.
@buyaa-n I'm seeing a bunch of DocIds in the list that are Explicit Interface Implementations. You can use [DocsPortingTool](https://github.com/carlossanlop/DocsPortingTool) to document them quickly and easily. There are instructions in the README with an example. Let me know if you have any questions about it.

[2020-03-31 00:06] carlossanlop commented on #3912
@GrabYourPitchforks @steveharter you can use the [DocsPortingTool ](https://github.com/carlossanlop/DocsPortingTool) to quickly and easily port the EII documentation strings. There are instructions and an example in the README. Let me know if you  have any questions about it.

[2020-03-31 00:07] carlossanlop commented on #3921
@sywhang @tommcdon I noticed there are a few Explicit Interface Implementations among the APIs in the list. You can quickly and easily port them with [DocsPortingTool](https://github.com/carlossanlop/DocsPortingTool). You can find instructions and a usage example in the README file. Let me know if you have any questions about it.

[2020-03-31 00:09] carlossanlop commented on #3910
@cheenamalhotra I added support to the [DocsPortingTool](https://github.com/carlossanlop/DocsPortingTool) to be able to automatically copy Explicit Interface Implementations. I noticed the list above has a few of those. I left instructions and a usage example in the README file. Let me know if you have any questions about it.

[2020-03-31 00:10] jeffhandley commented on #3915
FYI @carlossanlop - we're projecting the end of May before this area will be completed.

[2020-03-31 00:10] carlossanlop commented on #3914
You have some Explicit Interface Implementations among the undoc APIs in the list above. You can use [DocsPortingTool](https://github.com/carlossanlop/DocsPortingTool) to quickly and easily port those. Take a look at the instructions and the usage example in the README file, and let me know if you have any questions about it.

[2020-04-01 19:17] carlossanlop opened #4061 "Update DirectoryInfo and FileInfo Create, Delete and Exists changed behavior"
Make sure documentation matches new behaviors merged into these two PRs where `Invalidate()` is called, and mention it's a breaking change where appropriate:

https://github.com/dotnet/corefx/pull/40677
https://github.com/dotnet/runtime/pull/34229

[2020-04-01 23:05] Forgind opened #4062 "ldstr does not always allocate"
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Reflection.Emit/OpCodes.xml#L9983
made me think that ldstr always allocates. Experimentation suggests otherwise.

[2020-04-02 14:07] #3925 closed

[2020-04-02 20:09] carlossanlop commented on #3921
@sywhang @tommcdon I updated the table to reflect the APIs that area in your areas. Total APIs: 5.

[2020-04-02 20:10] carlossanlop opened #4065 "System.Diagnostics.Process 1.x undocumented APIs"
@adamsitnik @eiriktsarpalis

Here are the undocumented API from `System.Diagnostics.Process`.

We are asking all area owners to report back their plan/commitment for their undocumented APIs in order to tackle 66% of the APIs in the month of April, and 100% by the end of May.

Can you please help us with that?

For more information on the plan, see: #3904

Total: 11.
_Note: The table has 3 really l

[2020-04-02 20:11] carlossanlop commented on #4065
@adamsitnik I noticed there are 6 Explicit Interface Implementations. You can use [DocsPortingTool](https://github.com/carlossanlop/DocsPortingTool) to port them automatically. @eiriktsarpalis already used it for the areas where he is main owner.

[2020-04-03 12:53] eiriktsarpalis commented on #3932
Tagging @adamsitnik as well.

[2020-04-03 17:52] adamsitnik commented on #3932
I've talked with Jeff and I've scheduled this for the begning of May.

[2020-04-05 21:10] BillWagner opened #4074 "Create plan for porting relevant blog posts to API docs"
There are a a number fo blog posts on the pfx team blog that are good candidates to be edited / updated as examples or remarks in API docs. Due to the number of posts, the task for this issue is to review each blog post, determine if it should be ported (or if the content is already on docs), and create the issue for any relevant work.

As each item is reviewed, add a comment with the link to the

[2020-04-06 11:42] eiriktsarpalis commented on #4065
I'll be taking this since Adam has already committed to work on System.Linq. I'll start working on this on the second half of April.

[2020-04-06 18:26] gewarren opened #4077 "CspParameters class OS compatibility"
_From @badermessaoudi on Monday, March 9, 2020 9:21:40 PM_

**Link to article:**
https://docs.microsoft.com/fr-fr/dotnet/api/system.security.cryptography.cspparameters?view=netstandard-2.0

**Problem:**

Hello,

I have a question regarding the class CspParameters.

it says on the MSDN page that it's supported in the Net Core and Net Standard, but unfortunately, it's not the case in all the operati

[2020-04-06 18:26] gewarren commented on #4077
_From @welcome[bot] on Monday, March 9, 2020 9:21:42 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-04-06 18:26] gewarren commented on #4077
_From @mairaw on Friday, April 3, 2020 8:38:20 AM_

@gewarren @BillWagner should probably transfer this into the dotnet-api-docs repo

[2020-04-07 18:37] MihaZupan opened #4080 "Target version-specific remarks"
Is there a way to add type documentation, specific to a selected target version?

For example, Uri has a lot of comments in remarks that only apply to framework and not Core.
Is there a way to hide such text when a newer target version is selected / add text that is shown on Core only?

[2020-04-07 21:53] Tanya-Solyanik opened #4083 "PrinterSettings.SupportsColor property is broken"
[Documentation](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.printing.printersettings.supportscolor?view=netframework-4.8) claims that `SupportsColor` property :

This is not accurate. This [property](https://github.com/dotnet/runtime/blob/1cf033de96a38b286c07b8311edd5f2eabcfb462/src/libraries/System.Drawing.Common/src/System/Drawing/Printing/PrinterSettings.Windows.cs#L516-L522) P/I

[2020-04-07 23:17] elinor-fung opened #4084 "Update documentation for NativeLibrary.Load/TryLoad to reflect .NET 5 changes."
For .NET 5, `NativeLibrary.Load` and `NativeLibrary.TryLoad` APIs that take an `Assembly` will be updated to follow the native assembly resolution logic of the `AssemblyLoadContext` of the specified assembly.  They will go through the extension points for the AssemblyLoadContext of the specified assembly:
- Call the `AssemblyLoadContext.LoadUnmanagedDll` function
- Fire the `AssemblyLoadContext.Re

[2020-04-08 20:59] mairaw commented on #1133
Closing this discussion. I'll open a new issue with the list of prioritized namespaces and list of instructions. Anything on those namespaces will be good.

[2020-04-08 20:59] #1133 closed

[2020-04-09 19:53] mairaw commented on #918
We have a big push to enable more interactive C# samples throughout our API docs. This page has the Run button enabled now and other Enumerable already have or are scheduled to have the Run button enabled.

[2020-04-09 19:53] #918 closed

[2020-04-09 19:54] mairaw commented on #1135
Adding Int32 to the next batch of updates.

[2020-04-13 20:43] #3926 closed

[2020-04-14 21:15] kosaha999 commented on #4003
We should say this event [GeoCoordinateWatcher.StatusChanged](https://docs.microsoft.com/en-us/dotnet/api/system.device.location.geocoordinatewatcher.statuschanged?view=netframework-4.8) is in maintenance mode, we recommend usage of Geolocator[WinRT](https://docs.microsoft.com/en-us/uwp/api/windows.devices.geolocation.geolocator?view=winrt-18362) API. If you want to continue using
This API and are

[2020-04-15 15:03] MatthieuHernandez opened #4114 "Is System.Net.Mail.SmtpClient obsolete in 4.7.2 and 4.8 ?"
I can't see any trace of `System.Obsolete` inside the code of [SmtpClient.cs](https://referencesource.microsoft.com/#System/net/System/Net/mail/SmtpClient.cs). Does this mean that this class is not obsolete?

Because in [docs.microsoft.com](https://referencesource.microsoft.com/#System/net/System/Net/mail/SmtpClient.cs) it states clearly, This API is now obsolete.

[2020-04-16 18:20] samyun opened #4118 "System.IO.DirectoryInfo is missing some properties"
See https://docs.microsoft.com/en-us/dotnet/api/system.io.directoryinfo?view=netcore-3.1

On the left sidebar, under DirectoryInfo->Properties, for .NET Core 3.1, only "Exists", "Name", "Parent", and "Root" are listed. However, I would expect "FullName" to also be available, but the docs say it's only applicable to .NET Framework 4.8, 4.72, 4.71, 4.7. https://docs.microsoft.com/en-us/dotnet/api/sy

[2020-04-16 19:17] #3927 closed

[2020-04-17 05:46] layomia commented on #3914
Reopening while https://github.com/dotnet/dotnet-api-docs/pull/4121 is in review.

[2020-04-19 05:05] AustinWise opened #4138 "NullReferenceException when removing items from a CheckedListBox in the ItemCheck handler"
* .NET Core Version: 3.1.3

* Have you experienced this same bug with .NET Framework?: On 3.5, no. On 4.8 (Windows 10 178363.778), yes. I suspected this exception did not happen on some earlier versions of .NET Framework 4.x.

**Problem description:**

NullReferenceException from WinForms code after removing items from a CheckedListBox in the ItemCheck handler:

[code]

**Expected behavior:**
I'm

[2020-04-20 05:12] CoffeeFlux commented on #3878
This bit one of the Xamarin guys with the .NET 5 migration, so I'd really like to get it fixed and will happily submit a patch. Should I just say in the markdown that the comment only applies to earlier versions of .NET Core, or is there a way to make a section of the markdown conditional on the selected version? @mairaw

[2020-04-20 05:18] MSDN-WhiteKnight commented on #4114
See https://github.com/dotnet/dotnet-api-docs/issues/2986 for prior discussion. SmtpClient is marked with ObsoleteAttribute in Xamarin/Mono, and due to docs site engine bug it causes the obsolete notice to be displayed for all frameworks. In .NET Framework/Core, it is **not** marked obsolete, but it's still considered legacy API (not updated to new protocol features).

[2020-04-20 07:21] RussKie commented on #4138
The documentation for [`CheckedListBox.ItemCheck`](https://docs.microsoft.com/dotnet/api/system.windows.forms.checkedlistbox.itemcheck) must state that the listbox's items must not be cleared in this event.
Applies to all versions.

[2020-04-20 13:58] SurajGupta opened #4139 "IsConstructedGenericType documentation fix"
The [docs ](https://docs.microsoft.com/en-us/dotnet/api/system.type.isconstructedgenerictype?view=netframework-4.8) say "You can create instances of a constructed generic type," but that isn't always true.  Consider:

    private abstract class MyClass<T>
    {
    }

This throws:

    Activator.CreateInstance(typeof(MyClass<string>));

[2020-04-20 14:15] #3387 closed

[2020-04-20 17:50] AustinWise commented on #4138
Thanks, I agree that "fixing" this is probably not worth it; I took a look and it would not be entirely straightforward to deal with this.

I have a work around too, which may or may not be worth adding to the documentation: use `BeginInvoke` to remove items after the `CheckedBoxList` has finished updating its internal state.

[2020-04-20 17:56] carlossanlop commented on #3914
Thanks for reopening, @layomia. I assumed all the APIs had been addressed.

[2020-04-20 18:16] malghabr opened #4141 "FileStream example bug"
Hi,

Not sure if this is considered a bug but the first example on the FileStream docs only works if you have a file with less than 1024 bytes or bytes%1024 == 0. This is due to the buffer byte array being reused.
If you use a 4 byte array and try read the string "hello" you end up with the following in the buffer
loop iteration 0:  hell
loop iteration 1: oell

This is because the byte array holds

[2020-04-20 22:40] GrabYourPitchforks opened #4142 "Should docs state that Decoder and Encoder corrupt internal state during exceptional code paths?"
For [`System.Text.Decoder`](https://docs.microsoft.com/en-us/dotnet/api/system.text.decoder) and [`System.Text.Encoder`](https://docs.microsoft.com/en-us/dotnet/api/system.text.encoder), the general pattern is that callers should ensure the destination buffers are large enough to hold the converted output.

It is _not_ appropriate for the caller to catch exceptions from these APIs, double the dest

[2020-04-21 04:26] mvadu opened #4143 "Marshal.StructureToPtr and Marshal.PtrToStructure API are marked obsolete, without replacement"
I am reading v4.7 of framework documentations. Both [Marshal.StructureToPtr](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.structuretoptr?view=netframework-4.7) and [Marshal.PtrToStructure](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.ptrtostructure?view=netframework-4.7) have a comment stating **"Warning This API is now ob

[2020-04-21 19:34] #3918 closed

[2020-04-22 03:29] MSDN-WhiteKnight commented on #4143
It's obsolete in UWP (only the non-generic overload). Due to the bug, the obsolete note is displayed for all frameworks (see https://github.com/dotnet/dotnet-api-docs/issues/2986). And there are other supported ways to marshal structures btw (pinned GCHandle.AddrOfPinnedObject, for example).

[2020-04-22 13:56] t-bzhan opened #4150 "Behavior of MemoryCache.GetValues did not match with dotnet API doc"
From the dotnet [API doc](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.caching.memorycache.getvalues?view=netframework-4.8), the behavior of MemoryCache.GetValues should be:

However the actual behavior is that only those key value pairs stored in MemoryCache are returned.

![image](https://user-images.githubusercontent.com/61817681/79989991-169c3500-84e3-11ea-8bde-2869ed88c322.png)

[2020-04-23 02:47] mvadu commented on #4143
Thank you for the confirmation. GC Pinning will work for a simple structs, but when you are dealing with Win32 APIs, you have lot of cases where the struct itself has an array member, so its not blittable , resulting in `Object contains non-primitive or non-blittable data`

[2020-04-23 19:18] krwq commented on #3921
@tommcdon @sywhang do you perhaps know where do I find source for Microsoft.Extensions.DiagnosticAdapter? I coudn't find it in dotnet/runtime or dotnet/extensions

[2020-04-23 20:57] carlossanlop commented on #2624
cc @BillWagner for awareness. As of April, we still link to .NET Framework as the default.

What if we offer the user the option to set their preferred default in their browser? Not sure what the policy is for cookies in dotnet-api-docs, but using one would be a potential option to make a .NET versions persistent in the current browser.

[2020-04-23 21:02] danmosemsft commented on #2624
cc @richlander

[2020-04-23 21:16] mairaw commented on #2624
Adding @mimisasouvanh given the engineering request

[2020-04-23 22:45] sywhang commented on #3921
It was removed in https://github.com/dotnet/extensions/pull/3165.

[2020-04-23 23:16] mimisasouvanh commented on #2624
#log-suggestion @mimisasouvanh

[2020-04-23 23:20] mimisasouvanh commented on #2624
Here is the [internal tracking](https://dev.azure.com/ceapex/Engineering/_workitems/edit/209170) item.

[2020-04-24 00:05] krwq commented on #3921
Thanks @sywhang! @carlossanlop do we still need to document it or better not advertise what we removed?

[2020-04-24 13:57] BillWagner commented on #2624
I'll update the default moniker to 3.1 today. I'd raised the thread internally, got some agreement, and no arguments against. (I'll interpret silence as agreement).

[2020-04-24 15:54] danmosemsft commented on #2624
@mimisasouvanh is there also a bug for making the dropdown selection persistent? After @BillWagner changes the default I assume that all the developers developing against .NET Framework will have to now reset their dropdown every time they go to the page.

[2020-04-24 18:39] mairaw commented on #2624
Yes, they will have to reset their dropdown after the change every time they go to the page.

[2020-04-24 18:42] BillWagner commented on #2624
@carlossanlop The change is live. .NET Core 3.1 is now the default.  🥂 🥃

I think you can close this.

[2020-04-24 18:55] danmosemsft commented on #2624
That seems a pity, and it's a problem that will get over time as we add  more new API to .NET Core. Could we consider setting something in the cookie?

[2020-04-24 23:30] krwq commented on #3915
The auto-annotated parts are merged, @carlossanlop will send me a list of what's left once he gets a build (ETA Monday)

[2020-04-27 05:10] scegg opened #4165 "AppDomain.CurrentDomain.ActivationContext is not available in dotnet core app 3.1"
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/ApplicationId.xml
https://docs.microsoft.com/en-us/dotnet/api/system.applicationid?view=netcore-3.1

In example, the AppDomain.CurrentDomain.ActivationContext is required to create an ApplicationSecurityInfo instance. But ApplicationSecurityInfo and AppDomain.CurrentDomain.ActivationContext are not available in dotnet core app 3.1.

[2020-04-27 21:50] carlossanlop commented on #2624
@danmosemsft I agree that it might be even better to let the browser remember the last .NET version the user selected. But at the same time I think it's great that we now suggest .NET Core as the main option, wouldn't you agree?

[2020-04-27 21:55] danmosemsft commented on #2624
@carlossanlop yes, sorry I wasn't clear: I agree and I'm glad the change is made -- I'm just pointing out that the persistence issue probably should still be fixed (especially if F1 isn't pushing the keyword) as folks will be developing for .NET Framework or .NET Standard for a long time.

[2020-04-27 22:04] carlossanlop commented on #3921
This is an interesting case: It is the first time I see shipped code being removed from .NET. I've only seen that happen with experimental code.
The code was removed just 20 days ago, which sounds to me like the change will be available when we ship .NET 5 (unless dotnet/extensions get shipped in a separate cadence).
Any user still using .NET 3.1 or lower would still be needing documentation for t

[2020-04-27 22:08] krwq commented on #3921
IMO documentation is useful when writing new code or debugging. If we are removing type that means we have a better alternative and we don't want people to use the old one. I think the documentation should just say "use this other type instead" to make it so that people are not tempted to use it but not sure about documenting it.

[2020-04-29 05:44] layomia commented on #3914
Fixed in https://github.com/dotnet/dotnet-api-docs/pull/4121.

[2020-04-29 06:11] #3914 closed

[2020-04-29 14:30] elgonzo opened #4174 "Uri.EscapeUriString/EscapeDataString don't do the same thing, yet both have the same remarks section"
The [Uri.EscapeUriString](https://docs.microsoft.com/en-us/dotnet/api/system.uri.escapeuristring?view=netcore-3.1#remarks) and [Uri.EscapeDataString](https://docs.microsoft.com/en-us/dotnet/api/system.uri.escapedatastring?view=netcore-3.1#remarks) methods share the same  description/remarks section:

Since the behavior of both methods is different, their remarks section should **not** describe the

[2020-04-29 23:10] gewarren opened #4177 "Update UriBuilder.Query and UriBuilder.Fragment"
You no longer have to remove the leading ? or # when appending values. See https://review.docs.microsoft.com/en-us/dotnet/core/compatibility/corefx?branch=master#uribuilder-properties-no-longer-prepend-leading-characters.

[2020-04-30 04:04] RussKie opened #4180 "[WinForms] `MenuMerge` enum deprecated - mark as obsolete in 3.1?"
In .NET Core 3.1 we have removed a bunch of obsolete API in https://github.com/dotnet/winforms/pull/2157. It looks like we've missed [`MenuMerge`](https://docs.microsoft.com/dotnet/api/system.windows.forms.menumerge?view=netcore-3.1). However it has been removed in .NET 5, when we track-merged the branches.

I suppose we should indicate that this type is obsolete, and is getting removed. What is t

[2020-04-30 23:10] #4065 closed

[2020-05-01 19:07] gewarren opened #4188 "Chinese requirements for documents for .NET API browser"
_From @SmRiley on Friday, May 1, 2020 3:27:06 PM_

Hello, I'd like to ask if there is a schedule for the localization of. Net API browser documents, because I notice that the documents in this section do not seem to be maintained by the community

_Copied from original issue: MicrosoftDocs/feedback#2713_

[2020-05-01 19:07] gewarren commented on #4188
_From @welcome[bot] on Friday, May 1, 2020 3:27:08 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).

[2020-05-01 19:07] gewarren commented on #4188
_From @gewarren on Friday, May 1, 2020 7:04:36 PM_

@JasonCard Can you help answer this?

[2020-05-01 19:21] srvbpigh commented on #4188
Hello, @gewarren

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-01 21:41] JasonCard commented on #4188
Hi @SmRiley,

Thank you for your question.
Usually, it could take up to two weeks for updates in .NET API reference content to be localized.
Currently, we are aware of technical build issue for all localized contents and working to resolve the issue.

Best regards,
Jason

cc @gewarren

[2020-05-05 01:48] cheong00 opened #4193 "Runtime Error thrown on pages hosting reactive-extension API documentation"
https://docs.microsoft.com/en-us/previous-versions/dotnet/reactive-extensions/hh244252%28v%3dvs.103%29

When click on any methods link, it shows runtime error on msdn.microsoft.com site.

Seems all the links in these pages need either be fixed, or add redirection at msdn.microsoft.com.

[2020-05-05 19:38] Shumeras opened #4207 "Documentation/functionality issue concerning "AssemblyBuilder" and "AssemblyBuilderAccess""
# Issue Title

Documentation/functionality issue concerning "AssemblyBuilder" and "AssemblyBuilderAccess"

# General

 .NET Core version: .NET Core 3.1
Operating system version: Windows 10 Pro, Version 1909

I've encountered an issue trying to run the code provided in .NET Core 3.1 documentation (https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.assemblybuilder?view=netcore-3.1#ex

[2020-05-05 21:40] mairaw commented on #1135
Fixed by #4123

[2020-05-05 21:40] #1135 closed

[2020-05-05 23:34] wadepickett opened #4198 "Remove Layer 2 (L2) Nav from dotnet-api-docs"
Remove Layer 2 (L2) nav header from the dotnet-api-docs.  It duplicates the new L1 nav header already live.

[2020-05-06 21:44] dmondrik opened #4201 "HttpClient.GetAsync can throw UriFormatException"
There are 4 overloads of GetAsync that take a string and convert it to a URI in the implementation. All 4 of these should have UriFormatException documented as a possible exception:
[code]

[2020-05-07 22:41] mimisasouvanh commented on #2624
@danmosemsft Can you take a snapshot of the dropdown change you are suggesting?

[2020-05-08 20:59] nullforce opened #4210 "List DayOfWeek enum by value instead of alphabetized by name"
Fields should not be alphabetized and instead follow the order:
* Sunday - 0
* Monday - 1
* Tuesday - 2
* Wednesday - 3
* Thursday - 4
* Friday - 5
* Saturday - 6

https://github.com/dotnet/dotnet-api-docs/blob/b4ec0e45b0e446a1f632ff4c9eca1753d3c377b0/xml/System/DayOfWeek.xml#L68

[2020-05-11 13:11] KevinCathcart opened #4213 "`ClaimsPrincipal.Current` documentation incorrect for .net core (all versions)"
The documentation for `ClaimsPrincipal.Current` says:

That is true for the .NET Framework, but is not true for .NET Core or current .NET 5 previews.

The actual behavior for .net core is as follows:

This is because `ClaimsPrincipalSelector` defaults to null (in all frameworks, as correctly documented), but in .NET Framework it has an internal fallback method `ClaimsPrincipal.SelectClaimsPrincipa

[2020-05-12 20:01] gewarren opened #4221 "Need to clarify RegistryKey.FromHandle will always set the KeyName to empty string"
_From @tarekgh on Tuesday, May 12, 2020 4:32:55 PM_

**Issue description**

When creating RegisteryKey from a handle using [RegistryKey.FromHandle](https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.registrykey.fromhandle?view=dotnet-plat-ext-3.1), the key name is always set to empty string. The documentation need to explicitly mention that.

This issue reported on the [community portal](

[2020-05-13 06:16] hakito opened #4226 "AnonymousePipeServerStreams are not async"
https://github.com/dotnet/dotnet-api-docs/blob/9d54d3c3f81f1a6fb0357fdcbfffe655f605b18d/xml/System.IO.Pipes/AnonymousPipeServerStream.xml#L35

The streams do not support real async operations. The calls to WriteAsync / ReadAsync are blocking and the cancellation does not work.

[2020-05-13 18:01] #4198 closed

[2020-05-13 18:26] vurso opened #4230 "IEnumerable Interface document edit suggestion"
Hi the IEnumerable Interface document is not formatted in a User Friendly manner the I believe the Derived section at the top (that huge list) should be either moved to another sub-page or reduced in size as I was almost deterred from the page because find the important implementation details etc which were right at the bottom creating a TL:DR scenario essentially.

As an example to make my emails

[2020-05-13 21:55] tannergooding opened #4231 "The various System.Math and System.MathF functions should clarify there results may differ across platforms"
Several of the functions currently have incorrect documentation that only applies to 32-bit Windows. For example, `Math.Sin` currently documents:

The implementation currently just invokes down to the underlying C Runtime implementation for each OS/Architecture, so the results you get may differ between the various permutations of:
* Architecture: x86, x64, ARM, ARM64
* OS: Windows, Linux, macOS
T

[2020-05-13 21:56] tannergooding commented on #4231
CC. @pgovind, @jeffhandley

[2020-05-13 21:56] tannergooding commented on #4231
Assigning to myself as I'll likely be responsible for updating these docs.

[2020-05-14 01:29] DavidEshtehari opened #4235 "Bad link in SslProtocols Enum"
Hi,
There is a mistake in content here [SslProtocols Enum](https://docs.microsoft.com/en-us/dotnet/api/system.security.authentication.sslprotocols?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev16.query%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(System.Security.Authentication.SslProtocols);k(SolutionItemsProject);k(DevLang-csharp)%26rd%3Dtrue&view=netcore-3.1) to refer to the [FlagsAttribute Cl

[2020-05-15 13:29] svick opened #4242 "Update Unicode version for .Net Core"
The article on `String` contains [the following table](https://docs.microsoft.com/en-us/dotnet/api/system.string?view=netcore-3.1#strings-and-the-unicode-standard):

![](https://user-images.githubusercontent.com/287848/82054414-34fae800-96bf-11ea-9aa8-b9d18d992e88.png)

Notice that it says that all versions of .Net Core use Unicode version 8.0. But based on https://github.com/dotnet/coreclr/pull/2

[2020-05-15 16:37] #4038 closed

[2020-05-18 19:23] alex-jitbit commented on #2986
@migueldeicaza you made a claim but then instead of proving it, you send everyone to read some page online.

**The burden of proof is on the person who makes a claim**

SmtpClient is still a robust working piece of code (tested on our SaaS app used by 1000s of companies).

MimeKit is indeed a fine, fast MIME parsing library for _inbound_ email, that has SMTP as an addon.

[2020-05-18 21:44] kevinoid opened #4254 "CultureInfo.CurrentCulture document default on Unix-likes"
The procedure described in [How a Thread's Culture Is Determined](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.currentculture#how-a-threads-culture-is-determined) section of the documentation for [`CultureInfo.CurrentCulture`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.currentculture) currently ends with

Which clearly does not appl

[2020-05-19 09:15] hughbe opened #4257 "IRawElementProviderHwndOverride is documented as implementing IRawElementProviderSimple even though it doesn't"
See https://github.com/dotnet/winforms/pull/3231#discussion_r427133765

`IRawElementProviderHwndOverride` inherits from `IUnknown` only:
https://github.com/tpn/winsdk-10/blob/9b69fd26ac0c7d0b83d378dba01080e93349c2ed/Include/10.0.10240.0/um/UIAutomationCore.idl#L401-L410

[code]

In https://docs.microsoft.com/en-us/windows/win32/api/uiautomationcore/nn-uiautomationcore-irawelementproviderhwndoverri

[2020-05-19 09:21] weltkante commented on #4257
I don't think this needs any implementation change, its not technically wrong, interface inheritance in managed and native code means different things. The way its done just forces implementing classes to implement both interfaces while the native API allows implementing them individually.

The point is that its easy to mix up the docs of native/managed interfaces since they are sharing the same n

[2020-05-19 15:48] MartinNolte opened #7479 "Update for EventRecordWrittenEventArgs.EventException Property"
**Issue description**
We hit a problem with where a ticket was raised for Microsoft Support.
The problem is about an  your event watcher application which is using "System.Diagnostics.Eventing.Reader" namespace (.NET 4.8).
The customer has observed that the EvtNext API https://docs.microsoft.com/en-us/windows/win32/api/winevt/nf-winevt-evtnext (wevtapi.cpp) is being called by the EventLogWatcher A

[2020-05-20 05:27] joost-morsink opened #4262 "ImmutableArray<T>.ToBuilder method has incorrect remark"
The remarks section of the ToBuilder method of the ImmutableArray<T> class (System.Collections.Immutable) incorrectly states it is an O(1) operation.
The implementation calls an AddRange on the Builder class, which is clearly O(n).

[2020-05-20 09:51] svick commented on #4262
I believe you are right. Do you want to submit a Pull Request to fix this? The relevant text is here:

https://github.com/dotnet/dotnet-api-docs/blob/9a8ca60aade8c08759280b7a5b7fc26bdf0dcc51/xml/System.Collections.Immutable/ImmutableArray%601.xml#L3690-L3691

[2020-05-20 16:45] joost-morsink commented on #4262
I Will. Probably on Friday.

[2020-05-21 19:18] mikadumont opened #4269 "Documentation doesn't fully translate to other languages"
We received this request regarding documentation not fully translating from English to other languages:

https://developercommunity.visualstudio.com/content/idea/1024535/go-to-the-docsmicrosoftcom-from-classes.html

For example here is the same page in Russian:

https://docs.microsoft.com/ru-ru/dotnet/api/system.console.writeline?view=netcore-3.1#System_Console_WriteLine_System_String_

Notice how

[2020-05-21 19:21] paulomorgado opened #4270 "Module.ResolveMethod Method is not clear about which module to resolve from."
docs: https://docs.microsoft.com/dotnet/api/system.reflection.module.resolvemethod
GitHub: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Reflection/Module.xml

In the example it's not clear which module should be used to resolve the method. Is it the module of the caller method or the module of the called method.

I have a sample where each class is in its own module/assembly an

[2020-05-22 19:46] andrew-stevenson-sociomantic opened #4274 "BinaryWriter: Out of context paragraph"
The second paragraph under Remarks at https://docs.microsoft.com/en-us/dotnet/api/system.io.binarywriter.close?view=netcore-3.1 seems apropos of nothing.

https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.IO/BinaryWriter.xml#L458

Is it saying that close calls Flush but I also need to explicitly Flush an Encoder somewhere?

The same text appears under Flush (https://docs.microsoft.c

[2020-05-22 21:03] gewarren commented on #4269
@JasonCard Any idea why this is happening?

[2020-05-22 21:12] srvbpigh commented on #4269
Hello, @mikadumont

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-22 22:25] gewarren commented on #2624
@mimisasouvanh I think Dan is saying that currently, when you browse to https://docs.microsoft.com/en-us/dotnet/api/, enter a search string, and click a result, the page you're taken to shows the default moniker version (currently .NET Core 3.1). He's requesting that instead of showing you the default moniker version, it shows you the version you last looked at, even if you closed the browser in b

[2020-05-22 22:42] gewarren commented on #4230
Here's the page: https://docs.microsoft.com/en-us/dotnet/api/system.collections.ienumerable?view=netcore-3.1

@mimisasouvanh Do you have anything in the books to improve the "Derived" section?

[2020-05-22 23:22] gewarren commented on #4210
I agree this looks weird: https://docs.microsoft.com/en-us/dotnet/api/system.dayofweek?view=netcore-3.1#fields

[2020-05-22 23:37] danmosemsft commented on #2624
That's right. Consider a developer targeting .NET Framework - every time they navigate to the API docs, they have to adjust the dropdown. Basically the problem that .NET Core developers used to have, is now reversed. Making the setting sticky in a cookie solves the problem.

[2020-05-23 00:21] gewarren commented on #4180
@russkie If it has the ObsoleteAttribute attribute, then it will automatically get flagged with a Warning box, for example: https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.scriptmanager.scriptpath?view=netframework-4.8

Otherwise, you can add a note to the Remarks section, for example: https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.design.templateeditingverb?view=netframework-

[2020-05-23 01:43] JasonCard commented on #4269
@gewarren Yes, we run into a couple of technical issue with our loc platform and currently try to get them resolved. Will update when resolved. Assigning to myself.

[2020-05-25 12:46] agowa338 commented on #2660
any update?

[2020-05-26 02:09] TianqiZhang commented on #4118
@samyun the docs is correct, `FullName` is only defined in `DirectoryInfo` class for .NET Framework 4.7, 4.71, 4.72 and 4.8.

In .NET Core, `FullName` is defined in `FileSystemInfo` and inherited by `DirectoryInfo`, as mentioned here:
![image](https://user-images.githubusercontent.com/5326582/82853549-a7c65780-9f38-11ea-86dd-2cd46c8d5a55.png)

On the left side TOC, we only show what's defined in t

[2020-05-26 02:48] MaxTranced opened #4278 "The example code is not relevant"
The example code does not use any of the properties of `X509ChainStatus`. I think that the code should be modified to actually use those properties in some way similar to what a real-world application would do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03b94571-4162-028a-a8b4-3ce1367f7c39
* Version Independent ID:

[2020-05-26 15:39] #3910 closed

[2020-05-26 17:37] gewarren commented on #4118
Closing this issue since it's "by design" that the properties don't appear in the table of contents.

[2020-05-26 17:37] #4118 closed

[2020-05-27 11:56] dhcgn opened #4292 "ExpandoObject Class "Implements" is broken"
You can see, that the section "Implements" is broken: https://docs.microsoft.com/en-us/dotnet/api/system.dynamic.expandoobject?view=netcore-3.1

I don't know you this xml files are interpreted, but this should be a minor bug.

https://github.com/dotnet/dotnet-api-docs/blob/1d5e621501f4fdfbaa76189ed17dc4a3183f72cd/xml/System.Dynamic/ExpandoObject.xml#L42-L70

![image](https://user-images.githubuser

[2020-05-28 19:55] justin-kendrick opened #4302 "Previewing API documentation changes"
I'd like to contribute to the docs, but I want to make sure my changes build okay and look right before I send a pull request.  I can preview markdown files easily enough, but I haven't figured out how to generate HTML from the XML API docs.  How should I check my changes before submitting them?

[2020-05-28 22:17] MisinformedDNA commented on #3259
Add this on: What properties need to be set in `TokenValidationParameters`? I search the web for hours and determined that I needed to set `IssuerSigningKey` and `ValidateIssuerSigningKey` (at least). Then I run into [opposite advice](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/972#issuecomment-402223123) and I'm confused as to what I'm supposed to d

[2020-05-28 23:43] brentschmaltz commented on #3259
@MisinformedDNA we have this wiki on token validation: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/ValidatingTokens
See if this helps.

[2020-05-29 20:20] svick commented on #4235
This seems to happen for all `enum`s with `FlagsAttribute`. I have noticed it on [`MethodImplOptions`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.methodimploptions?view=netcore-3.0):

![](https://user-images.githubusercontent.com/287848/83301780-7ed4e980-a1fa-11ea-9656-e0df294dc84c.png)

[2020-05-29 21:48] gewarren commented on #4302
The easiest way to build and preview is to create a draft pull request. Unfortunately, only Microsoft employees can view the preview site (review.docs.microsoft.com) currently, but one of us can check it for you.

[2020-05-29 21:50] svick opened #4307 "Superfuous trailing comma in attribute list"
When listing the attributes for a type, the list contains an extra comma at the end. For example for [`MethodImplOptions`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.methodimploptions?view=netcore-3.0), the list is:

![](https://user-images.githubusercontent.com/287848/83308462-1a6c5700-a207-11ea-9697-e4059c783d95.png)

Notice that the list contains only a single i

[2020-05-29 21:54] gewarren opened #4308 "Broken links in ConnectionString"
The [ConnectionString property article](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=dotnet-plat-ext-3.1#remarks) has a number of broken links. For example:

https://go.microsoft.com/fwlink/?LinkId=393996 goes to error page: https://msdn.microsoft.com/en-us/library/dn632678.aspx

https://support.microsoft.com/kb/258858 goes to: https://suppo

[2020-05-29 23:04] gewarren opened #4309 "Improve String.Split article"
35K page views per month, CSAT ~33%.

Verbatims:

Moreover, the example which uses regular expressions takes a lot of space in this topic, … yet clearly does not belong here! You really should remove it from this topic (perhaps leaving a hyperlink to the example's new Location).
Put the alternatives on a separate page. This expo of regex within what is supposed talking ONLY about Split() is confus

[2020-06-01 16:45] BillWagner commented on #2624
@danmosemsft @mimisasouvanh Can we move the discussion of a "sticky" default moniker to a new issue and close this as resolved?  /cc @carlossanlop

[2020-06-02 11:39] JoeyBobbles opened #4319 "Instance members thread safety"
The older documentation of AesCryptoServiceProvider class specifically mentions the instance threadsafety of this class and static member thread safety but it has been omitted from the latest docs.

https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Security.Cryptography/AesCryptoServiceProvider.xml

The older documentation on [AesCryptoServiceProvider ](https://docs.microsoft.com/en

[2020-06-02 19:45] JasonCard commented on #4269
Hi @mikadumont @gewarren
Sorry for the delay, this articles is now fully localized in live page:
<https://docs.microsoft.com/ru-ru/dotnet/api/system.console.writeline?view=netcore-3.1#System_Console_WriteLine_System_String>

[2020-06-02 19:45] #4269 closed

[2020-06-03 15:36] abelbraaksma opened #4325 "Information on LayoutKind.Sequential and LayoutKind.Explicit + FieldOffset appears to be inaccurate"
Before making a PR, I would like to discuss/verify this change first, as there appears to be a lot of confusion around the subject. It's about this file: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Runtime.InteropServices/StructLayoutAttribute.xml, which is [here in the docs](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.structlayoutattribute?view=

[2020-06-03 18:48] JasonCard commented on #4188
Hi @SmRiley

Sorry for the delay, but all localized content should be up-to-date with English content now.
Please let me know if you still see any issues.

Best regards,
Jason

[2020-06-03 18:48] #4188 closed

[2020-06-03 22:19] bradmarder opened #4327 "BitConverter issues"
`public static ulong ToUInt64(ReadOnlySpan<byte> value);` is missing the following exception

[code]

...but I'm not sure if that is intended or whether `System.Int64` should be a hardcoded `8`. Different methods have alternating styling. The implementations all compare `sizeof(T)` and don't use constants.

`public static bool ToBoolean(ReadOnlySpan<byte> value)` has an incorrect exception.
[code]

[2020-06-04 04:04] gewarren opened #4328 "Fix up xmldoc tables"
- combine OR statements since they display on a single line
- add list headers where needed
- remove "term" field if in a bulleted list, e.g. https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.filesystemglobbing.matcher?view=dotnet-plat-ext-3.1#remarks

[2020-06-04 13:41] Ungerfall opened #4334 "FlagsAttribute mention in CommandBehavior summary misleading"
The summary says "this enumeration has a <a href="https://docs.microsoft.com/en-us/dotnet/api/system.flagsattribute">FlagsAttribute</a> attribute that allows a bitwise combination of its member values", which is rather misleading in a sense that you are allowed to bitwise any enum.
What it actually does is indicates that an enumeration can be treated as a bit field and overrides ToString().

[Flag

[2020-06-04 19:28] binki opened #4336 "System.Linq.Enumerable.OrderByDescending() should warn about .netfx incompatibility with IComparer<T>.Compare() returning int.MinValue"
Please document that `System.Linq.Enumerable.OrderByDescending()` on .netfx does not support `IComparer<T>.Compare()` returning `int.MinValue`: https://stackoverflow.com/q/35537357 .

This is important for people targeting not only .netfx but various versions of .netstandard.

[2020-06-04 19:30] binki commented on #4336
The documentation for `IComparer<T>.Compare()` should also document the incompatibility.

[2020-06-05 20:03] #3915 closed

[2020-06-08 15:08] KalleOlaviNiemitalo commented on #4336
<https://github.com/dotnet/runtime/issues/14793> reported the bug that was fixed in .NET Core.

[2020-06-08 15:11] binki commented on #4336
Right, but it still exists in .netfx and the behavior will probably be preserved there because bug fixes are breaking changes.

[2020-06-08 15:20] KalleOlaviNiemitalo opened #4348 "System.IO.Ports.SerialPort.PortName should start with "/dev/" on Linux"
In <https://github.com/PowerShell/PowerShell/issues/12911>, a user constructed ` System.IO.Ports.SerialPort` with "ttyACM0" as `PortName` on Linux and then wondered why it did not work. It would be useful to document that the port name on Linux should be an absolute path such as "/dev/ttyACM0", rather than only the basename "ttyACM0". This would go on the following pages:

- [SerialPort Constructo

[2020-06-08 20:01] #4328 closed

[2020-06-10 15:41] danielricci opened #4358 "AutomationElement.AutomationElementInformation properties throw exceptions that are not handled nor documented"
AutomationElement.AutomationElementInformation returned to the programmer when calling the Current property located on line 234 within your AutomationElement.cs class is not properly document.

All the properties within the AutomationElementInformation call into the passed in AutomationElement.GetPropertyValue which trickles down into calling AutomationElement.GetCurrentPropertyValue, and this goe

[2020-06-11 06:50] logiclrd opened #4365 "Documentation error: Object.GetHashCode regarding value types"
The documentation for the Object type:

https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/Object.xml

...has a section that talks about `GetHashCode` and it makes the following claim:

In the source code for `ValueType`, there are comments that suggest that this is factually incorrect:

        /*=================================GetHashCode==================================

[2020-06-11 15:11] paulmasri opened #4368 "Missing & incorrect examples in xml/System/Boolean.xml"
### Missing example

The following paragraph says that an example follows, but this example is absent:

### Incorrect example

The wrong example is in the page _following_ this excerpt:

Presumably the example should be

    if (booleanValue == true) {

However it is:

[code]

[2020-06-11 21:56] tdykstra commented on #837
@danmosemsft How can I get a list of the CAS types and Security Transparency types?

[2020-06-11 21:59] danmosemsft commented on #837
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Permissions/ref/System.Security.Permissions.cs seems like a pretty good list

@GrabYourPitchforks does that map pretty well to what should not be in samples anymore?

[2020-06-12 00:16] GrabYourPitchforks commented on #837
That list, plus pretty much everything else in the _System.Security.Permissions_ namespace, regardless of which reference assembly defines it.

[2020-06-12 23:00] tdykstra commented on #837
The only instances I've found where the CAS types are used for Core snippets are in API ref. There, the same snippet is shown regardless of whether Core or Framework is selected.  To remove CAS from the snippet removes it from the Framework 4.x version too. Some options that come to mind:

1. Duplicate each snippet, remove CAS types from one copy, and include both copies in the doc with an appropr

[2020-06-13 00:01] danmosemsft commented on #837
We haven't supported CAS in .NET Framework for years either. So I think generally (2) would make most sense.

I see the size of the task. If I search samples\snippets for `^\s*\[\w+Permission[^\]*\]` I see 819 hits in `.cs` files. That ignores `.vb`, and attributes that cross lines. And any imperative use of these things. And of course any use of them in the docs for themselves needs to be preserv

[2020-06-13 00:47] tdykstra commented on #837
That sounds like a good plan to me, I'll get started on it next week.

[2020-06-15 21:43] gewarren opened #4385 "[WinForms] Incorrect default value for `ListView.HideSelection` since net48"
---
**Issue moved from dotnet/docs#18952**
- Please respond to @RussKie.

---

_From @RussKie on Monday, June 15, 2020 5:36:27 AM_

**Issue description**

In net48 as part of accessibility enhancement work the default value for [`ListView.HideSelection` property](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listview.hideselection?view=netframework-4.8#remarks) has changed to `f

[2020-06-16 09:22] aik-jahoda opened #4390 "Revisit System.Net.Security.NegotiateStream async examples"
There are several issues with `System.Net.Security.NegotiateStream` async examples:

There are inconsistencies between C# and C++, VB type of API.

While the C# uses XxxAsync() calls the C++ and VB uses BeginXxx(), EndXxx() methods.

This leads to a situation that:
1) for BeginXxx() we have wrong C# example: https://docs.microsoft.com/en-us/dotnet/api/system.net.security.negotiatestream.beginread?

[2020-06-16 10:36] hswan-msft opened #4391 "Link for FlagsAttribute in DateTimeStyles Enum doc does not display correctly"
Hi,
The link for FlagsAttribute in [DateTimeStyles Enum doc](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimestyles?view=netcore-3.1#System_Globalization_DateTimeStyles_AdjustToUniversal) does not display correctly.
![image](https://user-images.githubusercontent.com/50006033/84764394-3c841880-b000-11ea-831c-80a7d864ddda.png)

[2020-06-17 00:00] mstefarov commented on #4391
Seems to be a common problem on Flags enum docs -- e.g. [DllImportSearchPath](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.dllimportsearchpath?view=netstandard-2.1) and [BindingFlags](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.bindingflags?view=netcore-3.1) show the same issue.

[2020-06-17 15:26] pepone opened #4397 "Document ValueTask default constructor"
https://github.com/dotnet/dotnet-api-docs/blob/892ea1386d69a7a1f1b33ac3011b63df0025f423/xml/System.Threading.Tasks/ValueTask.xml#L48

The behavior of the ValueTask default constructor is not documented, apparently it is equivalent to `new ValueTask(Task.CompletedTask)`

[2020-06-17 15:48] JansthcirlU opened #4398 "Docs show VB examples by default (and changing the language doesn't work)"
**Issue description**

Code examples show VB code by default, regardless of chosen language. Switching to a different language in the language selection menu or selecting a different .NET version does not trigger any changes either.

**Target framework**

Check the .NET target framework(s) being used, and include the version number(s).

- [x] .NET Core
- [x] .NET Framework
- [x] .NET Standard

Thi

[2020-06-17 17:49] gewarren opened #4400 "MethodBase.IsFamilyAndAssembly docs outdated"
---
**Issue moved from MicrosoftDocs/feedback#2857**
- Please respond to @EamonNerbonne.

---

_From @EamonNerbonne on Friday, June 12, 2020 1:32:02 PM_

**Describe the bug**
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/private-protected
now exists, rendering the docs at https://docs.microsoft.com/en-us/dotnet/api/system.reflection.methodbase.isfamilyandassembly?view=

[2020-06-17 17:49] gewarren commented on #4400
---
**Issue moved from MicrosoftDocs/feedback#2857**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Friday, June 12, 2020 1:32:04 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.co

[2020-06-17 18:42] gewarren opened #4402 "System.Windows.Forms DrawBorder Documentation Anomaly"
---
**Issue moved from MicrosoftDocs/feedback#2847**
- Please respond to @nick1941.

---

_From @nick1941 on Wednesday, June 10, 2020 7:38:24 PM_

In the documentation for System.Windows.Forms DrawBorder (https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.controlpaint.drawborder?view=netcore-3.1#System_Windows_Forms_ControlPaint_DrawBorder_System_Drawing_Graphics_System_Drawing_Recta

[2020-06-17 18:42] gewarren commented on #4402
---
**Issue moved from MicrosoftDocs/feedback#2847**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Wednesday, June 10, 2020 7:38:25 PM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft

[2020-06-19 00:16] RussKie opened #4413 "`UIPermission` class has no implementation but docs don't mention it"
[`UIPermission`](https://docs.microsoft.com/dotnet/api/system.security.permissions.uipermission) type has an extensive documentation associated with it, however looking through the [code](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Security.Permissions/src/System/Security/Permissions/UIPermission.cs) has no implementation.

This is extremely misleading and confusing. I've he

[2020-06-19 13:08] danielricci commented on #4358
Everyone is too busy to address this?

[2020-06-19 21:17] KalleOlaviNiemitalo commented on #4413
The [.NET API Analyzer](<https://docs.microsoft.com/dotnet/standard/analyzers/api-analyzer> ".NET API analyzer | Microsoft Docs") correctly [warns](<https://github.com/dotnet/platform-compat/blob/0e928b29e18cd39163223faaff1cd2fde7633298/docs/DE0002.md> "DE0002: Code Access Security (CAS) shouldn't be used") about any use of `System.Security.Permissions`. Can docs.microsoft.com be changed to displa

[2020-06-20 03:00] mairaw commented on #4398
I've noticed that problem too and I've filed a ticket for the engineering team. Thanks for letting us know @JansthcirlU!

[2020-06-21 14:15] Rodhern opened #4419 "Some typos in Decimal.Parse code example."
I think there are a few inaccuracies around this point:
https://github.com/dotnet/dotnet-api-docs/blob/c72b36ed0cc623ba2dcb0ad33ceb1b0e7aea6cbc/samples/snippets/csharp/VS_Snippets_CLR_System/system.Decimal.Parse/CS/parse.cs#L114

The text example says:
[code]
and
[code]

Should it not be "**,**" as a decimal separator. Possibly "**&nbsp;**" as the thousand separator. Also there is no reason to exp

[2020-06-22 04:50] msfcolombo opened #4421 "ServicePoint documentation missing key information"
We are facing SNAT port exhaustion caused by excess of TCP connections from our application. In theory we could fix that by changing the value of [ServicePoint.ConnectionLimit](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint.connectionlimit), however when I see the [ServicePoint](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepoint) documentation ([last commit](h

[2020-06-22 10:10] danielricci commented on #4358
Closing issue, if its not important enough for someone at M$ to answer then its not worth my time.

[2020-06-22 10:10] #4358 closed

[2020-06-22 19:04] Jay-Madden commented on #4398
Bump, also seeing this issue

[2020-06-23 15:39] #4262 closed

[2020-06-23 23:36] IvenBach opened #4431 "Class name in api reference not displayed"
When searching for a class name via https://docs.microsoft.com/en-us/dotnet/api/?view=netframework-4.7 when a class name should appear as part of the Description column it is not shown.
 - As shown in link above for Accessibility Namespace: "The namespace and all of ..."
 - As shown in [Accessibility Namespace](https://docs.microsoft.com/en-us/dotnet/api/accessibility?view=netframework-4.7) descri

[2020-06-24 16:14] Youssef1313 opened #4434 ""Applies to" section is empty for all pages."
I've visited many pages, but none seems to have anything under the "Applies to" section. For example, see [Console Class](https://docs.microsoft.com/en-us/dotnet/api/system.console?view=netcore-3.1).

![image](https://user-images.githubusercontent.com/31348972/85592536-8d21f400-b646-11ea-92f4-51e997809607.png)

[2020-06-24 20:34] SittenSpynne opened #4435 "DateTime.MinValue has very odd interactions with Value and unclear, undocumented requirements"
Someone asked a question on reddit about some odd behavior they were seeing when manipulating the `MinDate` property of a `DateTimePicker`. They set `MinDate` to `DateTime.MinValue`, then later tried to set `Value` to the same value. However, they got an exception informing them that the value was out of range. When I was poking at it, I managed to get an error with a different date that told me `

[2020-06-24 22:34] Youssef1313 commented on #4434
Seems like it's fixed now.

[2020-06-24 22:34] #4434 closed

[2020-06-25 06:03] MSDN-WhiteKnight commented on #4400
The MethodBase part is already fixed by https://github.com/dotnet/dotnet-api-docs/pull/4184

I'll submit similar PR for FieldInfo

[2020-06-25 08:00] JansthcirlU commented on #4398
The strangest thing about this bug is that it's not across the entire docs, for example this article on [linked lists](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.linkedlist-1.-ctor?view=netcore-3.1) shows both a C# and a VB example on the same page. And I've also noticed that some articles just work fine (forgot which ones exactly so I can't link them).

[2020-06-28 07:03] Youssef1313 opened #4446 "C# Sample exists but only VB is shown"
In [this page](https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.empty?view=netcore-3.1), I've C# language selected, and the method signature correctly shows in C#, but the example is shown only in VB, although the [C# snippet exists](https://github.com/dotnet/dotnet-api-docs/blob/master/samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Enumerable/CS/enumerable.cs) in the

[2020-06-28 07:05] Youssef1313 commented on #4446
If something went wrong, shouldn't the build show a warning that the sample wasn't found?

[2020-06-28 08:54] Youssef1313 commented on #4446
Same issue is [here](https://docs.microsoft.com/en-us/dotnet/api/system.func-2?view=netcore-3.1#remarks). Looks like the new snippet referencing syntax doesn't render for C# for some reason?

[2020-06-28 09:01] Youssef1313 commented on #4446
Found that it's duplicate of #4398

[2020-06-28 09:01] #4446 closed

[2020-06-28 09:07] Youssef1313 commented on #4398
@mairaw I've checked a few snippets and here are my observations:

1. If the old snippet referencing syntax is used, it always work correctly.
2. If the new syntax is used, it *sometimes* work and sometimes shows the VB only.

However, I haven't checked too many samples to be sure about that.
If the issue will take some time, a temporarily solution would be switching to the old syntax in a single

[2020-06-29 11:39] egraff opened #4448 "Documentation about ExecutionContext seems outdated"
Since @stephentoub wrote the blog post [ExecutionContext vs SynchronizationContext](https://devblogs.microsoft.com/pfxteam/executioncontext-vs-synchronizationcontext/) in 2012, that seems to be the de facto documentation that "everyone" on the Internet points to when discussing how SynchronizationContext relates to ExecutionContext.

However, as far as I can tell (I might be wrong though), Synchro

[2020-06-29 21:56] mairaw commented on #4398
This issue was fixed today. It was indeed related to the new syntax for code snippets.

Rolling back to the old syntax would be a bit painful since the old syntax doesn't support all the interactive scenarios that the new syntax does.

Apologies for the inconvenience.

[2020-06-29 21:56] #4398 closed

[2020-06-30 06:35] mairaw commented on #4431
Thanks @IvenBach. We're aware of this issue and it's been on the engineering backlog for a while now.

Duplicate of https://github.com/MicrosoftDocs/feedback/issues/637

[2020-06-30 06:35] #4431 closed

[2020-07-01 11:27] #1776 closed

[2020-07-01 14:32] shdvr commented on #3579
Some filesystems still in use today limit filenames to 8.1, including FAT16/32 commonly used on flash storage and ISO 9660  used on CDs. Granted, modern implementations of FAT include long file name support and ISO 9660 Level 2 & above supports longer names as well, but I do not believe removing this remark is justified as it is useful to know there _may_ be limitations depending on the filesystem

[2020-07-01 20:13] jyrkive commented on #3579
So the remark is about **file** systems?

The wording only talks about "platforms" and "systems" and it didn't really give me the impression that it's about file systems.

[2020-07-02 02:58] shdvr commented on #3579
It's a bit more complicated than that. Don't know the original author's intent here, but both the **file** system and the **operating** system may affect what is a valid file name. And even for the same file system and same OS it may depend on the file system **driver** in use. Perhaps a combination of all three is what they meant by **system**?
Don't get me wrong, ≫99% of the time you would not h

[2020-07-02 17:03] carlreinke opened #8535 "Assembly.LoadFrom treats parameter as path rather than URI"
## Description

`Assembly.LoadFrom` is supposed to take a URI as its parameter:

([docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.loadfrom))

On .NET Framework, you can pass in a `file://` URI (constructed from the `Assembly.CodeBase` URI of another assembly, for example) to `Assembly.LoadFrom` and the assembly will be loaded.

On .NET Core, the `assembl

[2020-07-03 01:48] cloudstrifebro opened #4465 "Matrix.Prepend does not have a correct example"
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Windows.Media/Matrix.xml

https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.matrix.multiply?view=netcore-3.1

If you look at the example noted, it displays an example for `Matrix.RotateAt()` instead of `Matrix.Prepend()`.  The example should be updated to include the correct usage of prepend.

[2020-07-05 17:19] kburgoyne opened #4470 "IEnumerator<T> Methods"
The left-hand navigation pane has the "Properties" subtree, but not the "Methods" subtree even though the class has methods.  (.NET Core 3.1). I wasn't able to easily identify in the source the mechanism which control this.

[2020-07-05 19:01] svick commented on #4470
This happens because `IEnumerator<T>` has no methods of its own, all three of its methods are inherited from other interfaces (two from `IEnumerator`, one from `IDisposable`).

[2020-07-05 19:43] kburgoyne commented on #4470
Oh... okay. Yes, I've encountered this style of thing in other ways in the docs.  I find it misleading and confusing at times.  It'd be clearer if the inherited stuff was listed and then linked to the defining class/interface.

But okay... if it's a consist standard as is right now, I recognize the legitimacy of that.

[2020-07-05 19:44] #4470 closed

[2020-07-07 02:02] mwwhited commented on #2986
This is probably going to end up like json.net.  An API that everyone love snit Microsoft things they can do better so they create the bastard that is text.json.  Horrible library and attempt to blind port people leading to breaking changes everywhere.

[2020-07-07 11:01] aik-jahoda commented on #3916
Closing as all attached PRs are closed.

[2020-07-07 11:01] #3916 closed

[2020-07-07 19:14] LanceUMatthews commented on #989
This puzzled me as well why that description doesn't match the behavior, at least on Windows.  Following the chain of calls I find...

1. [`Directory.GetFiles(string)`](https://github.com/dotnet/runtime/blob/87919a0462bc2ebd5c256e5ad7649ff98c858e2c/src/libraries/System.IO.FileSystem/src/System/IO/Directory.cs#L139)
2. [`Directory.GetFiles(string, string, EnumerationOptions)`](https://github.com/do

[2020-07-08 00:23] tdykstra commented on #837
@danmosemsft Per the [PR review comments by @GrabYourPitchforks](https://github.com/dotnet/dotnet-api-docs/pull/4384#issuecomment-655178502) I believe we should close this issue -- what do you think?

[2020-07-09 00:47] #2409 closed

[2020-07-10 13:56] marco6 opened #4498 "Expression.Block behavior mismatch"
This simple piece of code behaves differently if compiled under .Net Core and .Net Framework (I tested 4.7.2 only).

[code]

In detail, .Net Core works fine, while .Net Framework throws an exception complaining about the empty block.

Reading the documentation of [Expression.Block](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expression.block?view=netframework-4.7.2) method,

[2020-07-14 21:40] gewarren opened #4520 "References to APIs are replaced with code blocks"
---
**Issue moved from MicrosoftDocs/feedback#2943**
- Please respond to @yeremee.

---

_From @yeremee on Tuesday, July 14, 2020 8:24:20 AM_

**Describe the bug**
References to APIs are replaced with code blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.assert.throwsexception
2. See error

[2020-07-14 21:40] gewarren commented on #4520
---
**Issue moved from MicrosoftDocs/feedback#2943**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Tuesday, July 14, 2020 8:24:21 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.c

[2020-07-14 21:40] gewarren commented on #4520
@yeremee Thanks for letting us know. We'll get it fixed up.

[2020-07-14 22:24] gewarren opened #4522 "DataGridCell.IsReadOnly documentation talks about setting the property while it is readonly."
---
**Issue moved from MicrosoftDocs/feedback#2933**
- Please respond to @kunom.

---

_From @kunom on Friday, July 10, 2020 6:31:17 AM_

https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.datagridcell.isreadonly?view=netframework-4.6.2#System_Windows_Controls_DataGridCell_IsReadOnly

**Describe the bug**
The Remarks section says: _Set the IsReadOnly property to true to make an in

[2020-07-14 22:24] gewarren commented on #4522
---
**Issue moved from MicrosoftDocs/feedback#2933**
- Please respond to @welcome[bot].

---

_From @welcome[bot] on Friday, July 10, 2020 6:31:18 AM_

Thank you for creating the issue! One of our team members will get back to you shortly with additional information. If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.co

[2020-07-14 22:31] gewarren opened #4523 "VB.NET docs: Factual error in IIf function description"
---
**Issue moved from MicrosoftDocs/feedback#2922**
- Please respond to @slepmog.

---

_From @slepmog on Monday, July 6, 2020 8:58:28 PM_

**Describe the bug**
The VB.NET `IIf` function documentation: https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.interaction.iif?view=netcore-3.1

In the [Remarks section](https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualbasic.intera

[2020-07-14 22:50] gewarren opened #4524 "EnumerateDirectories(String, SearchOption) - Error in example"
---
**Issue moved from MicrosoftDocs/feedback#2879**
- Please respond to @DSivtsov.

---

_From @DSivtsov on Saturday, June 20, 2020 3:34:57 AM_

**Describe the bug**
In Example description of **EnumerateDirectories(String, SearchOption)** wrote

The current code
[code]
**fi.Length.ToString("NO")** - Doesn't have any correspondence to description, because it will show only NO for every file over 1

[2020-07-16 18:11] gewarren commented on #4520
The issue is actually in a different repo, and will need to be fixed in the API source code. I reopened the original issue.

[2020-07-16 18:11] #4520 closed

[2020-07-16 21:05] FStapenhorst opened #4533 "Contradicting information in Online documentation and Visual Studio 2019 Intellisense"
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Diagnostics/ProcessWindowStyle.xml

In the IDE, this is shown:
<img width="1176" alt="ide-info" src="https://user-images.githubusercontent.com/34714546/87722557-97a05b00-c7b8-11ea-8f08-ff6987b438fd.png">
Please note the last sentence: "To use Hidden, the UseShellExecute property must be **false**."

In the online documentation it say

[2020-07-19 12:09] lg2de opened #4543 "Extend documentation of PipeReader.AdvanceTo"
I started discussion on extension of documentation of PipeReader.AdvanceTo in dotnet/runtime#38277.

For the overloads
1. AdvanceTo(SequencePosition)
2. AdvanceTo(SequencePosition, SequencePosition)

I would like to change as follows:

* Remarks for both overloads
  * The processing of the buffer distinguishes between consumed and examined. Consumed data can be released. The amount of examined dat

[2020-07-21 22:30] glihm commented on #4368
@paulmasri that's a good catch!

I have opened a pull-request #4551 , feel free to check and add comment if something is missing.

[2020-07-21 22:51] tdykstra commented on #837
Discussed this issue offline with @GrabYourPitchforks and @danmosemsft. Levi will identify specific categories of changes required, and for each category I'll make a PR that addresses all affected snippets.

[2020-07-21 23:12] glihm commented on #4307
@svick I haven't got this behavior, it was probably fixed. Can you confirm?

[2020-07-21 23:31] glihm commented on #4309
@gewarren I do agree with most of this issue.

However, the (2) is completely fine for me. A string can be null, empty (0 character) or 1+ characters. So the sentence `If any of the elements in separator consists of multiple characters` does make sense for me, what do you think?

[2020-07-22 00:08] glihm commented on #4524
I was editing the code and I didn't see the issue, nice catch @DSivtsov .

@gewarren do you think we should add the 'B' of byte at the end of the length, or only printing the length is fine?

[2020-07-22 00:13] svick commented on #4307
@glihm  Yeah, seems to be fixed, closing.

[2020-07-22 00:13] #4307 closed

[2020-07-22 02:07] glihm commented on #4201
@dmondrik hello,

`UriFormatException` is never thrown by the `HttpClient.GetAsync` method.

If you check the [code](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs), there is a function `CreateUri` that accepts both relative and absolute Uri -- it means that every string can be accepted here. If the string is null, null is returned, an

[2020-07-22 05:36] glihm commented on #4465
@cloudstrifebro I am not sure to understand your issue.

In your link of the documentation example the matrix multiply code is just fine.

And following the [link](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.matrix.prepend?view=netcore-3.1#System_Windows_Media_Matrix_Prepend_System_Windows_Media_Matrix_) of `Matrix.Prepend` the example seems completely fine.

Did you link the

[2020-07-22 05:53] glihm commented on #4465
@cloudstrifebro hello,

not sure to get the point. You've linked the `Matrix.Multiply` example, which is fine, no?

Also, the `Matrix.Prepend` [example](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.matrix.prepend?view=netcore-3.1#System_Windows_Media_Matrix_Prepend_System_Windows_Media_Matrix_) seems to be good too.

Did you missed a link? Can you give the line into the Matrix.

[2020-07-22 06:17] GrabYourPitchforks opened #4556 "Update insecure samples for JavaScriptTypeResolver and SimpleTypeResolver"
@gewarren, @Rick-Anderson, we received a report that some of our docs related to Full Framework's `JavaScriptSerializer` contain insecure code samples. I've provided below some updated contents for the two pages. Would you be able to wordsmith and merge them in to the relevant pages when you find some time? Thanks!

This is not time-critical.

-----

## SimpleTypeResolver

https://docs.microsoft.c

[2020-07-22 06:24] Rick-Anderson commented on #4556
I'll take care of it tomorrow.

[2020-07-22 06:26] GrabYourPitchforks commented on #4556
Thanks! There's no rush at all. I just needed to check it off my list as \[done\]. :)

[2020-07-22 16:45] glihm commented on #4391
@hswan-msft @mstefarov which web-browser are you using guys? It seems to be fixed, can you confirm?

Chrome based
![chome based](https://i.ibb.co/QJGqdfT/dnet-chrome.png)

Firefox
![firefox](https://i.ibb.co/QkdHtYf/dnet-firefox.png)

[2020-07-22 17:11] glihm commented on #4397
@pepone hello,

This is not an issue, ValueTask is a structure. So the default constructor is provided by C#. You can't implement it.

[code]

[2020-07-22 17:45] glihm commented on #4419
@Rodhern hello,

PR submitted, feel free to comment / complete it.

[2020-07-22 17:54] glihm commented on #4334
@Ungerfall hello,

not sure to get the point.

The statement is pretty clear: "__this__ enumeration has a FlagsAttribute...", isn't it?

[2020-07-22 18:06] glihm commented on #4327
@bradmarder hello,

I do agree with these typos and suggestions and as you mentioned, a global revision of BitConverter documentation can be a great thing to do.

And for the PR, let's see what maintainers think about it. 👍

[2020-07-22 18:30] glihm commented on #4235
Duplicate #4391 , seems to be corrected since.

[2020-07-22 19:16] pepone commented on #4397
It will be useful if the documentation tells that a default constructed task is a completed task, equivalent to `new ValueTask(Task.CompletedTask)`. Afaik this info is not provided in ValueTask documentation.

[2020-07-22 19:49] glihm commented on #4397
@pepone in that sense you're right and I didn't get you right at the first reading. The documentation might need to be more accurate.

I am just wondering that, the default state of `ValueTask` can't be an other one. It must be `Completed` because `Fault` and `Cancel` have no sense for a new `ValueTask`.

[2020-07-22 20:26] pepone commented on #4397
We wanted to use `default` in our product but we decided against it because this was not documented behavior.

[2020-07-22 21:30] glihm commented on #4397
We need now to wait maintainer's point of view and suggestions. :)

[2020-07-22 22:14] GrabYourPitchforks commented on #4556
In retrospect, it might be weird to have a console app based demo, given that this is a web scenario. But copy + paste and CTRL-F5 is easy, so maybe it's not the worst thing in the world.

[2020-07-23 02:54] hswan-msft commented on #4391
Thanks for the update! I'm using Firefox and I can confirm this is fixed.

[2020-07-23 02:54] #4391 closed

[2020-07-23 03:07] NextTurn opened #4564 "Update Process.Kill exception notes"
Since .NET Core 3.0, `Process.Kill` doesn't throw if the process has exited or is terminating.

[2020-07-23 10:23] IanKemp opened #4566 "ValidationAttribute documentation on MSDN does not correspond with documentation comments in source code"
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.validationattribute?view=netcore-3.1
vs
https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/ValidationAttribute.cs

For example, the latter's doc comments for `IsValid(object)` state that "Derived classes should not override this meth

[2020-07-24 16:41] gewarren commented on #4309
@glihm Yes, you are right, thanks for pointing that out!

[2020-07-24 21:08] #4556 closed

[2020-07-25 02:14] glihm commented on #4309
Some other points to keep them here and get them back for me or someone that want to help rewriting this:

[code]

Moreover, this example is already used in the `StringSplitOption` documentation.

[code]

[2020-07-25 17:24] mairaw commented on #4533
What version of .NET are you using @FStapenhorst? Never versions should match what you see in this repo since this was changed in PR #360

[2020-07-25 18:04] #4419 closed

[2020-07-26 02:03] glihm commented on #4397
@pepone ,

I was using ValueTask and wasn't to use it as a black box. :)
I have checked the code, and there are some dev comments about this, look at this one:

* For `ValueTask`

* For `ValueTask<TResult>`

   // with a result of default(TResult).

I do think those comments can be added to the documentation to provide a clear and deterministic information about default initialization of `ValueTas

[2020-07-26 09:31] FStapenhorst commented on #4533
See screen shot
<img width="1190" alt="Screenshot 2020-07-26 at 11 31 12" src="https://user-images.githubusercontent.com/34714546/88475817-93500c80-cf33-11ea-87d0-4efe9d3dc926.png">

[2020-07-26 15:50] glihm commented on #4308
@gewarren hello,

yup, and the KB 258858 is also broken [here](https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/enable-encrypted-connections-to-the-database-engine?view=sql-server-ver15) and perhaps more pages.

about the link 393996, I would suggest to use the same link for direct download as [Connection resiliency driver](https://docs.microsoft.com/en-us/sql/connect/odbc/wi

[2020-07-27 15:08] jchristn opened #4578 "Connect() doesn't seem to direct the following Send() to the new host"
https://github.com/dotnet/dotnet-api-docs/blob/ddd279dab83d7f447eb4675963c15a5a7455e19e/xml/System.Net.Sockets/UdpClient.xml#L1097

The statement in this line does not seem to be correct.

In my tests, I had to call ```.Dispose()``` then reinstantiate in order to connect to another host, i.e. if I have the following code
[code]
This works really well.

If I leave out ```_UdpClient.Dispose();``` an

[2020-07-27 19:17] dmondrik commented on #4201
@glihm unfortunately the documentation does not match the implementation. I'll admit I ought to have included the culprit when I originally mentioned the issue. If you pass in a string with an extra slash such as "http:///extra-slash/uri", it will indeed throw `UriFormatException` when it tries to parse the string.

[2020-07-27 19:20] glihm commented on #4201
@dmondrik that's a very good catch, I have tried lot's of dummy URI but not like your example. And indeed it throws!

In my opinion it deserves a PR so. :)

[2020-07-27 19:29] glihm commented on #4201
@dmondrik also, thanks to your issue, I have made a PR because the `ArgumentNullException` is not thrown, an `InvalidOperationException` is thrown instead.

[2020-07-28 14:31] nschmeller opened #4584 "Skip button on Feedback box out of alignment"
Upon viewing the feedback box

<img width="342" alt="image" src="https://user-images.githubusercontent.com/26189705/88678984-00db7480-d0bd-11ea-9aae-ff13403af6ea.png">

and selecting either option "Yes" or "No", the following layout for further feedback comes up

<img width="199" alt="image" src="https://user-images.githubusercontent.com/26189705/88679153-2799ab00-d0bd-11ea-84cb-404565cabde0.png">

[2020-07-28 17:48] ohadschn opened #4585 "Interlocked.Increment sample does not raise memory barriers for static variables"
Docs page:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.interlocked.increment?view=netcore-3.1

Relevant code section:
[code]

These variables are accessed by different threads but only _writes_ are protected (using `Interlocked.Add` / `Interlocked.Increment`).

However all _reads_ should be protected too (otherwise different threads can read stale values). `volatile` would be the

[2020-07-29 22:14] tdykstra opened #4589 "Invalid Remarks section in System.IO.BinaryWriter.Flush Method"
---
**Issue moved from dotnet/docs#18694**
- Please respond to @mcpiroman.

---

_From @mcpiroman on Friday, May 29, 2020 11:37:31 AM_

**Issue description**

https://docs.microsoft.com/en-us/dotnet/api/system.io.binarywriter.flush#System_IO_BinaryWriter_Flush

Flush section seems to be copy-pasted from `System.IO.StreamWriter.Flush`. Especially, it mentions ` AutoFlush` property, which  `System.I

[2020-07-29 22:14] tdykstra commented on #4589
---
**Issue moved from dotnet/docs#18694**
- Please respond to @Thraka.

---

_From @Thraka on Thursday, June 4, 2020 4:51:08 PM_

@carlossanlop can you comment?

[2020-07-30 14:24] ohadschn opened #4592 "System.Diagnostics.Process docs do not mention async StreamReader APIs"
This issue is spread around a few sections, for example [Process.StandardOutput](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.standardoutput?view=netcore-3.1):

The description makes it sound like sync = `Read`/`ReadLine` and async = `BeginOutputReadLine`/`OutputDataReceived` where in fact the recommended async approach would surely be the task-based `System.IO.StreamRead