[2019-04-11 14:10] CeciAc opened #2290 "SslStream is available in UWP 10.0.16299 but not addressed here"
@taoyouh commented on [Thu Apr 11 2019](https://github.com/dotnet/dotnet-api-docs.zh-cn/issues/25)

Class SslStream and method SslStream.ShutdownAsync is available in UWP 10.0.16299 or higher. But it is not mentioned in the document.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 29aea839-74d6-6dfe-c54d-e1714a3b3367
* Version Independent ID: 9d8d412d-571e-c0df-439d-

[2019-04-11 14:10] CeciAc commented on #2290
Hi team,
I'm moving this here since the user is suggesting a addition to the original documentation

best

[2019-04-11 21:46] Efreeto commented on #1265
Wow, thank you everyone.
I was only half expecting I would be heard here, but you guys actually heard me and did this!

[2019-04-12 00:52] tomzorz commented on #2267
Sounds like a plan! I'll probably stick with the numbers though, just to stick with the pattern.

[2019-04-12 06:04] #939 closed

[2019-04-12 14:41] MarkFern opened #2295 "Links shown in GetStartComSlot & GetEndComSlot documentation, point to documentation that can't be corrected"
The [_"Introducing the Class Interface"_](https://msdn.microsoft.com/library/733c0dd2-12e5-46e6-8de1-39d5b25df024) link appears on the framework-4.7.2 documentation pages for the [_'Marshal.GetStartComSlot(Type)'_](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.getstartcomslot?view=netframework-4.7.2) &  [_'Marshal.GetEndComSlot(Type)'_](https://docs.microsoft.c

[2019-04-12 15:49] rpetrusha commented on #2295
Thanks for opening this issue, @MarkFern. The **Introducing the Class Interface** topic has been archived and is no longer being updated. Currently, there are no plans to migrate it into our active documentation set.

However, we are currently in the process of revising the .NET interop documentation (see dotnet/docs#11396). Part of this work involves migrating selected archived content back into

[2019-04-12 15:49] #2295 closed

[2019-04-12 18:11] #1992 closed

[2019-04-12 22:07] rpetrusha commented on #2289
Thanks for reporting the compiler error, @arslanmurat06. We've opened dotnet/samples#813 to address this issue.

[2019-04-15 21:13] rpetrusha commented on #2045
This issue is a duplicate of #2271 and was fixed in #2272. Closing as duplicate.

[2019-04-15 21:13] #2045 closed

[2019-04-15 21:19] rpetrusha commented on #1954
@bartonjs, could you take a look at this issue, please?

[2019-04-15 21:33] rpetrusha commented on #1950
Thanks for opening this issue, @jazzdelightsme. We've addressed it in #2305.

[2019-04-15 23:05] rpetrusha commented on #1941
Thanks for pointing out the errors in the examples, @CharcoalUchiha. We've opened dotnet/samples#818 to address this issue.

[2019-04-15 23:15] bartonjs commented on #1954
It is true that it is hashed to 32 bytes, it is also true that the 32-byte is effectively stretched (via appended zeros) to a 64-byte key.,

So I'd say that what's there is correct, but perhaps misleading or confusing.  Maybe a reasonable alternative is

"If `key` is more than 64 bytes long it is first hashed (using SHA-256) down to 32 bytes.  Any `key` value less than 64 bytes (including a large

[2019-04-15 23:20] rpetrusha commented on #1926
Thanks for noticing and reporting these errors, @elgonzo. We've opened #2310 to correct them.

[2019-04-15 23:21] rpetrusha commented on #1925
Thanks for noticing and reporting these errors, @elgonzo. We've opened #2310 to correct them.

[2019-04-15 23:34] rpetrusha commented on #1914
Thanks for you feedback , @kwalker360. As the documentation notes:

Since the FileDialog.Options property is intended for internal use, we haven't provided detailed documentation on individual flags.

Closing as By Design.

[2019-04-15 23:34] #1914 closed

[2019-04-15 23:47] rpetrusha commented on #1920
.NET Compact Framework 3.5 has a different surface area than .NET Framework 3.5, @Heroenimus.

Closing as By Design.

[2019-04-15 23:47] #1920 closed

[2019-04-16 16:25] #2289 closed

[2019-04-16 16:26] #1941 closed

[2019-04-16 20:24] felipepessoto opened #2318 "MaxBufferSize in WCF binding. Max value should be int.MaxValue-56"
I know it is not recommended, but some application set the MaxBufferSize (and other properties) to
2.147.483.647 (int.MaxValue).

The problem is that when you configure it, you won't see any problem, since the WCF will not allocate 2GB array buffer (it is just the **max** size).

After some time, when you data grows, and your responses exceeds 2GB, WCF will try to allocate a byte array with 2.147.

[2019-04-16 23:25] colgreen commented on #1954
Thanks. FWIW here's my slightly edited version of your first paragraph...

"If `key` is more than 64 bytes long it is first hashed (using SHA-256) to produce a 32 byte hash and padded with zero bytes to produce the final 64 byte key. If `key` is shorter than 64 bytes it is padded with zero bytes to produce the final 64 byte key."

I do feel like a variation on your second block of text needs to be

[2019-04-17 07:09] kyle0418 opened #2326 "code layout issue"
There is a code layout issue in docs "[GroupBox Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.groupbox?view=netframework-4.7.2)"

    // Create and initialize a GroupBox and a Button control.
                GroupBox groupBox1 = new GroupBox();
                Button button1 = new Button();
                button1.Location = new Point(20,10);

should be like this:

    //

[2019-04-17 14:35] ite-klass opened #2329 "Contradicting information between ScrollableControl HScroll and class remarks"
The remarks section of `ScrollableControl.HScroll` says:

whereas the remarks section of the class `ScrollableControl` says:

These directly contradict each other.

[2019-04-17 15:19] ite-klass commented on #2329
Even with `AutoScroll` set to `false`, setting a `AutoScrollMinSize` seems to automatically set `AutoScroll` as well as `HScroll`/`VScroll` to true.

[2019-04-17 17:06] MSDN-WhiteKnight commented on #793
Process instance should be disposed if it owns an open OS process handle. Process instances returned by GetProcessesByName method initially do not open a handle to the process, but they do it when the caller accesses some of their members, such as [Handle](https://referencesource.microsoft.com/System/R/41ed61685806ec61.html) property.

So, caller should definitely dispose all Process instances tha

[2019-04-18 00:41] #2020 closed

[2019-04-18 04:09] moyanming opened #2338 "Why the StringBuilder object is chunky even after the data from the original buffer is copied to the new buffer?"
https://github.com/dotnet/dotnet-api-docs/blob/7668d4bac38aff3ce335fed5c840cdd6730edf5a/xml/System.Text/StringBuilder.xml#L87

Hi,
1. The buffer of the StringBuilder object will be extended automatically and the data of the original buffer will be coped to the new buffer.
![QQ截图20190418120008](https://user-images.githubusercontent.com/13234209/56336116-aa9d3780-61d1-11e9-85d6-67449f9c5ce7.jpg)
2.

[2019-04-18 19:22] paolofulgoni commented on #793
Thanks for the detailed response.
So if disposing is sometimes needed and sometimes not, but never a problem, then disposing all the times seems a good practice to me. What do you think?

[2019-04-19 03:35] MSDN-WhiteKnight commented on #793
Yes, disposing all instances is surely a safe choice. And, until someone officially states otherwise, it is assumed a good practice.

[2019-04-19 09:54] paolofulgoni commented on #793
Back to my original question, I think that the examples should be updated accordingly

[2019-04-19 14:51] NextTurn opened #2341 "Invisible enum field remarks"
https://github.com/dotnet/dotnet-api-docs/blob/bdc5c7e71a5092239783affe5074137cb0eeeba3/xml/System.Runtime.InteropServices/UnmanagedType.xml#L314-L321

https://github.com/dotnet/dotnet-api-docs/blob/bdc5c7e71a5092239783affe5074137cb0eeeba3/xml/System.Runtime.InteropServices/UnmanagedType.xml#L1064-L1071

I can't see these remarks anywhere.

[2019-04-22 05:31] jack147527 opened #2346 "Code formatting issue"
There are four formatting issues in docs [CheckedListBox](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.checkedlistbox?view=netframework-4.7.2)

      private System.Windows.Forms.Button button3;
        private System.ComponentModel.Container components;

      public Form1()
      {
            InitializeComponent();

         // Sets up the initial objects in the CheckedListB

[2019-04-22 06:44] kyle0418 opened #2347 "Code Layout Issue"
There is a layout issue in the document "[BindingManagerDataErrorEventArgs Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.bindingmanagerdataerroreventargs?view=netframework-4.7.2)"

    private void BindingManagerBase1_DataError(Object sender, BindingManagerDataErrorEventArgs e) {
    System.Text.StringBuilder messageBoxCS = new System.Text.StringBuilder();
    messageBoxC

[2019-04-22 17:30] MSDN-WhiteKnight opened #2348 "ValueType remarks needs improvement"
In [System.ValueType](https://docs.microsoft.com/en-us/dotnet/api/system.valuetype?view=netframework-4.8#remarks) remarks:

This statement implies that the main distinction between value and reference types is their allocation mechanics, which is inaccurate and inconsistent with [Common Type System](https://docs.microsoft.com/en-us/dotnet/standard/base-types/common-type-system#types-in-net) articl

[2019-04-24 03:36] MSDN-WhiteKnight commented on #1911
The example assumes that DataGrid is bound to DataView, but it is not stated anywhere. If we bind DataGrid like this:

    public MainWindow()
    {
            InitializeComponent();
            DataTable dt = new DataTable();
            //...
            this.DataContext = dt.DefaultView;
    }

everything works properly. If we bind DataGrid to any other collection, the error is reproduced.

I

[2019-04-24 03:51] Ray-Wynn commented on #1911
Thanks for the response.

It is somewhat confusing whilst learning C# when Microsoft examples fail. I don’t know if this occurs because C# is evolving or the examples provided are not tested (as in downloaded in isolation from original composition) or lack the documented conditions required.

But given the scale of C# possibilities, and the effort required to document every possibility! I have lit

[2019-04-24 05:49] Crown0815 opened #2355 "Mistake in sample for DateTimeOffset.Implicit"
In the documentation DateTimeOffset.Implicit there is an example showing the various kinds of implicit conversions. The example looks like this:
[code]

However there appear to be multiple mistakes in this example:
1. In line 2 the year in code is set as 1008, while in the supposed output it should be 2008
2. In the last line the output is given to be 1/2/2008 2:30:00 AM -08:00, although the expec

[2019-04-24 07:42] MSDN-WhiteKnight commented on #2355
It's in the samples repository: https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_CLR_System/system.DateTimeOffset.Operators/cs/Operators.cs#L83

[2019-04-24 10:29] herohua commented on #2040
@mairaw , there is a third case that the end of file was not reached, but the API returns with a number less than the `count` parameter, when the stream before read contained fewer data than `count`.

[2019-04-24 10:54] qinezh commented on #1910
It's truly a problem as many people may just follow the sample code in Examples Section and ignore the content in Remarks Section which is more important...

[2019-04-25 09:56] Crown0815 commented on #2355
@MSDN-WhiteKnight Thank you for the link, I opened a [pull request](https://github.com/dotnet/samples/pull/850) with an improvement.

[2019-04-25 16:10] #2347 closed

[2019-04-25 16:11] #2346 closed

[2019-04-25 17:10] mairaw commented on #2346
Thanks for your feedback @jack147527. This was fixed in https://github.com/dotnet/samples/pull/846.

[2019-04-25 17:14] mairaw commented on #2347
Thanks for your feedback @kyle0418. This was fixed in https://github.com/dotnet/samples/pull/845.

[2019-04-26 16:52] #839 closed

[2019-04-26 19:11] mairaw opened #2370 "Make editorial updates to WebSocketReceiveResult Constructors"
URL:
https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.websocketreceiveresult.-ctor

Similar to what was done in https://github.com/dotnet/dotnet-api-docs/pull/2319 for the ValueWebSocketReceiveResult struct

[2019-04-28 08:47] moyanming opened #2373 "Does the default value of the DataflowBlockOptions.EnsureOrdered property is true?"
Hi,
Does the default value of the [DataflowBlockOptions.EnsureOrdered property](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.dataflow.dataflowblockoptions.ensureordered?view=netcore-2.2) is true?

[2019-04-28 09:48] svick commented on #2373
Yes, the default is `true`, you can see it in [the XML documentation in the source code](https://github.com/dotnet/corefx/blob/4ff66e5/src/System.Threading.Tasks.Dataflow/src/Base/DataflowBlockOptions.cs#L182-L192):

I have also created a Pull Request that copies this information to the docs: https://github.com/dotnet/dotnet-api-docs/pull/2374.

[2019-04-29 09:06] Houuse opened #2375 "static bool Any<TSource>(this IEnumerable<TSource> source); docs and metadata provide misinformation here (return type) ,"
hi , microsoft docs as well as .net framework metadata provide misinformation for `Enumerable.Any()` method
 indicating the retun type bool , while it is bool?
refer this question first answer discussion for more related information

[2019-04-29 09:15] #2375 closed

[2019-04-29 19:50] #2326 closed

[2019-04-29 19:53] sudeepku opened #2376 "What is the encryption standard underlying ProtectedData Class"
@dsfwb asked this question in https://github.com/MicrosoftDocs/feedback/issues/1443
about Topic https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.protecteddata?view=netframework-4.8

[2019-04-29 20:10] mairaw commented on #2376
@bartonjs can you help with this question?

[2019-04-29 20:12] mairaw commented on #2326
Thanks for your feedback @kyle0418. This has been fixed with https://github.com/dotnet/samples/pull/855 but the change will be live next week.

[2019-04-29 21:02] bartonjs commented on #2376
It uses [CryptProtectData](https://docs.microsoft.com/en-us/windows/desktop/api/dpapi/nf-dpapi-cryptprotectdata), part of Windows DPAPI.  I did a couple of minutes digging and couldn't find a clear answer beyond that point.

[2019-04-29 21:34] rpetrusha commented on #2341
This is because remarks for enumeration members aren't published, @NextTurn; see #1306. I'll open a PR to move the two member remarks to the member summary.

[2019-04-29 22:01] mairaw commented on #2376
Thanks @bartonjs. Does that help @dsfwb?

[2019-04-29 22:21] ganchito55 commented on #1672
IMHO at least a link to https://software.intel.com/sites/landingpage/IntrinsicsGuide/ should be added at the end/beginning of the documentation. However it would be good if each instruction had each own link.

[2019-04-29 22:22] tannergooding commented on #1672
This is being worked on and I hope to have this resolved relatively soon.

[2019-04-29 23:28] #2373 closed

[2019-04-30 03:53] moyanming opened #2381 "How to clear the items which are not performed of the ActionBlock?"
Hi,
The [ActionBlock<TInput>](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.dataflow.actionblock-1?view=netcore-2.2) performs computations using dataflow blocks. Is there a way to clear the buffer which is not performed in this block?

[2019-04-30 05:40] GrabYourPitchforks commented on #2376
The particular container format used by `CryptProtectData` is undocumented as it's an internal Windows implementation detail, and it has changed in previous releases of the operating system. The actual algorithms used under the covers are configurable, but if no override is specified in the registry the encryption algorithm is AES last I checked.

[2019-04-30 05:52] GrabYourPitchforks opened #2382 "Need to doc that String.Copy is obsolete as of .NET Core 3"
Context: https://github.com/dotnet/corefx/issues/33602 and https://github.com/dotnet/corefx/blob/467d45e3950e8daeda9373396da8061f5b8b3787/src/System.Runtime/ref/System.Runtime.cs#L2330-L2331

We obsoleted (as warning) the `String.Copy` method in .NET Core 3 and created the fwlink https://go.microsoft.com/fwlink/?linkid=2084035 for inclusion in the obsolete message. Current the fwlink points back t

[2019-04-30 13:15] #2355 closed

[2019-04-30 15:25] ganchito55 commented on #1672
I have created an example of usage with a benchmark (SIMD vs classic implementation vs LINQ implementation) that maybe could help you to improve the documentation.
https://github.com/ganchito55/simd

[2019-04-30 17:19] #2275 closed

[2019-04-30 17:23] #1925 closed

[2019-04-30 17:23] #1926 closed

[2019-04-30 17:26] #2341 closed

[2019-04-30 22:47] tomzorz commented on #2267
So the samples have been merged, when they're live I'll finish the actual docs.

[2019-05-02 13:08] mladedav opened #2399 "EnvironmentVariableTarget is not usable for non-Windows platforms"
**Issue description**

When the Environment.SetEnvironmentVariable(String, String, EnvironmentVariableTarget) function is called, if the last parameter is anything but EnvironmentVariableTarget.Process on non-Windows platform, it will not do anything, because there are no registers to use. GetEnvironmentVariable always returns null in the same scenario. I would suggest stating that in the appropri

[2019-05-02 17:40] paulomorgado opened #2394 "Inconsistent documentation on System.Transactions.Transaction.Current"
The documentation for [`System.Transactions.Transaction.Current`](https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transaction.current?view=netframework-4.8) states that:

and then contradicts itself:

And the property is not exactly thread static.

This code (run in LINQPad):

[code]

doesn't throw but "looses" the transaction as soon as the thread changes.

[2019-05-03 04:26] colderlord opened #2397 "[Question] How the `xml` files were generated in this format"
Hello!
Mb i ask something stupid, but how the `xml` files were generated in this format with you unique tags?
Where can i read about this or, where can i find tool that you use?
Regards

[2019-05-03 18:08] rpetrusha commented on #2399
Thank you for opening this issue, @mladedav. Your description of the behavior of both the SetEnvironmentVariable and GetEnvironmentVariable overloads that include an EnvironmentVariableTarget parameter is accurate; the documentation needs to be revised to reflect that behavior. In addition, the example code should be revised to run on non-Windows systems. And the code itself is unnecessarily verbo

[2019-05-04 12:18] dsychin commented on #2246
I would like to work on this.
Am I correct to think that I have to create a VB version of [this file](https://github.com/dotnet/samples/blob/staging/snippets/csharp/VS_Snippets_Remoting/Net_Listener_Basic/CS/test.cs) and also add the links to it to [this xml](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Net/HttpListener.xml)?

[2019-05-05 09:14] DevelAx opened #2404 "The statement that "TaskFactory.ContinueWhenAll method throws an exception" is not true"
It's said on the [CancellationToken Struct page](https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken?view=netframework-4.8#examples) that

In fact, the `TaskFactory.ContinueWhenAll` method does not throw an exception but merely returns a task in any scenario.  The exception is thrown on the next line where `fTask.Result` is requested:
[code]

[2019-05-06 08:15] kyle0418 opened #2407 "Code formatting issue"
There are a lot of code format errors in the code provided in Examples.
Such as:

          // method to convert the Control's client coordinates
    // to screen coordinates.
       Rectangle controlRectangle;
          for(int i = 0; i < Controls.Count; i++)

Please check it.
Doc link:
[Control.PointToScreen(Point) Method](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.

[2019-05-06 08:35] jespersh commented on #2407
https://github.com/dotnet/samples/blob/staging/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.RectangleToScreen/CS/form1.cs
Does appear to be some mixed tab and spaces. Take a peak at L100 with tabs and L99 with spaces.
You can create a pull request there if you feel up for fixing it :-)

[2019-05-06 10:44] dmytro-gokun opened #2408 "DbConnection.Close - exception information"
Here: https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbconnection.close?view=netframework-4.8 (and for other .NET versions) we can read:

Looks like a wrong sentence to me, copy-pasted from somewhere else. The truth, most probably, is that "Close" never throws. Thoughts?

[2019-05-06 12:45] CeciAc opened #2409 "timeout or no timeout?"
@mbrenn commented on [Fri May 03 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/25)

Invoke(Action, DispatcherPriority, CancellationToken, TimeSpan) defines timeout variable as 'minimum time before start' while other overloads define timeout variable 'as maximum time until end'.
Seems to be wrong or confusing.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er is

[2019-05-06 12:47] CeciAc commented on #2409
Hi team,
I'm moving this here since the user is reporting a error in the documentation
best

[2019-05-06 17:56] KennethWhite opened #2411 "Path.GetFullPath implementation/documentation discrepancy"
I encountered an issue this morning with a unit test revolving around `Path.GetFullPath`. I was upgrading unit tests from a .NET Framework 4.6.2 project to a .NET Core 2.2 project, which caused this test to go from passing to failing. I am unsure if this is an implementation discrepancy or a document discrepancy.

According to the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.

[2019-05-06 18:02] CeciAc opened #2412 "default value of Serial.NewLine is vbLf and not Environment.NewLine"
@zoomx commented on [Mon May 06 2019](https://github.com/dotnet/dotnet-api-docs.it-it/issues/2)

in SerialPort.ReadLine Method is written

The link in NewLine goes to SerialPort.NewLine Property where it's written

The link in NewLine goes to Environment.NewLine Property where it's written

So it is expected that, using ReadLine, the NewLine, that is vbCrLf (\r\n), is removed.

Instead it is remov

[2019-05-06 18:03] CeciAc commented on #2412
Hi team,
I'm moving this here since the user is reporting an error in the original documentation
best

[2019-05-06 19:52] rpetrusha commented on #2412
Thanks for reporting this, @zoomx, and for moving the issue to the dotnet/docs repo, @CeciAc. You are correct, @zoomx, that the value of the NewLine property is "\n" or vbLF. We'll update the documentation accordingly; see #2413.

[2019-05-07 07:32] zoomx commented on #2412
@CeciAc ,
thanks for moving in the right place. I opened the original issue using the links I found in the documentation page at the bottom (but I don't remember if the page was in Italian or in English), maybe they are wrong too?

[2019-05-07 09:08] kyle0418 opened #2417 "Code Formatting issue"
There is a formatting issue in the document: [HtmlElementInsertionOrientation Enum](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.htmlelementinsertionorientation?view=netframework-4.8)

	if (webBrowser1.Document != null)
	{
		HtmlDocument doc = webBrowser1.Document;

              // Do not insert the warning again if it already exists.
              HtmlElementCollection return

[2019-05-08 08:18] jack147527 opened #2418 "ConsoleSection class is not defined in the code"
There is a code missing issue.

ConsoleSection currentSection = null;

I think ConsoleSection  class should be defined in the code. otherwise we could not run the GetRoamingConfiguration method.

[2019-05-08 15:44] #2246 closed

[2019-05-09 01:40] dsychin opened #2424 "Dead links to technet2.microsoft.com"
The links to external documentation hosted on technet2.microsoft.com is dead at
https://docs.microsoft.com/en-us/dotnet/api/system.printing.enumeratedprintqueuetypes?view=netframework-4.8#examples

[2019-05-09 12:51] breyed commented on #767
Another case is when the connection is forcibly closed by the remote side. Does that also cause `WebSocketState` to be `Aborted`?

[2019-05-09 18:58] riipah commented on #1666
@ghogen @gewarren

[2019-05-09 22:04] rpetrusha commented on #2424
Thanks for pointing this out, @dsychin. We've corrected the URL in #2428.

[2019-05-10 00:11] gewarren commented on #1666
@riipah I'm trying to find out the answer for you unless Mads already discussed this with you? It was great to meet you today and safe travels!

[2019-05-10 01:09] danmosemsft commented on #837
Here's another example, which reminded me.
https://docs.microsoft.com/en-us/dotnet/api/system.console.bufferheight?view=netcore-3.0
[code]
A bit confusing if you heard that CAS is dead.

[2019-05-10 09:45] svick opened #2431 "Roslyn APIs should specify actual version instead of "Latest""
As far as I can tell, the version of Roslyn shown in API reference is outdated. For example, the version 3.0.0 of the package Microsoft.CodeAnalysis.CSharp, which has been released for a month, contains the type `Microsoft.CodeAnalysis.CSharp.Syntax.RecursivePatternSyntax`, but that type is not included in the API reference. (I'm assuming that type can be considered to be released, even though it'

[2019-05-10 15:17] #2424 closed

[2019-05-10 17:27] rpetrusha commented on #837
This issue has languished, @danmosemsft, but I'll start addressing it in the next sprint.

[2019-05-10 18:57] danmosemsft commented on #837
Thanks, @rpetrusha

[2019-05-10 19:11] #1172 closed

[2019-05-10 20:12] #2412 closed

[2019-05-10 20:41] rpetrusha commented on #2418
Thanks for pointing this out, @jack147527. The source code is incomplete in many instances here, unfortunately. We'll schedule some time to work on presenting compilable source in an uncoming sprint.

In the meantime, you'll need two additional classes to compile the example. The first is **ConsoleSection**:

[code]

The second is **ConsoleConfigElement**:

[code]

[2019-05-10 20:48] rpetrusha commented on #2411
@JeremyKuhne, can you comment on this issue?

[2019-05-10 22:58] #2417 closed

[2019-05-13 07:14] kyle0418 opened #2437 "Code formatting issue"
There are some formatting issues in the document: [HtmlElementErrorEventArgs Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.htmlelementerroreventargs?view=netframework-4.8)

The code in example should be modified like this:

    private void SuppressScriptErrors()
    {
        if (webBrowser1.Document != null)
        {
            webBrowser1.Document.Window.Error += new

[2019-05-13 14:01] BillWagner commented on #2431
Thanks for raising this @svick

I'm working to get the latest SDK uploaded

[2019-05-13 15:30] #796 closed

[2019-05-13 17:22] LarrySmith-1437 commented on #1085
Bump.
Would like to see a note directing developers to use HttpRequestMessage and NOT to use BaseAddress or DefaultHeaders.
The above properties are confusing, and counter to the advise that there should be only one static instance of HttpClient in your app.

[2019-05-13 17:25] CeciAc opened #2438 "PemEncodeSigningRequest example is not properly formatted"
@jeremyVignelles commented on [Mon May 13 2019](https://github.com/dotnet/dotnet-api-docs.fr-fr/issues/6)

On the english page, the markdown code fences are shown, and the language is not detected as C#.

Could you please fix that?

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 6492c5e5-e154-6ead-e9

[2019-05-13 17:28] CeciAc commented on #2438
Hi team,
the user is reporting a formating error present in the en-us page which replicates in the localized versions on the page

[2019-05-13 19:21] #1950 closed

[2019-05-13 21:02] mairaw commented on #2069
Done @obelink

[2019-05-13 21:11] mairaw commented on #2438
Thanks @CeciAc and @jeremyVignelles. I've opened https://github.com/dotnet/dotnet-api-docs/pull/2439 to fix this. Merci!

[2019-05-13 21:21] mairaw commented on #2409
Thanks @mbrenn for your feedback. From what I can see [in the source](https://referencesource.microsoft.com/#WindowsBase/Base/System/Windows/Threading/Dispatcher.cs), they should all say "The minimum amount of time to wait for the operation to start. Once the operation has started, it will complete before this method returns."

[2019-05-13 22:00] rpetrusha commented on #2408
Thank you, @dmytro-gokun, for pointing this out. This evidently was a copy-and-paste error. I've removed the exception information.

[2019-05-14 01:40] #2408 closed

[2019-05-14 09:34] dmytro-gokun commented on #2408
Thanks a lot, @rpetrusha, for fixing it. May be this is a stupid question, but plz bear with me :) What is the normal release cadence for fixes like this one? I mean, when it will be reflected in the official docs?

[2019-05-14 09:47] kyle0418 opened #2447 "Code formatting issue"
There are several formatting issues in the "Examples" code in the document:
[FrameStyle Enum](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.framestyle?view=netframework-4.8)
Such as:

      // method to convert the Control's client coordinates
    // to screen coordinates.
       Rectangle controlRectangle;
          for(int i = 0; i < Controls.Count; i++)
          {

[2019-05-14 13:33] #1911 closed

[2019-05-14 15:34] #2407 closed

[2019-05-14 15:34] #2437 closed

[2019-05-14 16:32] #1212 closed

[2019-05-14 19:38] rpetrusha commented on #2408
Its not a stupid question at all, @dmytro-gokun. We merge PRs to the master branch, but publish from the live branch. Typically, we update the live branch from master once a day. So an update may appear anywhere from the same day to two business days after the PR is merged.
This change is now live at  <https://docs.microsoft.com/en-us/dotnet/api/system.data.common.dbconnection.close>.

[2019-05-14 19:44] #1478 closed

[2019-05-14 19:44] #886 closed

[2019-05-14 19:48] zspitz opened #2449 "Static properties/fields using Expression.PropertyOrField"
The documentation of the `expression` parameter states:

However, this is incorrect, as the documentation itself notes (under **Exceptions**) than an `ArgumentNullException` is thrown if `expression` is `null`.

It would seem that the only way to create a `MemberExpression` of a static field or property would be to use the `MakeMemberAccess` factory method.

(https://stackoverflow.com/questions/17

[2019-05-15 22:26] jwatkin opened #2455 "Possible doc error in DateTime.ToLongDateString()"
The following page seems to incorrectly document the en-US pattern for ToLongDateString():
[https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tolongdatestring?view=netcore-2.2](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tolongdatestring?view=netcore-2.2)

When I run:
[code]

the output is:
[code]
However, the doc claims the en-US LongDatePattern is:

[2019-05-16 07:13] kyle0418 opened #2458 "Code formatting issue"
There is a code layout issue in document "[DrawItemEventHandler Delegate](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.drawitemeventhandler?view=netframework-4.8)"

	//Add the event-handler delegate to handle the DrawItem event.
       MenuItem2.DrawItem += new DrawItemEventHandler(DrawCustomMenuItem);

should be like this:

    //Add the event-handler delegate to handle the Dr

[2019-05-17 01:02] morganbr opened #2461 "ProtectedData should include note for non-Windows OSes"
ProtectedData is only usable on Windows (due to its dependency on DPAPI). The documentation should include a note that it will throw an exception on all other operating systems.

[2019-05-17 15:51] rpetrusha commented on #2455
Thanks for pointing this out, @jwatkin.

I can only partially reproduce your results. On my Windows 10 systems, the long date pattern is consistently `dddd, MMMM d, yyyy`. What .NET implementation are you running, and what OS are you running it on? Culture-specific formatting information is not constant, but can vary by operating system, .NET implementation, .NET version, and user preferences.

Th

[2019-05-17 18:19] #2438 closed

[2019-05-17 22:03] jwatkin commented on #2455
I'm using Windows 10 Enterprise 1809, under Parallels running on macOS.
The source code is running in a .NET Core 2.2.106 console app:
PM> dotnet --version
2.2.106

[2019-05-17 22:04] jwatkin commented on #2455
Thank you.

[2019-05-17 23:49] #2461 closed

[2019-05-17 23:52] #1771 closed

[2019-05-19 12:58] lethienhoang commented on #1269
Hi. I have been working as c# developer since 2016.  I want to contribute open sources but I don;t have experience much. Who can help me?

[2019-05-20 09:00] kyle0418 opened #2470 "Code formatting issue"
There is a same formatting issue in the following documents:
[Binding Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.binding?view=netframework-4.7.2)
[BindingContext Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.bindingcontext?view=netframework-4.7.2)

      Binding("Value", ds, "customers.CustToOrders.OrderDate"));

      /* Add event delegates f

[2019-05-20 15:03] #2458 closed

[2019-05-20 15:30] #1770 closed

[2019-05-20 15:59] #2455 closed

[2019-05-21 07:42] kyle0418 opened #2478 "Code formatting issue"
There is a formatting issue in the document: [LabelEditEventArgs Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.labelediteventargs?view=netframework-4.8)

  	    private void ListView1_BeforeLabelEdit(object sender,
	    System.Windows.Forms.LabelEditEventArgs e)
    {
	    // Allow all but the first two items of the list to
	    // be modified by the user.
	    if (e.Item

[2019-05-21 18:19] verelpode opened #2479 "Depth of AggressiveInlining option"
Re the [documentation for MethodImplAttribute](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Runtime.CompilerServices/MethodImplAttribute.xml), I've noticed on multiple occasions that people use the `MethodImplOptions.AggressiveInlining` option, but it would be helpful if the documentation explains the depth of the `AggressiveInlining` option, meaning whether it applies to only

[2019-05-21 20:10] #2052 closed

[2019-05-22 07:57] kyle0418 opened #2482 "Code Formatting issue"
There is a formatting issue in the document: [HtmlWindowCollection Class
](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.htmlwindowcollection?view=netframework-4.8#examples)

	else
	{
		Hashtable docLinksHash = new Hashtable();
            linksTable.Add(webBrowser1.Document.Url.ToString(), docLinksHash);

                    foreach (HtmlElement hrefElement in webBrowser1.Docum

[2019-05-24 15:11] CeciAc opened #2497 "Does not work at all!"
@dreamy-s commented on [Fri May 24 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/26)

Hello, This example does not work. You will always get a ValidationException while reading thorugh the xsd Example.
And if you use own things and even let visual studio create your xsd, everythin is going to be valide. There are no exceptions thrown. The only Ecxeptions that you can get is from the

[2019-05-24 15:12] CeciAc commented on #2497
Hi team,
I'm moving this here since the user is reporting the example is not working
can you pleae check it?

[2019-05-24 18:39] rpetrusha commented on #2497
@dreamy-s, the example works as expected. Two of the three items in *booksSchemaFail.xml* violate the schema. The first book contains an author, but no title or price. The last contains an author, but uses an unknown name element instead of a first-name and last-name element.
We will modify the example to explain that the example is expected to produce validation errors.

[2019-05-25 12:58] scegg opened #2501 "Exception need to be clarified of BlockingCollection.Take"
Please clarify when the collection is called CompleteAdding and empty, the Take() will throw InvalidOperationException or OperationCancelledException.

https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.blockingcollection-1.take?view=netframework-4.8#System_Collections_Concurrent_BlockingCollection_1_Take

[2019-05-27 00:39] ziron999 commented on #1094
on the contrary it's things like this that will make every version of the .net framework never be as good as the original...
right there you are limiting possibilities due to problems that can not be accounted for.

[2019-05-27 06:16] KalleOlaviNiemitalo commented on #1540
It seems `Average (this IEnumerable<int> source)` is no longer listed as an extension method of `System.Net.Http.MultipartContent`. That is an improvement, but the methods of `System.Data.DataTableExtensions` and `System.Xml.Linq.Extensions` are still listed.

The problem also occurs at [the list of extension methods for `System.String`](https://docs.microsoft.com/en-us/dotnet/api/system.string?vi

[2019-05-27 18:09] CeciAc opened #2506 "Please add example"
@x13xxxswatxxx commented on [Sat May 18 2019](https://github.com/dotnet/dotnet-api-docs.ru-ru/issues/23)

public static System.Collections.Generic.Comparer&lt;T&gt; Create (Comparison&lt;T&gt; comparison);

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 7407922f-6c5b-f488-87ab-3568bc8b

[2019-05-27 18:10] CeciAc commented on #2506
Hi team,
I'm moving this here since It looks like the cntributor is requesting aditional information on the article.

[2019-05-27 18:23] CeciAc opened #2507 "Doesn't have examples"
@cassio-vo commented on [Thu May 23 2019](https://github.com/dotnet/dotnet-api-docs.pt-br/issues/10)

Doesn't have examples

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: a4484428-7a0b-e18b-85f9-f91dd552fd35
* Version Independent ID: c4a4a71c-780c-fa16-5a57-8a6826f947c9
* Content: [EndpointDispatcher.Chan

[2019-05-27 18:24] CeciAc commented on #2507
Hi team,
I'm moving this here since the user is requesting examples to be added to the documentation
best

[2019-05-28 06:54] kyle0418 opened #2508 "Code formatting issue"
There are several formatting issues in the document [DataGridViewCellCancelEventHandler Delegate](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagridviewcellcanceleventhandler?view=netframework-4.8)
Such as:

      private Boolean IsTrackGood(DataGridViewCell cell)
      {
           Int32 cellValueAsInt;
          if (cell.Value.ToString().Length == 0)
    {
               c

[2019-05-28 19:17] #896 closed

[2019-05-28 22:37] #2497 closed

[2019-05-29 09:30] MSDN-WhiteKnight opened #2518 "Thread.VolatileRead/Write remarks and volatile keyword"
In [Thread.VolatileRead](https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.volatileread?view=netframework-4.7.2#System_Threading_Thread_VolatileRead_System_SByte__) remarks:

This is incorrect, because `volatile` keyword does not actually use these methods, but only causes all field access instructions to be volatile operations. I was going to submit a pull request similar to #25

[2019-05-29 21:18] mmascolino opened #2520 "System.DirectoryServices.DirectorySearcher.AttributeScopeQuery example is malformed"
The example code listed here:
https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.directorysearcher.attributescopequery?view=netframework-4.8#System_DirectoryServices_DirectorySearcher_AttributeScopeQuery

namely the line:
`DirectorySearcher src = new DirectorySearcher(group "(&(objectClass=user)(objectCategory=Person))");
`
is not properly formed C# code.

[2019-05-30 15:42] kaloyankrastev opened #2525 "Missing possible exceptions in System.IO.File documentation"
The documentation of method members "Copy", "Create", "CreateText", "WriteAllBytes", "WriteAllLines", "WriteAllText"  does not mention that "UnauthorizedAccessException" will be thrown if any of those methods try to create/override existing file with the "Hidden" attribute.

[2019-05-30 19:24] tannergooding opened #2527 "Behavior changes with regards to the Parse/ToString methods for Double/Single should be documented"
As per https://github.com/dotnet/corefx/issues/36446, there were several behavioral changes made with regards to the behavior of the `Parse` and `ToString` methods for `System.Double` and `System.Single`.

Those behavioral changes should be documented for .NET Core 3.0.

[2019-05-31 06:09] TianqiZhang opened #2529 "Static contructor's C# syntax string is missing `static`"
For example, this constructor:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Runtime.InteropServices.CustomMarshalers/TypeToTypeInfoMarshaler.xml#L39

it's a static one, you can tell from its name (`.cctor`) or IL. However its C# syntax does not show `static`.

[2019-05-31 15:44] #2525 closed

[2019-05-31 23:15] terrajobst commented on #1666
I've discussed this with @stephentoub. The current behavior is [that we create a new list](https://github.com/dotnet/corefx/blob/a39a2bf44291880935121c9e656cffd35b1ef250/src/System.Linq/src/System/Linq/ToCollection.cs#L30). It's also [validated by our tests](https://github.com/dotnet/corefx/blob/a39a2bf44291880935121c9e656cffd35b1ef250/src/System.Linq/tests/ToListTests.cs#L17-L25). We don't believ

[2019-06-01 02:48] #1555 closed

[2019-06-01 17:00] riipah commented on #1666
Thank you for verifying this. It seems like a silly question, but I'm sure many people have made this assumption without realizing it's not actually confirmed to work that way before.

[2019-06-02 23:03] #2482 closed

[2019-06-02 23:04] #2508 closed

[2019-06-03 16:53] BillWagner opened #2539 "Disable interactive samples that fail"
The following APIs are high-traffic pages that have interactive samples that do not work on the current implementation. They should be disabled or "snippetized" until they can be fixed:

- [x] `String.Format` : This uses full programs, not snippets
- [x] `String.Split`:  These should be disabled, as many require multiple methods
- [x] [`SystemString`](https://docs.microsoft.com/dotnet/api/system.s

[2019-06-03 17:47] #991 closed

[2019-06-03 22:36] rpetrusha commented on #2529
I don't think that the problem here is that `static` is missing, @TianqiZhang; the problem is that it appears as a public method. Unless static constructors in .NET Framework 1.0/1.1 were different than in .NET Framework 2.0 and later (and I don't think that they were), static constructors are never public and are not directly callable. So they shouldn't appear in the documentation at all.

[2019-06-03 22:48] rpetrusha commented on #2518
@kouvel, can you comment on this issue and how the documentation should be changed?

[2019-06-03 23:33] rpetrusha commented on #2520
Thank you for reporting this issue, @mmascolino. We've opened #2524 to address it.

[2019-06-04 00:15] mairaw commented on #2447
Some of the issues seem to be already fixed. I've opened https://github.com/dotnet/samples/pull/946 to fix the badly indented comment.

[2019-06-04 00:16] terrajobst commented on #1666
Totally. We could also add a new API that behaves this way, e.g.

[code]

Feel free to file an issue for this :-)

[2019-06-04 00:19] #2478 closed

[2019-06-04 01:44] #2520 closed

[2019-06-04 06:58] paul70078 commented on #1556
Same for the  [Socket.DontFragment Property](https://docs.microsoft.com/en-US/dotnet/api/system.net.sockets.socket.dontfragment?view=netframework-4.8)

[2019-06-04 09:29] JohBa commented on #1431
So I fell over this recently.
We currently implement a mqtt client with the help of `MQTTnet`, that uses `System.Net.WebSockets` (v4.3.0). After a few problems we decided to test some things with `System.Net.WebSockets` itself and I'm a bit confused, to be honest.
In our scenario we use `netcore2.2` and `net461` with the library, a simple call to `ConnectAsync` with a `CancellationToken` with very

[2019-06-04 15:46] rpetrusha commented on #2529
This is in fact a public static class constructor in .NET Fremework 1.1. #2536 changes the C# and VB syntax so that it is correct.

[2019-06-04 18:05] #2447 closed

[2019-06-04 19:47] mairaw commented on #840
Reopening so we can investigate whether to document this or not.

[2019-06-04 19:49] mairaw commented on #2529
Closing this as external since this is an mdoc issue. Bug filed in DevOps:
https://ceapex.visualstudio.com/Engineering/_workitems/edit/97094

[2019-06-04 19:49] #2529 closed

[2019-06-05 07:32] yasuf opened #2548 "SurrogateSelector documentation has return null instead of object"
I was using the following docs https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.surrogateselector?view=netframework-4.8 and spend some time trying to figure out why the deserialization wasn't working, I found it weird that it has a `return null` at the end of `SetObjectData` but thought the documentation must be right, turns out when I changed that `return null` to `return

[2019-06-05 08:08] #1543 closed

[2019-06-05 08:09] jovabel commented on #1543
No new activity on the issue. Thanks for the feedback everybody.

[2019-06-05 08:47] ahsonkhan commented on #1543
To clarify, the APIs coming in .net core 3.0 and what you are probably looking for are in the System.Text.Json namespace:
https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=netcore-3.0

[2019-06-05 18:21] rpetrusha commented on #2548
Thank you for reporting this issue, @yasuf. On the one hand, I can't reproduce it. On the other hand, the documentation indicates that `SetObjectData` should return the populated deserialized object. I've opened dotnet/samples#952 to modify the method's return value.

@bartonjs and @joperezr, is the change correct? It's not clear to me why the example should work when `SetObjectData` returns null.

[2019-06-05 21:31] yasuf commented on #2548
Thank you @rpetrusha !! Appreciate the quick response, didn't see that samples repo before

[2019-06-06 16:28] rpetrusha opened #2560 "Fix formatting of ArgumentOutOfRangeException"
The ArgumentOutofRangeException documentation displays causes of the exception by category, and then lists subcategories of that main category. The formatting of the page, however, doesn't reflect this. For example:
![image](https://user-images.githubusercontent.com/10886961/59049599-367c2900-883d-11e9-93b1-0148d2c63f53.png)

Here, "You are retrireving" should be indented one level, and "The colle

[2019-06-06 19:15] #1344 closed

[2019-06-06 19:17] #2382 closed

[2019-06-06 20:39] #2548 closed

[2019-06-06 21:28] mairaw commented on #2560
PR #2552 was merged.

[2019-06-07 05:41] v0l commented on #983
I think this is fixed now, it shows await Task.Delay now

[2019-06-07 05:41] #983 closed

[2019-06-07 20:47] #2399 closed

[2019-06-10 13:56] BillWagner commented on #2431
@mikadumont @jinujoseph Which version should we upload for the latest roslyn SDK APIs?

[2019-06-10 17:29] CeciAc opened #2577 "Lack of examples"
@eskivor commented on [Sun Jun 09 2019](https://github.com/dotnet/dotnet-api-docs.fr-fr/issues/8)

Il manque beaucoup d'informations, notamment quel est le résultat attendu

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 48e1abb6-6602-9ed2-2d6f-ae4e43d43f14
* Version Independent ID: a0696694-2c26-e62

[2019-06-10 17:50] CeciAc commented on #2577
Hi team,
I moved this here since the contributor is requesting additional examples
Translation: _A lot of information is missing, including what is the expected result_

[2019-06-10 19:04] CeciAc opened #2579 "A terrible example of usage of Application.DoEvents()"
Hi team,
I'm moving this from here: https://github.com/dotnet/dotnet-api-docs.pl-pl/issues/2

@wojciechsura commented 8 hours ago
This is not how UI should be updated during execution of asynchronous task :(
Szczegóły dokumentu

⚠ Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.

    ID: 94fb6a12-9a26-6c22-543a-c827659638ad
    Version Indepen

[2019-06-11 08:35] kyle0418 opened #2581 "Indentation issue"
There is the same indentation problem in the following document.
[Control.ControlAccessibleObject Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.controlaccessibleobject?view=netframework-4.8);
[Control.ControlAccessibleObject(Control) Constructor](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.controlaccessibleobject.-ctor?view=netframewor

[2019-06-11 20:47] ryanmajidi opened #2585 "typo: ProcessStartInfo.Arguments and ArgumentList"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1601) by @ygoe**

Link to the documentation page:
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.arguments?view=netstandard-2.1

The following text probably has a typo:

In include quotation marks in the final parsed argument, triple-escape each mark.

Did you mean "To include quotation

[2019-06-11 20:48] ryanmajidi commented on #2585
Looks to already be addressed in original thread.

[2019-06-11 20:49] mairaw commented on #2585
The issue hasn't been addressed yet @ryanmajidi, so reopening.

[2019-06-12 00:49] mairaw commented on #2581
Thanks @kyle0418 for your feedback. PR https://github.com/dotnet/samples/pull/982 was opened to fix this. We welcome fixes to the sample code as well!

[2019-06-12 00:52] mairaw commented on #2470
Thanks for your feedback. Would you like to submit a fix for this @kyle0418? The sample code can be found at https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Winforms/Classic%20Binding%20Example/CS/source.cs.

[2019-06-12 00:55] mairaw commented on #2577
This has been fixed in PR https://github.com/dotnet/dotnet-api-docs/pull/2519. It should be available in French in a few days/weeks.

[2019-06-12 00:55] #2577 closed

[2019-06-12 07:12] kyle0418 opened #2588 "Formatting issue"
There is a formatting issue in the document: [Splitter Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.splitter?view=netframework-4.8#examples).

Just shown as follows:

	listView1.Dock = DockStyle.Fill;
	// Add a TreeView and a ListView item to identify the controls on the form.
          treeView1.Nodes.Add("TreeView Node");
          listView1.Items.Add("ListView Item");

[2019-06-12 15:25] EugeneKramer opened #2591 "Expand documentation of Type Attribute fields"
The documentation of [type attribute fields](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.typeattributes?view=netframework-4.8) is rather thin and should be expanded, especially for certain fields such as `BeforeFieldInit` (as also noted by [Jon Skeet](https://csharpindepth.com/Articles/BeforeFieldInit)).

[2019-06-12 17:57] ocean2706 opened #2592 "EventLog GetAllEventsLog is poorly implemented"
In real life, EventLog.GetAllEventsLog() is far away from being ready to use in order to acces local (or remote) computer events in a way similar to Event Viewer. If you try to use the provided sample code in current documentation (2019-06-12), it will fail with System.InvalidOperationException , {"Cannot open log Parameters on machine .. Windows has not provided an error code."}

This is because,

[2019-06-12 18:00] ocean2706 commented on #2592
Also, if you try to acces LogDisplayName of Security log from this enumeration, you will trigger Security Exception because there is no (spoon) LogDisplayName for this entry.

[2019-06-12 18:05] ocean2706 commented on #2592
There is also another item that will create  same issue: State

[2019-06-12 23:51] #2581 closed

[2019-06-13 00:00] mairaw commented on #2592
Thanks for your feedback @ocean2706. @wtgodbe, @krwq can you comment on this issue? Should this be moved to corefx since it seems like a product feedback and not a doc bug?

[2019-06-13 00:04] mairaw commented on #2588
Thanks @kyle0418 for your feedback. Opened PR https://github.com/dotnet/samples/pull/984 to fix this.

[2019-06-13 00:18] krwq commented on #2592
@mairaw yes, do you have a access to move the issue?

[2019-06-13 05:45] kyle0418 opened #2593 "Indentation issue"
In the document [SplitContainer Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.splitcontainer?view=netframework-4.8), the code in the last two methods is not indented normally.

The original:

    private void splitContainer1_SplitterMoving(System.Object sender, System.Windows.Forms.SplitterCancelEventArgs e)
    {
    // As the splitter moves, change the cursor type.

[2019-06-13 11:10] chrisfcarroll commented on #1910
I've created Pr#987 for this.
The problem is, the Example is supposed to set an example. Especially for people who are learning. The example as it exists is setting a bad example. It is confusing because it directly conflicts with the guidance in Remarks.

[2019-06-13 13:04] #1910 closed

[2019-06-13 13:22] #2431 closed

[2019-06-13 15:21] #2560 closed

[2019-06-13 18:03] #2588 closed

[2019-06-13 22:29] mairaw commented on #990
Issue was fixed. Closing this one now.

[2019-06-13 22:29] #990 closed

[2019-06-13 22:36] mairaw commented on #2593
Thanks for your feedback @kyle0418. I'm adding this to the community project and our backlog.

If you'd like to make the change, the sample code can be found at https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_Winforms/BasicSplitContainer/CS/basicsplitcontainer.cs.

[2019-06-13 22:38] mairaw opened #2596 "Add VB version - HttpClient class"
The following topic is missing the VB sample:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient

[2019-06-14 11:29] jbennink opened #2599 "The example for HttpApplication seems wrong example explaining IHttpModule"
The example given for HttpApplication seems wrong. The codes create an IHttpModule class that takes HttpApplication and used it but does not explain the capabilities of the HttpApplication class.

I would have expected a example explaining Application_Start here.
link: https://docs.microsoft.com/en-us/dotnet/api/system.web.httpapplication?view=netframework-4.5.2

[2019-06-14 16:27] #2539 closed

[2019-06-14 17:10] mairaw commented on #2069
@rpetrusha finished this task with https://github.com/dotnet/dotnet-api-docs/pull/2448. Closing.

[2019-06-14 17:10] #2069 closed

[2019-06-14 21:40] vatsan-madhavan opened #2602 "WindowsBase intellisense XML missing in _intellisense\netcore-3.0 folder"
When I look inside an intellisense build output from https://ops.microsoft.com/#/sites/Docs/docsets/dotnet-api-docs?tabName=builds, and look through `_intellisense\netcore-3.0` folder contents, I can't find `WindowsBase.xml`.

In addition, I can't find `PresentationBuildTasks.xml` either.

/cc @mairaw, @ahsonkhan, @AdamYoblick, @rladuca

[2019-06-14 22:19] mairaw commented on #2602
If I look at the assemblies we used to generate the docs, I can see `WindowsBase.dll` there, but not `PresentationBuildTasks.dll`:
https://apidrop.visualstudio.com/_git/binaries?path=%2Fdotnet%2Fnetcore-3.0&version=GBnetcore30

I only see `PresentationBuildTasks.dll` for .NET Framework.

Re. WindowsBase, I don't see any APIs under that DLL for .NET Core in ildasm:

![image](https://user-images.git

[2019-06-14 22:21] vatsan-madhavan commented on #2602
`WindowsBase.dll` is _special_. It exists in both `Microsoft.NetCore.App` and `Microsoft.WindowsDesktop.App`.

The one in `Microsoft.NetCore.App` is a shim - just forwarders.
The one in `Microsoft.WindowsDesktop.App` is a full implementation. This one has a corresponding assembly in the ref-pack, and exports a lot of important API's.

[2019-06-14 22:24] mairaw commented on #2397
Hi @colderlord,

It's not a stupid question at all.
We use a couple of tools in our pipeline including a couple of open-sources ones like [DocFX](https://dotnet.github.io/docfx/) and [mdoc](https://github.com/mono/api-doc-tools/).
The latter is the one that reflects over our assemblies and generates the XML files.

I hope this helps! Feel free to open issues on their repo with more questions.

[2019-06-14 22:24] #2397 closed

[2019-06-15 00:03] vatsan-madhavan commented on #2602
`PresentationBuildTasks` is also interesting. It used to be included in the .NET Framework runtime, but now it is only part of the SDK - and not the runtime.

It exposes public API's.
How should we deal with it?

I'm less worried about `PresentationBuildTasks` than I'm about `WindowsBase`. We should probably treat this as a separate/distinct issue.

[2019-06-15 00:04] mairaw commented on #2602
Thanks @vatsan-madhavan. Are there other assemblies that have this behavior?

And does `PresentationBuildTasks` also ships with Microsoft.WindowsDesktop.App?

@safern can you look at this? Is this something that we need to change how we obtain the assemblies for the docs?

[2019-06-15 00:32] vatsan-madhavan commented on #2602
As far as I know, only `WindowBase` is duplicated like this.
`PresentationBuildTasks` ships as part of `Microsoft.NET.Sdk.WindowsDesktop` (and not in `Microsoft.WindowsDesktop.App`).

[2019-06-15 00:39] vatsan-madhavan commented on #2602
cc @ericstj

[2019-06-16 19:29] Kissaki commented on #821
It’s quite unfortunate there are invalid and misdirecting links. The documentation makes it seem like there is more information to be had, links to something, but then you have to figure out yourself that what you opened is not actually related to the documentation you followed at all.

IMO the documentation should remove those wrong links and reword what the surrounding text says, if it was speci

[2019-06-16 20:43] ericsampson commented on #1528
Pingung @guardrex? :)

[2019-06-17 04:07] NextTurn commented on #1528
@rpetrusha ping?

[2019-06-17 17:01] rpetrusha commented on #1528
Thanks for pinging me, @NextTurn., since otherwise this issue would have fallen between the cracks.  I'll address the issue during the current sprint.

[2019-06-17 20:46] mairaw commented on #2507
Oi @cassio-vo, thanks for contacting us! We don’t have the resources to add examples to every single API page, so we use some metrics such as number of visits to decide whether a certain API meets the criteria for us to spend cycles adding examples. This page has very little visits every month, so for this reason, we're closing this issue. Let us know if there's anything special about this propert

[2019-06-17 20:46] #2507 closed

[2019-06-17 22:25] rpetrusha commented on #2585
Thanks both for point out the typo, @ryanmajidi, and for asking about the difference between the `ArgumentList` and `Arguments` properties. We've opened #2611 to address both issues.

[2019-06-18 15:04] CeciAc opened #2614 "for-each-in"
@TheRealCountVonCount commented on [Tue Jun 18 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/28)
(translation)
The for-each-in construct, as implemented in the code, works for C #, but not for C ++
Here the C ++ version should be commented or changed accordingly.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zu

[2019-06-18 15:04] CeciAc opened #2615 "for-each-in"
@TheRealCountVonCount commented on [Tue Jun 18 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/28)

Das for-each-in Konstrukt, so wie es im Code implementiert ist, funktioniert zwar für C#, jedoch nicht für C++
Hier sollte die C++-Version entsprechend kommentiert oder geändert werden.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von d

[2019-06-18 15:05] CeciAc commented on #2615
Duplicate #2614
please ignore

[2019-06-18 15:05] #2615 closed

[2019-06-18 18:04] #2585 closed

[2019-06-18 23:33] #2470 closed

[2019-06-19 15:10] dtriana commented on #956
@rpetrusha what do you suggest for this?

Adding the individual PNG images of the cursors to the repo and updating the .md?
Updating the .md with the base64 encoded PNG of the cursors?
Look for some webfont that can be used as part of the .md file, which has the cursors?
Other suggestions?

[2019-06-19 20:14] CeciAc opened #2620 "Document better how this method works on different platforms"
@andre-ss6 commented on [Wed Jun 19 2019](https://github.com/dotnet/dotnet-api-docs.pt-br/issues/14)

Currently this method documentation for .Net Core is the same as the .Net Framework 4.8, which [obviously] seem to have been written with a Windows-only usage in mind.

It's not clear what happens on Unix when the three mentioned checks fail and then it's even less clear what happens when it falls

[2019-06-19 20:15] CeciAc commented on #2620
Hi team,
I'm moving this here since the comment refers to the original documentation
kind regards

[2019-06-19 20:56] rpetrusha commented on #956
@dtriana, the best option is adding the individual PNG images of the cursors to the repo. They can go in the media folder of the dotnet/dotnet-api-docs repo. You can then reference them in the xml file with syntax like:

\!\[this is the alt text](../images/Logo_DotNet.png)

[2019-06-19 21:41] Gnbrkm41 opened #2621 "The behaviour of `ArraySegment<T>.GetEnumerator()` throwing when the underlying array is null is undocumented"
https://docs.microsoft.com/en-us/dotnet/api/system.arraysegment-1.system-collections-ienumerable-getenumerator?view=netframework-4.8
https://docs.microsoft.com/en-us/dotnet/api/system.arraysegment-1.system-collections-generic-ienumerable-t--getenumerator?view=netframework-4.8

Both the generic and non-generic explicit interface implementations throw `InvalidOperationException` if the underlying ar

[2019-06-19 22:40] mairaw commented on #2621
Thank you for your feedback @Gnbrkm41. I've opened PR #2622 to address these and other issues I saw with this class.

[2019-06-19 22:48] mairaw commented on #2620
Thank you for your feedback @andre-ss6.

@JeremyKuhne, @carlossanlop would the appropriate fix here to indicate those are for Windows systems and for Unix, it either returns the path specified by the TMPDIR env variable or /tmp/?

[2019-06-19 22:59] Gnbrkm41 commented on #2621
That was pretty quick, thank you very much.

[2019-06-20 14:37] carlossanlop opened #2624 "The default API version for MS Docs should be .NET Core, not .NET Framework"
When a .NET API webpage is visited in MS Docs, any link that does not indicate a version moniker in the URL automatically redirects to .NET Framework 4.8.

Shouldn't we make .NET Core (latest version in production) the default link for redirection? We are actively working on .NET Core, not on Framework, so it doesn't make sense to redirect to the legacy version.

@mairaw @rpetrusha @danmosemsft @k

[2019-06-24 08:01] scegg opened #2630 "No Example in example block of CommittableTransaction"
https://docs.microsoft.com/en-us/dotnet/api/system.transactions.committabletransaction?view=netcore-2.2

There is an example block but no code included.

Related: xml/System.Transactions/CommittableTransaction.xml

[2019-06-24 18:50] rpetrusha commented on #2630
Thank you for pointing out that the documentation refers to an example without presenting any source code. A search of the dotnet/samples repository suggests that the example is no longer available. We've opened #2631 to remove mention of the example.

[2019-06-24 19:26] rpetrusha opened #3613 "Evaluate BinarySerialization documentation, samples"
## Evaluate BinaryFormatter documentation and samples

Because the use of [BinaryFormatter](https://docs.microsoft.com/dotnet/api/system.runtime.serialization.formatters.binary.binaryformatter) is not recommended, we should:

- Display the existing warning that appears in the **BinaryFormatter** class documentation and the documentation of selected **BinaryFormatter** members in the documentation

[2019-06-24 20:36] SamuelEnglard opened #2632 "Documentation of returning Task<T>"
When returning `Task<T>`, if I follow the current documentation I would just say "A task that represents the asynchronous operation". This does not say anything about `T` though. Would something more like [TextReader.ReadAsync](https://docs.microsoft.com/en-us/dotnet/api/system.io.textreader.readasync?view=netcore-2.2)'s text make more sense?

[2019-06-26 04:22] FriedLychees opened #2640 "Subtract methods summaries are unclear"
DateTime.Subtract(TimeSpan) and DateTime.Subtract(DateTime) state in their summaries: "Subtracts the specified duration from this instance."
To me this implies that they modify the DateTime that the methods are being called on, when in reality that is not happening.

[2019-06-26 04:31] FriedLychees commented on #2640
Compare this to DateTime.AddSeconds(double) which states in the summary: "Returns a new DateTime that adds the specified number of seconds to the value of this instance".
Specifying 'value of this instance' adds a lot of clarity in my opinion.

[2019-06-26 17:25] JeremyKuhne opened #2644 "Path.GetFileName behavior change on .NET Core"
In .NET Core we consider `Path.GetPathRoot()` when finding the filename. The concept of `Path.VolumeSeparatorChar` is only relevant on Windows 9x machines. So:

**.NET Framework**
[code]

**.NET Core**
[code]

We should add to `Path.VolumeSeparatorChar` that we recommend not using it directly as it is a Win9x anachronism. Use `Path.GetPathRoot` to determine path roots.

[2019-06-26 17:31] JeremyKuhne commented on #2644
This comment is also misleading:

[code]

It will always return the correct filename _based on the semantics of the current operating system_. `C:\` has no special meaning for Unix, but does for Windows. UNCs and DOS device paths are also Windows specific.

[2019-06-26 19:54] cablooshe opened #2645 "AssemblyBuilder docs for .NET Core are outdated"
Currently the [`System.Reflection.AssemblyBuilder`](https://docs.microsoft.com/dotnet/api/system.reflection.emit.assemblybuilder?view=netcore-3.0 ) docs for .NET Core are currently giving examples and remarks based around saving an assembly using the `AssemblyBuilderAccess.RunAndSave` property. However, this property, as well as `AssemblyBuilderAccess.Save`, don't exist in .NET Core, as right now

[2019-06-27 16:25] #2630 closed

[2019-06-27 17:10] CeciAc opened #2650 "pipeServer.ReadMode assignment error"
@ummpython commented on [Thu Jun 27 2019](https://github.com/dotnet/dotnet-api-docs.zh-cn/issues/37)

Anonymous pipe pipeServer.ReadMode does not support PipeTransmissionMode.Message

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 4d376d7d-5bb0-d010-4584-b26913b9aa8c
* Version Independent ID: 58a4e996-64f1-9a4b-c334-34ae523dc029
* Content: [AnonymousPipeServerStream

[2019-06-27 17:12] CeciAc commented on #2650
Hi team
I moved this here because it looks like the user is refering to an original instruction
best regards

[2019-06-27 18:10] jzabroski opened #2651 "[question] Ping.PingPingAsync DNS resolution-safe?"
xml/System.Net.NetworkInformation/Ping.xml mentions in SendAsync that passing in a host name is not safe, but the TPL version of this command, SendPingAsync, does not have the same note.

Is there some reason why?  Is SendPingAsync safer than Ping.SendAsync?

[2019-06-27 22:00] Gnbrkm41 opened #2654 "[MS Docs/Question] Feedback section disappeared for English versions of MS Docs"
Consider the documents for `System.IO.FileInfo`:
US: https://docs.microsoft.com/en-us/dotnet/api/system.io.fileinfo?view=netframework-4.8
UK: https://docs.microsoft.com/en-gb/dotnet/api/system.io.fileinfo?view=netframework-4.8
AU: https://docs.microsoft.com/en-au/dotnet/api/system.io.fileinfo?view=netframework-4.8
NZ: https://docs.microsoft.com/en-nz/dotnet/api/system.io.fileinfo?view=netframework

[2019-06-28 01:07] EbrahimMajdey opened #2656 "System.IO.CreateDirectory"
The documentation of System.IO.CreateDirectory doesn't say that the Directory might be created and the Function returns null which happened the System.IO.Exists should be called to ensure whether the directory is created or not

[2019-06-28 13:28] #1306 closed

[2019-06-28 15:40] rpetrusha commented on #2656
@JeremyKuhne, are there conditions under which the directory is not created and the Directory.CreateDirectory method returns null rather than throwing an exception?

[2019-06-28 17:18] rpetrusha commented on #2650
Thanks, @CeciAc, for moving this issue.  Although setting the ReadMode property to an unsupported value was done by design, it made no sense to do that. We've modified the example in dotnet/samples#1038.

[2019-06-28 17:58] JeremyKuhne commented on #2656
`System.IO.Directory.CreateDirectory" never returns null. I've double checked the code on Core and Framework.

[2019-06-28 18:48] rpetrusha commented on #2656
Thanks, @JeremyKuhne. In that case, I'll close this issue. If you have source that reproduces the issue, @EbrahimMajdey, we'd be happy to look at it and decide the best course of action.

[2019-06-28 18:48] #2656 closed

[2019-06-28 21:45] CeciAc opened #2660 "Is System.IO.File.Delete function secure?"
@agowa338 commented on [Fri Jun 28 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/31)

Hello, the documentation does not mention if using this function is secure in the sense of plaintext data being effectively deleted from disk, or if it just removes the file descriptor.

Also the function File.Encrypt is lacking this kind of information. Does it create an encrypted copy of the file

[2019-06-28 21:46] CeciAc commented on #2660
Hi team,
I'm moving this here since the contributor is refering to the original documentation
best

[2019-06-28 23:05] mairaw commented on #2661
We're making progress towards this issue.

- UWP target was onboarded to the API browser and API now exists on docs
- PR #2662 was open to migrate the content from MSDN
- Next, I need to work with the engineering team to fix the redirections

[2019-07-01 14:08] #2593 closed

[2019-07-01 16:56] #2650 closed

[2019-07-01 17:37] CeciAc opened #2665 "If this method is obsolete, how to replace it with the other overload?"
@jongleur1983 commented on [Mon Jul 01 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/32)

It's mentioned, that the `ToString(DateTime, XmlDateTimeSerializationMode)` overload of ToString should be used instead.
But which enum value of XmlDateTimeSerializationMode matches the old behavior? (if any)?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die V

[2019-07-01 17:39] CeciAc commented on #2665
Hi team,
I'm moving this here since the user is making a suggestion to the original documentation
best

[2019-07-01 22:10] Jozkee opened #2672 "Add examples on how to implement a timeout mechanism in methods GetResponseAsync/GetRequestStreamAsync for System.Net.FileWebRequest"
As a reference, [`HttpWebRequest.BeginGetResponse`](https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.begingetresponse?view=netcore-3.0) already contains an example on how to implement such logic, the point is to look for something that can work with methods GetResponseAsync/GetRequestStreamAsync.

[2019-07-02 14:58] CeciAc opened #2679 "Typo SE_GROUP_USE_FOR_SENY_ONLY"
@somescout commented on [Tue Jul 02 2019](https://github.com/dotnet/dotnet-api-docs.ru-ru/issues/28)

SE_GROUP_USE_FOR_SENY_ONLY =&gt; SE_GROUP_USE_FOR_DENY_ONLY

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 4cee3a20-3111-db18-9922-61efb5017776
* Version Independent ID: d6b47ae8-00e7

[2019-07-02 15:01] CeciAc commented on #2679
Hi team,
this issue is present in the en-us version an replicate in the localized ones
best regards

[2019-07-02 16:09] #1819 closed

[2019-07-02 18:36] #2640 closed

[2019-07-02 18:36] #1130 closed

[2019-07-02 21:47] mairaw opened #2685 "Remarks are not correct for .NET Core"
Original GitHub issue https://github.com/MicrosoftDocs/feedback/issues/1636 from @RobSiklos

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.privatekey?view=netcore-3.0#remarks

**Problem:**
The article says that the property "returns either an RSACryptoServiceProvider or a DSACryptoServiceProvider object". However, fo

[2019-07-04 18:20] CeciAc opened #2699 "Document Error (too old)."
Hi team,
I'm copying this manually from here: https://github.com/dotnet/dotnet-api-docs.zh-tw/issues/6
I couldn't do it with ZenHub and the Feedback bar is not available at the bottom of the en us page: https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.sleep?view=netframework-4.8#feedback

@AndroidLinux commented 3 days ago
Describe of argument millisecondsTimeout

If the value o

[2019-07-05 23:05] qbit86 opened #2707 "Utf8JsonWriter: stale documentation"
`Utf8JsonWriter` [is not](https://github.com/dotnet/corefx/pull/36961) a ref struct [anymore](https://github.com/dotnet/corefx/commit/1f9b84a0804e868c7e0f37a3c10fbaf7c735ae14).

[2019-07-08 20:13] mairaw commented on #2624
Sorry I missed this issue earlier. The plan is to make .NET Core the default, when we ship 3.0.

[2019-07-08 20:14] danmosemsft commented on #2624
Sounds great to me

[2019-07-08 23:06] mairaw opened #2728 "Code formatting issue"
Indentation for the C# code on this page looks funky:
https://docs.microsoft.com/en-us/dotnet/api/system.io.unmanagedmemorystream.write?view=netcore-3.0

Sample code can be found here:
https://github.com/dotnet/samples/blob/master/snippets/csharp/VS_Snippets_CLR_System/system.IO.UnmanagedMemoryStream/cs/sample.cs

[2019-07-09 17:05] Jozkee opened #2734 "Add code snippet displaying the behavior of trailing headers in an HTTP response when calling requests with HttpCompletionOption.ResponseHeadersRead"
In System.Net.Http.HttpResponseMessage, new property TrailingHeaders returns an empty collection for this corner case. This needs to be documented and a good idea of showing how this works is by adding a snippet of it.

This needs to wait for #2733, then the sample can be added to [dotnet/samples](https://github.com/dotnet/samples).

[2019-07-09 17:58] TheXenocide opened #2735 "DataMemberAttribute On Collection Properties"
A note in the documentation indicates that when `DataMemberAttribute` is applied to a property, it must have both get and set accessors, which lead me to wondering why some code I stumbled on in our existing codebase was working at all. It turns out properties that expose collections are allowed to be get only (or, at least I can confirm it works fine with a `Dictionary<TKey,TValue>`). Get-only co

[2019-07-11 09:17] wstaelens opened #2746 "CustomAttributeExtensions.xml"
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.customattributeextensions.getcustomattributes?view=netframework-4.8

It is not clear if the generic methods, like: `GetCustomAttributes<T>(Assembly)`  searching inherit or not. Because the "regular" GetCustomAttributes" methods e.g. from System.Reflection.Assembly have a boolean parameter `inherit`.

The ones from the extensions are mis

[2019-07-11 16:13] lichasu opened #2747 "Missing ArgumentNullException documentation"
@TiltonJH commented on [Thu Jul 11 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/35)

If the argument "dictionary" in null, then an ArgumentNullException  is thrown (as expected), but it is not documented.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 3a1d69a0-45da-b27a-

[2019-07-11 16:13] lichasu commented on #2747
Hi team, please check this issue.

Thanks!

[2019-07-11 21:30] KalleOlaviNiemitalo commented on #2746
All `CustomAttributeExtensions.GetCustomAttributes` overloads that don't have a `bool inherit` parameter behave as if `inherit == true`.  However, in the overloads that have an `Assembly` or `Module` parameter, `inherit`does not normally matter because assemblies and modules cannot inherit attributes anyway.

I suppose `inherit` could matter if you were to derive a class from `Assembly` or `Module

[2019-07-11 23:52] KalleOlaviNiemitalo commented on #2338
The document is wrong; it should not claim that "data from the original buffer is copied to the new buffer".  After StringBuilder allocates a new buffer, it keeps the earlier parts of the string in the older buffers and appends new data to the new buffer.

[2019-07-12 00:03] KalleOlaviNiemitalo commented on #1822
DomainMask was apparently intended to be used as a bit mask like `(value & LoaderOptimization.DomainMask) == LoaderOptimization.MultiDomainHost`, but now if DisallowBindings is no longer used and no more bit definitions are anticipated, the bit masking is no longer necessary.

[2019-07-12 03:51] moyanming commented on #2338
Hi @KalleOlaviNiemitalo ,
Yes, it seems that the older buffer still there and available but not copy to the new one.

[2019-07-12 05:26] KalleOlaviNiemitalo commented on #1821
See also #1683.

[2019-07-12 06:29] wstaelens commented on #2746
documentation is just not clear about it how it behaves or searches.

[2019-07-12 23:55] #2747 closed

[2019-07-14 21:25] mwpowellhtx opened #2755 "Clarify the direction of the relative path in MakeRelativeUri"
It is unclear from [the documentation](https://docs.microsoft.com/en-us/dotnet/api/system.uri.makerelativeuri) as to the direction of the relative path. I think possibly it is from the *base* instance *to* the argument, but this is not clear, except possibly from the [*remarks* table](https://docs.microsoft.com/en-us/dotnet/api/system.uri.makerelativeuri#remarks). Also, this works for file-system

[2019-07-15 12:06] #998 closed

[2019-07-15 13:09] ivanbuha commented on #2728
Pull request #1087 was created under dotnet/samples.

[2019-07-15 15:26] #2728 closed

[2019-07-16 01:18] lichasu opened #2762 "RNGCryptoServiceProvider offers unappropriate API"
@rillig commented on [Sat Jul 13 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/36)

The RNGCryptoServiceProvider should have an API that provides all the convenience methods of the standard Random class. There's just no point in having an example code snippet that is 34 lines longer than necessary.

If there were a decorator class providing the `NextInt` functions for rolling a dice

[2019-07-16 01:19] lichasu commented on #2762
Hi team, please check this issue.

Thanks!

[2019-07-16 06:43] EbrahimMajdey commented on #2656
@rpetrusha @JeremyKuhne I am sure it does return a null .. can be a driver issue or so but it did return a null windows 2012 R2 .. noting that the directory string can be a path of directories .. this is a piece of code I used .. please note it wasn't async but I added the delay ..
`
private async Task<bool> CreateDateDirectoryAsync(string directory)
        {
            if (!Directory.Exists(dir

[2019-07-16 08:50] kyle0418 opened #2763 "Formatting issue"
There is an indentation issue of comment in the document [StatusBar Class](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.statusbar?view=netframework-4.8).

	// Create ToolTip text that displays time the application was
            //started.
	panel2.ToolTipText = "Started: " + System.DateTime.Now.ToShortTimeString();
	// Set the text of the panel to the current date.
	panel2.Tex

[2019-07-16 13:42] #2763 closed

[2019-07-17 01:10] Gavin-Williams opened #2766 "Matrix.CreateLookAt handedness"
Hi,

Matrix4x4.CreateLookAt doesn't indicate which handedness it represents. Since right handedness is the convention, I assume that's what it is. But the method name should indicate what the handedness is for clarity and you should give an option to create the left handed representation as well. And why not use the naming convention of every other Matrix class and call it CreateLookAtRH / CreateL

[2019-07-17 14:17] #2679 closed

[2019-07-20 00:08] #798 closed

[2019-07-22 01:52] Crunchie opened #2790 "Incorrect example in CheckSignature(X509Certificate2Collection, Boolean)"
The example for `CheckSignature(X509Certificate2Collection, Boolean)` in the System.Security.Cryptography.Pkcs/SignedCms.xml section uses the same code as the previous method (`CheckSignature(Boolean)`)
The examples for both methods link to `~/samples/snippets/csharp/VS_Snippets_WindowsServer/mpkcs_SignedCMS/cs/Program.cs#1)`  which is an example for `CheckSignature(Boolean)`. There does not appea

[2019-07-22 21:12] rpetrusha commented on #2762
Thanks for the suggestion, @lichasu. The dotnet/docs repo documents existing APIs found in RNGCrytoServiceProvider; for a suggested improvements to the API, you can open this issue in the dotnet/corefx repo.

[2019-07-22 21:12] #2762 closed

[2019-07-22 21:30] rpetrusha commented on #2790
Thanks for pointing out that the examples call the wrong overload, @Crunchie. We've removed the examples from the CheckSignature(X509Certificate2Collection,Boolean) documentation. We've also added this issue to our backlog the community contributor's project .

[2019-07-22 21:48] rillig commented on #2762
@rpetrusha Thanks for the pointer to the correct repository, I opened https://github.com/dotnet/corefx/issues/39679 there.

[2019-07-22 21:49] carlossanlop opened #2795 "These members should not exist"
I found several members that should not exist.

They were all added in this PR: [CI Update - .NET Core 3.0 Preview 2 #1866](https://github.com/dotnet/dotnet-api-docs/pull/1866)

## Microsoft.VisualBasic.FileIO/TextFieldParser.xml

But it already existed. The problem is that it was added with incorrect formatting, so it wasn't detected as a duplicate of a previously existing member:

https://github

[2019-07-22 21:50] carlossanlop commented on #2795
CC @ahsonkhan . Look what I found. Looks familiar?

[2019-07-22 22:53] carlossanlop commented on #2795
Found one more. It should not exist because it has already been deleted from the code: https://github.com/dotnet/coreclr/pull/25393

The whole file should be deleted: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Runtime.Serialization/DeserializationBlockedException.xml

[2019-07-23 00:21] carlossanlop opened #2799 "Add exceptions to System.io.compression"

[2019-07-23 17:20] jzabroski opened #2802 "Type.GUID missing GuidAttribute example"
A common use case in writing COM add-ins for Excel is to use ComRegisterFunctionAttribute, and register/un-register the add-in.  While the below code sample is non-exemplary and has many dubious practices, it does illustrate a problem I'm stuck with in some code I have to maintain, and my hope is better documentation for `Type.GUID` will maybe save one other engineer some trouble at some point in

[2019-07-23 19:17] Zenexer opened #2804 "Invalid syntax for MemoryMarshal.AsRef"
https://github.com/dotnet/dotnet-api-docs/blob/83de65adeb0602b261d144e74a5d9c1ef5568eec/xml/System.Runtime.InteropServices/MemoryMarshal.xml#L175-L180

All of these show the return type as `T&`, but I think only ILAsm should have the ampersand.  C# shows a ref type with the `ref` keyword; I'm not sure about the others.

[2019-07-23 19:43] Zenexer commented on #2804
I'd submit a PR for this, but I don't know the correct syntax for languages other than C#.

[2019-07-23 22:11] carlossanlop commented on #2795
From the comments by @joelmartinez in the PR and an additional separate conversation, these APIs are correct and not duplicate. I'll document them.

[2019-07-23 22:11] #2795 closed

[2019-07-24 18:24] rpetrusha opened #2817 "Disambiguate System.Runtime.Intrinsics.Vector* method overloads"
## Disambiguate System.Runtime.Intrinsics.Vector* method overloads

The Vector64, Vector128, and Vector256 extension methods all include Create, CreateScalar, and CreateScalarUnsafe overloads that have identical descriptions. They need to be disambiguated. For example:

![image](https://user-images.githubusercontent.com/10886961/61818149-13b1ce00-ae05-11e9-8616-86bcb4adfe1a.png)

Here, the summary

[2019-07-24 18:43] carlossanlop commented on #2817
cc @tannergooding

[2019-07-26 22:19] rpetrusha commented on #1307
Since the try.dotnet interactive REPL is no longer experimental, I'm going to close this issue.

[2019-07-26 22:19] #1307 closed

[2019-07-26 23:06] ryanmajidi opened #2844 "CloseReason Enum bad description"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1471) by @AlexYurkin **

Link to article:
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.closereason?redirectedfrom=MSDN&view=netframework-4.8

Problem:
When you describe the fields of this Enumeration you state that the 'UserClosing' happens when: "The user is closing the form through the user interf

[2019-07-27 22:23] mikkelbu opened #2851 "All alternatives of an attribute with FrameworkAlternate are shown regardless of framework selected"
I discovered this when I was reading up on the SecuritySafeCriticalAttribute class on
https://docs.microsoft.com/en-us/dotnet/api/system.security.securitysafecriticalattribute?view=netframework-4.8. This class have the following code snippet which does not make sense since there can only be one `AttributeUsage` on a class.

[code]

Examining the code-behind - https://github.com/dotnet/dotnet-api-d

[2019-07-29 18:36] Jozkee opened #2854 "Value on DocId's MemberSignature tag does not match with corefx's member name when referring an innner class of a generic-type class."
The name of members in xml files in corefx/artifacts/bin folder, generated from triple-slash comments within the source code does not match the dotnet-api-docs/xml `<MemberSignature Language="DocId">`'s value when it references an inner class within a generic class.

Take the following signature as an example:
[code]
This signature recieves a param of the type `ImmutableArray<TSource>.Builder `, w

[2019-07-29 22:05] mairaw commented on #2844
@OliaG @merriemcgaw can you comment on this issue? Should we add this to the description or should this be consider a feature request to have a different field? Thanks!

[2019-07-29 22:13] mairaw commented on #2851
Hi @mikkelbu, we're aware of this issue and we're currently doing some infrastructure work to allow this to work.

@mimisasouvanh I believe I have ranked attributes pretty high on the list of things that should be version-aware after we move to SDP. Please confirm.

/cc @dend @TianqiZhang @wh-alice

[2019-07-29 22:15] mairaw commented on #2854
Thanks @Jozkee! @joelmartinez can you investigate and transfer this issue to the appropriate Azure DevOps repo? Making sure we're using the right DocID also impacts the IntelliSense output.

[2019-07-29 22:17] mairaw commented on #2804
Thanks for your feedback @Zenexer. No need to submit a PR since these parts are auto-generated by our reflection tool.

@joelmartinez please inesvtigate and move this issue into the appropriate Azure DevOps repo

Thanks!

[2019-07-29 22:24] mairaw commented on #2766
@tannergooding, @ViktorHofer can one of you help with this feedback re. the docs for https://docs.microsoft.com/en-us/dotnet/api/system.numerics.matrix4x4.createlookat and its functionality?

[2019-07-29 22:38] mairaw commented on #2707
Thank you for your feedback @qbit86. I've opened PR #2863 to fix this.

[2019-07-29 23:01] merriemcgaw commented on #2844
It appears to me that the article already makes that clarification:

Or is that not what the customer was looking for.

[2019-07-29 23:02] merriemcgaw commented on #2844
I see his confusion. I think we can add clarification in the UserClosing also includes programmatic closing.

[2019-07-29 23:34] mairaw commented on #1006
Thank you for your feedback @paolofulgoni. I've opened PR #2866 to fix this.

[2019-07-30 04:30] AlexYurkin commented on #2844
But how can we distinguish either the form was closed by user or by code?
In my code I needed to perform different actions depending on how the form was closed (programmatically or GUI). And I wasn't able to distinguish them in my code. Maybe there is a need to add another field?

[2019-07-30 14:54] joelmartinez commented on #2854
Great find @Jozkee ... ok @mairaw, I've created a corresponding [bug in devops](https://ceapex.visualstudio.com/Engineering/_workitems/edit/109280).

[2019-07-30 17:44] merriemcgaw commented on #2844
We're happy to take feature requests, including API changes to .NET Core. Please file an issue over in the WinForms https://github.com/dotnet/winforms

[2019-07-30 21:02] #1006 closed

[2019-07-30 21:36] Thraka commented on #2755
I think in the **Returns** description is clear:

The **the current URI instance** being the object you're working with. Additionally, at the start it says **hostname and scheme of this URI instance** and then mentions the **uri** parameter name. This would indicate that **this URI instance** is referring to the object instance that has the `MakeRelativeUri` method on it.

The **Remarks** section

[2019-07-30 21:36] #2755 closed

[2019-07-30 22:28] #2707 closed

[2019-07-31 07:22] #2685 closed

[2019-07-31 09:44] cremor commented on #783
Seems like this is now all fixed, thanks.

[2019-07-31 09:44] #783 closed

[2019-08-01 00:42] GrabYourPitchforks opened #2898 "Utf8JsonReader docs should mention that some properties are non-validating"
/cc @ahsonkhan @bartonjs to get their opinions on this wording.

The properties [`Utf8JsonReader.ValueSpan`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonreader.valuespan) and [`Utf8JsonReader.ValueSequence`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.utf8jsonreader.valuesequence) do not always contain well-formed data. For example, if the binary input to

[2019-08-01 16:36] david-c14 opened #2903 "Documentation of TextFormatFlags enum is incorrect"
The entries for PrefixOnly and for HidePrefix state that these are described as `a legacy value which has no effect.`

But they do still have an effect. When used as flags to TextRenderer.DrawText they change the rendered text. This is certainly still true in .NET Framework 4.7.1

The entry for ModifyString says `Has no effect on the drawn text.`  While this is strictly true, it glosses over the f

[2019-08-02 06:05] mairaw commented on #2854
Thanks @joelmartinez!

[2019-08-02 21:07] ryanmajidi opened #2920 "Missing WebException from list of what HttpClient.SendMessage can throw."
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1793) by @SittenSpynne**

Link to article:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.sendasync?view=netcore-2.2#System_Net_Http_HttpClient_SendAsync_System_Net_Http_HttpRequestMessage_System_Threading_CancellationToken_

Problem:
I read the documentation and assumed any reasonable problem t

[2019-08-02 21:11] ryanmajidi opened #2922 "System.Net.Sockets ReceiveFromAsync Remarks Incorrect"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1790) by @chipperatkins  **

Link to article:
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.receivefromasync?view=netcore-2.2#remarks

Problem:
What's wrong with the article?
The remarks sections states

"The caller must set the SocketAsyncEventArgs.Remote

[2019-08-02 22:02] Thraka commented on #2746
Perhaps @steveharter or @GrabYourPitchforks can clarify?

[2019-08-02 22:15] Thraka commented on #2735
This is a slightly tricky subject. The reason a get-only **collection** would work is because you can still modify the collection through the get-only accessor, unlike a primitive type variable. For example:

[code]
You can't change `Age` at all. But a collection you can change easily

[code]

You've just modified the collection even though it's provided in a get-only accessor. This is why seriali

[2019-08-02 22:32] TheXenocide commented on #2735
Indeed, I'm familiar with the implications and such, but my main point of note is that it might be worth making the documentation more accurate to avoid people accidentally creating collection properties with setters simply because the documentation says that it's required on all properties. I'd also agree that serializing the field instead of the property is probably a better recommendation than

[2019-08-02 22:47] Thraka commented on #2735
_Trying to think as a user who just runs into this_

I do think what you ran into though is an exception and workaround to the limitation of get and set being required. I'm not sure I think it's worth calling out. The error you got with deserializing gave you an idea of how to work around it. But your design did violate the documentation guidance, which if you had known in advance, you would have

[2019-08-02 23:13] TheXenocide commented on #2735
I think you make a fair point (and the lazy initialization inside the accessor does seem less ideal than serializing the field); I've been using C# for long enough that the alternatives were already apparent to me and I just went to the documentation to see what the official line of support advised. I was simply surprised when I came across the documentation, since it's _technically_ inaccurate, t

[2019-08-02 23:15] TheXenocide commented on #2735
I'm not sold on my wording, and it may be more than a sidenote calls for, but I'm interested to see what you (or others) think about it

[2019-08-02 23:29] Thraka commented on #2735
I actually like your description 😄 Would you want to submit a PR with your suggestion? There is an edit button at the top right of the page which takes you to an XML file of the whole class, which you'll have to sift through to find the note and edit it.

Otherwise, I'll add this to the backlog but I have no idea when we'll get to it 😄

[2019-08-04 16:55] hannni opened #2929 "Documentation of System.Diagnostics.Switch should properly describe how to implement a derived class."
All existing derived classes of `System.Diagnostics.Switch` save their state in `SwitchSetting` and override `OnValueChanged` to have `SwtichSetting` properly reflect the corresponding setting.

The documentation of `System.Diagnostics.Switch` however describes the process writing an inherited class as:

The problem here is that `SwitchSetting` isn't even `virtual`.

[2019-08-05 22:01] rpetrusha commented on #2614
The code compiles successfully, and for each...in is supported in Visual C++, although it is not a standard C++ feature. See [for each, in](https://docs.microsoft.com/cpp/dotnet/for-each-in). Closing as Not Repo.

[2019-08-05 22:01] #2614 closed

[2019-08-06 13:04] sadlame opened #2935 "The gamma values for some of the PixelFormats seem wrong"
### Summary

I believe that some portion of the `System.Windows.Media.PixelFormats` are not correctly described.

### Why I opened an issue instead of a PR

I can demonstrate with some piece of working code that there is some inconsistency in the doc,
but due to the lack of deep understanding I can be only sure about a subset of the dubious part,
so I opened this issue to ask for help instead of o

[2019-08-06 16:58] peteroupc opened #2937 "Advice on how to implement comparison operators for a type whose CompareTo is inconsistent with Equals"
Posted from [this issue](https://github.com/MicrosoftDocs/visualstudio-docs/issues/3728).

The FxCop documentation for [CA1036](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/code-quality/ca1036-override-methods-on-comparable-types.md) should include advice on how comparison operators should be implemented in the following circumstance.

- A number class represents a number by

[2019-08-06 18:32] gfoidl opened #2941 "Update FromBase64Transform.xml to reflect latest code-changes for .NET 5"
When .NET 5 gets in preview

* reopen https://github.com/dotnet/dotnet-api-docs/pull/2895
* undo https://github.com/dotnet/samples/pull/1142

to reflect the changes from https://github.com/dotnet/corefx/pull/39599

Cf. https://github.com/dotnet/dotnet-api-docs/pull/2895#issuecomment-517904189

[2019-08-06 18:32] gfoidl commented on #2941
@rpetrusha is it possible to assign this issue to me, so that it won't be forgotten?

[2019-08-06 18:55] rpetrusha commented on #1027
See the comment in #2930. The ReadAsync documentation should be aligned with Read, and the ReadBlockAsync documentation should be aligned with ReadBlock.

[2019-08-06 19:42] ericmutta opened #2944 "VB samples for Lazy(Of T) class contain C# code."
Hi @mairaw or @rpetrusha the docs for [Lazy(Of T)](https://docs.microsoft.com/en-us/dotnet/api/system.lazy-1?view=netstandard-2.0) have VB samples with C# code that is commented out:

![vs_lazy_t](https://user-images.githubusercontent.com/20465797/62571905-3202d980-b89b-11e9-9b06-0fd38a997b0c.png)

I tried to do a PR to edit the docs but it seems to use code samples located in other files and I do

[2019-08-06 20:30] rpetrusha commented on #2941
Yes, I've assigned it to you, @gfoidl.

[2019-08-06 21:05] rpetrusha commented on #2944
Samples are found in the [dotnet/samples](https://github.com/dotnet/samples) repo on GitHub, @ericmutta. The path in the code reference indicates the path and filename of the sample, and any string value following `#`, if it is present, indicates a snippet name.

[2019-08-06 21:08] rpetrusha commented on #2944
Shall I assign this issue to you, @ericmutta?

[2019-08-06 21:51] ericmutta commented on #2944
@rpetrusha please do, and thanks for the pointer, I will take a stab at tomorrow :+1:

[2019-08-06 22:55] mairaw commented on #1962
Redirection request fix still hasn't been completed, so moving this to the August milestone. Other than that, all tasks were completed.

[2019-08-07 05:41] wwh1004 opened #2948 "Opcode description error"
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.bge
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.bge_s
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.bge_un
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.bge_un_s

it is not the "clt". it should be "clt.un"

![Snipaste_2019-08-07_13-18-3

[2019-08-07 06:24] wwh1004 opened #2949 "Is there a singed comparison for floating point types?"
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.ble
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.ble_s
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.ble_un
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.ble_un_s

I tested cgt and cgt.un for floating point types and got the same result.

[2019-08-07 06:31] #2949 closed

[2019-08-07 17:33] mvetom opened #2951 "IList Sample C# Code has a Bug"
Problem:
Look at the C# sample Code for implementing System.Collections.IList at:
https://docs.microsoft.com/en-us/dotnet/api/system.collections.ilist?view=netframework-4.8

The RemoveAt method is leaving an extra item at the end of the list

To see this, you can either replace PrintContents() for loop with a foreach loop (after implementing the Enumerator of course)  or simply replace the "i <Cou

[2019-08-07 19:14] mvetom opened #2952 "Bug in the IOrderedDictionary Sample Code"
Look at the setter in the    public object this[int index] property in the sample C# code implementation of IOrderedDictionary at https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.iordereddictionary?view=netframework-4.8
:

            object key = ((DictionaryEntry)_people[index]).Key;
            _people[index] = new DictionaryEntry(Keys, value);

Shouldn't the second li

[2019-08-07 19:23] #2596 closed

[2019-08-07 20:30] mvetom opened #2954 "Minor edit: Move property in IOrdereredDictionaryList"
Not really important,  but the author seemed to want to organize the members of the IOrderedDictionary sample implementation to be grouped by the interface that each member implemented.

For this reason,  I think  the property
public object this[object key] belongs in the  // IDictionary members section

[2019-08-07 20:43] mairaw commented on #2954
Are you referring to this page @mvetom?
https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.iordereddictionary.item?view=netframework-4.8

[2019-08-07 20:44] mairaw commented on #1442
Closing due to the lack of response. If you can come to us with more information, we can reopen the issue.

[2019-08-07 20:44] #1442 closed

[2019-08-07 20:45] mairaw commented on #774
@Tanya-Solyanik any further info given @spurdata's response? Thanks.

[2019-08-07 20:47] mairaw commented on #1643
@merriemcgaw @Tanya-Solyanik is this a winforms type? If so, can you help out?

[2019-08-07 20:51] mvetom commented on #2954
Sorry,  yes, that's the page.

[2019-08-07 20:55] mairaw commented on #2040
Thanks @herohua.

@JeremyKuhne, @carlossanlop can you comment on this issue?

[2019-08-07 20:56] mairaw commented on #2376
Thanks @GrabYourPitchforks. Closing then.

[2019-08-07 20:56] #2376 closed

[2019-08-07 20:59] mairaw commented on #2954
Ok, thanks for confirming that. I've added this to our backlog for us to investigate.

[2019-08-07 21:06] janhec commented on #1643
Hi Maira,
I'm a bit out of it right now, I'll look into it when I restart this
project.
Thanks for your interest,
Jan

On Wed, Aug 7, 2019 at 10:47 PM Maira Wenzel <notifications@github.com>
wrote:

[2019-08-07 21:07] mvetom commented on #2954
My bad... that's the wrong page -
This is the right one:
https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.iordereddictionary?view=netframework-4.8

But actually,  even though the code is somewhat different, both pages have the same issue.

[2019-08-07 21:16] mairaw commented on #2948
Thanks for your feedback @wwh1004. I've opened PR #2955 to fix this. I'll wait for one of the SMEs to confirm the behavior.

You can also submit fixes to our docs when you encounter issues like that. For more information, see https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents.

[2019-08-07 21:44] mairaw opened #2956 "Improve remarks for System.Text.Rune.Utf16SequenceLength and Utf8SequenceLength"
As discussed in the following comments from PR #2876:
https://github.com/dotnet/dotnet-api-docs/pull/2876/files/a909b2780dd7f5f9cbb7a5e3f33309cd73fd1cbe#r311717194
https://github.com/dotnet/dotnet-api-docs/pull/2876/files/a909b2780dd7f5f9cbb7a5e3f33309cd73fd1cbe#r311710736

/cc @carlossanlop @GrabYourPitchforks

[2019-08-07 22:39] JeremyKuhne commented on #2040
The `ReadBlock` API is the one that will loop to attempt to fill your buffer, which the remarks infers the normal `Read` does. The wording for these isn't the greatest.

`Read(Char[], Int32, Int32)` will read up to `count` chars and return the count it read. It may not be able to read the requested `count` if:

1. There isn't `count` bytes immediately available from the stream.
2. The end of the s

[2019-08-07 22:54] mimisasouvanh commented on #2851
@mairaw Yes attributes are on the rank as #1 of the priority list of Property Level Versioning.

[2019-08-08 00:51] wwh1004 commented on #2948
Since other opcode documents (bge, bge_s, bge_un, bge_un_s) have the same problem, and for integer it is "clt.un" and for floats it is "clt", can I send a PR again to fix them?

[2019-08-08 00:58] mairaw commented on #2948
Sure. I'll close mine.

[2019-08-08 00:58] mairaw commented on #2948
Also take a look at the comment from my coworker here - https://github.com/dotnet/dotnet-api-docs/pull/2955#issuecomment-519321070

[2019-08-08 15:39] SwooshyCueb opened #2961 "SecurityRulesAttribute.SkipVerificationInFullTrust documentation: transparent option in the what?"
The documentation for `SecurityRulesAttribute.SkipVerificationInFullTrust` contains the [line](https://github.com/dotnet/dotnet-api-docs/blob/f0e2c291a8c88675b981776b95c99041e7f13faf/xml/System.Security/SecurityRulesAttribute.xml#L153):
``If you use this property to skip MSIL verification for an assembly, use the `transparent` option in the  to statically verify that the assembly's transparent cod

[2019-08-08 15:49] mvetom opened #2962 "[VERY minor Edit] ICollection<T> implementation spell check"
On page: ICollection<T> Interface:  https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.icollection-1?view=netframework-4.8

In sample code,  in the BoxCollection class, in the Contains method,
in  the comments - IEquitable should be IEquatable

[2019-08-08 17:13] ericmutta commented on #2944
Hi @rpetrusha, I've submitted a PR for this issue. I am assuming by changing the snippet, it will update **both** the snippet and the full example as they appear in the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.lazy-1?view=netstandard-2.0)?

[2019-08-08 18:58] kburgoyne opened #2970 "System.IO.BufferedStream.ReadAsync() cancel response (exception documentation)"
# Issue Title

System.IO.BufferedStream.ReadAsync() is responding to a cancellationToken cancel signal with System.AggregateException and not System.OperationCanceledException.

# General

The AggregateException does contain a single exception of TaskCanceledException.

docs.microsoft.com for Core, Standard, and Framework doesn't actually say any exception will be thrown on a cancel for BufferedSt

[2019-08-08 19:35] #2944 closed

[2019-08-08 22:00] rpetrusha commented on #2944
Yes, @ericmutta, it will update both the snippet and the example in the docs.

[2019-08-09 00:36] mairaw commented on #2962
Thank you for your feedback @mvetom. I've opened https://github.com/dotnet/samples/pull/1150 to fix this.

[2019-08-10 13:57] amaic opened #8257 "Make Microsoft.Extensions.Configuration.Xml more tolerant against not supported XML features"
I ran into a problem with the current implementation of Microsoft.Extensions.Configuration.Xml.

With Visual Studio 2019 16.2.1 I created a new  Console App (.NET Framework) application,
added NuGet packages Microsoft.Extensions.Configuration.Xml and NLog.Extensions.Logging,
added code `var configuration = new ConfigurationBuilder().AddXmlFile(Assembly.GetExecutingAssembly().Location + ".config").

[2019-08-11 01:06] peteroupc opened #2977 "BitConverter: ToDouble, ToSingle, Int64BitsToDouble, Int32BitsToDouble"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.bitconverter.todouble?view=netstandard-2.0

**Problem:**

Mention that it might not be possible to use these methods to produce what are so-called _signaling NaN_s in x86, x64, and certain other instruction set architectures.  A _signaling NaN_ is an NaN with the most significant bit of the mantissa area clear (as opposed to a

[2019-08-12 01:57] vatsan-madhavan commented on #2602
Has this been solved yet? API's that are part of WindowsBase.dll are not generating documentation - this is not just an intellisense XML problem. See #1496 for example. An e.g. is the lack of documentation for `System.Windows.Point`, which shows this banner:

![image](https://user-images.githubusercontent.com/20246435/62842793-980baa00-bc69-11e9-95b4-f73828178530.png)

 /cc @carlossanlop
/ cc @gru

[2019-08-12 18:31] mairaw commented on #2602
@safern now that we're going to separate the assemblies for Desktop and .NET Core shared framework, I think we could solve this issue, correct?

[2019-08-12 23:16] rpetrusha commented on #2951
This isn't actually a bug, @mvetom. The array that `SimpleList` wraps is a private fixed array with eight elements. Provided that the _count element is appropriately updated and that the array is iterated only up to the `_count` element and is never enumerated with `foreach`,  it doesn't actually matter whether the last element or elements in the array are removed; they're effectively invisible. T

[2019-08-13 01:21] #2962 closed

[2019-08-13 04:49] #2501 closed

[2019-08-13 07:40] safern commented on #2602
Yes the issue should be solved with the new Preview8 I just generated. Indeed both the one coming from `Microsoft.NETCore.App` and `Microsoft.WindowsDesktop.App` were overlapping and the one from `Microsoft.NETCore.App` was winning when I was creating the drop.

[2019-08-13 07:58] herohua commented on #2040
Thanks @JeremyKuhne ! Your explanation actually aligns with what I was trying to say.

@mairaw , would you agree that we'd better include the below information in the `Remarks` section for `Read(Char[], Int32, Int32)`?

The current saying does not cover this scenario:

[2019-08-13 16:28] rpetrusha commented on #2952
Thanks for your feedback, @mvetom. Yes, the second line should use `key` rather than `Keys`. This is an issue only in the C# and C++ code; the Visual Basic code is correct. We've opened dotnet/samples#1161 to correct the code.

[2019-08-13 17:26] #2952 closed

[2019-08-13 20:38] #2951 closed

[2019-08-13 22:55] Youssef1313 opened #2991 "Missing exception in Bitmap constructors"
https://docs.microsoft.com/en-us/dotnet/api/system.drawing.bitmap.-ctor?view=netframework-4.8

There is a possibility for the Bitmap constructors to throw ArgumentException.
Example:
![image](https://user-images.githubusercontent.com/31348972/62983010-36486d00-be2e-11e9-9761-fe09dfb085f1.png)

I think it's not limited to the `(int, int)` constructor only.

[2019-08-13 23:00] rpetrusha commented on #2961
Thanks for reporting this issue, @SwooshyCueb. You use the transparent option in with the [Peverify tool](https://docs.microsoft.com/en-us/dotnet/framework/tools/peverify-exe-peverify-tool), We've opened #2992 to restore the lost link text and link.

[2019-08-14 12:24] mvetom commented on #2951
Thanks Rpetrusha,

I understand that the extra element can be hidden, depending on how you iterate through the list.

However, some users may decided to implement the GetEnumerator and try out foreach -  that's how I ran across this issue.

- Mvetom

[2019-08-14 19:54] #2961 closed

[2019-08-15 22:23] #1076 closed

[2019-08-16 07:52] svick commented on #1154
@nvmkpk Sorry for the late response. I just tried this, with a simple .Net Core 3.0 application that relaunches itself. The second instance writes to its standard output character by character, with a delay, and the first instance reads that:

[code]

The output of this code is:

[code]

This shows that `process.StandardOutput.Read()` does not wait for the process to exit, but really does read cha

[2019-08-19 04:29] NextTurn opened #3050 "Incorrect examples of ...OutOfRangeException"
One example in [ArgumentOutOfRangeException](https://docs.microsoft.com/dotnet/api/system.argumentoutofrangeexception) Remarks throws `IndexOutOfRangeException` (when accessing array).

Two examples in [IndexOutOfRangeException](https://docs.microsoft.com/dotnet/api/system.indexoutofrangeexception) Remarks throw `ArgumentOutOfRangeException` (when accessing `List<T>`).

[2019-08-19 16:47] Gnbrkm41 opened #3051 "Consider adding more details for HandleProcessCorruptedStateExceptionsAttribute that it's not supported on .NET Core"
Looking at several issues in corefx/coreclr (e.g. https://github.com/dotnet/coreclr/issues/22722/, in particular https://github.com/dotnet/coreclr/issues/22722#issuecomment-465987996), it seems that the attribute is not supported and will not do what it it is advertised for i.e., allow AccessViolationException / StackOverflowExceptions to be caught as managed exceptions. I think there should be no

[2019-08-19 21:56] user2150 opened #3054 "Thread.GetHashCode uniqueness"
"In managed threading, Thread.GetHashCode is the stable managed thread identification. For the lifetime of your thread, it will not collide with the value from any other thread, regardless of the application domain from which you obtain this value."

But from here (Thread.GetHashCode Method): https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.gethashcode?view=netframework-4.8

"Th

[2019-08-19 22:04] mairaw commented on #3054
Thanks for your feedback @user2150. @kouvel can you comment on this issue about Thread.GetHashCode? By looking at the code, it seems that both return the same value. Potentially, we should also review https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread?view=netframework-4.8#getting-information-about-and-controlling-threads.

[2019-08-20 19:11] kouvel commented on #3054
Yes it looks like they currently return the same value. `GetHashCode()` doesn't have to return the managed thread ID though, it could return the OS thread ID or some other value that may not be unique in the future. So in that sense I don't think the statement above is necessarily incorrect, and for people looking for a unique identifier it's not a bad thing to redirect them to the ManagedThreadId

[2019-08-22 15:46] KalleOlaviNiemitalo opened #3062 "c"

[2019-08-22 18:01] CeciAc opened #3063 "请提供新式用法的示例！"
@KleinPan commented on [Thu Aug 22 2019](https://github.com/dotnet/dotnet-api-docs.zh-cn/issues/47)

如题，最好有C++代码和C#代码互相调用的例子

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: fefda702-61b2-2765-5629-74777733d8be
* Version Independent ID: 8149739c-0187-da29-a07e-3d53221447fa
* Content: [Marshal.PtrToStructure Method (System.Runtime.InteropServices)](https://docs.microso

[2019-08-22 18:03] CeciAc commented on #3063
Hi team,
I'm moving this here because the user is requesting aditional examples
best regards

[2019-08-23 22:29] rpetrusha commented on #3050
Thanks for pointing this out, @NextTurn. I'll address it in an upcoming sprint.

[2019-08-24 19:52] mlodato517 opened #3074 "Update System.Random documentation regarding seeds"
The current documentation for [`System.Random`](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/Random.xml#L89) says:

This is true in [.NET Framework](https://referencesource.microsoft.com/#mscorlib/system/random.cs,5d22f8880fc9f8d9,references) but doesn't seem to be true in [.NET Core](https://source.dot.net/#System.Private.CoreLib/shared/System/Random.cs,5d22f8880fc9f8d9,refere

[2019-08-27 19:18] rpetrusha opened #3093 "Identify, correct confusion of enumeration types and properties that return them"
## Identify, correct confusion of enumeration types and properties that return them

One of the patterns that we've noticed in the enumeration documentation is a confusion of the enumeration type and the member that returns that enumeration type. For example:

should instead be something like:

It would be nice to identify and correct these. They can be found using a literal string search and a re

[2019-08-29 18:56] #2844 closed

[2019-08-31 01:06] mikernet opened #3110 "CultureInfo constructor / CreateSpecificCulture docs are misleading or incorrect"
**Issue description**

[`CultureInfo` constructor](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.-ctor?view=netframework-4.8#System_Globalization_CultureInfo__ctor_System_String_) and [`CultureInfo.CreateSpecificCulture()`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.createspecificculture?view=netframework-4.8) documentation is highly

[2019-09-02 21:19] CeciAc opened #3113 "Directory.Delete sync or not ?"
@sybaris commented on [Mon Sep 02 2019](https://github.com/dotnet/dotnet-api-docs.fr-fr/issues/10)

Hi,

The documentation does not specify if this method is synchronous or asynchronous.
When I run the example of this page, the display is "top-level directory exists: FALSE"
I have took the same code, but I create instead 100 files of with 100 000 lines of text (See code below).
And now the display

[2019-09-02 21:20] CeciAc commented on #3113
Hi team
I moved this here in case it's a documentation issue
best

[2019-09-03 20:27] mairaw commented on #947
@Thraka can you please update the milestone accordingly?

[2019-09-03 20:28] mairaw commented on #2602
We can close this issue now, correct?

[2019-09-03 22:34] rpetrusha commented on #3110
Thanks for opening this issue, @mikernet.

@tarekgh, it seems that on Linux, even a CultureInfo whose name is "aaa" doesn't throw a CultureNotFoundException. On all platforms, does the culture returned depend on the underlying OS (on Windows) and ICU library (on Unix-based systems)?

[2019-09-03 22:37] vatsan-madhavan commented on #2602
This can be closed - I see WindowsBase.xml in the builds now!

[2019-09-03 22:37] #2602 closed

[2019-09-03 22:58] mikernet commented on #3110
Based on our other discussion threads and my testing, my understanding is that the exception is only thrown for invalid/badly formed culture names. Any culture that is formatted properly will not throw the exception even if it doesn't exist.

[2019-09-03 23:02] tarekgh commented on #3110
Yes, we just use ICU to create the culture on Linux. We just support whatever behavior Windows and ICU support.

[2019-09-04 02:27] mikernet commented on #3110
Looking at the source code, it doesn't just pass directly to OS or ICU though...it clearly does some massaging here to give consistent behavior:

https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Globalization/CultureData.cs#L291

It also looks like region to culture mapping is hard-coded and not just reliant on ICU/windows:

https://github.com/dotnet/corefx/blob/master/sr

[2019-09-04 02:30] mikernet commented on #3110
Invariant behavior also looks hard coded for consistency:

https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Globalization/CultureData.cs#L420

[2019-09-04 15:43] tarekgh commented on #3110
You are pointing to other place which doesn't create a culture. the code you are pointing it is just a code mapping a culture to a region.

Same answer.

That is right except for collation behavior.

[2019-09-05 10:08] lauxjpn opened #3122 "Fix and extend Utf8JsonWriter.WriteBase64String and Utf8JsonWriter.WriteBase64StringValue docs in System.Text.Json"
Explicitly mention the 125 MB size limit of those methods.
Also add possible, but not yet listed, Exception.
See: https://github.com/dotnet/corefx/issues/40755#issuecomment-528260753
PR follows.

[2019-09-05 17:47] hrobertson opened #3126 "Incorrect CustomValidationAttribute remarks"
Content: https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.customvalidationattribute.method?view=netcore-2.2
Content source: [xml/System.ComponentModel.DataAnnotations/CustomValidationAttribute.xml](https://github.com/dotnet/docs/blob/master/xml/System.ComponentModel.DataAnnotations/CustomValidationAttribute.xml)

The remarks for the `Method` property of `CustomVali

[2019-09-05 20:36] mairaw commented on #3126
Thank you for your feedback @hrobertson.

@lajones, @divega, @ajcvickers can you help with this issue? Are there differences in behavior between .NET Framework and .NET Core for this API? Thanks.

[2019-09-05 21:27] mairaw commented on #2935
Thank you for your feedback @sadlame.
@merriemcgaw @Tanya-Solyanik @RussKie can one of you help with this issue for System.Windows.Media.PixelFormats?

[2019-09-05 21:51] #3074 closed

[2019-09-06 00:27] #1491 closed

[2019-09-06 00:30] #1718 closed

[2019-09-06 01:31] #3122 closed

[2019-09-06 06:22] RussKie commented on #2935
@mairaw in WinForms we use [`System.Drawing.Imaging.PixelFormat`](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/Imaging/PixelFormat.cs) which comes from CoreFx.
The issue is referencing [`System.Windows.Media.PixelFormats`](https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/PixelFormats.cs) which

[2019-09-06 06:25] vatsan-madhavan commented on #2935
@ryalanms, @grubioe, @dotnet/wpf-developers, can someone take a look?

[2019-09-06 07:57] Youssef1313 commented on #3115
@mairaw , Not very sure. but I think the link you provided is the correct link.
The `TabControl.xaml` file in the `Resources` directory in your link has `Snippet13`  that exactly matches the `xaml` snippet included in the article.

[2019-09-06 12:05] hrobertson commented on #3126
Doesn't look like it: https://referencesource.microsoft.com/#System.ComponentModel.DataAnnotations/DataAnnotations/CustomValidationAttribute.cs,db5138ec9e85f648

[2019-09-07 19:37] nemrism commented on #1269
Hi there,

Do you still expect some help on documenting the different behavior between .NET framework and .net core?

After digging into the issues in [dotnet/corefx](https://github.com/dotnet/corefx/issues) repository, I understand the missing information as ".net core doesn't allow automatic redirect from an https:// request to a http:// location for security reasons".

@karelz, is that what you

[2019-09-08 11:03] roji opened #3141 "Incorrect [Flags] attribute on System.Data.IsolationLevel enum?"
[The doc page for System.Data.IsolationLevel](https://docs.microsoft.com/en-us/dotnet/api/system.data.isolationlevel) shows a `[Flags]` attribute that isn't present in the sources, and shouldn't be there. Is that section of the docs auto-generated (and therefore there may be a bug in the process) or should it be fixed manually?

Raised in https://github.com/dotnet/corefx/issues/40848

FWIW [the .N

[2019-09-09 16:34] #1371 closed

[2019-09-09 16:43] davidsh opened #3147 "HttpWebRequest.ReadWriteTimeout works differently on .NET Core"
See: https://github.com/dotnet/corefx/issues/34550

Need to add clarifying info to [HttpWebRequest.ReadWriteTimeout(https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.readwritetimeout?view=netcore-2.2) regarding different behavior on .NET Core.

[2019-09-09 16:48] mairaw opened #3148 "Review/add exceptions thrown by System.Xml.Linq.XElement"
URL: https://docs.microsoft.com/en-us/dotnet/api/System.Xml.Linq.XElement?view=netcore-3.0

Saw that we had a couple missing while reviewing PR #3098

[2019-09-09 17:13] ryalanms commented on #2935
Good find, @sadlame.  I believe the actually flags match your findings, but the several comments and parts of the documentation are incorrect.

https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/PixelFormat.cs#L924

https://github.com/dotnet/wpf/blob/master/src/Microsoft.DotNet.Wpf/src/PresentationCore/System/Windows/Media/PixelFormats.cs#L

[2019-09-09 17:53] danmosemsft opened #3149 "[Serializable] attribute shown on types that do not have it in .NET Core"
In .NET Core only a limited subset of types have `[Serializable]`. These are listed in https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization

Can we hide the `[Serializable]` attribute from individual type topics when the filter is .NET Core?

Eg., https://docs.microsoft.com/en-us/dotnet/api/system.drawing.printing.margins?view=netcore-3.0 shows the attribute even tho

[2019-09-09 21:18] rpetrusha commented on #3141
Yes, information on the Flags attribute is auto-generated, @roji. Since the attribute isn't applied in either .NET Framework or .NET Core, it's possible that it's present in Xamarin (currently, an attribute is applied if it is present in any of the documented implementation libraries) or that this is a bug. @joelmartinez and @dend, could you take a look?

[2019-09-10 01:09] joelmartinez commented on #3141
You can see in the EcmaXml metadata that this attribute was present in .NET 1.1:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Data/IsolationLevel.xml#L31

[code]

The issue is that we currently don't filter the attributes by the current moniker, which is something that we _will_ be supporting soon as work is in progress/finalizing/testing (SDP pipeline)

[2019-09-10 01:19] mairaw commented on #3141
This is similar to #2986

I have prioritized this work very high with Mimi for post-SDP.

[2019-09-10 01:56] danieljsummers opened #3154 "Aes missing F# example (offer to PR)"
The [page demonstrating how to use the Aes class](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.aes?view=netframework-4.8) has no F# sample. The way F#'s `use` statement works, it doesn't go out of scope until the end of the function; so, before reading `msEncrypt`, the user should call `swEncrypt.Flush()`.

This just bit me in another project, so I thought I'd offer to

[2019-09-10 02:26] danieljsummers commented on #2151
This is correct; the type signature of `x` in `let x = System.Int32.TryParse ""` is `bool * int`. This should be pretty standard through all the `TryParse` methods, as that's how the `out` parameters are represented in F#.

[2019-09-10 03:33] #2898 closed

[2019-09-10 05:28] roji commented on #3141
Thanks @joelmartinez and @mairaw! I'll close this as a duplicate of #2986.

[2019-09-10 05:28] #3141 closed

[2019-09-10 06:29] paulomorgado opened #3160 "Code samples for StreamReader on .NET Standard 1.3 uses non existing APIs"
The code samples for the [`StreamReader(Stream)`](https://docs.microsoft.com/en-us/dotnet/api/system.io.streamreader.-ctor?view=netstandard-1.3#System_IO_StreamReader__ctor_System_IO_Stream_) when .NET Standard 1.3 is selected uses non existing APIs for that target:

[code]

`StreamWriter(string)` is not part of .NET Standard 1.3.

[2019-09-10 14:51] #3160 closed

[2019-09-10 15:07] cartermp commented on #2151
@danieljsummers Not quite. `out` parameters (that is, `byrefs` that are intended to give a result) will implicitly convert to a tuple for the `TryParse` methods, but the signature is not a tuple of `string -> bool * int`; it's `string -> byref<int> -> bool`.

[2019-09-10 17:39] KalleOlaviNiemitalo commented on #1792
It is not serializable in .NET Framework 4.8, either.

[2019-09-10 17:49] KalleOlaviNiemitalo commented on #1792
SqlCredential appears to be serializable in Mono, ever since it was added in mono/mono#1295: https://github.com/mono/mono/blob/a83e9cf4aaaef69d3eabbca2de74005ed207374f/mcs/class/System.Data/System.Data.SqlClient/SqlCredential.cs#L40

#3149 is another issue about SerializableAttribute showing up in the documentation of the wrong framework.

[2019-09-10 18:09] CeciAc opened #3162 "Свойство ProcessName"
@vst377 commented on [Tue Sep 10 2019](https://github.com/dotnet/dotnet-api-docs.ru-ru/issues/29)

В комментариях указано "ProcessName Свойство содержит имя исполняемого файла". Это не совсем так. ProcessName содержит название сборки исполняемого файла, имя которого может не совпадать с именем сборки.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания

[2019-09-10 18:12] CeciAc commented on #3162
Hi team ,
I moved this here because the comment refers to the original instructions
best

[2019-09-10 18:53] CeciAc opened #3163 "Add warning, that keys and items parameters must not refer to the same array."
@NineBerry commented on [Tue Sep 10 2019](https://github.com/dotnet/dotnet-api-docs.de-de/issues/40)

When passing the same array as both keys and items parameter, in some situations you will get an ArgumentException stating that the "IComparer.Compare() method returns inconsistent results" and in some situations the sort order will just be wrong without getting any exception.

Add a remark in the

[2019-09-10 18:55] CeciAc commented on #3163
Hi team,
I'm moving this here because the user is making a suggestion to the original documentation
best regards

[2019-09-11 08:40] KalleOlaviNiemitalo commented on #3113
The documentation of the Win32 [DeleteFileW](https://docs.microsoft.com/windows/win32/api/fileapi/nf-fileapi-deletefilew) and [RemoveDirectoryW](https://docs.microsoft.com/windows/win32/api/fileapi/nf-fileapi-removedirectoryw) functions states that deletion does not occur until the last handle is closed. Other processes or kernel drivers may be keeping handles open and thereby causing deletion to

[2019-09-11 08:46] NineBerry commented on #3163
A user on stackoverflow run into this issue. https://stackoverflow.com/questions/57874983/unable-to-sort-because-the-icomparer-compare-method-returns-inconsistent-resul

[2019-09-11 11:32] KalleOlaviNiemitalo opened #3168 "Example for Monitor.TryEnter(object, ref bool) unnecessarily checks acquiredLock"
[Monitor.TryEnter(object, ref bool)](https://docs.microsoft.com/en-us/dotnet/api/system.threading.monitor.tryenter?view=netframework-4.8#System_Threading_Monitor_TryEnter_System_Object_System_Boolean__) has this example:

[code]

The `if (acquiredLock)` test in the `try` block is useless. If `Monitor.TryEnter(object, ref bool)` returns without throwing an exception, then it always sets `acquiredLo

[2019-09-11 11:36] KalleOlaviNiemitalo commented on #3168
Sorry, I mixed this up with Monitor.Enter(object, ref bool).

[2019-09-11 11:36] #3168 closed

[2019-09-11 17:12] danieljsummers commented on #2151
Thanks for clarifying.

Is there a way within the current docs structure to document those differences? I literally wrote code before replying on this thread. :) If that's an overall concept within the language, I didn't realize it; I just learned that "this is the way the `TryParse` methods work".

[2019-09-13 19:26] TheAtomicOption commented on #1452
Same applies to the example for the Image class that it inherits from
https://docs.microsoft.com/en-us/dotnet/api/system.drawing.image?view=netframework-4.8

[2019-09-14 03:36] NextTurn opened #3178 "Incorrect Assemblies for .NET Core?"
Many types are defined in *System.Private.CoreLib.dll* in .NET Core.

For example, [List\<T\>](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1) is not defined in *System.Collections.dll*.

[code]

[code]

[2019-09-14 05:46] mairaw commented on #3178
Thanks @NextTurn. That matches the information that is in the API Catalog as well:
https://apisof.net/catalog/System.Collections.Generic.List%3CT%3E

I’ll have to investigate what’s going on.

[2019-09-15 20:08] vslee commented on #1598
Your example was helpful, and given the very sparse [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.dataflow.dataflowblockoptions.maxmessagespertask), I think it would be worthwhile for you to send a PR with your example as an addition.

[2019-09-16 08:36] mrEDitor opened #3182 "No information about throwing exceptions by ChannelReader.WaitToReadAsync()"
I use System.Threading.Channels API for providing internal application API and faced some sort of ambiguity in documentation of method `ChannelReader.WaitToReadAsync()`. There is no mention about throwing exception, stored in closed channel, but it said

**Returns** `ValueTask<Boolean>` A ValueTask<TResult> that will complete with a true result when data is available to read or with a false result

[2019-09-17 00:31] mairaw commented on #3178
Tagging @safern @ericstj and @terrajobst to comment. As @safern indicated offline, System.Private.CoreLib.dll is the runtime assembly, but the one we show it's the reference assembly at compile time. I think the behavior is correct and that's what we should show on docs/API catalog, but I'd like to double check that with you all.

[2019-09-17 16:56] safern commented on #3178
I agree the compile time assembly is the one we should show and the one we've been showing across places.

[2019-09-17 20:50] Zenexer opened #3205 "Incomplete DefaultDllImportSearchPaths docs"
https://github.com/dotnet/dotnet-api-docs/blob/8adb892bc4a3f45fdeaa24f716d2dbd4ba0365ab/xml/System.Runtime.InteropServices/DefaultDllImportSearchPathsAttribute.xml

.NET Core 3.0 will bring `DefaultDllImportSearchPathsAttribute`, and [the Roslyn analyzers will flag P/Invokes that lack `DefaultDllImportSearchPathsAttribute` by default](https://github.com/dotnet/roslyn-analyzers/pull/2658).  However

[2019-09-17 21:00] Zenexer commented on #3205
Related: https://github.com/dotnet/roslyn-analyzers/issues/2855

[2019-09-17 23:10] NextTurn commented on #3178
Closing as by design.

[2019-09-17 23:10] #3178 closed

[2019-09-18 18:33] lobster2012-user opened #3209 "source link in docs #doc-enhancement"
Hi!

I do not see in the documentation a link to the source code for the implementation of what is described on the current page.

First of all, I'm interested in net core.

I can not imagine how much effort this will take and what is the least costly solution.

Thank you.

[2019-09-18 18:47] mairaw commented on #3209
Thanks for your feedback @lobster2012-user. This is a duplicate of https://github.com/MicrosoftDocs/feedback/issues/433.

For now, the easiest way is to browse the .NET Core source code using https://source.dot.net/.

[2019-09-18 18:47] #3209 closed

[2019-09-18 19:29] dsherret opened #3210 "UnobservedTaskExceptionEventArgs.SetObserved mentions old default"
For `UnobservedTaskExceptionEventArgs.SetObserved()`, the remarks state:

But "by default" is no longer true. The default does not terminate the process since .net 4.5 because `ThrowUnobservedTaskExceptions` is now false by default.

[2019-09-19 08:36] imba-tjd commented on #2654
Now all of them are disabled.
https://github.com/dotnet/dotnet-api-docs.zh-cn/commit/2418a491ab189267ab0d0ac4cc22d132837f5b42

[2019-09-19 20:47] davidsh commented on #1458
There are two overloads for the Add() API.  The first one is valid for HTTP or FTP but the second one is only valid for SMTP.

[code]

[code]

[2019-09-19 20:50] davidsh commented on #1458
@mairaw

[2019-09-22 06:09] glenn-slayden opened #3223 "GC.SuppressFinalize clarification (minor)"
https://github.com/dotnet/dotnet-api-docs/blob/ca19f49f2fc78fa5e1a535998961fcf6c1bfd20e/xml/System/GC.xml#L1418

The existing text:

I suggest the following minor addition/clarification:

Alternative wording might be...

Some related discussion can be found [here](https://stackoverflow.com/questions/58044679/is-it-harmless-to-call-gc-suppressfinalize-within-the-finalizer) (StackOverflow).

[2019-09-25 12:21] #1795 closed

[2019-09-27 18:32] EmperorAtlantis opened #3248 "Localization language"
# Issue Title

Localization language

# General

Can I have various localized language packages like the.net Framework? When I use vs, I want to see annotated descriptions of classes or methods in Chinese.

[2019-09-28 08:26] chingucoding opened #3253 "Update NotifyCollectionChangedAction enum "Reset" description to not let it look like clearing collection"
Currently, the description of the "Reset" value on the [NotifyCollectionChangedAction enum](https://docs.microsoft.com/en-us/dotnet/api/system.collections.specialized.notifycollectionchangedaction?view=netframework-4.8) page indicates that the collection was cleared. However some collection (for example `Platform::Collections::Vector`) use the reset event do indicate that the collection went throu

[2019-09-28 20:03] SonnyRR opened #3256 "Misleading info on how CreditCardAttribute validates card numbers."
CreditCardAttribute doesn't use regular expressions to validate the card numbers, instead it's validated using a string processing algorithm. See: https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/CreditCardAttribute.cs

[2019-09-29 21:03] stamminator opened #3259 "Where is the documentation for System.IdentityModel.Tokens.Jwt?"
With Windows Identity Foundation (WIF) now integrated into .NET and the `System.IdentityModel.Tokens.Jwt` NuGet package getting 8,000+ downloads every day, I don't understand why there isn't any official documentation. The [MSDN documentation is disgraceful](https://msdn.microsoft.com/en-us/library/system.identitymodel.tokens.jwtsecuritytoken(v=vs.114).aspx), offering nothing that IntelliSense doe

[2019-09-30 11:39] Youssef1313 opened #3260 "Missing documentation for XElements.Elements method"
The following method is missing:

Screenshot:

![image](https://user-images.githubusercontent.com/31348972/65875505-b5b2e100-e387-11e9-928b-2d9aeefdbdde.png)

[2019-09-30 21:09] #3256 closed

[2019-09-30 21:12] rpetrusha commented on #3223
@Maoni0, what do you think?

[2019-09-30 23:31] Maoni0 commented on #3223
I would go with

[2019-10-01 18:53] sclarson opened #3267 "TMP and TEMP environment variables do not impact GetTempFolder on Unix"
I ran into this last week.  The current documentation will lead you down a bit of a frustrating journey testing and not getting an expected result.

[2019-10-01 23:33] stakx opened #3269 "Documentation for System.Reflection.Metadata (package version 1.5.0) has gone missing"
There appears to be a XML doc problem with System.Reflection.Metadata, version 1.5.0. Despite being quite thoroughly documented [in the original source code](https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Metadata/src/System/Reflection), most or all of that documentation appears to get lost on its way to VS IntelliSense and the online [.NET API Browser](https://docs.microsoft.c

[2019-10-01 23:35] mairaw commented on #3269
Thanks @stakx for your kind offer. @carlossanlop from the dev team is already helping us to bring a lot of the existing comments from the source code.
You can see we have a number of PRs on the review queue right now related to that:
https://github.com/dotnet/dotnet-api-docs/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+metadata+

[2019-10-01 23:37] orobert91 opened #3270 "Documentation for System.Collections.Generic.CollectionExtensions"
Documentation for System.Collections.Generic.CollectionExtensions should be added:

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.collectionextensions.tryadd and other methods as well.

https://github.com/dotnet/corefx/issues/17918

[2019-10-01 23:38] mairaw commented on #3270
Thanks @orobert91. @carlossanlop is this one on your radar to get documented?

[2019-10-01 23:39] jwdonahue opened #3271 "What does Dictionary<TKey,TValue>.EnsureCapacity(Int32) Method do?"
Does it allocate space or just check to see if the space is currently allocatable? In bytes or element count?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c24739cd-50ff-e3b1-a5b7-5e43fea977b0
* Version Independent ID: 39331194-8f05-25b9-88bb-5f77a0c53e95
* Content: [Dictionary&lt;TKey,TValue&gt;.EnsureCapacity(Int32)

[2019-10-01 23:41] mairaw commented on #3271
Thanks for your feedback @jwdonahue. This API was recently documented but perhaps can be further enhanced. @safern can you take a look at this feedback?

[2019-10-01 23:42] carlossanlop commented on #3270
Yes, it's in the list of 2.0 APIs that my team will document in the next months.
CC @safern , the area owner of Collections.

[2019-10-01 23:44] vcsjones opened #3272 "Document IV truncation for .NET Framework but not .NET Core for TripleDESCryptoServiceProvider"
**Issue description**

👋 Hi docs folks! On Corefx [an issue was filed][1] because of a compatibility difference between .NET Framework and .NET Core for the `TripleDESCryptoServiceProvider` class that isn't documented anywhere except in the comments of the .NET Framework reference source.

The gist is the initialization vector on `TripleDESCryptoServiceProvider` (either the `IV` property or the `r

[2019-10-01 23:45] pjanotti opened #3273 "ConditionalWeakTable does not release values if values reference the ConditionalWeaktable itself"
This is a special case described at https://github.com/dotnet/corefx/issues/19765. The issue is if one of the values added to the `ConditionalWeakTable` references the table itself then one must call `Clear` (or use one of the other workarounds described on the issue) to ensure that there are no leaks.

This is not mentioned explicit on the docs but seems a special case that should be documented t

[2019-10-01 23:47] svick opened #3274 "Document ProductInfoHeaderValue constructors"
I'm sometimes making HTTP requests to various APIs. Quite often, they require specifying [the User-Agent header](https://en.wikipedia.org/wiki/User_agent#Use_in_HTTP). To do that with `HttpClient`, I have to create `ProductInfoHeaderValue`, e.g.:

[code]

My problem is that creating valid `ProductInfoHeaderValue` is not obvious and [the documentation for its constructors](https://docs.microsoft.co

[2019-10-01 23:48] mairaw commented on #3274
@davidsh is this something you could help with?

[2019-10-01 23:58] Rick-Anderson opened #3275 "XmlDsigXPathTransform sample fails"
Moved from https://github.com/aspnet/Docs/issues/5641
cc @rpetrusha
See [XmlDsigXPathTransform Class
](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.xml.xmldsigxpathtransform?view=netframework-4.7)

test sample.  Copy from [this bug](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/200269)

-----------------------
Problem Description
-------------

[2019-10-02 00:00] jhudsoncedaron opened #3277 "Documentation for FileInfo.Exists and File.Exists is misleading"
Documentation for FileInfo.Exists and File.Exists is misleading

File.Exists "returns" currently reads:

true if the caller has the required permissions and path contains the name of an existing file; otherwise, false. This method also returns false if path is null, an invalid path, or a zero-length string. If the caller does not have sufficient permissions to read the specified file, no exception

[2019-10-02 00:02] mairaw opened #3278 "Add remarks for EventCounter APIs"
Vance's comment for the F-level API docs:
https://github.com/dotnet/docs/pull/3262#issuecomment-333694323

There is a tutorial here

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md

Which gives a quick example. (There are only two APIs the constructor and WriteMetric API). The EventCounter functionality is meant to be an extension o

[2019-10-02 00:08] mairaw commented on #3223
Opened PR #3279 to fix this.

[2019-10-02 00:36] mairaw commented on #3260
Hi @Youssef1313, thanks for your feedback!

If you look under methods, you'll see that it shows as an inherited API:
https://docs.microsoft.com/en-us/dotnet/api/system.xml.linq.xelement?view=netframework-4.8#methods

![image](https://user-images.githubusercontent.com/12971179/66009992-ea9b6280-e471-11e9-9f48-1c92de24162d.png)

So only APIs defined by the class itself show up in the TOC. This exper

[2019-10-02 00:36] #3260 closed

[2019-10-02 00:40] mairaw commented on #3259
I transferred this issue to the dotnet-api-docs repo but this issue is beyond the scope of work of our team. @brentschmaltz is there a better place to move this issue?

[2019-10-02 00:47] mairaw commented on #3154
Thank you for your kind offer @danieljsummers. @cartermp can you weigh in on this?

[2019-10-02 00:49] mairaw commented on #3248
@terrajobst was going to drive the product changes needed to enable this as well.

[2019-10-02 00:54] mairaw commented on #3210
Thanks for your feedback @dsherret. @tarekgh, @stephentoub can you suggest how to approach this change?
This applies to the following page:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.unobservedtaskexceptioneventargs

 Since our docs cover all versions, we should state the old behavior and the new default behavior.

[2019-10-02 11:18] KutanaDev opened #3282 "Duplexing support is incomplete in PrintTicket and PrintCapabilities"
The documentation source files `dotnet-api-docs/xml/System.Printing/PrintTicket.xml`   and `PrintCapabilities.xml` both describe printer Duplexing support, and both have a Remark saying:

This property corresponds to the [Print Schema](https://go.microsoft.com/fwlink/?LinkId=186397)'s `JobDuplexAllDocumentsContiguously` keyword, not the `DocumentDuplex` keyword.

I'm puzzled that the printing sche

[2019-10-02 19:05] #3223 closed

[2019-10-02 19:48] carlossanlop commented on #1230
@svick a workaround I suggest is to install the browser extension "Wide GitHub", which will increase the width of the textarea containers to the full width of the window.
You can find the extension in Chrome (which can also be installed in Edge Insiders) and in Firefox.

[2019-10-02 19:49] mairaw commented on #2624
I'm moving this to the backlog for now. I've discussed this with several .NET PMs after the release was done to see if we were ready to do this, but we're not. Here's why:

- Right now the F1 integration from VS is broken. So if a customer is using .NET Framework APIs, he'd still land on .NET Core 3.0 version.
My next task is to investigate whether VS is sending the moniker value in the F1 query o

[2019-10-02 19:53] carlossanlop opened #3284 "Large xml files should be split in smaller files"
Take `String.xml` for example. The file is 14333 lines long at the moment I created this issue.

- GitHub [won't let you view the file normally](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/String.xml), with xml color coding: the only option is to open it "raw".
- Suggestions in PRs can't be applied: an unexpected error shows up saying that the file has been updated and you nee

[2019-10-03 01:15] ClairelyClaire opened #3287 ".NET Core 3.0 - StringComparison enums no longer supported"
Referring to this page:
https://docs.microsoft.com/en-us/dotnet/api/system.stringcomparison?view=netcore-3.0

According to this:
https://github.com/dotnet/corefx/issues/108

InvariantCulture and InvariantCultureIgnoreCase are no longer supported.

[2019-10-03 04:31] cartermp commented on #3154
@danieljsummers is correct on how to use it. How would the sample get pulled into the API doc though? Would love to have a sample but I just want to ensure nothing gets overwritten.

[2019-10-03 05:03] mairaw commented on #3154
We’d add a line with the fsharp entry here:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Security.Cryptography/Aes.xml#L51

The samples come from the dotnet/samples repo.

[2019-10-03 15:09] cartermp commented on #3154
Sounds good. @danieljsummers sounds like we're green for a contribution here!

[2019-10-03 17:09] NextTurn commented on #2270
ping?

[2019-10-03 17:25] stephentoub commented on #3210
The post at https://devblogs.microsoft.com/pfxteam/task-exception-handling-in-net-4-5/ provides details on the change that was made for .NET 4.5.  You could just clarify the "Marking the exception..." sentence that this is the case for either pre-.NET 4.5 or .NET 4.5+ if https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/throwunobservedtaskexceptions-element is se

[2019-10-03 18:46] carlossanlop commented on #1685
**.NET Core 2.1 System.IO API changes** - https://github.com/dotnet/dotnet-api-docs/issues/1685

[2019-10-04 01:07] ateoi opened #3297 "Update System.Exception.StackTrace remark to reflect the new behavior for rethrown exceptions"
The line below needs to be updated to reflect the fix for dotnet/coreclr#15780 and implemented by dotnet/coreclr#16464. This change is expected to be included in .NET Core 2.1 - https://github.com/dotnet/coreclr/issues/15780#issuecomment-368585175.

This is the new behavior for rethrown exceptions:

1. **Exception rethrown in a method different than the method where it was originally thrown:** the

[2019-10-04 01:08] BillWagner commented on #3297
Note: the link in the issue description points to the location when `System.XML` was in the dotnet/docs repo.

[2019-10-07 18:17] rpetrusha commented on #1137
[System.Strinng](https://docs.microsoft.com/dotnet/api/system.string) is currently interactive.

[2019-10-07 18:17] #1137 closed

[2019-10-07 21:44] rpetrusha commented on #3284
We'll have to see what the impact is on file sizes, @carlossanlop, but the next migration of the API documentation will separate the basic metadata of each type/member and its authored content into separate files. The former will be read-only, and only the authored content will be editable. That should significantly reduce the size of each file and make it far more manageable.

I'm not sure why su

[2019-10-07 21:44] #3284 closed

[2019-10-08 16:26] loic-sharma commented on #1551
Also, should [the remarks on `HttpMessageHandler`](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpmessagehandler?view=netcore-3.0) be updated to mention `SocketsHttpHandler`?

[2019-10-08 18:40] davidsh commented on #1551
Yes. That could be part of implementing this issue.

[2019-10-09 06:34] mairaw commented on #3287
Thanks for your feedback @ClairelyClaire. That is a very old issue. It seems that it was brought back in .NET Core 2.0.
@davkean @nguerrera would you know since you commented on that issue?

I see them at the source code: https://source.dot.net/#System.Private.CoreLib/shared/System/StringComparison.cs,eabf4db5f5c52b6a

[2019-10-09 06:41] mairaw commented on #3182
Thank you for your feedback @mrEDitor. @tarekgh, @stephentoub can you look at this feedback about  ChannelReader.WaitToReadAsync()? Thanks!

[2019-10-09 17:27] dotMorten opened #3319 "The documented Default Http Request version is incorrect."
Currently the doc is listing the default HTTP version for .NET Core 2.1+ to be v2.0, when in fact it's 1.1.

This page says .NET Core 2.1+ uses HTTP/2 by default:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httprequestmessage.version?view=netcore-3.0#property-value
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Net.Http/HttpRequestMessage.xml#L464

But here's wher

[2019-10-09 17:39] mairaw commented on #3319
Thanks @dotMorten. This was a breaking change introduced in 3.0 and the fix was done in PR #3285.

If you see the line you're referencing on this repo, you'll see that it says it's 2.0 only for .NET Core 2.1 or 2.2.

That fix should be live in a few hours.

[2019-10-09 17:39] #3319 closed

[2019-10-09 17:45] dotMorten commented on #3319
@mairaw Nice! You beat me to it!

[2019-10-09 19:50] tarekgh commented on #3182
@stephentoub please correct me if I say anything not true here or missing more info:

WaitToReadAsync can throw in the following cases:

- The channel is not closed but it is empty. It will throw InvalidOperationException.
- The channel is empty and the channel writer is completed with exception. Something like channel.Writer.Complete(new Exception("Channel Closed")). At that time will get the exc

[2019-10-09 21:01] stephentoub commented on #3182
It shouldn't.  The purpose of WaitToReadAsync is to let you be notified when either a) there's data available to try to read, or b) there will never be data available to try to read.  In both cases the task returned from WaitToReadAsync completes successfully, with true in the former case and false in the latter case.  The latter case happens when the channel has been marked as completed and there

[2019-10-09 21:42] tarekgh commented on #3182
@stephentoub

The following code is throwing InvalidoperationException

[code]

Is this happen for other reasons?

Alos, it will throw if you do the following too:

[code]

note, I didn't write any item to the channel.

[2019-10-09 21:45] stephentoub commented on #3182
Are you sure the InvalidOperationException is coming from WaitToReadAsync?  Seems more likely it'd be coming from r.GetAwaiter().GetResult(), which isn't supported on a ValueTask that's not completed.

[2019-10-09 21:57] tarekgh commented on #3182
You are right. here is the stack:

[code]

When using await instead, it worked as you described.

[2019-10-09 23:26] karelz commented on #3319
Super fast! 😮
Thanks @mairaw!

And thanks @dotMorten for reporting it ...

[2019-10-10 00:05] mairaw commented on #3282
@merriemcgaw @karelz do you know which team would own System.Printing?

[2019-10-10 00:06] mairaw commented on #3287
I agree. Thanks @nguerrera. Also if you filter, you can get the correct fields for each version. So closing the issue.

[2019-10-10 00:06] #3287 closed

[2019-10-10 00:09] karelz commented on #3282
That is .NET Framework I assume. I have no idea, but @tarekgh will likely know where to route it ...

[2019-10-10 00:10] mairaw commented on #3253
Thanks for your feedback @chingucoding. Would you like to submit a PR to fix this? And then we can get the dev team to review the change.
Here's some info about that: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-10-10 00:11] mairaw commented on #3253
I also noticed that this would match what's in the source code: https://source.dot.net/#System.ObjectModel/System/Collections/Specialized/NotifyCollectionChangedAction.cs,33

[2019-10-10 00:16] mairaw commented on #3149
Thanks @danmosemsft for your feedback. There are a few issues with how .NET API docs work on docs.microsoft.com and showing the appropriate attributes for the version you selected is one of them.

I feel like this would be a duplicate of #2986. Would you agree?

You can see that the reflection tool already identifies the versions that should have serializable correctly:
https://github.com/dotnet/d

[2019-10-10 00:29] mairaw commented on #3282
Apparently they're in .NET Core too:
![image](https://user-images.githubusercontent.com/12971179/66529948-52792b00-eaba-11e9-8b3f-b8aecacf1797.png)

[2019-10-10 01:03] danmosemsft commented on #3149
@mairaw sure both seem tracking the same thing. thanks!

[2019-10-10 01:03] #3149 closed

[2019-10-10 01:05] karelz commented on #3282
Oh, it is `System.Drawring.Printing` -- I think @safern will know about that more ...

[2019-10-10 05:32] mrEDitor commented on #3182
The second case is the one I'm speaking about:
[code]

Output:
[code]

[2019-10-10 12:00] csrakowski opened #3323 "Define "very short" in Remark for ManualResetEventSlim"
The remark for [ManualResetEventSlim](https://docs.microsoft.com/en-us/dotnet/api/system.threading.manualreseteventslim?view=netframework-4.8#remarks) mentions that it provides improved performance[ "when wait times are expected to be very short"](https://github.com/dotnet/dotnet-api-docs/blob/1481150ff6a19d037c9d6271560f9b4e642d62b6/xml/System.Threading/ManualResetEventSlim.xml#L47).

Would it be

[2019-10-10 16:44] KirkMunro commented on #1685
`Path.GetDirectoryName()` also returns null for whitespace-only strings, instead of throwing as it did before.

[2019-10-10 17:24] #3253 closed

[2019-10-10 20:12] #3182 closed

[2019-10-10 21:04] safern commented on #3282
This is definitely not `System.Drawing.Printing` this is under `System.Printing` and it is part of `ReachFramework.dll` which is from `WPF` (I know it is very confusing as in `System.Drawing.Common` we have printing APIs as well 😄)

@vatsan-madhavan @rladuca should know more

[2019-10-10 23:03] rladuca commented on #3282
As far as I can tell the WPF does only support `JobDuplexAllDocumentsContiguously`.  A change to `System.Printing` to support this would have to be filed as a feature request in [WPF](https://github.com/dotnet/wpf) and then we can triage it accordingly.

I don't have any specific guidance on what to do if a printer reports via `DocumentDuplex`.

[2019-10-10 23:22] brentschmaltz commented on #3259
@jmprieur
Should we put our docs here?
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-overview

[2019-10-11 01:11] mairaw commented on #3282
So it seems this is a product request and there's no specific guidance to be added, I'm closing this doc issue then. Thanks!

[2019-10-11 01:11] #3282 closed

[2019-10-11 01:15] mairaw commented on #3323
@kouvel any suggestions on what we can add here to the remarks of ManualResetEventSlim?

I think you should be thinking in terms of milliseconds, but let's see what @kouvel says.

[2019-10-11 06:21] jmprieur commented on #3259
Which kind of doc, @brentschmaltz : a reference doc for Wilson? It's already referenced from https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-v2-libraries#microsoft-supported-server-middleware-libraries.

Or are we talking of a conceptual doc (that we'd need to create?)

[2019-10-11 14:20] kouvel commented on #3323
The default spin-wait duration for `ManualResetEventSlim` is in the order of ~10 microseconds. If wait times are typically much longer than that, there probably would not be any advantage to spin-waiting. It probably would not help to use a larger spin count in that case either because it would be cheaper to wait. The Slim version also avoids some p/invoke overhead during `Set` and `Reset`, and du

[2019-10-11 14:23] kouvel commented on #3323
The default spin-wait duration may differ between runtimes. I think "very short" is appropriate for the doc, as the times may differ between runtimes and maybe between machines.

[2019-10-11 14:48] csrakowski commented on #3323
Thank you for the answer; microseconds are indeed "very short" (and nowhere close to the +/- 10 seconds interval I need it for), so that answers my use cases.

I am not exactly sure how you would phrase it, but would it possible to add some sort of high level guidance on this to article?
Something to that tells people to "think in the order of microseconds, not milliseconds".

[2019-10-11 15:06] kouvel commented on #3323
Yea makes sense, could clarify that

[2019-10-11 16:38] #2621 closed

[2019-10-11 18:59] mairaw commented on #1245
This is a great suggestion @PaulGarnerUk since it would satisfy both needs. Would you mind opening an issue at https://aka.ms/sitefeedback for that?

[2019-10-11 21:40] brentschmaltz commented on #3259
@jmprieur conceptual mainly.
To help with these types of questions?

[2019-10-13 01:28] carlossanlop opened #3336 "Consider adding more examples for OperatingSystem"
MS Docs page: https://docs.microsoft.com/en-us/dotnet/api/system.operatingsystem?view=netcore-3.0
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/OperatingSystem.xml

The example only shows result examples for Windows 8.1 and 7. We should add an example for Windows 10 and a few non-Windows results, if supported (OSX, Ubuntu, etc.):

[code]

I don't recall if the code examples are

[2019-10-13 01:29] carlossanlop commented on #3336
I got this output for Windows 10 in my personal PC:

[code]

[2019-10-13 01:31] carlossanlop commented on #3336
I got this output in my Raspberry PI 3, running Raspbian:
[code]

In contrast, this is what I get when I run `uname -a`:
Linux raspberrypi 4.19.66-v7+ #1253 SMP Thu Aug 15 11:49:46 BST 2019 armv7l GNU/Linux

[2019-10-13 07:47] Gnbrkm41 commented on #3336
Doesn't the windows example depend on whether the application has set the app manifest file to specifically target a specific OS?
https://docs.microsoft.com/en-us/windows/win32/sysinfo/targeting-your-application-at-windows-8-1?redirectedfrom=MSDN

Running the snippet on the same PC, with .NET Framework/.NET Core on a blank Console project yields this result:
[code]

However, running the snippet on

[2019-10-13 08:23] Gnbrkm41 commented on #1747
From what I understand, [Common Language Specification](https://docs.microsoft.com/en-us/dotnet/standard/common-type-system) (CLS) is about the rules every CLR languages follow to ensure inter-operability between languages.

From ECMA-335 documents:

followed in order to conform to the CLS. They are described in greater detail in subsequent
clauses and are summarized in §I.11. CLS conformance is a

[2019-10-13 11:36] svick opened #3337 "Update System.Drawing unsupported warning for .Net Core"
[The remarks for the System.Drawing namespace say:](https://docs.microsoft.com/en-us/dotnet/api/system.drawing?view=netcore-3.0#remarks)

This warning seems to be specific to .Net Framework and Windows, so it leaves the question of support of System.Drawing on .Net Core and on Unix open.

I think this warning should be updated, to make it clear what the support status of System.Drawing on .Net Cor

[2019-10-13 13:16] mwpowellhtx commented on #1747
I appreciate the response. But this level of insight really belongs in the docs. Microsoft, are you listening?

[2019-10-13 13:35] tannergooding commented on #1890
The new behavior is correct and is likely fallout from us moving to a new C Runtime.

IEEE 754 defines that `pow(x, +/-0)` is 1 if `x` is not a signaling NaN. .NET doesn't support signalling `NaN`, so it is `1` for any input.

We ultimately just call into the C Runtime for most of the `System.Math` functionality and so we will pick up fixes as they implement them.

[2019-10-13 19:15] paulomorgado opened #3339 "Add information about StreamContent disposing the content stream"
The content stream used to initialize `StreamContent` is disposed when the `StreamContent` instance is disposed.

This should be mentioned on the documentation.

https://docs.microsoft.com/en-us/dotnet/api/system.net.http.streamcontent.-ctor
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Net.Http/StreamContent.xml

[2019-10-14 22:33] carlossanlop commented on #3336
@Gnbrkm41 I had no idea about this, so yes, we should definitely have this documented as well.

[2019-10-15 09:23] #3154 closed

[2019-10-15 20:02] mairaw commented on #3339
Thanks @paulomorgado. I've added this to our backlog but we also welcome PRs to fix this.

[2019-10-15 20:03] mairaw commented on #3337
@safern, @maryamariyan can you comment on this?

[2019-10-15 20:05] mairaw commented on #3336
Great idea @carlossanlop! Do you know a good person to talk about config? I've been wanting to discuss similar things and don't know where to start.

[2019-10-15 21:20] carlossanlop commented on #3336
I'm going to guess here... @tarekgh would you be a good contact for Maira to ask questions about System.OperatingSystem and config in general? If not, who could help?

[2019-10-15 22:51] tarekgh commented on #3336
I am not really the owner, but looking at the code I am seeing when calling `Environment.OSVersion` on Windows, we end up calling the native Windows API [GetVersionExW](https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-getversionexw) and this API will just return whatever version of Windows the application built against. as @Gnbrkm41  mentioned it'll depend on the app man

[2019-10-16 00:14] merriemcgaw opened #3353 "WinForms DataGrid and MainMenu and related types should more clearly indicate that they've been replacedthese classes have been replaced"
ToolBar/ToolBarButton,, MainMenu/Menu/MenuItem and the DataGrid and related classes were replaced in .NET 4 with newer, more flexible controls. On the DataGrid main page I couldn't find that note until I'd read the entire document. Other related pages also don't clearly indicate that developers should opt for the newer controls.

I don't know for sure the Core 3.1 plans here yet, but I'm sure they

[2019-10-16 19:51] danielmarbach opened #3356 "Directory.EnumerateFiles documentation is misleading"
The `Directory.EnumerateFiles` documentation seems to indicate that the return values are Directory Names only. This is metioned and hinted multiple times. Only if you look closer at the Return value definition you actually see that  full names including paths are returned. Maybe I'm the only one that fell into this trap but I think the documentation should be improved to make it clear that full n

[2019-10-16 21:15] safern commented on #3337
System.Drawing should be supported in .NET Core on both Windows and Unix, however the constraint is as follows:
- Unix: libgdiplus should be installed in the running OS (the recommended minimum version is 6.0.1)
- Windows: GDI+ should be available in the running SKU... for example, nano and iot, don't provide GDI+ APIs.

[2019-10-17 10:14] mikkelbu commented on #1001
But it also shows in Visual Studio, but I'm unsure whether this should be fixed in the documentation or in the tooling - one solution could be just to "expand" "that's" into "that is".
![image](https://user-images.githubusercontent.com/1007631/67000061-1db23880-f0a5-11e9-8580-0da26b4a7b1e.png)

[2019-10-17 16:30] NextTurn opened #3360 "Where to document default parameter"
I'm going to address issues like #1529. Which is the preferred section for default values? `<summary>`, `<value>` or `<remarks>`?

[2019-10-17 16:32] NextTurn commented on #3360
And why is ny issue still not triaged? :)

[2019-10-17 16:32] NextTurn commented on #3360
And why is that issue still not triaged? :)

[2019-10-17 20:51] TheXenocide commented on #2735
Took me a bit to get back to it, but PR submitted :)
Sidenote: my first time making a PR using only the GitHub editor. For a single file very simple change it was actually a bearable experience.

[2019-10-17 22:18] mairaw commented on #3360
Let me try to find an example for you @NextTurn. Sorry about the lack of triage. We're trying to get better at it.

[2019-10-17 22:24] mairaw commented on #3360
Here are a couple of examples:
Default value for params: https://docs.microsoft.com/en-us/dotnet/api/system.io.pipelines.streampipereaderoptions.-ctor

Default values for properties: https://docs.microsoft.com/en-us/dotnet/api/System.ServiceModel.Channels.ChannelPoolSettings.MaxOutboundChannelsPerEndpoint

Default values of constructors: https://docs.microsoft.com/en-us/dotnet/api/system.servicemo

[2019-10-17 22:27] mairaw commented on #1529
Thanks @NextTurn. I provided a few examples on issue #3360. I feel like this would be similar to the constructor example, where the parameter here is not passed to that overload, so that info would be added to the remarks.

[2019-10-17 22:46] NextTurn commented on #3360
Thank you @mairaw. This helps a lot!

[2019-10-18 00:56] mairaw commented on #1658
Thanks for your feedback @DSysdev. I imagine they wanted to recommend Json.NET instead. I'll check.

[2019-10-18 01:02] mairaw opened #3361 "Add obsolete note to old JSON APIs"
We should add some notes that folks should use System.Text.Json APIs instead from now on to APIs under https://docs.microsoft.com/en-us/dotnet/api/system.json.

/cc @carlossanlop

[2019-10-18 15:22] bbarry opened #3367 "System.IO.Path.Join example code doesn't produce commented output"
The C# code example at the bottom of https://docs.microsoft.com/en-us/dotnet/api/system.io.path.join?view=netcore-3.0#System_IO_Path_Join_System_ReadOnlySpan_System_Char__System_ReadOnlySpan_System_Char__System_ReadOnlySpan_System_Char__

has a WriteLine:

        Console.WriteLine($"   {Path.GetFullPath(result)}");

which is not present in the output.

[2019-10-18 16:13] carlossanlop commented on #3361
If you can come up with a template message for all these obsolete APIs that you can share here, I'd be happy to split the work and help apply it.

[2019-10-18 16:35] tdykstra opened #3369 "Link to conceptual docs from System.Text.Json API ref"
The API documentation for the System.Text.Json namespace and its types doesn't link to the conceptual documentation at https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-overview except from the namespace page. A link should be added to each type.

Related to https://github.com/dotnet/docs/issues/12207

[2019-10-18 16:52] carlossanlop opened #3371 "Add examples for *PipeServerStream creation with PipeSecurity (ACLs)"
It might be good to add examples that explain how to specify the [PipeSecurity](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.pipesecurity?view=netcore-3.0)
 (ACL) in a [NamedPipeServerStream](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.namedpipeserverstream?view=netcore-3.0) and in an [AnonymourPipeServerStream](https://docs.microsoft.com/en-us/dotnet/api/system.io.p

[2019-10-18 16:59] carlossanlop opened #3372 "DirectoryInfo.SetAccessControl API not available in 3.0, even though it exists"
If you try to go to this page: https://docs.microsoft.com/en-us/dotnet/api/system.io.directoryinfo.setaccesscontrol?view=netcore-3.0

You get redirected to the .NET Framework 4.8 version, even though the API exists in 3.0.

Here's the API in CoreFX, it's public: https://github.com/dotnet/corefx/blob/226f57b4f2bf91822604aa73338070c601d7a0fe/src/System.IO.FileSystem.AccessControl/src/System/IO/FileS

[2019-10-18 17:04] carlossanlop opened #3373 "Add example for new API that creates directory with ACLs"
[This issue ](https://github.com/dotnet/corefx/issues/41614)tracks the proposal of APIs to create directories and files ensuring the passed ACLs are set on creation.

We already have [an example](https://docs.microsoft.com/en-us/dotnet/api/system.io.directoryinfo.setaccesscontrol?view=netframework-4.8#examples) in Docs that explains how to set ACLs on directories.

After merging [this PR](https://

[2019-10-18 17:08] carlossanlop opened #3374 "Add example for new API that creates file with ACLs"
[This issue ](https://github.com/dotnet/corefx/issues/41614) tracks the proposal of APIs to create directories and files ensuring the passed ACLs are set on creation.

We already have [an example ](https://docs.microsoft.com/en-us/dotnet/api/system.security.accesscontrol.filesecurity?view=netcore-3.0#examples) in Docs that explains how to set ACLs on files.

After adding the new API to dotnet-api-

[2019-10-18 20:20] rladuca opened #3375 "Distinguish between SDKs in .NET Core documentation"
This is a general documentation issue that came up from a specific instance of confusion in https://github.com/dotnet/wpf/issues/2045.

For instance, the documentation for [ICollectionView](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.icollectionview?view=netcore-3.0) contains the following called out binaries:

![image](https://user-images.githubusercontent.com/20006987/67125

[2019-10-18 22:36] carlossanlop opened #3377 "FileSecurity parameter is described as an enum"
This parameter is an instance of the [FileSecurity class](https://docs.microsoft.com/en-us/dotnet/api/system.security.accesscontrol.filesecurity?view=netcore-3.0), not an enum value.

It should be reworded because it sounds like it's describing an enum value:
https://github.com/dotnet/dotnet-api-docs/blob/514e781bd6ca1ea8c68bb9cf9b05b4949c81e1a3/xml/System.IO/File.xml#L1195

[2019-10-19 02:47] carlossanlop commented on #3377
I forgot i had already opened a PR to fix this https://github.com/dotnet/dotnet-api-docs/pull/3352

[2019-10-19 02:51] carlossanlop commented on #3367
Thanks for reporting.

What version of.NET did you use? There are some behavior differences between Framework and Core.

cc @JeremyKuhne

[2019-10-19 02:54] carlossanlop commented on #3356
Thanks for reporting.

What version of .NET were you using? There are behavior differenced between Framework and Core. We need to make sure to explain them.

cc @JeremyKuhne

[2019-10-19 03:23] JeremyKuhne commented on #3356
The behavior hasn't changed. It's "essentially" the full path based on the passed in path. The exact rules are sort of crazy, but we've kept them for compatibility. You can see the full details in this method:

https://source.dot.net/#System.IO.FileSystem/System/IO/Enumeration/FileSystemEntry.cs,77a3d4d002575f14,references

[2019-10-19 03:27] JeremyKuhne commented on #3367
The rules have not changed here. The sample just isn't showing the given `WriteLine`.

[2019-10-20 09:46] Youssef1313 opened #3380 "Missing AsyncUserToken"
For more information, see this [Stackoverflow question](https://stackoverflow.com/questions/58471688).

[2019-10-20 09:57] mikernet commented on #1089
It's been a year - any updates as to what the guidance is here? I'm curious as well.

[2019-10-20 10:04] mikernet commented on #1089
The default message for `IndexOutOfRangeException` is "Index was outside the bounds of the array" which points to it being more suitable for use only on arrays, but the docs say it is applicable to collections as well. The problem is it doesn't seem like collections actually use this exception, so clearing this up in the docs a bit might be helpful here to aid in usage guidance.

[2019-10-21 16:47] jkotas commented on #2270
Correct, the full name is not strictly required for `Assembly.Load`. It is recommended to call `Assembly.Load` with full name to make sure that the caller gets what it wants (e.g. that it does not get lower version of the assembly than it expects).

[2019-10-21 16:53] NextTurn commented on #2270
Thanks @jkotas. Is the behavior consistent for all assemblies (loaded or not, CoreLib or others)?

[2019-10-21 17:18] jkotas commented on #2270
What I have said above applies to all assemblies.

The actual loader behavior varies. For example, you won't be able to load assemblies from GAC in .NET Framework without a full name; or if your custom assembly resolve event insist on a full name.

[2019-10-21 21:52] BillWagner commented on #3375
Moved to MicrosoftDocs/feedback#2067

This would have to be fixed by the site engineering team.

[2019-10-21 21:52] #3375 closed

[2019-10-22 00:24] NextTurn opened #3387 "New term for mscorlib/System.Private.CoreLib"
The *mscorlib* assembly was renamed to *System.Private.CoreLib* in .NET Core. Do we have a new term for both of them?

![image](https://user-images.githubusercontent.com/45985406/67252365-1e800b80-f4a5-11e9-807c-d5a965cc7f22.png)

[2019-10-22 05:37] mairaw commented on #3387
@karelz do you have any suggestions?

[2019-10-22 05:40] mairaw commented on #3377
Thanks @carlossanlop. Good catch! Added to our backlog and the up-for-grabs label.

[2019-10-22 05:58] mairaw commented on #3353
@merriemcgaw so what are the replacements?

So DataGridView is the new replacement for DataGrid. What about the others? Thanks.

[2019-10-22 06:01] mairaw commented on #3258
I'm closing this issue. The value is no longer styled as link and the value returned by the property is correct:
https://referencesource.microsoft.com/#System.IdentityModel/System/IdentityModel/Claims/Rights.cs

[2019-10-22 06:01] #3258 closed

[2019-10-22 06:05] mairaw commented on #3205
@AaronRobinsonMSFT, @jkoritzinsky can you guys help with this feedback? Is there anything we can add to the docs about this API behavior in .NET Core? Thanks.

[2019-10-22 15:12] karelz commented on #3387
Why would we need a new term for both of them? Where does it show/hurt?

[2019-10-22 15:13] NextTurn commented on #3387
@karelz I put a screenshot of the search results in the issue description.

[2019-10-22 20:52] jkoritzinsky commented on #3205
I've just checked to confirm, and the `DllImportSearchPath` enumeration values are ignored on non-Windows. We should add that to the docs.

[2019-10-23 11:08] MSDN-WhiteKnight commented on #3387
I don't know a new term, but mscorlib/System.Runtime is sometimes referred to as "core assembly" (for example [CompilerParameters.CoreAssemblyFileName](https://docs.microsoft.com/en-us/dotnet/api/system.codedom.compiler.compilerparameters.coreassemblyfilename)).

The System.Private.CoreLib is actually a bit special case because it's a runtime-only thing, and it is mentioned almost nowhere in docs.

[2019-10-23 11:28] NextTurn commented on #3387
For the specific case of `System.Type.GetType`: calling this method with namespace-qualified type name doesn't work for types implemented in *System.Runtime*, such as `System.IO.FileAttributes`.

[2019-10-23 12:47] NextTurn opened #3396 "Incorrect FileNotFoundException in Process.Start(ProcessStartInfo)"
A `Win32Exception` is throw if the file could not be found, on both Windows and Linux.

[2019-10-23 20:16] mairaw commented on #3396
You're right @NextTurn! I managed to reproduce that behavior as well. I've open PR #3398 to fix this.

[2019-10-24 03:46] mriehm opened #3826 "Change in FileSystemInfo.Attributes permissions denied Exception"
According to the [docs for FileSystemInfo.Attributes](https://docs.microsoft.com/en-us/dotnet/api/system.io.filesysteminfo.attributes?view=netcore-3.0), trying to set an attribute on a file that you do not have permissions to modify will throw ArgumentException. This is true on .NET Framework, but it does not appear to be true on .NET Core, which throws UnauthorizedAccessException instead. Unautho

[2019-10-24 17:42] carlossanlop opened #3404 "System.IO.Compression.GZipStream Flush() documentation is off"
_From @maghis on Thursday, October 24, 2019 2:53:38 PM_

The current documentation for `Flush()` states:
[code]
After testing and reviewing the codebase it looks like it's indeed flushing the buffers of `DeflateStream`.

_Copied from original issue: dotnet/corefx#42086_

[2019-10-24 17:42] carlossanlop commented on #3404
_From @carlossanlop on Thursday, October 24, 2019 3:15:02 PM_

Interesting. Thanks for reporting.

I will transfer this bug to the appropriate repo and assign it to myself to address it soon.

[2019-10-25 03:00] #3377 closed

[2019-10-25 03:03] #1126 closed

[2019-10-25 15:28] #1020 closed

[2019-10-25 19:29] tdykstra opened #3414 "Update List and Array Sort remarks for .NET Core"
See #2736 for background

[2019-10-27 06:47] MSDN-WhiteKnight opened #3418 "Microsoft.Extensions.DependencyModel should be documented"
There's a NuGet package [Microsoft.Extensions.DependencyModel](https://www.nuget.org/packages/Microsoft.Extensions.DependencyModel/) for reading *.deps.json* files at runtime. It is built from sources in [core-setup](https://github.com/dotnet/core-setup/tree/master/src/managed/Microsoft.Extensions.DependencyModel) repository. Currently there's no documentation for it. This package can be useful fo

[2019-10-27 21:41] Kissaki commented on #1200
There are a few links to `go2.microsoft.com`. The link IDs seem to work with `go.microsoft.com` as well.

Is there any guidelines on what should be used? And should this be adjusted to be consistent?

Only 5 links use `go2`. 3645 use `go`.

I would guess it would make sense to use go everywhere?

(This is not specifically for this ticket, but I noticed it when working on this.)

[2019-10-27 21:46] Kissaki commented on #1200
A lot of example code uses pseudo-company and domain names like `www.contoso.com` and others (already saw two others in this repo’s content, but there are [many more MS apparently uses](https://en.wikipedia.org/wiki/List_of_fictional_Microsoft_companies#Companies)).

Those domains redirect to `microsoft.com` on http, but do not respond on https. Any chance to make https work on those? Then we coul

[2019-10-28 08:40] sajan100 opened #3421 "PerformanceCounter doc does not apply to .NET Core"
The documentation misleadingly states that it applies to .NET Core framework and also some others that it may be unavailable on.

[2019-10-28 20:03] #2270 closed

[2019-10-28 23:33] #2735 closed

[2019-10-29 18:33] #3396 closed

[2019-10-30 09:07] brettrowberry opened #3426 "IntelliSense Not Showing ToString() Options"
IntelliSense doesn't give any information about the formatting options for the .ToString() method on the Guid type:

[2019-10-30 16:26] Thraka commented on #3421
@mairaw How do we fix this?

[2019-10-31 18:36] Thraka commented on #3426
I forgot about it too until I was working on this issue. heh

[2019-11-01 07:10] #3356 closed

[2019-11-01 09:02] danielmarbach commented on #3356
😍😎

[2019-11-01 20:00] #1923 closed

[2019-11-04 17:03] breyed opened #3442 "CacheExtensions.Get undefined"
Does [CacheExtensions.Get](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.caching.memory.cacheextensions.get) return null or throw (or do something else) if the key isn't found?

This a core question with no obvious answer (there are arguments for each way of doing it). IntelliSense and the docs need this basic information for the caching part of .NET Core to be ready for prime t

[2019-11-05 12:56] johndaintree opened #3445 ".NET Version dropdown is inconsistent with displayed content and "Applies to" section"
I suspect that this is a problem with many pages, but, for example, the page:

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.unmanagedtype

Shows LPUTF8Str as a valid member AND shows Xamarin.iOS in the "Applies to" section. However LPUTF8Str is NOT implemented in Xamarin.

It's only when one selects Xamarin.iOS from the the "Version" drop down that the LPUTF8Str membe

[2019-11-05 14:52] onovotny opened #3456 "SignedCms.ComputeSignature changes"
The behavior of the default overload of `SignedCms.ComputeSignature(CmsSigner)` changed from .NET Framework to .NET Core. In .NET Framework, that would display a PIN prompt if the provider required it. On .NET Core it does not as the silent context is enforced.

Desktop applications should use `SignedCms.ComputeSignature(SignedCms, false);` to ensure a PIN prompt appears if required. This behavior

[2019-11-05 23:49] paulomorgado opened #3447 "Defective rendering of docs for LoggingEventSource"
docs: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.eventsource.loggingeventsource
source: https://github.com/dotnet/dotnet-api-docs/blob/master/xml/Microsoft.Extensions.Logging.EventSource/LoggingEventSource.xml

[2019-11-08 01:21] onovotny commented on #3456
@carlossanlop sure. I was just calling out that it should probably be also on the compatibility differences page that I originally filed this bug against.

Thanks!

[2019-11-08 15:50] TechnikEmpire commented on #908
Thanks @davidfowl , I found your last comment here after crying real tears because the documentation led me to believe that managed websockets in .net core 3 were not supported on Windows 7.

[2019-11-11 20:58] jzabroski opened #3467 ""Edit" button seems to link to wrong page"
Hi,

I wanted to fix an "error of omission" on the `[SqlConnectionStringBuilder](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnectionstringbuilder.applicationname?view=netframework-4.8)` class documentation, but when I click Edit, it sends me to the following GitHub page, which doesn't match at all the page I was just on: https://github.com/dotnet/dotnet-api-docs/blob/ma

[2019-11-11 21:15] jzabroski opened #3468 "SqlConnection throws undocumented ArgumentException"
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.-ctor?view=netframework-4.8

If Application Name passed in is > 128 characters, SqlConnection constructor throws an exception.  Interestingly, SqlConnectionStringBuilder class allows passing into it an Application Name > 128 characters.

[code]

Error message:
[code]

Stack trace:
[code]

[2019-11-12 19:48] OliaG opened #3471 "Add notes to some WinForms controls that were deleted in .NET Core 3.1"
In .NET Core 3.1 we removed some deprecated WinForms controls that were considered (but never market with an attribute) deprecated since 2005. Here is the [related item](https://github.com/dotnet/docs/issues/15813) with the description of all APIs. We  need to add a note in the documentation of those controls that they were not included in .NET Core 3.1 and further and there are a newer options fo

[2019-11-13 17:52] ericstj opened #8526 "System.Reflection.Metadata throws BadImageFormatException on bad input"

[2019-11-13 21:06] pkulikov opened #3477 ".NET API browser: broken rendering of inheritance chain"
The inheritance chain renders in a hard to read way, for example, [ListView control API](https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.listview?view=netcore-3.0):
![image](https://user-images.githubusercontent.com/15279990/68804286-ac44b600-0661-11ea-81d6-f78610df0dc9.png)

[2019-11-15 07:44] VladislavMorozov opened #3503 "System.Security.Cryptography. CngKey.Import doesn't work on Linux."
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.cngkey.import?view=netcore-2.2#System_Security_Cryptography_CngKey_Import_System_Byte___System_Security_Cryptography_CngKeyBlobFormat_

Please add a remark to the documentation that this method doesn't work on Linux.

[2019-11-15 21:43] mairaw commented on #3477
Thanks @pkulikov. Closing this as a duplicate of  https://github.com/MicrosoftDocs/feedback/issues/2064.

[2019-11-15 21:43] #3477 closed

[2019-11-15 21:47] mairaw commented on #3468
Thanks @jzabroski for your feedback. I'm adding this to our backlog but we can also accept community PRs.

@ajcvickers,@cheenamalhotra, @david-engel to confirm the difference in behavior and if that's expected.

[2019-11-15 21:49] mairaw commented on #3503
Thanks @VladislavMorozov for your feedback. @bartonjs can you confirm that?

[2019-11-15 21:57] mairaw commented on #3467
The edit button takes you to a file that has the documentation for all the APIs inside a class.

Those remarks are found at https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnectionstringbuilder?view=netframework-4.8#remarks.

The content for ApplicationName starts at https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Data.SqlClient/SqlConnectionStringBuilder.xm

[2019-11-15 21:59] mairaw commented on #3456
@bartonjs was there any changes done as part of 3.0 that would warrant adding this to the breaking changes page or is this just a change in API docs?

[2019-11-15 22:01] mairaw commented on #3447
It's not really a rendering issue but a problem with how these docs were done in the first place:
https://source.dot.net/#Microsoft.Extensions.Logging.EventSource/LoggingEventSource.cs,14

But I'll move the content of the summary to the remarks to fix this.

[2019-11-15 22:04] bartonjs commented on #3456
Nothing changed in 3.0.  It's a platform difference from the beginning of .NET Core's support for SIgnedCms (2.1).

[2019-11-15 22:05] bartonjs commented on #3503
Nothing with CNG in the name works on non-Windows systems.  Including CngKey.Import.

[2019-11-15 22:15] mairaw commented on #3445
Thanks @johndaintree for your feedback. That's a bit tricky to solve since the information in the Applies to section is about the class and not the individual fields. I'll move this issue to the MicrosoftDocs/feedback for discussion with the engineering team.

[2019-11-15 22:19] mairaw commented on #3445
This issue was moved to MicrosoftDocs/feedback#2166

[2019-11-15 22:20] #3445 closed

[2019-11-15 22:29] mairaw commented on #3442
Thanks for your feedback @breyed. We're adding more and more docs each month and we'll start looking into the missing extensions API docs next quarter. /cc @carlossanlop

Perhaps @davidfowl or @Tratcher can help here but the source is here:
https://source.dot.net/#Microsoft.Extensions.Caching.Abstractions/MemoryCacheExtensions.cs

[2019-11-15 22:34] Tratcher commented on #3442
It returns null.

[2019-11-15 22:40] mairaw commented on #3418
@davidfowl @safern who can help with this request to add Microsoft.Extensions.DependencyModel to the API docs? This does show up as part of the platform extensions in the API catalog.

[2019-11-15 22:55] David-Engel commented on #3468
The maximum length of an Application Name in the connection string is documented on the SqlConnection.ConnectionString Property page:
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=netframework-4.8#remarks

[2019-11-15 23:56] #3447 closed

[2019-11-16 07:34] VladislavMorozov commented on #3503
System.PlatformNotSupportedException
  HResult=0x80131539
  Message=Windows Cryptography Next Generation (CNG) is not supported on this platform.
  Source=System.Security.Cryptography.Cng
  StackTrace:
   at System.Security.Cryptography.CngKeyBlobFormat.get_Pkcs8PrivateBlob()

I run it on Linux container in docker.

[2019-11-16 08:12] mairaw commented on #3503
Ok, thanks for confirming. I'm adding this to our backlog.

[2019-11-17 22:06] NikiforovAll opened #3508 "LoggingEventSource remarks section is malformed: code snippets are displayed incorrectly"
Please see: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.eventsource.loggingeventsource?view=dotnet-plat-ext-3.0

Expected result: code snippets are rendered in standard way

[2019-11-17 22:08] NikiforovAll commented on #3508
Found related closed issue: #3447

[2019-11-18 16:47] khyperia opened #3509 "Document differences in Single/Double behavior from IEEE spec"
https://docs.microsoft.com/en-us/dotnet/api/system.double?view=netframework-4.8 currently says:

It would be good to point out the major breaks in spec, hopefully specifying them directly around that sentence (from a quick read, that page doesn't mention any at all).

In particular, I know of two cases:

* `double.NaN.Equals(double.NaN)` is true. (`double.NaN == double.NaN` is false, which is the

[2019-11-18 18:54] mairaw commented on #3508
Thanks @NikiforovAll for the feedback. That's exactly the same issue. The fix I made last week is currently building and should be pushed into production in the next 30-60 minutes.

The example will look like this:
![image](https://user-images.githubusercontent.com/12971179/69080926-c2e86580-09f1-11ea-9a4a-5c2bc6b93256.png)

[2019-11-18 18:54] #3508 closed

[2019-11-18 21:10] johnmott59 opened #3512 "Chief Developer, meshola.com"
It would be helpful to have an enumeration or table that lists the values that the type can have.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e68afc72-d149-adaa-5573-6f6989899f89
* Version Independent ID: 03fc3996-e05d-3fae-9471-9c8cd33641d0
* Content: [PathData.Types Property (System.Drawing.Drawing2D)](https://doc

[2019-11-18 21:15] zoehart opened #3514 "Lacking information on SQL Server setup to support SqlChangeMonitor"
Use of SqlChangeMonitor requires specific set up in SQL Server, but this SqlChangeMonitor page makes no mention of that dependency and does not point to documentation explaining the necessary steps. I have so far been unable to find such documentation, relying instead on aggregating information from posts of other peoples attempts, successful and otherwise.

---
#### Document Details

⚠ *Do not ed

[2019-11-18 21:19] tayler0101 opened #3515 "How i can use it?"
I cant't figure out how to use it in MultipartFormDataContent.
Is there is any example ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4704f5d6-03a6-e482-86d4-951e8ed55656
* Version Independent ID: 1901f6ab-4793-5723-59d3-31952b2d4ad7
* Content: [HttpContent Class (System.Net.Http)](https://docs.microsoft.com/en-us/do

[2019-11-18 21:26] carlossanlop commented on #3513
Hello @Ttxman, not sure what you mean. The `length` parameter is documented in [the MS Docs page](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.memorymarshal.createspan?view=netcore-3.0) for `MemoryMarshal.CreateSpan`:

[2019-11-18 21:35] amp64 opened #3517 "HWNDs do not render if WPF Window's AllowsTransparency is true"
Wasted days on this, but if your main WPF Window sets AllowsTransparency, the HWND you create and use under this class will never render anything. Deserves a warning either here, or in the linked "WPF and Win32 Interop" article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98ca0b90-9c25-12ff-4fa3-49a35ed32d61
* Versi

[2019-11-18 21:36] robert-j-engdahl opened #3518 "Async support"
You should mention that it is safe for the tick event handler to be async void.  I just tested in WPF, and uncaught exceptions successfully make the application crash when raised inside an async tick event handler (which is a good thing).

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: c353f963-c3e8-d3ab-e

[2019-11-18 21:37] ite-klass opened #3519 "Provide link to session docs/related docs"
It would be helpful to point to further session documentation here.

This page says

&gt; The Session_OnStart event is used to perform any initialization work for a session such as setting up default values for session variables.

but does not point to further docs for stuff that may be used in the session start handler; like getting the session ID or setting additional session variables and value

[2019-11-18 21:37] ite-klass opened #3520 "Should link to EventHandler delegate docs"
The event can only be handled by implementing a specifically named event handler method.
The docs should link to EventHandler delegate docs either as a see also or within the documentation text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f75ce3-005e-44ed-3d4d-a26248b55bea
* Version Independent ID: d0b25b20-9eee-ae

[2019-11-18 22:09] Ttxman commented on #3513
The documentation is perfectly fine now..
But I'm pretty sure there were no details visible 1 year and 4 moths ago, just argument names without any text.

[2019-11-18 22:31] carlossanlop commented on #3513
Right. It [got documented in the last year](https://github.com/dotnet/dotnet-api-docs/blame/8d5e275f30bc2271f565e1ec1f485337cb3c0202/xml/System.Runtime.InteropServices/MemoryMarshal.xml#L483). We've been slowly adding documentation to all the .NET APIs that are missing it. Thanks for reporting this.
If you have any more comments/suggestions, let us know. I'll close as it seems to be resolved.

[2019-11-18 22:31] #3513 closed

[2019-11-18 22:46] svick opened #3522 "Improve ConditionalAttribute documentation"
I think `ConditionalAttribute` is one of the more confusing features of C#/.Net, so it's important that it's well documented.

Some of the ways in which the document could be improved:

* Make sure it's clear that when the C# compiler removes a call to a method, it also removes its receiver and parameters, which can have side-effects. See https://github.com/dotnet/roslyn/issues/28801. This should

[2019-11-18 22:49] rbwhitaker opened #3525 ""Notes to Implementers" referenced, but only "Notes to Inheritors" exists"
In the Remarks section, it says, "See 'Notes to Implementers' section for more information..." but there is only a "Notes to Inheritors" section. I don't know which way is the right way, but it seems like there's a mismatch that should be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce3ba39f-7771-e6ab-15bf-68b

[2019-11-19 01:26] mairaw commented on #3525
Thank you for your feedback @rbwhitaker. This is actually a migration issue. The original MSDN content used to say "Notes to implementers". I'm now wondering how widespread this issue is @wh-alice @TianqiZhang

[2019-11-19 20:12] 0xced opened #3534 "TrySetCanceled(CancellationToken cancellationToken) availability is wrong"
[TrySetCanceled(CancellationToken cancellationToken)](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskcompletionsource-1.trysetcanceled?view=netframework-4.8#applies-to) is documented to be available for the following versions of .NET Framework: 4.8 4.7.2 4.7.1 4.7 4.6.2 4.6.1 4.6 4.5.2 4.5.1 4.5 4.0

It is actually only available since version 4.6, which is actually correct

[2019-11-20 00:02] gewarren opened #3538 "Add underflow explanation for System.Double.Parse"
See https://github.com/dotnet/dotnet-api-docs/pull/3234#discussion_r327847389.

[2019-11-20 08:11] mairaw commented on #3534
Thanks for your feedback @0xced. This is being tracked at https://github.com/MicrosoftDocs/feedback/issues/314.

[2019-11-20 11:35] #3534 closed

[2019-11-20 15:23] heaths opened #3541 "Docs for LazyInitializer.EnsureInitialize<T>(ref T) are wrong"
In the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.lazyinitializer.ensureinitialized?view=netstandard-2.0#System_Threading_LazyInitializer_EnsureInitialized__1___0__) for `LazyInitializer.EnsureInitialize<T>(ref T target)`, it states,

The code uses `Activator.CreateInstance` if not already null (guarded by `Interlocked.CompareExchanged`) but `target` is only ever

[2019-11-20 17:12] danmosemsft commented on #3541
Product team actually owns their own API docs, so consider this confirmed 😃

[2019-11-20 18:19] mairaw commented on #3524
@Powerhelmsman this is an engineering ask, so please keep the original issue open.

[2019-11-20 18:19] #3524 closed

[2019-11-20 18:22] mairaw commented on #3523
@davidsh can you help with this feedback? Any improvements we should do to those API docs?

[2019-11-20 18:26] mairaw commented on #3521
Thanks for your feedback @Wouterdek. This has been fixed by PR #3325.

[2019-11-20 18:26] #3521 closed

[2019-11-20 18:28] mairaw commented on #3525
The engineering team is going to fix this bug. Thanks for bringing to our attention!

[2019-11-20 18:35] mairaw commented on #2935
@ryalanms would you be able to submit a PR to fix the parts that are incorrect in the doc?

[2019-11-20 18:37] mairaw commented on #2941
I've added a .NET 5 label for us to start tracking work.

[2019-11-20 18:45] mairaw commented on #2661
Links like this https://msdn.microsoft.com/en-gb/library/windows/apps/system.runtime.interopservices.windowsruntime.windowsruntimebufferextensions.aspx now redirect to the appropriate place.
We don't have the same page on docs as https://msdn.microsoft.com/en-gb/library/windows/apps/mt185505.aspx, The best close match would be to redirect to the API browser search, as https://docs.microsoft.com/en

[2019-11-20 18:47] mairaw commented on #2660
@JeremyKuhne @carlossanlop can you help with these questions about File.Delete and File.Encrypt?

[2019-11-20 18:50] mairaw commented on #2654
That was by design. You can still provide anonymous feedback using the voting control here:
![image](https://user-images.githubusercontent.com/12971179/69268105-5dc47980-0b83-11ea-9e36-9f32b9b63e20.png)

-Or-

File an issue directly here on the repo.

-Or-

Use the site feedback link on the bottom.

[2019-11-20 18:50] #2654 closed

[2019-11-20 18:51] mairaw commented on #2645
@steveharter, @GrabYourPitchforks is this something you can help out to make sure we call out explicitly the .NET Framework behavior vs. .NET Core?

[2019-11-20 18:52] mairaw commented on #2592
I think it depends on the repo. Where should I move this to @krwq?

[2019-11-20 18:59] mairaw commented on #2329
@RussKie @Tanya-Solyanik can you help with this feedback about ScrollableControl.HScroll and confirm what the fix should be?

[2019-11-20 22:15] rpetrusha opened #3544 "How to safely handle file paths and check for valid paths"
## How to safely handle file paths and check for valid paths

From dotnet/dotnet-api-docs#877 (https://github.com/dotnet/dotnet-api-docs/issues/877)

We should extend this to document how to safely check for path containment (as we've done for the example for [ExtractToFile](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfileextensions.extracttofile?view=netcore-2.1#System_IO

[2019-11-20 22:34] #3369 closed

[2019-11-20 23:03] RussKie commented on #2329
I'll have a look

[2019-11-20 23:12] #3541 closed

[2019-11-21 22:21] YairHalberstadt opened #3554 "What occurs when the Point is on the edge of the Rect"
The Documentation should make clear what the result is when a point is on the edge of the Rectangle.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304c69d-8251-448d-a9af-c9dfe6f616ee
* Version Independent ID: 334089ad-ffe7-17dd-d341-2a525fcc25b7
* Content: [Rect.Contains Method (System.Windows)](https://docs.microsof

[2019-11-22 01:08] krwq commented on #2592
@mairaw dotnet/runtime or dotnet/corefx

[2019-11-22 01:59] mairaw commented on #1683
The corefx wiki is gone now. Was the source for the apicompat page saved anywhere?

@karelz

[2019-11-22 15:05] gfoidl commented on #2941
@mairaw is there something to do for me right now? I.e. the steps in the top-comment.

[2019-11-22 19:13] krwq commented on #3522
I agree with the assessment.

[2019-11-23 08:38] Trolldemorted commented on #3523
Any chance we can get the question whether ReadAsStringAsync is cancelled when the HttpClient is disposed soon?

[2019-11-23 15:36] davidsh commented on #3523
HttpClient.Timeout only affects the HttpClient operations like GetAsync(), SendAsync(). It doesn't affect any subsequent operations that might be performed on the returned HttpResponseMessage. So, it doesn't affect HttpContent.ReadAs*Async operations.